<style>
    #pageEditorTable
    {
        max-width: 983px;
        margin: 0 auto;
    }
    #pageLangId
    {
        margin: 0;
    }

    #pageTitle
    {
        width: 98%;
    }

    .title
    {
        border-radius: 3px;
    }

    #seoTitle, #seoDescription, #seoKeywords
    {
        width: 99%;
        resize: vertical;
    }
    #serviceTable
    {
        border-collapse: collapse;
        border-radius: 3px;
        font-size: 12px;
        margin-bottom: 5px;
    }
    #serviceTable thead
    {
        background-color: #CCC;
        border: 1px #999 solid;
    }

    #serviceTable thead th
    {
        text-align: center;
    }
    .btnUp
    {
        margin-left: 40px;
    }
    #addServiceButton
    {
        float: right;
    }

    #addServiceModal input[type='text'], #editServiceModal input[type='text']
    {
        width: 97%;
    }

    #addServiceModal textarea, #editServiceModal textarea
    {
        width: 97%;
        height: 200px;
        resize: none;
    }

    .btnUp, .btnDown
    {
        margin-left: 11px;
    }

    #editImagesModal
    {
        margin-left: -46%;
        width: auto;
    }
</style>

<!-- Окно добавления услуги -->
<div style="display: none;" class="modal fade" id="addServiceModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Закрыть</span></button>
                <h4 class="modal-title" id="addServiceModalLabel">Добавить услугу</h4>
            </div>
            <div class="modal-body">
                <form role="form">
                    <div class="form-group">
                        <label for="addInputTitle">Заголовок</label>
                        <input type="text" class="form-control" id="addInputTitle" placeholder="Заголовок">
                    </div>
                    <div class="form-group">
                        <label for="addInputDescription">Описание</label>
                        <textarea id="addInputDescription" name="addInputDescription" class="form-control" rows="3"></textarea>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Закрыть</button>
                <button type="button" class="btn btn-primary" onclick="manage_about.addService(this);">Сохранить</button>
            </div>
        </div>
    </div>
</div>
<!-- Окно добавления услуги END-->

<!-- Окно редактирования изображений для услуги -->
<div style="display: none;" class="modal fade" id="editImagesModal"
     tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">
                    <span aria-hidden="true">&times;</span>
                    <span class="sr-only">Закрыть</span>
                </button>
                <h4 class="modal-title" id="editImagesModalLabel">Управление изображениями для галереи</h4>
            </div>
            <div class="modal-body">

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Закрыть</button>
            </div>
        </div>
    </div>
</div>

<form id="aboutPageEditor" class="form-control" role="form">
    <input
            type="hidden"
            name="currLang"
            id="currLang"
            value="<?=$this->langList[$this->lang]->sys_name; ?>" />
    <input
            type="hidden"
            name="currLangId"
            id="currLangId"
            value="<?=$this->langList[$this->lang]->id; ?>" />

    <table id="pageEditorTable" class="table handbook table-bordered">
        <caption>Страница "Об Отеле" - Редактирование</caption>
        <tr>
            <td>
                <label class="control-label" for="pageLangId">
                    <strong>Языковая версия страницы :</strong>
                </label>
                <select name="pageLangId" id="pageLangId" onchange="manage_about.changeLang(this);">
                    <?php foreach($this->langList as $id => $lang): ?>
                    <option value="<?=$id;?>" <?=$this->lang == $id?'selected':'';?>>
                    <?=$lang->name;?>
                    </option>
                    <?php endforeach; ?>
                </select>
            </td>
        </tr>

        <tr>
            <td>
                <label class="control-label" for="pageTitle"><strong>Заголовок :</strong></label>
                <input
                        type="text"
                        id="pageTitle"
                        name="pageTitle"
                        class="form-control"
                        placeholder="Заголовок страницы"
                        value="<?=$this->pageData['title']; ?>" >
            </td>
        </tr>

        <tr>
            <td id="editorPane">
                <textarea id="pageHtml" name="pageHtml" ><?=$this->pageData['html']; ?></textarea>
            </td>
        </tr>

        <tr>
            <td class="title">
                SEO
            </td>
        </tr>
        <tr>
            <td>
                <label class="control-label" for="seoTitle"><strong>title :</strong></label>
                <textarea
                        id="seoTitle"
                        name="seoTitle"
                        rows="3"><?=$this->pageData['seo_title']; ?></textarea>
            </td>
        </tr>
        <tr>
            <td>
                <label class="control-label" for="seoDescription"><strong>description :</strong></label>
                <textarea
                        id="seoDescription"
                        name="seoDescription"
                        rows="3"><?=$this->pageData['seo_description']; ?></textarea>
            </td>
        </tr>
        <tr>
            <td>
                <label class="control-label" for="seoKeywords"><strong>keywords :</strong></label>
                <textarea
                        id="seoKeywords"
                        name="seoKeywords"
                        rows="3"><?=$this->pageData['seo_keywords']; ?></textarea>
            </td>
        </tr>

        <!-- Редактирование информации об услугах -->
        <tr>
            <td class="title">
                Дополнительные услуги
            </td>
        </tr>
        <tr>
            <td >
                <table id="serviceTable" class="table table-bordered table-striped table-condensed">
                    <thead>
                    <tr>
                        <th style="width: 16%">Порядок отображения</th>
                        <th>Заголовок</th>
                        <th>Описание услуги</th>

                        <th style="width: 21%;">Управление</th>
                    </tr>
                    </thead>
                    <tbody>

                    <?php if(count($this->services) > 0): ?>
                    <?php foreach($this->services as $item):
                        $drawOrder = $item["draw_order"];
                    ?>
                    <tr>
                        <input
                                type="hidden"
                                name="serviceId"
                                value="<?=$item['id']; ?>" />
                        <td>
                            <span class="drawOrder"><?=$item['draw_order']; ?></span>
                            <a class="btnUp btn btn-mini btn-info"  data-toggle="tooltip"
                               data-original-title="Переместить на одну строку вверх"
                               onclick="manage_about.changeDrawOrder
                                       (<?=$drawOrder ?>, <?=$item['id']; ?>,  -1); return false;">
                                <i class="icon-arrow-up "></i>
                                <i class="icon-arrow-up icon-white"></i>
                            </a>
                            <a class="btnDown btn btn-mini btn-info" data-toggle="tooltip"
                               data-original-title="Переместить на одну строку вниз"
                               onclick="manage_about.changeDrawOrder(<?=$drawOrder ?>, <?=$item['id']; ?>,  1); return false;">
                                <i class="icon-arrow-down "></i>
                                <i class="icon-arrow-down icon-white"></i>
                            </a>
                        </td>
                        <td><?=$item['title']; ?></td>
                        <td><?=$item['description']; ?></td>


                        <td>
                            <a class="btn btn-mini btn-success" href="#"
                               onclick="manage_about.editService(this); return false;">
                                <i class="icon-pencil icon-white"></i> Редактировать
                            </a>
                            <a class="btn btn-mini btn-danger" href="#"
                               onclick="manage_about.deleteService(this); return false;">
                                <i class="icon-remove icon-white"></i> Удалить
                            </a>
                        </td>
                    </tr>
                    <?php endforeach; ?>
                    <?php endif; ?>

                    </tbody>
                </table>
                <a id="addServiceButton" class="btn btn-success" data-toggle="modal" data-target="#addServiceModal">Добавить услугу</a>
            </td>
        </tr>
        <!-- Редактирование информации об услугах END-->
        <tr>
            <td class="title">
                Дополнительная информация (footer)
            </td>
        </tr>
        <tr>
            <td id="footerEditorPane">
                <textarea id="footerHtml" name="footerHtml" ><?=$this->pageData['footer_html']; ?></textarea>
            </td>
        </tr>

        <tr>
            <td>
                <a class="btn btn-success" onclick="manage_about.saveEditorData(this);">Сохранить</a>
                <a class="btn btn-info" href="#"

                    style="float: right;"
                    onclick="manage_about.editImages(); return false;">
                    <i class="icon-picture icon-white"></i> Галерея изображений
                </a>
            </td>

        </tr>
    </table>

</form>

<!-- Окно редактирования услуги -->
<div style="display: none;" class="modal fade" id="editServiceModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <input type="hidden" id="editServiceId" />
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Закрыть</span></button>
                <h4 class="modal-title" id="editServiceModalLabel">Редактирование</h4>
            </div>
            <div class="modal-body">
                <form role="form">
                    <div class="form-group">
                        <label for="editInputTitle">Заголовок</label>
                        <input type="text" class="form-control" id="editInputTitle" placeholder="Заголовок">
                    </div>
                    <div class="form-group">
                        <label for="editInputDescription">Описание</label>
                        <textarea id="editInputDescription" name="editInputDescription" class="form-control" rows="3"></textarea>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Закрыть</button>
                <button type="button" class="btn btn-primary" onclick="manage_about.updateService(this);">Сохранить</button>
            </div>
        </div>
    </div>
</div>
<!-- Окно добавления услуги END-->



<script type="text/javascript">
    manage_about.initCKEditor(jQuery('input[name="currLang"]').val());

    jQuery('.btnUp, .btnDown').tooltip();
</script>

