<div  class='paginatorDefault'>
    <? if($this->prev_button["link"]=='false'){ ?>
    <a class="arrows arrow-left disabled"></a>
<? }else{ ?>
    <a href='<?=$this->prev_button["link"];?>' class="arrows arrow-left"></a>
<? }?>


<ul>        
    <? foreach($this->rows as $row){?>
    <li class="<?=$row['class']?>" >
        <? if($row["link"]=='false'){ ?>
        <span><?=$row['num']?></span>
        <? }else{ ?>
        <a href='<?=$row["link"];?>'><?=$row['num']?></a>
        <? }?>
    </li>
    <? } ?>
</ul>

<? if($this->next_button["link"]=='false'){ ?>
    <a class="arrows arrow-right disabled"></a>
<? }else{ ?>
    <a href='<?=$this->next_button["link"];?>' class="arrows arrow-right"></a>
<? }?>
</div>
