
<?
if($this->form['enable']){

//Добавляем форму 
?>
<form method="post"  name="<?=$this->form['name'];?>" id="<?=$this->form['id'];?>" <?=($this->form['enable']?"action='{$this->form['enable']}'":'');?> >
<? }?>
<? if($this->useDefaultInputs){?>
<input type="hidden" name="paginator_page" id="paginator_page" value="<?=$this->page;?>">

<? }?>    
    <div class="pagination pagination-centered pagination-mini" style="margin:0; position: relative;">
        <ul>
            <? if($this->prev_button){?>
            <li><a href='#' onclick="return paginator.submit(<?=$this->prev_num;?>);">prev</a></li>
            <? }?>        
            <?
            foreach($this->rows as $row){?>
            <li class="<?=$row['class']?>" ><a href='#' onclick="return paginator.submit(<?=$row['num']?>);"><?=$row['num']?></a></li>
            <? } ?>
            <? if($this->next_button){?>
            <li><a href='#' onclick="return paginator.submit(<?=$this->next_num;?>);">next</a></li>
            <? }?>
        </ul>    
        <select name="rows_in_page" id="rows_in_page" onchange="return paginator.submit(<?=$this->page;?>)" style="position: absolute; right: 2px;">
        <?php foreach($this->rows_in_page_select as $row){
            echo "<option value='{$row}'".($this->rows_in_page==$row?'selected':'').">{$row}</option>";
         }
         ?>
        </select>
    </div>
<?
if($this->form['enable']){
//Добавляем форму
?>
</form>
<? }?>
<? if($this->functionJS){?>
<script>
    paginator.evalFunction="<?=$this->functionJS?>";
</script>

<? }?>