<form id="editCountry">
    <input type="hidden" id="modelID" name="id" value="<?=$this->model->id;?>">
    <input type="hidden" name="controller" value="villa.module.countries.manage.controller">
    <input type="hidden" name="action" value="edit">
    <table class="table handbook table-bordered">
        <caption><?=$this->model->id ? $this->model->disp_name.' - редактирование' : 'Добавить страну' ; ?></caption>
        <tr>
            <th style="width: 21%">
                Язык настройки
            </th>
            <td style="width: 29%">
                <select name="set_lang" class="func required" onchange="currencycountries.changeLang(this)">
                    <?php foreach($this->langList as $id => $lang) {?>
                    <option value="<?=$id?>" <?=$id == $this->model->set_lang?'selected':'';?>>
                    <?=$lang->name;?>
                    </option>
                    <?php }?>
                </select>
            </td>
            <th style="width: 21%">Отображаемое название</th>
            <td>
                <input type="text" class="required" name="disp_name" value="<?=$this->model->disp_name;?>"/>
            </td>
        </tr>
        <tr>
            <th>Название</th>
            <td>
                <input type="text" class="required" name="title" value="<?=$this->model->title;?>"/>
            </td>
            <th>
                Двухзначный код страны <br/>
                <small>
                    (согласно
                    <a href="http://en.wikipedia.org/wiki/ISO_3166-1_alpha-2"
                        title="Двухбуквенная система кодов для стран и подчинённых территорий."
                        target="_blank">ISO 3166-1 alpha-2</a>)
                </small>
            </th>
            <td>
                <input type="text" class="required" name="country_code" value="<?=$this->model->country_code;?>"/>
            </td>
        </tr>
        <tr>
            <th>
                Язык
            </th>
            <td>
                <select name="lang_id" class="required">
                    <?php foreach($this->langList as $id => $lang) {?>
                    <option value="<?=$id?>" <?=$id == $this->model->lang_id?'selected':'';?>>
                        <?=$lang->name;?>
                    </option>
                    <?php }?>
                </select>
            </td>
            <th>
                Валюта
            </th>
            <td>
                <select name="currency" class="required">
                    <?php foreach($this->cсyList as $id => $ccy) {?>
                    <option value="<?=$id?>" <?=$id == $this->model->currency?'selected':'';?>>
                        <?=$ccy['title'];?>
                    </option>
                    <?php }?>
                </select>
            </td>
        </tr>
        <tr>            
            <th>Телефон</th>
            <td>
                <input type="text" name="phone" value="<?=$this->model->phone;?>"/>
            </td>
            <th>
                Платежная система
            </th>
            <td>
                <select name="pay_system" class="required">
                    <?php foreach($this->paySystems as $id => $name) {?>
                    <option value="<?=$id?>" <?=$id == $this->model->pay_system?'selected':'';?>>
                        <?=$name;?>
                    </option>
                    <?php }?>
                </select>
            </td>
        </tr>
        <tr>
            <td colspan="4">
                <a class="btn btn-success func" onclick="currencycountries.editSubmit(this);">Сохранить</a>
            </td>
        </tr>
    </table>
</form>