<style>
    #reserve_conent{
        color:#666;
        font-family: "Arial";
        font-size: 12px;
    }
    #reserve_conent #search_rules{
        font-family: "Tahoma";
        font-weight: bold;
    }
    #reserve_conent #search_rules .value{
        color:#660000;
        padding:0 10px 0 4px;
    }
    #reserve_conent .caption{
        color: #d43027;
        font-size: 18px;
        font-weight: bold;
        
    }
    #reserve_conent > .caption{
        padding:15px 0;
    }
    #reserve_conent #carousel{
        height: 100px;
       
    }
    #reserve_conent .number_name{
        color: #871c1b;
        font-size: 18px;
        font-weight: bold;
        padding: 15px 0;
    }
    #reserve_list li{
        position: relative;
        padding: 0;
        margin: 0 0 6px 0;
    }
    #reserve_list .item{
        position: relative;
        min-height: 123px;
    }
    .reserv_description , .reserv_description .bg{
        position: absolute;
        left: 0;
        top: 0;
        width:277px;
        height: 103px;
        padding: 10px 13px;
        overflow: hidden;
    }

	.open_descr {
		background-color: #fef7ea;
		border: 1px solid #ccc;
		z-index: 500;
		width: 500px;
		height: auto;
		box-shadow: 4px 4px 10px #000;
		margin-left: 30px;
	}

    #reserve_conent .pay_type{
        padding: 0 0 0 330px; 
    }
    #reserve_list .carousel{
        height: 100px;
    }
    #reserve_list .pay_result{
        width: 120px;
        height: 118px;
        position: absolute;
        right: 0;
        top:10px;        
    }
    .price_list .prepayment_name{
        width: 260px;
        color: #871c1b;
    }    
    .prepayment_name, .info_button, .standart_cost, .real_cost{
        display: inline-block;
        height: 27px;
    }
    .info_button{
        display: block;
        position: absolute;
        left: 270px;
        top: 0;
    }
    .info_button:hover{
        opacity: 0.8;
    }
    .standart_cost{
        width: 60px;
        margin-left: 52px;
        color:#666;
        text-decoration: line-through;
        font-weight: bold;
    }
    .real_cost{
        width: 60px;
        color: #469d28;
        font-weight: bold;
    }
    .real_cost.selected{
        font-size: 14px;
        font-weight: bold;
    }
    .radio_button input{        
        opacity: 0;
        cursor: pointer;
    }
    .price_item_text{
        color:#666;
        
    }
    .price_item{
        color: #469d28;
        font-size: 18px;
    }
    .item_foot{
        position: relative;
        height: 40px;
    }
    .item_foot .allPrice{
        font-family: Tahoma, Arial, sans-serif;
        font-size: 18px;        
        color: #666;
        border-top: 1px #f2ece2 solid;
        padding: 12px 0 0 0;
    }
    .item_foot .allPrice b{
        color: #469d28;
    }
    .item_foot button{
        position: absolute;
        right: 0;
        top: 9px;
    }
    
   /*
   Выпадающий список
   */
   .ik_select.price_selected{
       width: 54px;
   }
   .price_selected .ik_select_link:hover{
       box-shadow: none;
       cursor: pointer;
   }
   .pool-right{
       float: right;
       margin: 10px;
   }



</style>
<div id="reserve_conent">
    <form id="reserv_form">
    <div id="search_rules">
        Дата заезда:<b class="value"><?=$this->search['arriveDate'];?></b>
        Дата отъезда:<b class="value"><?=$this->search['departureDate'];?></b>
        Количество ночей:<b class="value"><?=$this->nights;?></b>
    </div>
    <div class="caption">
        Выберете тип номера и вид предоплаты:
    </div>
    <ul id="reserve_list">
    <?php
    foreach($this->items as $item){?>
        <li class='booking_item' rel="<?=$item->id;?>">
            <div class="number_name">
                <?=$item->title;?>
            </div>
            <div class="carousel">
                <!-- Галерея картинок по номеру -->
                <?php foreach($item->images as $src){ ?>
                <img style="height:80px;" src="<?=$src;?>" onclick="viewAppartment(event);">                
                <? }?>
            </div>
            <div class="item">
                <div class="reserv_description">
                    <?=$item->description; ?>
                    <div class="bg"></div>
                </div>

                <div class="pay_type">
                    <!-- Выбор типа оплаты и количества номеров -->
                    <div class="caption">
                        Выберете вид предоплаты:
                    </div>
                    <ul class="price_list">
                        <? foreach($this->prepaymentTypes as $cur){?>                        
                        <li>
                            <div class="prepayment_name"><?=$cur->name;?></div>
                            
                            <div class="standart_cost"><?=Dante_Helper_Money::round((($item->standart_cost + $cur->cost_modifier))*$this->currency['factor']);?> <?=$this->currency['reduction'];?>.</div>
                            <div class="real_cost"><b class="price_<?=$cur->id;?>"><?=Dante_Helper_Money::round((($item->cost + $cur->cost_modifier))*$this->currency['factor']);?></b> <?=$this->currency['reduction'];?>.</div>

                            <div class="radio_button">

                                <input type="radio" name="reserv[<?=$item->id;?>][prepayment]" value="<?=$cur->id;?>">

                            </div>
                            <!--<div class="radio_button">
                                <input type="checkbox" name="reserv[<?=$item->id;?>][prepayment]" value="<?=$cur->id;?>">
                                <!--<input type="radio" name="reserv[prepayment]" value="<?=$cur->id;?>">
                            </div>-->
                            <div class="info_button"></div>
                        </li>
                        <? }?>
                    </ul>
                </div>
                <div class="pay_result">
                    номеров 
                    <!-- <select class="coun_numbers" name="reserv[<?=$item->id;?>][count_numbers]">-->
                    <select class="coun_numbers">
                        <?php for($i=0; $i<=10; $i++): ?>
                            <?php
                                if($i==1)
                                {
                                    $selected = " selected";
                                }
                                else
                                {
                                    $selected = "";
                                }
                            ?>
                            <option value='<?=$i;?>'<?=$selected;?>><?=$i;?></option>
                        <?php endfor; ?>
                    </select>
                    <div class="price_item_text">Цена:</div>
                    <div class="price_item">
                        <b class="price_item_num">
                            0
                        </b>
                        <b class="price_item_money">
                            <?=$this->currency['reduction'];?>.
                        </b>
                    </div>
                </div>
            </div>
            <div class="item_foot">
                <div class="allPrice">
                    Стоимость бронирования: 
                    <b class='price_item_foot' id = 'num_<?=$item->id;?>'>0</b>
                    <b><?=$this->currency['reduction'];?>.</b>
                </div>                  
            </div>
        </li>
        
    <? } ?>
    </ul>
        <button type="button" class="btn-check-reserve pool-right" onclick="hotel.drawBookingForm();">
            <?php echo $this->translate('checkPresence'); ?>
        </button>
    </form>
</div>
<script>

    jQuery('.radio_button input:radio').each(function()
    {
        jQuery(this).data('isChecked', jQuery(this).is(':checked'));
        jQuery(this).click(function()
        {
            var prev_checked = jQuery(this).data('isChecked');
            var value = jQuery(this).val();
            var name = jQuery(this).attr('name');

            jQuery("input[name='"+jQuery(this).prop("name")+"']").each(function()
            {
                jQuery(this).data('isChecked', false);
                jQuery(this).closest('.radio_button').removeClass('selected');
            });
            if (prev_checked)
            {
                jQuery(this).prop('checked', false);
                jQuery(this).closest('.radio_button').removeClass('selected');
            }
            else
            {
                jQuery(this).data('isChecked', true);
                jQuery(this).closest('.radio_button').addClass('selected');
            }

            jQuery('.booking_item').find('input[type="radio"]:checked').each(function()
            {
                jQuery(this).closest('.price_list').find('input[type="radio"]').each(function()
                {
                    if(jQuery(this).attr('name') != name)
                    {
                        if(jQuery(this).attr('value') == value)
                        {

                            jQuery(this).closest('.radio_button').addClass('selected');
                            bookingform.changeBookingRadio(this, true);
                            jQuery(this).data('isChecked', true);
                        }
                        else
                        {
                            jQuery(this).closest('.radio_button').removeClass('selected');
                            jQuery(this).data('isChecked', false);

                        }
                    }
                });

            });
        });
    });

    bookingform.days = <?=$this->nights;?>;

    jQuery('#reserve_list > li').each(function()
    {
        jQuery(this).find('select').change(function()
        {
            bookingform.changeSelectNums(this);
        });

        jQuery(this).find('.radio_button input:radio').click(function()
        {
            var isSelected = jQuery(this).closest('.radio_button').hasClass('selected');
            bookingform.changeBookingRadio(this, isSelected);
        });

    });
</script>
