<? if($this->answers){?>
    <ul class="vote_listing">
        <? foreach($this->answers as $answer){?>
            <li class="vote_row">
                <i>
                  <?=$answer['answer'];?>:<b><?=$answer['votes'];?></b>
                </i>
                <? if($answer['votes']){?>
                <div class="answer listing progress" title="<?=$answer['procent'];?>%;">
                    <div class="bar" style="width: <?=$answer['procent'];?>%;"></div>
                </div>
                <? }?>
            </li>
        <? }?>
    </ul>
    Всего голосов: <b><?= $this->count;?></b>
<? }else{?>
    Нет ответов.
<? }?>