<a class="btn btn-info btn-mini" onclick="pollmanage.editForm(<?=$this->id;?>, this)">Edit</a><br>
<a class="btn btn-danger btn-mini"  onclick="pollmanage.del(<?=$this->id;?>, this)">Delete</a><br>
<? switch($this->status){
    case 1: ?>
        <a class="btn btn-success btn-mini"  onclick="pollmanage.start(<?=$this->id;?>, this)">Start</a><br>
 <? break;
    case 2: ?>
        <a class="btn btn-warning btn-mini"  onclick="pollmanage.stop(<?=$this->id;?>, this)">Stop</a><br>
 <? break;
    case 3: ?>
        <a class="btn btn-success btn-mini"  onclick="pollmanage.start(<?=$this->id;?>, this)">Continue</a><br>
 <? break;
}?>





