<form id="edtPollForm">
    <? if(!Dante_Lib_Config::get('poll.multiDivision')){?>
    <input type="hidden" name="divisions[]" value="3">
    <? }?>
    <input type="hidden" name="id" id="poll_id" value="<?=$this->model->id;?>">
    <input type="hidden" name="action" value="editPoll">
    <input type="hidden" name="controller" value="module.poll.controller.manage">
    <table class="table handbook table-striped table-bordered">
        <? if(!$this->model->id){?>
        <caption>Добавление опроса</caption>
        <? }else{ ?>
        <caption>Редактирование опроса</caption>
        <? } ?>
        <?php if($this->multilang) {?>
        <tr>
            <th colspan="2" style="vertical-align: middle">
                Выберите язык:&emsp;
                <select name="lang_id" id="lang_id" onchange="pollmanage.changeLang(this)" style="margin: 0">
                    <?php foreach($this->langList as $id => $lang){?>
                    <option value="<?=$id;?>" <?=$this->model->lang_id == $id?'selected':'';?>>
                        <?=$lang->name;?>
                    </option>
                    <?php }?>
                </select>
            </th>
        </tr>
        <?php }?>
        <tr>
            <th style="width: 140px;">
                Вопрос
            </th>
            <td>
                <input type="text" name="query" value="<?=$this->model->query;?>" style="width: 98%">
            </td>
        </tr>
        <?php if($this->multilang) {?>
        <tr>
            <th style="width: 140px;">
                Вопрос на выбр. языке
            </th>
            <td>
                <input type="text" name="query_lang" value="<?=$this->model->query_lang;?>" style="width: 98%">
            </td>
        </tr>
        <?php }?>
        <tr>
            <th>
                Варианты ответов
            </th>
            <td>
                <table id="answerInputsListing" class="table table-bordered table-condensed" style="margin-bottom: 10px;">
                <?php if($this->multilang) {?>
                    <tr>
                        <th style="width: 45%">Системный</th>
                        <th style="width: 45%">На выбр. языке</th>
                        <th></th>
                    </tr>
                <?php }?>
                <?php $i=1; foreach($this->model->answer as $id => $answer){ ?>
                    <tr>
                        <td>
                            <input type="text" id="answer_<?=$i;?>" name="answer[<?=$id;?>]" value="<?=$answer;?>">
                        </td>
                        <?php if($this->multilang) {?>
                        <td>
                            <input type="text" id="answer_lang_<?=$i;?>" name="answer_lang[<?=$id;?>]" value="<?=$this->model->answer_lang[$id];?>">
                        </td>
                        <?php }?>
                        <td style="width: 10%">
                            <a class="btn btn-small btn-danger" onclick="pollmanage.delAnswer(<?=$i;?>)">удалить</a>
                        </td>
                    </tr>
                <?php $i++; } ?>
                    <tr id="answer_example">
                        <td>                        
                            <input type="text" name="answer_new[]" value="" placeholder="Введите вариант ответа" class="answer">
                        </td>
                        <?php if($this->multilang) {?>
                        <td>                            
                            <input type="text" name="answer_lang_new[]" value="" class="answer">
                        </td>
                        <?php }?>
                        <td></td>
                    </tr>
                </table>
                <a class="btn" onclick="pollmanage.editPoll(this)">Сохранить и добавить ещё вариант ответа</a>
            </td>
        </tr>
        <? if(Dante_Lib_Config::get('poll.multiDivision')){?>
        <tr>
            <th>
                В каких разделах отображать
            </th>
            <td>               
                <select id="divisions" name="divisions[]" multiple="multiple">
                    <option value="3" <?=(isset($this->poll_divisions[3]))?'selected="selected"':'';?>>Главная страница</option>
                   <? foreach($this->divisions as $cur){?>
                   <option value="<?=$cur['id'];?>" <?=(isset($this->poll_divisions[$cur['id']]))?'selected="selected"':'';?>><?=$cur['name']?></option>
                   <? } ?>                
                </select>
                *Для выбора нескольких категорий выбирайте позиции с зажатым <b>CTRL</b>
            </td>
        </tr>
        
        <? } ?>
        <tr>
            <td colspan="2" class="align-right">
                <a class="btn btn-success" onclick="pollmanage.editPoll(this)">Сохранить</a>
                <a class="btn btn-success" onclick="pollmanage.editPoll(this, true)">Сохранить и закрыть окно редактора</a>
            </td>
        </tr>
    </table>    
</form>