<form name="payment" method="post" action="https://sci.interkassa.com/" accept-charset="UTF-8">
    <input type="hidden" name="ik_co_id" value="<?php echo $this->ik_co_id; ?>" />
    <input type="hidden" name="ik_pm_no" value="<?php echo $this->ik_pm_no; ?>" />
    <input type="hidden" name="ik_am" value="<?php echo $this->ik_am; ?>" />
    <input type="hidden" name="ik_desc" value="<?php echo $this->ik_desc; ?>" />
    <input type="hidden" name="ik_cur" value="<?php echo $this->ik_cur; ?>" />
    <input type="hidden" name="ik_usr" value="<?php echo $this->ik_usr; ?>" />
    <input type="hidden" name="ik_ia_u" value="<?php echo $this->ik_ia_u; ?>" />
    <input type="hidden" name="ik_ia_m" value="<?php echo $this->ik_ia_m; ?>" />
    <input type="hidden" name="ik_suc_u" value="<?php echo $this->ik_suc_u; ?>" />
    <input type="hidden" name="ik_suc_m" value="<?php echo $this->ik_suc_m; ?>" />
    <input type="hidden" name="ik_pnd_u" value="<?php echo $this->ik_pnd_u; ?>" />
    <input type="hidden" name="ik_pnd_m" value="<?php echo $this->ik_pnd_m; ?>" />
    <input type="hidden" name="ik_fal_u" value="<?php echo $this->ik_fal_u; ?>" />
    <input type="hidden" name="ik_fal_m" value="<?php echo $this->ik_fal_m; ?>" />

    <?php foreach($this->customFields as $key=>$val) { ?>
        <input type="hidden" name="ik_x_<?php echo $key; ?>" value="<?php echo $val; ?>" />
    <?php } ?>

    <input type="submit" class="<?php echo $this->payBtnClass; ?>" value="<?php echo $this->payBtnCaption; ?>">
</form> 
