<?php foreach($this->list as $class => $block) {?>
<h4><?=$block['caption'];?></h4>
<div class="container">
    <ul class="nav nav-pills <?=$class == DIVISION_CLASS_MAIN ? 'main' : ''?>">
        <?php foreach($block['items'] as $item) {?>
        <li>
            <a href="<?=$item['link']?>"><?=$item['name']?></a>
        </li>
        <?php }?>
    </ul>
</div>
<?php }?>
