<form id="commentForm" onsubmit="return false;">
<div class="commentForm" >
    <input type="hidden" name="controller" value="module.comment.controller.comment"/>
    <input type="hidden" name="action" value="add"/>
    
    <label for="commentName">Ваше имя</label><br/>
    <input type="text" id="commentName" class="validate" name="commentName"/><br/>
    <span id="commentNameError"></span>
    <br/>

    <label for="commentEmail">Email</label><br/>
    <input type="text" id="commentEmail" class="validate email" name="commentEmail"/><br/>
    <span id="commentEmailError"></span>
    <br/>

    <label for="commentMessage">Комментарий</label><br/>
    <textarea id="commentMessage" name="commentMessage" class="validate"></textarea><br/>
    
    <?php if($this->captcha) { echo $this->captcha;?>
        <br/>
        <label for="commentCaptcha">Текст с картинки</label><br/>
        <input type="text" id="commentCaptcha" class="validate" name="commentCaptcha"/><br/>
    <?php } ?>
    
    <button onclick="comment.save();" id="commentBtn">Оставить отзыв</button>
    <span id="commentStatus"></span>
</div>
<div class="error"></div>
</form>
