<input type="hidden" id="comment_entity_id" value="<?php echo $this->entityId; ?>"/>
<input type="hidden" id="comment_entity_type_id" value="<?php echo $this->entityTypeId; ?>"/>
<button onclick="comment.drawForm();">Добавьте свой отзыв</button>
<div id="commentForm"></div>

<ul id="comments-list">
<?php foreach($this->comments as $comment) { ?>
    <li id="comment-item-<?php echo $comment->id; ?>">
        <label>Дата</label><?php echo $comment->date; ?><br/>
        <label>Имя</label><?php echo $comment->name; ?><br/>
        <label>Email</label><?php echo $comment->email; ?><br/>
        <label>Message</label><?php echo $comment->message; ?><br/>
        
        
        <?php if (($comment->entityTypeId == 1) and( $comment->entityId == $this->uid)) { ?>
        <button onclick="comment.remove(<?php echo $comment->id; ?>);">Удалить</button>
        <?php } ?>
    </li>                    
<?php } ?>                    
</ul>