<!-- отзывы here begin -->
<input type="hidden" id="comment_entity_id" value="<?php echo $this->entityId; ?>"/>
<input type="hidden" id="comment_entity_type_id" value="<?php echo $this->entityTypeId; ?>"/>

<div class="comm-1-bg1"></div>
<div class="comm-1-bg3">
    <div class="comm-1-bg2">
        <div class="comm-1-bg4">
            <div class="comm-div-1">
                <div class="fl-left"><img src="template/default/images/comm-head-comment.png"></div>
                <div class="comm-div-2" onclick="comm_add();">Добавьте свой отзыв</div>
            </div>
            <div class="comm-div-3" align="center">
            </div>
            <div class="comm-div-4" id="comm_sort">
                <div class="comm-div-5">Сортировать по:</div>
                <div class="comm-div-sort" onclick="comm_sort(1);">дате<img src="template/default/images/comm-butt1-arr2.png" class="comm_sort_image_show"></div>
                <div class="comm-div-sort" onclick="comm_sort(2);">оценке<img src="template/default/images/comm-butt1-arr1.png" class="comm_sort_image_hide"></div>
                <div class="comm-div-sort" onclick="comm_sort(3);">полезности<img src="template/default/images/comm-butt1-arr1.png" class="comm_sort_image_hide"></div>
            </div>
            <div class="comm-div-3" align="center">
            </div>
            <div id ="comm_content">

                <?php foreach($this->comments as $comment) { ?>
                <!-- начало блока одного комментария -->
                <div class="comm-div-6">
                    <div class="comm-div-7">
                        <b><div class="comm-div-8"><?php echo $comment->name; ?></div></b>
                    </div>
                    <div class="comm-div-9">
                        <ul class="comm-div-10" id="comm_reyt_13">
                            <li class="comm-div-star" onmouseover="comm_reyt_recalc(13,1)" onclick="comm_reyt_send(13,1)"></li>
                            <li class="comm-div-star" onmouseover="comm_reyt_recalc(13,2)" onclick="comm_reyt_send(13,2)"></li>
                            <li class="comm-div-star" onmouseover="comm_reyt_recalc(13,3)" onclick="comm_reyt_send(13,3)"></li>
                            <li class="comm-div-star" onmouseover="comm_reyt_recalc(13,4)" onclick="comm_reyt_send(13,4)"></li>
                            <li class="comm-div-star" onmouseover="comm_reyt_recalc(13,5)" onclick="comm_reyt_send(13,5)"></li>
                        </ul>
                        <div class="comm-div-11"><?php echo $comment->date; ?></div>
                    </div>
                    <div class="comm-div-12"></div>
                </div>
                <div class="comm-div-13">
                    <div class="comm-div-15"><img src="template/default/images/comm-hand1.png"></div>
                    <div class="comm-div-16">Преимущества</div>
                    <div class="comm-div-17">
                        <i>тут идет какойто левый текст 1</i>
                    </div>
                </div>
                <div class="comm-div-14">
                    <div class="comm-div-15"><img src="template/default/images/comm-hand2.png"></div>
                    <div class="comm-div-16">Недостатки</div>
                    <div class="comm-div-18">
                        <i>тут идет какойто левый текст 1</i>
                    </div>
                </div>
                <div class="comm-div-14">
                    <div class="comm-div-15"><img src="template/default/images/comm-hand3.png"></div>
                    <div class="comm-div-16">Пользуюсь</div>
                    <div class="comm-div-19">
                        <i>тут идет какойто левый текст 1</i>
                    </div>
                </div>
                <div class="comm-div-maintext"><?php echo $comment->message; ?></div>
                <div class="comm-div-solid-spacer" align="center">
                </div>
                <div class="comm-div-20">
                    <div class="comm-div-21">
                        <div class="comm-div-22">6 человек из 9 считают этот отзыв полезным</div>
                        <div class="comm-div-23">Был ли этот отзыв для вас полезен?</div>
                        <div class="comm-div-24">
                            <img src="template/default/images/comm-yes.png" class="comm-img-vote1" onclick="comm_vote(13,1)">
                            <img src="template/default/images/comm-no.png" class="comm-img-vote2" onclick="comm_vote(13,0)">
                        </div>
                    </div>
                </div>
                <div class="comm-div-3" align="center">
                </div>
                <!-- конец блока одного комментария -->
                <?php } ?>


            </div>
            <div id="comm_add_form"></div>
            <div class="comm-div-25">
                <div class="fl-left"><img src="template/default/images/comm-head-comment.png"></div>
                <div class="comm-div-2" onclick="comm_add();">Добавьте свой отзыв</div>
            </div>
        </div>
    </div>
</div>
<div class="comm-1-bg5">
</div>
<!-- отзывы here end -->