//Main

body
{
    background: fixed url('i/main_bg.png') repeat;
    font-family: Arial, Helvetica, Verdana, sans-serif;
    margin: 0;
    text-align: center;
}

a, button, input
{
    outline: none;
}

a
{
    text-decoration: none;
}

button
{
    background: @clrButtonBg;
    border: none;
    color: black;
    font-family: Arial, Helvetica, Verdana, sans-serif;
    font-size: 12px;
    height: 20px;
    margin: 0;
    position: relative;    
    .fixIE;

    @btnBordRad: 3px;
    -moz-border-radius: @btnBordRad;
    -webkit-border-radius: @btnBordRad;
    -o-border-radius: @btnBordRad;
    -khtml-border-radius: @btnBordRad;
    border-radius: @btnBordRad;
    
    @btnBoxShad: inset -1px -1px 3px 0 @clrBevelDarkBtn, 
                 inset 1px 1px 3px 0 @clrBevelLightBtn, 
                 2px 2px 5px 1px black;
    -moz-box-shadow: @btnBoxShad;
    -webkit-box-shadow: @btnBoxShad;
    -o-box-shadow: @btnBoxShad;
    -khtml-box-shadow: @btnBoxShad;
    box-shadow: @btnBoxShad;
    &:hover
    {
        @btnBoxShad: inset -1px -1px 3px 0 @clrBevelDark, 
                     inset 1px 1px 3px 0 @clrBevelLight, 
                     2px 2px 5px 1px black;
        background: @clrTextDark;
        
        -moz-box-shadow: @btnBoxShad;
        -webkit-box-shadow: @btnBoxShad;
        -o-box-shadow: @btnBoxShad;
        -khtml-box-shadow: @btnBoxShad;
        box-shadow: @btnBoxShad;
    }
    &:active
    {
        @btnBoxShad: inset 1px 1px 3px 0 @clrBevelDark, 
                     inset -1px -1px 3px 0 @clrBevelLight, 
                     2px 2px 5px 1px black;
        background: @clrTextDark;
        
        -moz-box-shadow: @btnBoxShad;
        -webkit-box-shadow: @btnBoxShad;
        -o-box-shadow: @btnBoxShad;
        -khtml-box-shadow: @btnBoxShad;
        box-shadow: @btnBoxShad;
    }
}     

button.arrows-s
{
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    -o-box-shadow: none;
    -khtml-box-shadow: none;
    box-shadow: none;
    
    border: none;
    height: 45px;
    width: 15px;
    &.arrow-l
    {
        background: url('i/arrowL1.png') no-repeat center;
        display: none;
        &:hover
        {
            background: url('i/arrowL1-hov.png') no-repeat center;
        }
        &:active
        {
            background: url('i/arrowL1-act.png') no-repeat center;
        }
    }
    &.arrow-r
    {
        background: url('i/arrowR1.png') no-repeat center;
        &:hover
        {
            background: url('i/arrowR1-hov.png') no-repeat center;
        }
        &:active
        {
            background: url('i/arrowR1-act.png') no-repeat center;
        }
    }
}

button.arrows-b
{
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    -o-box-shadow: none;
    -khtml-box-shadow: none;
    box-shadow: none;
    
    border: none;
    height: 56px;
    width: 20px;
    &.arrow-l
    {
        background: url('i/arrowL2.png') no-repeat center;
        display: none;
        &:hover
        {
            background: url('i/arrowL2-hov.png') no-repeat center;
        }
        &:active
        {
            background: url('i/arrowL2-act.png') no-repeat center;
        }
    }
    &.arrow-r
    {
        background: url('i/arrowR2.png') no-repeat center;
        &:hover
        {
            background: url('i/arrowR2-hov.png') no-repeat center;
        }
        &:active
        {
            background: url('i/arrowR2-act.png') no-repeat center;
        }
    }
}

button.arrows-xl
{
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    -o-box-shadow: none;
    -khtml-box-shadow: none;
    box-shadow: none;
    
    border: none;
    height: 90px;
    width: 31px;
    &.arrow-l
    {
        background: url('i/arrowL3.png') no-repeat center;
        display: none;
        &:hover
        {
            background: url('i/arrowL3-hov.png') no-repeat center;
        }
        &:active
        {
            background: url('i/arrowL3-act.png') no-repeat center;
        }
    }
    &.arrow-r
    {
        background: url('i/arrowR3.png') no-repeat center;
        &:hover
        {
            background: url('i/arrowR3-hov.png') no-repeat center;
        }
        &:active
        {
            background: url('i/arrowR3-act.png') no-repeat center;
        }
    }
}

img
{
    border: none;
}

ul
{
    list-style: none;
    margin: 0;
    padding: 0;
}

.fixIE
{
    behavior: url('pie/PIE.htc');
}

@mainW: 1220px;
@margCenter: 0 auto;

//colors
//shadows
@clrGlow: #b6b688;
@clrGlow2: #b5a97c;
@clrGlow3: #f2e2a5;
@clrBevelLightBtn: #fff6e5;
@clrBevelLightCtl: #fbf4e5;
@clrBevelLight: #d0bba6;
@clrBevelDarkBtn: #86734c;
@clrBevelDarkCtl: #3e3627;
@clrBevelDark: #49392a;
//beige
@clrCatalActive: #ffeee1;
@clrTextLight: #fae7c6;
@clrTextMenu: #f6c89a;
@clrButtonBg: #f3d390;
@clrTextInfo: #d4b683;
//brown
@clrTextBucket: #c78e55;
@clrTextDark: #ae8965;
@clrMenuBord: #946d46;
@clrPromoDark: #7c583a;
@clrCatalNav: #583512;
@clrCatalText: #4c351b;
@clrBucketText: #55422f;
@clrBucketTitle: #341d07;
//grey
@clrFbBord: #e8e8e8;
@clrInfoConst: #d1d1d1;
@clrTextPromo: #999999;
@clrSubsInput: #888888;
@clrFbLabels: #666666;
@clrCatalShadIE: #444444;
//orange
@clrFbSortAct: #ffce0e;
@clrLinkHover: #ffa449;
//red
@clrBucketSpan: #ee1b24;
@clrFooterInfo: #df000f;
//blue
@clrFeedbackLnk: #3366aa;

//


#headerBgWrap
{
    background: url('i/main_bg.png') repeat;
    height: 225px;
    position: fixed;
    width: 100%;
    z-index: 1000;
}

#headerWrap
{    
    height: 225px;
    margin: @margCenter;
    width: @mainW;
}

#header
{
    padding: 10px 10px 0 10px;
    position: fixed;
    width: @mainW - 20px;
}

#logo
{
    background: url('i/logo.png') no-repeat center;
    display: block;
    float: left;
    height: 190px;
    width: 705px;  
}

#deliveryLink
{
    background: url('i/phone-delivery.png') no-repeat center;
    display: block;
    float: left;
    height: 90px;
    margin-left: 25px;
    width: 430px;
}

#onlineConsult
{
    background: url('i/consult-lnk.png') no-repeat center;
    float: left;
    height: 36px;
    margin-left: 15px;
    width: 240px;
    &:hover
    {
        background: url('i/consult-lnk-hov.png') no-repeat center;
    }
}

#discountCard
{
    background: url('i/disc-card-lnk.png') no-repeat center;
    display: block;
    float: left;
    height: 36px;
    width: 215px;
    &:hover
    {
        background: url('i/disc-card-lnk-hov.png') no-repeat center;
    }
}

#bucketPreview
{
    float: left;
    height: 47px;
    margin-top: 4px;
    width: 430px;
    #bucketPreviewWrap
    {
        float: left;
        height: 100%;
        margin: 0 2px;
        overflow: hidden;
        width: 396px;
        ul
        {
            float: left;
            height: 100%;
            width: auto;
            li
            {
                float: left;
                height: 47px;
                margin: 0 3px;
                width: 60px;
            }
        }        
    }
    div.button-wrap
    {
        float: left;
        height: 45px;
        width: 15px;
    }
    button
    {
        float: left;
    } 
}

#bucketLink
{
    background: url('i/bucket-full.png') no-repeat center;
    display: block;
    float: left;
    height: 61px;
    margin-left: 10px;
    position: relative;
    bottom: 3px;
    width: 53px;
}

#mainMenu
{
    background: url('i/nav_menu_bg.png') no-repeat center;
    bottom: 5px;
    float: left;
    font-size: 14px;
    height: 22px;
    line-height: 12px;
    padding: 5px 0;
    position: relative;
    width: 1200px;
}

#navMenu
{
    float: left;
    li
    {
        float: left;
        padding: 5px 0;
        position: relative;
        &:first-child a
        {
            border-left: none;
        }
        a
        {   
            border-left: 1px solid @clrMenuBord;
            color: @clrTextMenu;  
            display: block;
            padding: 0 10px;
            &:hover, &.active-menu-link
            {
                color: @clrLinkHover;
            }
        }
        ul
        {
            background: url('i/menu_level2_bg.png') repeat;
            display: none;
            font-size: 12px;
            left: 0;
            position: absolute;
            text-align: left;
            top: 22px;
            width: 210px;
            
            -moz-box-shadow: 0 2px 3px 1px black;
            -webkit-box-shadow: 0 2px 3px 1px black;
            -khtml-box-shadow: 0 2px 3px 1px black;
            -o-box-shadow: 0 2px 3px 1px black;
            box-shadow: 0 2px 3px 1px black;
            //for IE < 8
            filter: progid:DXImageTransform.Microsoft.Shadow(direction=135, strength=3);
            li
            {
                border: none;
                float: none;
                margin: 8px 0;
                padding: 0 15px;
                a
                {                    
                    border: none;
                    padding: 0;
                }
            }
        }
    }
}

#search
{
    float: left;
    height: 20px;
    margin: 1px 0 0 25px;
    input
    {
        border: 1px solid @clrMenuBord;
        float: left;
        font-family: inherit;
        font-size: 12px;
        height: 18px;
        padding: 0 5px; 
        width: 140px;
    }
    button
    {
        float: left;
        margin-left: 5px;
    }
}

#bucketMenu
{
    color: @clrTextMenu;
    float: right;
    font-size: 14px;
    font-weight: bold;
    line-height: 22px;
    margin-right: 5px;
    span
    {
        color: @clrTextDark;
        font-size: 11px;
        font-weight: normal;
    }
    a
    {
        color: @clrTextMenu;
        font-weight: normal;
        &:hover
        {
            color: @clrLinkHover;
        }
    }
}

#content
{
    margin: @margCenter;
    overflow: hidden;
    padding: 0 6px;
    position: relative;
    top: 230px;
    width: @mainW - 12px;
}

#catalogEnter
{
    background: url('i/cat-entr-lnk.png') no-repeat center;
    display: inline-block;
    height: 36px;
    width: 270px;
    &:hover
    {
        background: url('i/cat-entr-lnk-hov.png') no-repeat center;
    }
}


@catalogLiW: 292px;

.catalog-preview
{
    background: url('i/catalog-line.png') no-repeat top;
    float: left;
    padding-top: 25px;
    width: 100%;
    li
    {
        float: left;
        margin: 0 5px;
        position: relative;
        width: @catalogLiW;
        img
        {
            .fixIE;
            position: relative;
            
            -moz-box-shadow: 0 0 5px 0 @clrGlow;
            -webkit-box-shadow: 0 0 5px 0 @clrGlow;
            -khtml-box-shadow: 0 0 5px 0 @clrGlow;
            -o-box-shadow: 0 0 5px 0 @clrGlow;
            box-shadow: 0 0 5px 0 @clrGlow;
        }
        h2
        {
            margin: 4px 0;
            a
            {
                color: @clrTextMenu;
                font-size: 16px;
                font-weight: bold;
                &:hover
                {
                    color: @clrLinkHover;
                }
            }
        }        
        div.detail
        {
            padding-right: 7px;
            position: absolute;
            text-align: right;
            top: 210px;
            width: @catalogLiW - 7px;
            a
            {
                color: @clrTextLight;
                font-size: 11px;
                font-weight: bold;
                text-shadow: 0 2px 3px black, 2px 0 3px black, 0 -2px 3px black, -2px 0 3px black;                
                //for IE
                display: inline-block;
                filter: progid:DXImageTransform.Microsoft.Glow(color=black, strength=3);
                &:hover
                {
                    color: @clrLinkHover;
                }
            }
        }
    }
}

#infoBlock
{
    background: url('i/catalog-line.png') no-repeat top;
    color: @clrTextInfo;
    float: left;
    font-size: 14px;
    padding: 30px 10px 0 10px;
    width: mainW - 20px;
    p
    {
        margin: 20px 0;
    }
}

#promoBottom
{
    color: @clrInfoConst;
    float: left;
    margin: 0 0 20px 0;
    width: 100%;
}

#footerWrap
{
    background: url('i/footer_bg.png') repeat;
    position: relative;
    top: 230px;
    width: 100%;
}

#footer
{
    margin: @margCenter;
    overflow-y: auto;
    padding: 10px;
    width: @mainW - 20px;
}

#complainBtn
{
    float: left;
    margin: 20px 10px 0 35px;
}

#lastPreview
{    
    float: left;
    height: 85px;
    margin: 0 30px;
    width: 730px;
    span
    {
        display: block;
        color: @clrTextMenu;
        float: left;
        font-size: 16px;
        font-weight: bold;
        line-height: 19px;
        margin-bottom: 5px;
        width: 100%;
    }
    #lastPreviewWrap
    {
        float: left;
        height: 100%;
        margin: 0 1px;
        overflow: hidden;
        width: 688px;
        ul
        {
            float: left;
            height: 100%;
            width: auto;
            li
            {
                float: left;
                height: 61px;
                margin: 0 4px;
                width: 78px;
            }
        }        
    }
    div.button-wrap
    {
        float: left;
        height: 56px;
        width: 20px;
    }
    button
    {
        float: left;
    }
}

#subscription
{
    float: left;
    margin-top: 20px;
    width: 175px;
    input
    {
        color: @clrSubsInput;
        background: @clrButtonBg;
        border: 1px solid @clrMenuBord;
        float: left;
        font-size: 12px;
        height: 20px;
        margin: 0 0 15px 0;
        padding: 0 5px;
        position: relative;
        text-align: center;
        width: 150px;
        .fixIE;
        
        @inputboxShad: 2px 2px 5px 1px black;
        -moz-box-shadow: @inputboxShad;
        -webkit-box-shadow: @inputboxShad;
        -o-box-shadow: @inputboxShad;
        -khtml-box-shadow: @inputboxShad;
        box-shadow: @inputboxShad;
        &:focus
        {
            color: black;
        }
    }
    button
    {
        float: left;
        width: 162px;
    }
}

#copyright
{
    color: @clrTextPromo;
    float: left;
    font-size: 11px;
    margin: 30px 0 10px 0;
    width: 100%;
}

#promoMenu
{
    float: left;
    font-size: 18px;
    margin: 10px 0 0 10px;
    li
    {
        float: left;
        margin: 0 10px;
        a
        {            
            color: @clrTextPromo;
            &:hover
            {
                color: @clrLinkHover;
            }
        }
    }
}

#counters
{
    float: left;
    margin: 0 70px;
    li
    {
        float: left;
        margin: 0 2px;
    }
}

#socialLinks
{
    float: left;
    margin-left: 15px;
    li
    {
        float: left;
        margin: 0 3px;
    }
}
//Main:end

//Catalog
#promoTop
{
    color: red;
    font-size: 16px;
    font-weight: bold;
    margin: 0 0 5px 0;
    width: 100%;
}

#catalogNav
{
    float: left;
    margin-left: 4px;
    li
    {
        background: url('i/cat_nav_bg.png') repeat-x;
        float: left;
        height: 35px;
        margin: 1px;
        padding: 5px 7px;
        position: relative;
        @liShad: inset 1px 1px 2px 0 @clrBevelLightCtl, 
                 inset -1px -1px 2px 0 @clrBevelDarkCtl,
                 1px 1px 3px 1px black;
        
        -moz-box-shadow: @liShad;
        -webkit-box-shadow: @liShad;
        -o-box-shadow: @liShad;
        -khtml-box-shadow: @liShad;
        box-shadow: @liShad;
        .fixIE;
        h2
        {
            font-size: 16px;
            line-height: 18px;
            margin: 0;
            a
            {
                color: @clrCatalNav;
                display: block;
                &:hover, span
                {
                    color: red;
                }
            }
        }        
        &.active
        {
            background: url('i/cat_nav_bg_active.png') repeat-x;
            @catalShad: 3px 4px 6px black;
            text-shadow: @catalShad;
            a
            {
                color: @clrCatalActive;
                &:hover
                {
                    color: @clrLinkHover;
                }
            }
        }
    }
}

#promoText
{
    color: @clrInfoConst;
    float: left;
    font-size: 14px;
    margin: 0;
    padding: 0 15px;
    text-align: left;
}

#h1Block
{       
    float: left;
    height: 22px;
    margin: 10px 0 5px 0;
    position: relative;
    width: 100%; 
    h1
    {
        color: black;
        font-size: 18px;
        line-height: 22px;
        margin: 0;
        position: absolute;
        top: 0;
        width: 100%; 
        z-index: 2;
        
        @h1Glow: 2px 2px 2px @clrGlow2, -2px 2px 2px @clrGlow2, -2px -2px 2px @clrGlow2, 2px -2px 2px @clrGlow2,
                 0 2px 2px @clrGlow2, 2px 0 2px @clrGlow2, 0 -2px 2px @clrGlow2, -2px 0 2px @clrGlow2;
        text-shadow: @h1Glow;
    }
    span.h1-IEfix
    {
        color: @clrGlow3;
        display: block;
        filter: progid:DXImageTransform.Microsoft.Glow(color=@clrGlow3, strength=3)
                progid:DXImageTransform.Microsoft.Blur(pixelRadius=3);
        font-size: 18px;
        font-weight: bold;
        line-height: 22px;
        position: absolute;
        left: -7px;
	top: -6px;
        width: 100%;
        z-index: 1;
    }
}

#catalog
{
    color: @clrCatalText;
    margin-top: 5px;
    float: left;
    li
    {
        background: url('i/paper.png') no-repeat bottom;
        float: left;
        margin: 0 2px 20px 0;
        padding: 0 5px 20px 5px;
        position: relative;
        width: 390px;
        img
        {
            float: left;
            position: relative;
            
            @imgShad: 4px 4px 8px 0 black;
            -moz-box-shadow: @imgShad;
            -webkit-box-shadow: @imgShad;
            -o-box-shadow: @imgShad;
            -khtml-box-shadow: @imgShad;
            box-shadow: @imgShad;
            .fixIE;
        }
        div.head
        {
            background: url('i/item_head_bg.png') repeat;
            color: @clrTextLight;
            display: none;
            height: 30px;
            padding: 0 5px;
            position: absolute;
            text-align: left;
            top: 0;
            width: 380px;
            h3
            {
                font-size: 16px;
                font-weight: normal;
                line-height: 20px;
                margin: 5px 0;
                width: 100%;
                span.code
                {
                    display: block;
                    float: right;
                    span
                    {
                        color: red;
                        font-size: 18px;
                    }
                }
            }
        }
        div.detail
        {
            padding-right: 7px;
            position: absolute;
            text-align: right;
            top: 280px;
            width: 383px;
            a
            {
                color: @clrTextLight;
                font-size: 11px;
                font-weight: bold;
                text-shadow: 0 2px 3px black, 2px 0 3px black, 0 -2px 3px black, -2px 0 3px black;                
                //for IE
                display: inline-block;
                filter: progid:DXImageTransform.Microsoft.Glow(color=black, strength=3);
                &:hover
                {
                    color: @clrLinkHover;
                }
            }
        }
        p
        {
            background: url('i/catal-item-line.png') no-repeat bottom;
            float: left;
            font-size: 16px;
            font-weight: bold;
            margin: 10px 0 0 0;
            padding-bottom: 5px;
            width: 100%;
        }
        table
        {
            float: left;
            margin: 0 10px;
            td.type
            {
                font-size: 14px;
                font-weight: bold;
                text-align: left;
                width: 100px;
            }
            td.old-price
            {
                font-size: 14px;
                text-decoration: line-through;
                width: 60px;
            }
            td.new-price
            {
                font-size: 12px;
                font-weight: bold;
                width: 70px;
                span
                {
                    font-size: 16px;
                    color: red;
                }
            }
            td.buy
            {
                width: 130px;
                font-size: 12px;
                line-height: 22px;
                a
                {
                    color: @clrCatalText;
                    &:hover
                    {
                        text-decoration: underline;
                    }
                    &.bucket
                    {
                        background: url('i/bucket-icon.png') no-repeat center;
                        display: block;
                        float: right;
                        height: 22px;
                        width: 26px;
                    }
                }
            }
        }
    }
}

@footerTextShad: 3px 3px 6px black;

#package
{
    background: url('i/package.png') no-repeat top;
    color: @clrFooterInfo;
    float: left;
    font-size: 24px;
    font-weight: bold;
    margin: 5px 0 0 5px;
    padding-top: 165px;
    text-shadow: @footerTextShad;
    width: 240px;
}

#sizes
{
    background: url('i/sizes_bg.png') no-repeat center;
    float: left;
    height: 170px;
    margin-top: 25px;
    width: 760px;
    span
    {
        color: @clrFooterInfo;
        display: block;
        float: left;
        font-size: 24px;
        font-weight: bold; 
        margin: 10px 0;
        text-shadow: @footerTextShad;
        width: 100%;
    }
    ul
    {
        float: left;
        li
        {
            float: left;
            font-size: 16px;
            margin-left: 19px;
            width: 216px;
            span
            {
                font-size: 16px;
                margin: 0;
            }
            dl
            {
                color: @clrTextMenu;
                float: left;
                margin: 0;
                width: 100%;
                dt
                {
                    float: left;
                    font-weight: bold;
                    text-align: right;
                    width: 150px;
                }
                dd
                {
                    float: left;
                    margin: 0;
                    padding-left: 5px;
                }                                
            }
            &.wide, &.wide dl
            {
                width: 248px;
                dt
                {
                    width: 182px;
                }
            }
        }
    }
}

#taxiBanner
{
    background: url('i/taxi.png') no-repeat center;
    display: block;
    float: left;
    height: 170px;
    margin-top: 25px;
    width: 195px;
}
//Catalog:end

//Element
#topBlock
{
    float: left;
    font-weight: bold;
    margin-top: 15px;
    width: 100%;
    span
    {
        color: @clrTextLight;
        display: block;
        float: left;
        font-size: 18px;
        margin-left: 35px;
    }
    a
    {
        color: @clrTextLight;        
        display: block;
        float: right;
        font-size: 13px;
        margin-right: 30px;
        &:hover
        {
            color: @clrLinkHover;
        }
    }
}

#imageBlock
{
    float: left;
    margin: 0 151px;
    width: 906px;
}

#similarProd
{
    float: left;
    height: 90px;
    margin-top: 20px;
    width: 892px;
    #similarProdWrap
    {
        float: left;
        height: 100%;
        margin: 0 10px;
        overflow: hidden;
        width: 810px;
        ul
        {
            float: left;
            height: 100%;
            width: auto;
            li
            {
                float: left;
                height: 90px;
                margin: 0 10px;
                width: 115px;
                img
                {
                    height: 90px;
                    width: 115px;
                }
            }
        }
    }
    div.button-wrap
    {
        float: left;
        height: 90px;
        width: 31px;
    }
}

#priceList
{
    background: url('i/paper.png') no-repeat bottom;
    color: @clrCatalText;
    float: left;
    height: 135px;
    margin: 10px 409px;
    padding: 0 5px 20px 5px;
    width: 390px;
    p
    {
        background: url('i/catal-item-line.png') no-repeat bottom;
        float: left;
        font-size: 16px;
        font-weight: bold;
        margin: 20px 0 0 0;
        padding-bottom: 5px;
        width: 100%;
    }
    table
    {
        float: left;
        margin: 0 10px;
        td.type
        {
            font-size: 14px;
            font-weight: bold;
            text-align: left;
            width: 100px;
        }
        td.old-price
        {
            font-size: 14px;
            text-decoration: line-through;
            width: 60px;
        }
        td.new-price
        {
            font-size: 12px;
            font-weight: bold;
            width: 70px;
            span
            {
                font-size: 16px;
                color: red;
            }
        }
        td.buy
        {
            width: 130px;
            font-size: 12px;
            line-height: 22px;
            a
            {
                color: @clrCatalText;
                &:hover
                {
                    text-decoration: underline;
                }
                &.bucket
                {
                    background: url('i/bucket-icon.png') no-repeat center;
                    display: block;
                    float: right;
                    height: 22px;
                    width: 26px;
                }
            }
        }
    }    
}

#promoMiddle
{
    color: @clrPromoDark;
    float: left;
    font-size: 13px;
    font-weight: bold;
    margin: 0;
}

#feedbackBg
{
    background: url('i/feedback_bg_middle.png') repeat-y;
    float: left;
    margin: 25px 162px;
    min-height: 480px;
    position: relative;
    width: 875px;
    #feedbackBgTop
    {
        background: url('i/feedback_bg_top.png') no-repeat center;
        height: 240px;
        position: absolute;
        top: -15px;
        width: 100%;
    }
    #feedbackBgBottom
    {
        background: url('i/feedback_bg_bottom.png') no-repeat center;
        bottom: -15px;
        height: 240px;
        position: absolute;
        width: 100%;
    }    
}


.fb-button-grad
{
    @pos: top; @color1: white; @color2: #c3c3c3;
    background: -moz-linear-gradient(@pos, @color1, @color2);
    background: -o-linear-gradient(@pos, @color1, @color2);
    background: -webkit-linear-gradient(@pos, @color1, @color2);
    background: -ms-linear-gradient(@pos, @color1, @color2);
    -pie-background: linear-gradient(@pos, @color1, @color2);
}

.fb-button-grad-hov
{
    @pos: top; @color1: #dddddd; @color2: #999999;
    background: -moz-linear-gradient(@pos, @color1, @color2);
    background: -o-linear-gradient(@pos, @color1, @color2);
    background: -webkit-linear-gradient(@pos, @color1, @color2);
    background: -ms-linear-gradient(@pos, @color1, @color2);
    -pie-background: linear-gradient(@pos, @color1, @color2);
}

.fb-button-grad-act
{
    @pos: top; @color1: #999999; @color2: #dddddd;
    background: -moz-linear-gradient(@pos, @color1, @color2);
    background: -o-linear-gradient(@pos, @color1, @color2);
    background: -webkit-linear-gradient(@pos, @color1, @color2);
    background: -ms-linear-gradient(@pos, @color1, @color2);
    -pie-background: linear-gradient(@pos, @color1, @color2);
} 

#feedbackWrap
{
    color: black;
    float: left;
    font-size: 13px;
    padding: 0 15px;
    position: relative; top: 0; left: 0;
    width: 845px;
    a
    {
        color: @clrFeedbackLnk;
        display: block;
        float: left;
        text-decoration: underline;
        &.add-review
        {
            background: url('i/rev-icon.png') no-repeat left;
            line-height: 25px;
            padding-left: 40px;
        }
        &.sort-active
        {
            color: black;
            background: @clrFbSortAct;
            font-weight: bold;
            text-decoration: none;

            @btnBordRad: 7px;
            -moz-border-radius: @btnBordRad;
            -webkit-border-radius: @btnBordRad;
            -o-border-radius: @btnBordRad;
            -khtml-border-radius: @btnBordRad;
            border-radius: @btnBordRad;
        }
        &:hover
        {
            color: @clrCatalNav;
        }
    }
    #feedbackHead
    {
        float: left;
        width: 100%;
        #sort
        {
            border-bottom: 1px dashed @clrTextPromo;
            border-top: 1px dashed @clrTextPromo;
            float: left;
            line-height: 20px;
            padding: 5px 0;
            width: 100%;
            span
            {
                display: block;
                float: left;
                margin-right: 15px;
            }
            a
            {
                padding: 0 10px;
            }
        }        
    }
    ul
    {
        float: left;
        width: 845px;
        li
        {
            border-bottom: 1px dashed @clrTextPromo;
            float: left;
            margin-top: 5px;
            width: 100%;
            .review-head
            {
                background: url('i/fb_block_head_bg.png') no-repeat top;
                float: left;
                height: 45px;
                line-height: 30px;
                padding: 0 20px;
                width: 805px;
                .name
                {
                    color: @clrFeedbackLnk;
                    display: block;
                    float: left;
                    font-weight: bold;
                    text-decoration: underline;
                }
                .rate
                {
                    float: left;
                    height: 20px;
                    margin: 5px 0 0 30px;
                    width: auto;
                    li
                    {
                        border: none;
                        float: left;
                        margin: 0;
                        width: 21px;
                    }
                }
                .date
                {
                    display: block;
                    float: right;
                }
            }
            .review-body
            {
                float: left;
                padding: 0 20px;
                width: 785;
                dl
                {
                    float: left;
                    line-height: 20px;
                    margin: 0;
                    text-align: left;
                    dt
                    {
                        color: @clrFbLabels;
                        float: left;
                        font-size: 11px;
                        margin: 0 0 5px 0;
                        padding-left: 20px;
                        width: 80px;
                        &.posit
                        {
                            background: url('i/fb-posit-icon.png') no-repeat left;
                        }
                        &.negat
                        {
                            background: url('i/fb-negat-icon.png') no-repeat left;
                        }
                        &.use
                        {
                            background: url('i/fb-use-icon.png') no-repeat left;
                        }
                    }
                    dd
                    {
                        font-style: italic;
                        margin: 0 0 5px 130px;
                        width: 655px;
                    }
                }
                p
                {
                    border-bottom: 1px solid @clrFbBord;
                    float: left;
                    margin: 5px 0;
                    padding-bottom: 5px;
                    text-align: left;
                    width: 100%;
                }
            }
            .review-useful
            {
                float: left;
                line-height: 20px;
                margin-bottom: 20px;
                padding: 0 20px;
                width: 805px;
                p
                {
                    float: left;
                    margin: 0;
                    &.question
                    {
                        float: right;
                        span
                        {
                            display: block;
                            float: left;
                            margin-right: 10px;
                        }
                        button
                        {
                            .fixIE;
                            .fb-button-grad;
                            border: 1px solid #cccccc;
                            position: relative;
                            width: 40px;
                            
                            @btnBordRad: 7px;
                            -moz-border-radius: @btnBordRad;
                            -webkit-border-radius: @btnBordRad;
                            -o-border-radius: @btnBordRad;
                            -khtml-border-radius: @btnBordRad;
                            border-radius: @btnBordRad;
                            
                            -moz-box-shadow: none;
                            -webkit-box-shadow: none;
                            -o-box-shadow: none;
                            -khtml-box-shadow: none;
                            box-shadow: none;
                            &:hover
                            {
                                .fb-button-grad-hov;
                                border: 1px solid #888888;
                            }
                            &:active
                            {
                                .fb-button-grad-act;
                                border: 1px solid #888888;
                            }
                        }
                    }
                }
            }
        }
    }
}
//Element:end

//Bucket
#bucketBg
{
    background: url('i/bucket_bg_middle.png') repeat-y;
    float: left;
    margin: 10px 5px;
    min-height: 635px;
    position: relative;
    width: 1198px;
    #bucketTopBg
    {
        background: url('i/bucket_bg_top.png') no-repeat center;
        height: 260px;
        position: absolute;
        top: 0;
        width: 100%;
    }
    #bucketBgBottom
    {
        background: url('i/bucket_bg_bottom.png') no-repeat center;
        bottom: 0;
        height: 375px;
        position: absolute;
        width: 100%;
    }
}

#bucketWrap
{
    float: left;
    position: relative;
    width: 100%;
}

#bucketTop
{
    color: @clrTextLight;
    float: left;
    font-size: 18px;
    font-weight: bold;
    padding: 5px 10px;
    position: relative;
    text-align: left;
    width: 1178px;
    
    text-shadow: 0 2px 3px black, 2px 0 3px black, 0 -2px 3px black, -2px 0 3px black;                
    //for IE
    filter: progid:DXImageTransform.Microsoft.Glow(color=black, strength=3);
    a
    {
        color: @clrTextLight;
        display: block;
        float: right;
        font-size: 13px;
        &:hover
        {
            color: @clrLinkHover;
        }
    }
}

#bucketTitle
{   
    color: @clrBucketTitle;
    float: left;
    font-size: 16px;
    margin: 20px 0;
    text-shadow: 0 0 4px white;
    width: 100%;
    span.quant
    {
        font-weight: bold;
    }
    span.price
    {
        color: @clrBucketSpan;
        font-weight: bold;
    }
}

#bucketList
{
    color: @clrBucketText;
    float: left;
    margin: 0 179px;
    width: 840px;
    li
    {
        background: url('i/paper.png') no-repeat bottom;
        float: left;
        margin: 0 10px 50px 10px;
        padding: 0 5px 20px 5px;
        position: relative;
        width: 390px;
        img
        {
            float: left;
            position: relative;
            
            @imgShad: 4px 4px 8px 0 black;
            -moz-box-shadow: @imgShad;
            -webkit-box-shadow: @imgShad;
            -o-box-shadow: @imgShad;
            -khtml-box-shadow: @imgShad;
            box-shadow: @imgShad;
            .fixIE;
        }
        div.detail
        {   
            color: @clrTextLight;
            font-size: 14px;
            font-weight: bold;
            padding: 0 7px;
            position: absolute;
            text-align: left;
            top: 280px;
            width: 376px;

            text-shadow: 0 2px 3px black, 2px 0 3px black, 0 -2px 3px black, -2px 0 3px black;                
            //for IE
            filter: progid:DXImageTransform.Microsoft.Glow(color=black, strength=3);
            a
            {
                color: @clrTextLight;
                display: block;
                float: right;
                font-size: 11px;
                &:hover
                {
                    color: @clrLinkHover;
                }
            }
        }
        div.calculator
        {
            background: url('i/catal-item-line.png') no-repeat bottom;
            float: left;
            font-size: 12px;
            font-weight: bold;
            margin: 10px 10px 0 10px;
            padding: 0 5px 5px 5px;
            width: 360px;
            p
            {
                float: left;
                margin: 0 15px;
                span
                {
                    color: @clrBucketSpan;
                    font-size: 16px;
                }
            }
            input
            {
                border: 1px solid @clrMenuBord;
                font-family: inherit;
                font-size: 12px;
                height: 18px;
                padding: 0 5px;
                text-align: center;
                width: 35px;
            }
            a.delete
            {
                background: url('i/del.png') no-repeat center;
                display: block;
                float: left;
                margin-left: 30px;
                height: 24px;
                width: 24px;
            }
        }
        p.itemInfo
        {
            float: left;
            font-size: 16px;
            margin: 5px 0;
            width: 100%;
            span
            {
                font-weight: bold;
            }
        }
    }
}

#bucketBottom
{
    color: @clrBucketText;
    float: left;
    font-size: 18px;
    margin: 0 0 50px 0;
    width: 100%;
    span
    {
        color: @clrBucketSpan;
        font-size: 24px;
        font-weight: bold;
    }
    a
    {
        color: @clrTextLight;
        font-weight: bold;
        margin-top: 10px;
        text-shadow: 0 2px 3px black, 2px 0 3px black, 0 -2px 3px black, -2px 0 3px black;                
        //for IE
        display: inline-block;
        filter: progid:DXImageTransform.Microsoft.Glow(color=black, strength=3);
        &:hover
        {
            color: @clrLinkHover;
        }
    }
    button
    {
        position: relative;
        left: 20px;
        bottom: 4px;
    }
}

