<form action="https://www.paypal.com/cgi-bin/webscr" method="post">
    <input type="hidden" name="cmd" value="<?=$this->items ? '_cart' : '_xclick';?>">
    <input type="hidden" name="upload" value="1">
    <input type="hidden" name="business" value="<?=$this->params->business?>">
    <input type="hidden" name="notify_url" value="<?=$this->params->notify_url?>">
    <input type="hidden" name="return" value="<?=$this->params->return_url?>">
    <input type="hidden" name="currency_code" value="<?=$this->params->mc_currency?>">
    <input type="hidden" name="no_shipping" value="1">
    <?php if($this->items) { foreach($this->items as $num => $item) {?>
    <input type="hidden" name="item_name_<?=$num?>" value="<?=$item['name']?>">  
    <input type="hidden" name="item_number_<?=$num?>" value="<?=$item['item_number']?>">
    <input type="hidden" name="amount_<?=$num?>" value="<?=$item['amount']?>">
    <input type="hidden" name="quantity_<?=$num?>" value="<?=$item['quantity']?>">
    <?php } } else {?>    
    <input type="hidden" name="item_name" value="<?=$this->params->item_name;?>">  
    <input type="hidden" name="item_number" value="<?=$this->params->item_number;?>">
    <input type="hidden" name="amount" value="<?=$this->params->mc_gross;?>">
    <input type="hidden" name="quantity" value="1">
    <?php }?>
    <input type="image" name="submit" border="0"src="https://www.paypal.com/en_US/i/btn/btn_buynow_LG.gif" alt="PayPal - The safer, easier way to pay online">
</form>
