<form id="userProfile" onsubmit="return false;" >
    <h2>Управление профилем</h2>

    
    
    <div ><img id="profileImage" src="<?php echo $this->profile['avatar']; ?>" class="img-polaroid"/></div>
    <div id="btnUploadImage">Загрузить картинку</div>
    <div class="warning">Размер картинки не должен превышать 8Mb</div>
    <div id="profileUploadStatus"></div>
    
    
    <label for="profileName">Имя</label>
    <input type="text" id="profileName" value="<?php echo $this->profile['first_name']; ?>" class="input-xlarge"/><br/>
    <span id="profileNameError"></span>
    
    <label for="profileLastName">Фамилия</label>
    <input type="text" id="profileLastName" value="<?php echo $this->profile['last_name']; ?>" class="input-xlarge"/><br/>
    <span id="profileLastNameError"></span>
    
    <label for="profileMiddleName">Отчество</label>
    <input type="text" id="profileMiddleName" value="<?php echo $this->profile['middle_name']; ?>" class="input-xlarge"/><br/>
    <span id="profileMiddleNameError"></span>

    <label for="profileLogin">Login</label>
    <input type="text" id="profileLogin" value="<?php echo $this->profile['login']; ?>" class="input-xlarge"/><br/>
    <span id="profileLoginError"></span>

    <label for="profileEmail">Email</label>
    <input type="text" id="profileEmail" value="<?php echo $this->profile['email']; ?>" class="input-xlarge"/><br/>
    <span id="profileEmailError"></span>
    
    <label for="profileSkype">Skype</label>
    <input type="text" id="profileSkype" value="<?php echo $this->profile['skype']; ?>" class="input-xlarge"/><br/>
    <span id="profileSkypeError"></span>

    <label for="profilePhone">Телефон</label>
    <input type="text" id="profilePhone" value="<?php echo $this->profile['phone']; ?>" class="input-xlarge"/><br/>
    <span id="profilePhoneError"></span>
    
    <label for="profileAbout">О себе</label>
    <textarea id="profileAbout" class="input-xxlarge"><?php echo $this->profile['about']; ?></textarea><br/>
    
    <br/>
    <label for="profileLink">Ссылка на мой профиль в интернете</label>
    <input type="text" id="profileLink" value="<?php echo $this->profile['link']; ?>" class="input-xxlarge"/><br/>
    
    <input type="hidden" id="profileAvatar"/>
    
    

    <button id="userProfileSave" class="btn btn-primary">Сохранить изменения</button>
    <div id="profileMessage"></div>

    
</form>
<script>
    $(document).ready(function() {
        profile.init();
        $('#userProfileSave').click(function(){
            profile.save();
        });
    });
</script>