<form id="villaAdminDivisionsForm">
    <input type="hidden" name="controller" value="villa.module.admins.controller">
    <input type="hidden" name="action" value="saveDivisions">
    <input type="hidden" name="group_id" value="<?=$this->groupId?>">
    <table class="table table-bordered table-condensed">
        <?php foreach($this->divisions as $id => $name) { ?>
        <tr>        
            <td>
                <input name="divisions[<?=$id?>]" type="checkbox" value="1" <?=in_array($id, $this->selected)?'checked':''?>>
            </td>
            <td><?=$name?></td>
        </tr>
        <?php } ?>
        <tr>
            <td colspan="4">
                <a class="btn btn-success" onclick="villa_manage_admins.saveDivisions()">Сохранить</a>
            </td>
        </tr>
    </table>
</form>
