<input type="hidden" id="groupId" value="<?=$this->model->group_id?>"/>
<ul class="nav nav-tabs" id="editTabs">
    <li class="active editonly"><a href="#edit" id="tab_edit">Редактирование</a></li>
    <?php if($this->model->group_id) {?>
    <li class="editonly"><a href="#divisions" id="tab_images">Доступ к разделам</a></li>
    <?php }?>
</ul>

<div class="tab-content">
    <div class="tab-pane" id="divisions">
        Доступ к разделам
    </div>

    <div class="tab-pane active" id="edit">
        <form id="villaAdminForm" onsubmit="return;">
            <input type="hidden" name="id" value="<?=$this->model->id?>"/>
            <input type="hidden" name="controller" value="villa.module.admins.controller"/>
            <input type="hidden" name="action" value="edit"/>
            <input type="hidden" name="group_id" value="<?=$this->model->group_id?>"/>
            <table class="table table-bordered">
                <caption>Данные пользователя</caption>
                <tr>
                    <th style="width: 22%">
                        Логин (латиницей, без пробелов)
                    </th>
                    <td style="width: 28%">
                        <input type="text" name="email" value="<?=$this->model->email;?>">
                    </td>
                </tr>
                <tr>
                    <th style="width: 22%">
                        Пароль
                    </th>
                    <td style="width: 28%">
                        <input type="password" name="password"  placeholder="********">
                    </td>
                </tr>            
                <td colspan="4" class="right">
                    <button type="button" class="btn btn-success" onclick="villa_manage_admins.formSubmit(this)">Сохранить</button>
                </td>
            </table>
        </form>
    </div>

</div>

<script>
    $(function()
    {
        $('#editTabs a').click(function(e) {
            e.preventDefault();
            $(this).tab('show');
            villa_manage_admins.loadContent(this);
        });
    });
</script>