/* 
    Document   : hotel_manage
    Created on : 20.10.2014, 8:53:26
    Author     : Valkyria
    Description:
        Purpose of the stylesheet follows.
*/
#loadingDatesDiv1{
    height:124px;
    display: none;
}
#loadingDatesDiv
{
    margin: 0 auto;
    padding-bottom: 20px;
    width: 800px;
}
#loadingDatesDiv input
{
    margin: 0;
}
#loadingDatesDiv p
{
    font-size: 16px;
    font-weight: bold;
}

#roomNumbers
{
    background: #fff;
    position: fixed;
    width: 36px;
    z-index: 3;
}

#roomNumbers th
{
    height: 30px;
    padding: 0;
    vertical-align: middle;
    text-align: center;
}

#dateList
{
    background: #fff;
    display: none;
    left: 35px;
    margin-bottom: 0;
    top: 40px;
    position: fixed;
    z-index: 2;
}

#hotelLoadingTable
{
    float: left;
    left: 35px;
    position: relative;
    width: auto;
}

#hotelLoadingTable td
{
    padding: 0;
    height: 30px;
    width: 50px;
    position: relative;
}
#hotelLoadingTable .engaged
{
    box-sizing: border-box;
    cursor: pointer;
    float: left;
    width: 100%;
    height: 100%;
    top: 0;
    position: absolute;
    z-index: 1;
    left:0;
}
.payment_remain{
    visibility: hidden;

    width:50%;
    position: absolute;
    z-index:2;
    pointer-events: none;
}
#hotelLoadingTable td:hover .engaged.new{
    color: transparent;
}
#hotelLoadingTable td:hover .payment_remain{
    visibility: visible;
    width:50%;
}
#hotelLoadingTable .engaged.arrival-cell
{
    border-left: 1px solid #dddddd;
    float: right;
    width: 50%;
    right:0;
    left: auto;;
}
#hotelLoadingTable .engaged.departure-cell
{
    border-right: 1px solid #000000;
    width: 50%;
}
#hotelLoadingTable span.transfer
{
    color: #960606;
    display: block;
    font-size: 18px;
    font-weight: bold;
    height: 100%;
    line-height: 30px;
    text-align: center;
    width: 95%;
}

#hotelLoadingTable .status
{
    font-size: 15px;
    font-weight: bold;
    text-decoration: underline;
}

#hotelLoadingTable .engaged.new
{
    background: #f69696;
}
#hotelLoadingTable .engaged.new:hover
{
    background: #f6b3b3;
}

#hotelLoadingTable .engaged.processed
{
    background: #3ebfdb;
}
#hotelLoadingTable .engaged.processed:hover
{
    background: #5ecce3;
}

#hotelLoadingTable .engaged.arrival
{
    background: #ffb23b;
}
#hotelLoadingTable .engaged.arrival:hover
{
    background: #ffc771;
}

#hotelLoadingTable .engaged.residence
{
    background: #66ea48;
}
#hotelLoadingTable .engaged.residence:hover
{
    background: #8ff677;
}

#hotelLoadingTable .engaged.departure
{
    background: #fff626;
}
#hotelLoadingTable .engaged.departure:hover
{
    background: #fffa8f;
}

#hotelLoadingTable .engaged.end
{
    background: #d8d8d8;
}
#hotelLoadingTable .engaged.end:hover
{
    background: #e7e7e7;
}

#hotelLoadingTable .engaged.cancel
{
    background: #898989;
}
#hotelLoadingTable .engaged.cancel:hover
{
    background: #ababab;
}

#hotelLoadingTable .cell-info
{
    background: #f7f7f9;
    border: 2px solid #ccc;
    display: none;
    font-size: 12px;
    padding: 5px 10px;
    position: absolute;
    top: 10px;
    left: 10px;
    width: 175px;
    z-index: 10;
}

#bookingCardTitle, #bookingVersions, #bookingEditForm
{
    float: left;
    width: 100%;
}

#bookingEditForm input[type="text"], #secondModal textarea
{
    width: 90%;
}
#bookingEditForm input.serv-count
{
    width: 20px;
}
#bookingEditForm .opt-detail .table
{
    margin: 0;
}
#bookingEditForm label
{
    float: left;
    font-weight: bold;
    margin-right: 15px;
}
#bookingEditForm .opt-detail input
{
    margin: 0;
    width: 20px;
}
#bookingEditForm .opt-detail input[type="text"]
{
    height: 12px;
}
#bookingEditForm td.status-td
{
    vertical-align: middle;
}
#bookingEditForm input.new-option, select.new-option
{
    margin: 0;
}
#bookingEditForm .add-option-title
{
    display: none;
    line-height: 30px;
    text-decoration: underline;
    text-transform: uppercase;
}
#bookingEditForm input.transfer
{
    margin-right: 5px;
    width: 50px;
}
#bookingEditForm input.date
{
    width: 80px;
}

#bookingVersionsList
{
    display: none;
    height: 156px;
    margin: 20px 0;
    overflow-y: scroll;
}

#bookingVersionsList table
{
    margin: 0;
}

#bookingVersionsList table a.btn
{
    margin-right: 5px;
}

.totalService {
    width: 20000px;
    margin: 0 auto;
    text-align: center;
    font-size: 10px;
    padding-left: 34px;
    margin-top: 185px;
}

.totalService_item {
    float: left;
    margin-right: 2px;
    /* margin-top: 5px; */
    width: 43.6px;
    /* position: initial; */
}