<form id="contactsEditForm">
    <style>
        #contactsEditForm table{width: 800px; margin: 0 auto;} 
        #contactsEditForm th{width: 25%}
        #contactsEditForm select{margin: 0} 
        #contactsEditForm input{width: 98%} 
        #contactsEditForm textarea{height: 100px; width: 98%} 
    </style>
    <table class="table handbook table-bordered table-condensed">
        <caption>Страница "Контакты"</caption>
        <tr>
            <td colspan="2">
                <label>
                    <strong>Язык настройки:&nbsp;</strong>
                    <select id="langId" name="lang_id" onchange="VillaContacts.changeLang(this)">
                        <?php foreach($this->langList as $id => $lang) {?>
                        <option value="<?=$id?>" <?=$id == $this->model->lang_id ? 'selected' : ''?> >
                            <?=$lang->name;?>
                        </option>
                        <?php }?>
                    </select>
                </label>
            </td>
        </tr>
        <tr>
            <th>Заголовок</th>
            <td>
                <input type="text" name="title" value="<?=$this->model->title?>"/>
            </td>
        </tr>
        <tr>
            <th>Текст</th>
            <td>
                <textarea name="contacts" id="contactsEditor"><?=$this->model->contacts?></textarea>
            </td>
        </tr>
        <tr>
            <th>SEO title</th>
            <td>
                <input type="text" name="seo_title" value="<?=$this->model->seo_title?>"/>
            </td>
        </tr>
        <tr>
            <th>SEO keywords</th>
            <td>
                <textarea name="seo_keywords"><?=$this->model->seo_keywords?></textarea>
            </td>
        </tr>
        <tr>
            <th>SEO description</th>
            <td>
                <textarea name="seo_description"><?=$this->model->seo_description?></textarea>
            </td>
        </tr>
        <tr>
            <td colspan="2">
                <a class="btn btn-success" onclick="VillaContacts.save(this)">
                   Сохранить 
                </a>
            </td>
        </tr>
    </table>
</form>
<script>
    CKEDITOR.replace('contactsEditor',
    {
        language: '<?=$this->langList[$this->model->lang_id]->sys_name; ?>'
    });
</script>

