<? if($this->form['controller']){
    //Используем форму для фильтров и т.п.
    ?>
    <form id="<?=$this->form['id'];?>" method="post" <?=$this->form['name']?("name='{$this->form['name']}'"):'';?>>
          <input type="hidden" id="page_url" name="page_url" value="<?=$this->form['page_url'];?>"/>
<? }?>

<table <?= $this->strParams;?> >

    <caption><?= $this->caption;?></caption>

    <thead><?= $this->thead;?></thead>

    <tbody><?= $this->tbody;?></tbody>

    <tfoot><?= $this->tfoot;?></tfoot>

</table>

<? if($this->form['controller']){
    //Используем форму для фильтров и т.п.
    //дописываем скрытые поля сортировки закрываем тег  и зпоняем JS
    ?>
        <input type="hidden" id="sortColumn" name="sortColumn" value="<?=$this->gridSortable['column'];?>" />
        <input type="hidden" id="sortType" name="sortType" value="<?=$this->gridSortable['type'];?>" />
</form>    
<a class="btn btn-fly btn-primary" href="#" id='gridRefresh' onclick="handbooks.formSubmit(this); return false">
    <?=$this->translate('sys_refresh')?>
</a>    
<script>

handbooks.controller='<?=$this->form["controller"];?>';
handbooks.action='<?=$this->form["action"];?>';
handbooks.formid='<?=$this->form["id"];?>';
handbooks.url='<?=$this->form["url"];?>';
handbooks.page_url = '<?=$this->form["page_url"]?>';

</script>
<? }?>
<script>
<?=($this->eval?$this->eval:'');?>    
</script>

