/* 
    Document   : conteststages
    Created on : 09.10.2012, 16:50:13
    Author     : Elrafir
    Description:
        Стили для формы добавления категорий.
*/
.navbar.navbar-fixed-top #auth{
    /* opacity: 0.2; */
    color:#666;
}
.ik_select_block ul{
    text-align: left;
}
#contest_stage_edit_modal .modal-body{
    
    min-height: 200px;
}
#stageEditor th{
    text-align: right !important;
}
.ik_select_block .bold{
    font-weight: bold;
}
.ik_select_block .italic{
    font-style: italic;
}
.ik_select_list, .ik_select_link_text{
    font-size: 16px;
    color: #333;
}
.ik_select_hover{
    cursor: pointer !important;
}
.ik_select_option.grey{
    color: #999;
}
.ik_select_option.small{
    font-size: 12px;
}
.ik_select_option.padding_1{
    padding-left: 10px;
}
.ik_select_option.padding_2{
    padding-left: 30px;
}
.ik_select_option.padding_3{
    padding-left: 50px;
}
.category_prev{
    width: 100px;
}


