/* 
    Document   : product
    Created on : 09.11.2012, 9:59:09
    Author     : Администратор
    Description:
        Purpose of the stylesheet follows.
*/

#addProductForm input, #addProductForm select, #addProductForm textarea{
    width: 95%;
}
.admin_img_prev{
    width: 80px;
}
.img_prev_admin_table{
    
}

