<h2><?php echo $this->model->title; ?></h2>



<div class="hr"></div>

<div class="number-image lightbox">
    <a href="<?php echo $this->model->image; ?>" ><img src="<?php echo $this->model->image; ?>" width="172" height="132"/></a>
</div>

<h3><?php echo $this->translate('description'); ?></h3>
<?php echo $this->model->description; ?>

<div class="b-appartment-info">

    

    <h3><?php echo $this->translate('equipment'); ?></h3>
    <ul class="l_equipment">
        <?php foreach($this->model->equipment as $equipment) { ?>
            <li>
                <span class="<?php if ($equipment['bold']==1) echo('bold'); ?>" 
                      style="<?php if ($equipment['font_size']>1) echo('font-size: '.$equipment['font_size'].'px;'); ?> ">
                    <?php echo $equipment['name']; ?>
                </span>
            </li>
        <?php } ?>
    </ul>

    <!--a href="/bookingform/" class="button"><?php echo $this->translate('checkPresence'); ?></a-->
</div>

<div class="grey-border-solid"></div>


<div class="scrollable lightbox image-list">
    <?php foreach($this->model->images as $image) { ?>

        <a href="<?php echo $image; ?>">
            <img src="<?php echo $image; ?>" width="172" height="132"/>
        </a>

    <?php } ?>
</div>

<div class="b-booking-price">
    <span class="bookingPriceLabel"><?php echo $this->translate('cost'); ?>: </span> 
    <span id="bookingDayPrice" class="bookingPrice"><?php echo $this->model->cost; ?></span> <?php echo $this->currencyName; ?>
</div>