
<div class="site-main" id="bookingForm">
    <!-- Section Page Title -->
    <div class="section">
        <div class="widget-page-title">
            <div class="widget-background" data-background="assets/img/photo-title.jpg"></div>
            <div class="wrapper-inner">
                <h1><?=$this->translate('createTourByYourself')?></h1>
                <?php if($this->user) : ?>
                <div class="tourUserInfo <?=$this->isTourAgent ? 'touragent' : '' ?>">
                    <dl>
                        <?php if($this->isTourAgent) { ?><dt>Компания</dt><?php }?>
                        <dt><?=$this->translate('name')?></dt>
                        <dt><?=$this->translate('lastName')?></dt>
                        <dt><?=$this->translate('email')?></dt>
                        <dt><?=$this->translate('phone')?></dt>
                        <?php if($this->isTourAgent) { ?><dd><?=$this->user->company;?></dd><?php }?>
                        <dd><?=$this->user->first_name;?></dd>
                        <dd><?=$this->user->last_name;?></dd>
                        <dd><?=$this->user->email;?></dd>
                        <dd><?=$this->user->phone;?></dd>
                    </dl>
                </div>
                <?php endif; ?>
                <div style="display:none;" id="constantsum">0</div>
                <input type="hidden" name="arriveDate"  value="<?=$this->arriveDate;?>">
                <input type="hidden" name="departureDate" value="<?=$this->departureDate;?>">

            </div>
        </div>
    </div>
    <!-- Section Page Title End -->

    <!-- Section Booking -->
    <div class="section" id="bookingFormContainer">
        <form id="mainBookingForm" onsubmit="return false;">
            <button id="backwardButton" class="green" onclick="history.back(); return false;">
                <span>
                    <b>&laquo;&laquo;</b>
                    <?=$this->translate('back')?>
                </span>
            </button>
        <div class="widget-booking-form">
            <div class="wrapper-inner">
                <div class="widget-inner">
                    <div class="row margin-fix">
                        <div class="col-lg-8 col-md-7">
                            <!-- Booking Complete -->
                            <div class="booking-complete">
                                <h5>BOOKING</h5>
                                <h2>Your Reservation Completed</h2>
                                <div class="complete-message">
                                    <i class="fa fa-check"></i>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque eget commodo orci. Integer varius nibh eu mattis porta. Pellentesque dictum sem eget cursus semper.
                                </div>
                            </div>
                            <!-- Booking Complete End -->
                            <!-- Booking Form -->
                            <div class="booking-form tourUserInfoInputs" id="tourUserInfoInputs">
                                <div class="data-form">
                                <h2>Info</h2>
                                <p><?=$this->translate('checkGuestData')?> :</p>

                                <?php foreach($this->adultsInfo as $num => $adultModel) :?>
                                <?php $display = $adultModel->enabled ? 'block' : 'none';?>
                                <div class="guest-info adult" style="display: <?=$display;?>" id="adult_<?=$num;?>">
                                    <p id="guest-<?=$num;?>">
                                        <?=$this->translate('guestN').$num;?>
                                        <input type="hidden" class="guest-enabled" name="adultsInfo[<?=$num;?>][enabled]" value="<?=$adultModel->enabled;?>"/>
                                    </p>
                                <div class="row">
                                    <div class="col-md-6">
                                        <label>
                                            <?=$this->translate('name')?> :
                                            <input type="name" class="firstName" name="first_name"
                                                   value="<?=$adultModel->first_name;?>" placeholder="<?=$this->translate('name')?>"
                                                   title="<?=$this->translate('name')?>" />
                                        </label>
                                    </div>
                                    <div class="col-md-6">
                                        <label>
                                            <?=$this->translate('lastName')?> :
                                            <input type="name" class="lastName" name="last_name"
                                                   value="<?=$adultModel->last_name;?>" placeholder="<?=$this->translate('lastName')?>"
                                                   title="<?=$this->translate('lastName')?>" />
                                        </label>
                                    </div>
                                    <div class="col-md-6">
                                        <label>
                                            <?=$this->translate('email')?> :
                                            <input type="email" class="email" name="email"
                                                   value="<?=$adultModel->email;?>" placeholder="<?=$this->translate('email')?>"
                                                   title="<?=$this->translate('email')?>" />
                                        </label>
                                    </div>
                                    <div class="col-md-6">
                                        <label>
                                            <?=$this->translate('phone')?> :
                                            <input type="phone" class="phone" name="phone"
                                                   value="<?=$adultModel->phone;?>" placeholder="<?=$this->translate('phone')?>"
                                                   title="[<?=$this->translate('countryCode')?>][<?=$this->translate('operCode')?>][<?=$this->translate('phoneNum')?>]" />
                                            <span class="phone-plus">+</span>
                                        </label>
                                    </div>

                                </div>
                                </div>
                                <?php endforeach; ?>
                                    <div class="row">
                                <!-- Информация о детях  -->
                                <?php if($this->basicData->children > 0): ?>

                                <p><?=$this->translate('checkChildrenData')?></p>

                                <?php foreach($this->childrenInfo as $num => $childModel) :?>
                                <?php $display = $childModel->enabled ? 'block' : 'none';?>
                                <div class="guest-info child" style="display: <?=$display;?>" id="child_<?=$num;?>">
                                    <p>
                                        <?=$this->translate('childN').$num;?>
                                        <input type="hidden" class="guest-enabled" name="childrenInfo[<?=$num;?>][enabled]" value="<?=$childModel->enabled;?>"/>
                                    </p>
                                    <div class="col-md-6">
                                    <input type="name" class="firstName" name='first_name'
                                           value="<?=$childModel->first_name;?>" placeholder="<?=$this->translate('name')?>"
                                           title="<?=$this->translate('name')?>" />
                                        </div>
                                    <div class="col-md-6">
                                    <input type="name" class="lastName" name='last_name'
                                           value="<?=$childModel->last_name;?>" placeholder="<?=$this->translate('lastName')?>"
                                           title="<?=$this->translate('lastName')?>" />
                                        </div>
                                </div>

                                <?php endforeach; ?>
                                <?php endif; ?>
                                </div>
                                </div>
                                <!-- Информация о детях  END-->
                            </div>


                        </div>
                        <div class="col-lg-4 col-md-5">
                            <!-- Booking Detail -->
                            <div class="booking-detail tourHotelSuiteInfo" id="tourHotelSuiteInfo">
                                <h5>&nbsp; - &nbsp;"<?=$this->prepaymentName;?>"</h5>
                                <h2>Информация</h2>
                                <div class="detail-room">
                                    <div class="room-photo">
                                        <img src="<?=$this->gallery['room'];?>"/>
                                        <input type="hidden" name="prepayment_name" value="<?=$this->prepaymentName;?>"/>
                                    </div>
                                    <div class="room-desc">
                                        <h3 class="apartmentTitle"><?=$this->roomTypeName;?></h3>
                                        <h4>  <?=$this->translate('roomDayPrice')?>:&nbsp;
                                            <span id="cost">
                        <?=$this->roomData->displayPrice(); ?>
                    </span>
                                            <span>
                        <?=$this->currency;?>
                    </span></h4>
                                    </div>
                                </div>
                                <div class="detail-info">
                                    <ul>
                                        <li>
                                            <label><?=$this->translate('arriveDate')?></label>
                                            <p class="arriveDate"><?=$this->basicData->arrival;?></p>
                                        </li>
                                        <li>
                                            <label><?=$this->translate('departureDate')?> :&nbsp;</label>
                                            <p class="departureDate"><?=$this->basicData->departure;?></p>
                                        </li>
                                        <li>
                                            <label><?=$this->translate('adultsInRoom')?> :&nbsp;</label>
                                            <p class="countPeoples"><?=$this->basicData->adults;?></p>
                                        </li>
                                        <li>
                                            <label><?=$this->translate('childrenInRoom')?></label>
                                            <p class="countChildren"><?=$this->basicData->children;?></p>
                                        </li>
                                        <li>
                                            <label><?=$this->translate('numberOfNights')?> :&nbsp;</label>
                                            <p class="countNights"><?=$this->days;?></p>
                                        </li>
                                        <li>
                                            <label><?=$this->translate('guestsInRoom')?> :&nbsp;</label>
                                            <p class="countGuests" id="guests"><?=($this->basicData->adults + $this->basicData->children); ?></p>
                                        </li>
                                        <li class="total">
                                            <label>TOTAL PRICE</label>
                                            <p><?=$this->totalsData->dispTotalPayable(); ?></p>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <!-- Booking Detail End -->
                            <!-- Booking Help -->
                            <!--<div class="booking-help">-->
                                <!--<h5>HELP</h5>-->
                                <!--<h2>Need Booking Help?</h2>-->
                                <!--<p>If you need help with booking, Our advisor team are 24/7 at your service to help you.</p>-->
                                <!--<p><a href="mailto:help@thegrandiumhotel.com">help@thegrandiumhotel.com</a></p>-->
                                <!--<h3><i class="fa fa-phone-square"></i>1-800-123-45-67</h3>-->
                            <!--</div>-->
                            <!-- Booking Help End -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
            <div class="widget-booking-form">
                <div class="wrapper-inner">
                    <div class="table_wrap">
                        <table class="tourExtraService" id="tourExtraService">

                            <!-- ************************* Услуги ******************************** -->
                            <?php foreach($this->modelServices as $id => $service): ?>

                            <tr class="option_item" id="option_<?=$id;?>" option_id="<?=$id; ?>">
                                <td class="image"><img src="<?=$this->gallery['services'][$id]?>"/></td>
                                <td class="info">
                                    <button type="button" class="info_button" onclick="bookingform.showServiceInfo(<?=$id; ?>, this)"></button>
                                    <div class="info-button-descr">
                                        <?=$this->services[$id]['description'] ? $this->services[$id]['description'] : '<p>Нет описания</p>'; ?>
                                    </div>
                                </td>
                                <td class="name">
                                    <?=mb_strtoupper($this->services[$id]['name'],'UTF-8').' '.$this->translate('personDay')?>:
                                </td>
                                <td class="price">
                                    <span class="old-price"><?=$service->displayOldPrice()?> <?=$this->currency;?></span><br/>
                                    <span class="option_cost"><?=$service->displayPrice();?> <?=$this->currency;?></span>
                                </td>
                                <td class="quant hide" ><?=$this->translate('days')?><br>
                                    <select id="option_days_<?=$id;?>" class="option-days" name="services[<?=$id;?>][days]" onchange="bookingform.updateForm()">
                                        <?php for($day=1; $day<=$this->days; $day++) { ?>
                                        <option value="<?=$day;?>" <?=$day == $service->count ? 'selected' : ''?>>
                                        <?=$day;?>
                                        </option>
                                        <?php } ?>
                                    </select>
                                </td>
                                <td class="total-cost">

                                    <?=$this->services[$id]['guestSelect'];?>
                                    <!--                        <br/><span>(цена * кол-во дней * кол-во человек)</span>-->
                                </td>
                                <td class="add-delete services">
                                     <span class="cost-title"><?=$this->translate('cost')?>:&nbsp;
                                                                        <strong id="price_<?=$id?>" class="option_price" <?=!$service->enabled ? 'style="display: none"' : ''?>>
                                         <?=$service->displayCost();?>
                                         </strong>
                                         <strong id="default_price_<?=$id?>" class="option_price" <?=$service->enabled ? 'style="display: none"' : ''?>> 0</strong>
                                         <b><?=$this->currency;?></b>
                                                                  </span>
                                    <button class="btn addOptionButton add-opt" onclick="bookingform.addService(this);" <?=$service->enabled ? 'style="display: none"' : ''?>>
                                    <span><?=$this->translate('add')?></span>
                                    </button>
                                    <button class="btn deleteOptionButton del-opt" onclick="bookingform.delService(this);" <?=!$service->enabled ? 'style="display: none"' : ''?>>
                                    <span><?=$this->translate('delete')?></span>
                                    </button>
                                    <input class="option-id" type="hidden" name="services[<?=$id;?>][id]" value="<?=$id;?>"/>
                                    <input class="option-enabled" type="hidden" name="services[<?=$id;?>][enabled]" value="<?=$service->enabled;?>"/>
                                </td>
                            </tr>
                            <?php endforeach; ?>
                            <!-- *********************************************************************** -->
                            <!-- ************************* Блок экскурсий ****************** -->
                            <tr id="excursions" class="option_item excursion">
                                <td class="image"><img src="<?=$this->gallery['excursions']?>"/></td>
                                <td class="name" colspan="6">
                                    <p id="excursionTitle"><?=$this->translate('excursions')?></p>
                                </td>

                                <td class="excursionInfo">
                                    <ul id="excursionList" class="owl-carousel owl-theme">
                                        <?php

                                        foreach($this->modelExcursions as $date => $excursion){

                                        $i = $this->excursions[$date]['dayId'];

                                        if ( $this->excursInfo['info_list'][$i]['ex_show'] == 1 ) { ?>

                                        <li class="item">
                                            <?=$this->excursions[$date]['dayId']?>
                                                <span class="day-info">

                                                    <?=$this->excursions[$date]['dayName'];?>&nbsp;<?=$this->excursions[$date]['dateStr'];?>
                                                </span>
                                            <button type="button" class="info info_button" onclick="bookingform.showExcursionsInfo(<?=$this->excursions[$date]['dayId']?>, this)"></button>
                                            <?=$this->excursions[$date]['guestSelect'];?>
                                            <span class="old-price"><?=$excursion->displayOldPrice()?> <?=$this->currency;?></span><br/>
                                            <span class="day-price">
                                                    <b><?=$excursion->displayPrice();?></b>&nbsp;<?=$this->currency;?>
                                                </span>
                                            <button class="addOptionButton green add-opt" onclick="bookingform.addExcursion(this)" <?=$excursion->enabled ? 'style="display: none"' : ''?>>
                                            <span><?=$this->translate('add')?></span>
                                            </button>
                                            <button class="deleteOptionButton blue del-opt" onclick="bookingform.delExcursion(this)" <?=!$excursion->enabled ? 'style="display: none"' : ''?>>
                                            <span><?=$this->translate('delete')?></span>
                                            </button>
                                            <input class="option-id" type="hidden" name="excursions[<?=$date;?>][id]" value="<?=$id;?>"/>
                                            <input class="option-enabled" type="hidden" name="excursions[<?=$date;?>][enabled]" value="<?=$excursion->enabled;?>"/>
                                        </li>

                                       <?php  } ?>


                                        <?php }?>
                                    </ul>

                                </td>

                                <td class="add-delete">
                                    <div class="total-cost">
                                            <span>
                                                <?=$this->translate('cost')?>:
                                                <b id="excursionsTotal" class="option_price"><?=$this->excursionsTotal;?></b>
                                                <b><?=$this->currency;?></b>
                                            </span>
                                    </div>

                                </td>
                            </tr>

                            <!-- *********************** Блок трансферов ******************************* -->

                            <tr class="transferInfoBorderBottom">
                                <td colspan="7" class="line"></td>
                            </tr>
                            <tr class="transfer_item option_item" id="transferInfo">
                                <td class="image" rowspan="2">
                                    <img src="<?=$this->gallery['transfer']?>"/>
                                </td>
                                <!-- Трансфер - прибытие -->
                                <td  class="name" colspan="5">
                                    <p><?=$this->translate('transferArrival')?> :</p>
                                    <input type="text" readonly name="transfers[1][date]" class="transfer-required date" title="<?=$this->translate('date')?>"
                                           placeholder="<?=$this->translate('date')?>" value="<?=$this->modelTransfArrival->date; ?>"/>
                                    <input type="text" readonly name="transfers[1][time]" class="transfer-required time" title="<?=$this->translate('time')?>"
                                           placeholder="<?=$this->translate('time')?>" maxlength="5" value="<?=$this->modelTransfArrival->time?>"
                                           onkeyup='bookingform.changeTransferTime(this);'/>
                                    <select name="transfers[1][id]" id="transferArrival" onchange='bookingform.changeTransferType(this);'>
                                        <?php foreach($this->transfersArr as $id => $transfer): ?>
                                        <option value="<?=$id; ?>" type="<?=$transfer['type']; ?>"
                                                data-transferprice="<?=$transfer['price']; ?>"
                                                data-transporttype="<?=$transfer['transport_type']; ?>" <?=$id == $this->modelTransfArrival->id ? 'selected' : '';?>>
                                        <?=$transfer['name']; ?> - <?=$transfer['type_name']; ?>
                                        </option>
                                        <?php endforeach; ?>
                                    </select>
                                    <span class="transport-type type-1">
                                <input type="text" name="transfers[1][race]" class="transfer-required race" placeholder="<?=$this->translate('race')?>" title="<?=$this->translate('race')?>" value="<?=$this->modelTransfArrival->race?>"/>
                            </span>
                                    <span class="transport-type type-2">
                                <input type="text" name="transfers[1][train]" class="transfer-required train" placeholder="<?=$this->translate('train')?>" title="<?=$this->translate('train')?>" value="<?=$this->modelTransfArrival->train?>"/>
                                <input type="text" name="transfers[1][wagon]" class="transfer-required wagon" placeholder="<?=$this->translate('wagon')?>" title="<?=$this->translate('wagon')?>"
                                       maxlength="4" value="<?=$this->modelTransfArrival->wagon?>"/>
                            </span>
                                    <input type="text" name="transfers[1][city]" class="transfer-required city" placeholder="<?=$this->translate('town')?>" title="<?=$this->translate('town')?>" value="<?=$this->modelTransfArrival->location?>"/>
                                </td>

                                    <td class="add-delete transfer" >
                                        <p class="transfer-price">
                                            <span id="transferArrivalPrice"><?=$this->modelTransfArrival->displayCost(); ?></span>
                                            <span><?=$this->currency;?></span>
                                        </p>
                                        <button class="green addTransferButton addOptionButton  add-opt service"
                                                onclick="bookingform.addTransfer(this);"
                                        <?=$this->modelTransfArrival->enabled ? 'style="display: none"' : ''?>>
                                        <span><?=$this->translate('add')?></span>
                                        </button>
                                        <button class="blue deleteTransferButton del-opt service"
                                                onclick="bookingform.delTransfer(this);"
                                        <?=!$this->modelTransfArrival->enabled ? 'style="display: none"' : ''?>>
                                        <span><?=$this->translate('delete')?></span>
                                        </button>
                                        <input type="hidden" class="option-enabled transfer-enabled" name="transfers[1][enabled]" value="<?=$this->modelTransfArrival->enabled;?>"/>
                                    </td>

                            </tr>

                            <tr class="transfer_item option_item">
                                <td class="image" rowspan="2">
                                    <img src="<?=$this->gallery['transfer']?>"/>
                                </td>
                                <!-- Трансфер - прибытие -->
                                <td class="name" colspan="5">
                                    <p><?=$this->translate('transferDeparture')?> :</p>
                                    <input type="text" readonly name="transfers[2][date]" class="transfer-required date" title="<?=$this->translate('date')?>"
                                           placeholder="<?=$this->translate('date')?>" value="<?=$this->modelTransfDeparture->date;?>"/>
                                    <input type="text" readonly name="transfers[2][time]" class="transfer-required time" title="<?=$this->translate('time')?>"
                                           placeholder="<?=$this->translate('time')?>" maxlength="5" value="<?=$this->modelTransfDeparture->time?>"
                                           onkeyup='bookingform.changeTransferTime(this);'/>
                                    <select name="transfers[2][id]" id="transferDeparture" onchange='bookingform.changeTransferType(this);'>
                                        <?php foreach($this->transfersDep as $id => $transfer): ?>
                                        <option value="<?=$id; ?>" type="<?=$transfer['type']; ?>"
                                                data-transferprice="<?=$transfer['price']; ?>"
                                                data-transporttype="<?=$transfer['transport_type']; ?>" <?=$id == $this->modelTransfDeparture->id ? 'selected' : '';?>>
                                        <?=$transfer['name']; ?> - <?=$transfer['type_name']; ?>
                                        </option>
                                        <?php endforeach; ?>
                                    </select>
                                    <span class="transport-type type-1">
                                <input type="text" name="transfers[2][race]" class="transfer-required race" placeholder="<?=$this->translate('race')?>" title="<?=$this->translate('race')?>" value="<?=$this->modelTransfDeparture->race?>"/>
                            </span>
                                    <span class="transport-type type-2">
                                <input type="text" name="transfers[2][train]" class="transfer-required train" placeholder="<?=$this->translate('train')?>" title="<?=$this->translate('train')?>" value="<?=$this->modelTransfDeparture->train?>"/>
                                <input type="text" name="transfers[2][wagon]" class="transfer-required wagon" placeholder="<?=$this->translate('wagon')?>" title="<?=$this->translate('wagon')?>"
                                       maxlength="4" value="<?=$this->modelTransfDeparture->wagon?>"/>
                            </span>
                                    <input type="text" name="transfers[2][city]" class="transfer-required city" placeholder="<?=$this->translate('town')?>" title="<?=$this->translate('town')?>" value="<?=$this->modelTransfDeparture->location?>"/>
                                </td>


                                <td class="add-delete">
                                    <p class="transfer-price">
                                        <span id="transferDeparturePrice"><?=$this->modelTransfDeparture->displayCost(); ?></span>
                                        <span><?=$this->currency;?></span>
                                    </p>
                                    <button class="green addTransferButton addOptionButton  add-opt service"
                                            onclick="bookingform.addTransfer(this);"
                                    <?=$this->modelTransfDeparture->enabled ? 'style="display: none"' : ''?>>
                                    <span><?=$this->translate('add')?></span>
                                    </button>
                                    <button class="blue deleteTransferButton del-opt service"
                                            onclick="bookingform.delTransfer(this);"
                                    <?=!$this->modelTransfDeparture->enabled ? 'style="display: none"' : ''?>>
                                    <span><?=$this->translate('delete')?></span>
                                    </button>
                                    <input type="hidden" class="option-enabled transfer-enabled" name="transfers[2][enabled]" value="<?=$this->modelTransfDeparture->enabled;?>"/>
                                </td>

                            </tr>






                            <tr id="transferInfoBorderBottom" class='transferInfoBorderBottom'>
                                <td colspan="7" class="line"></td>
                            </tr>

                            <!-- *********************** END Блок трансферов *************************** -->
                            <tfoot>
                            <tr>
                                <td class="total-cost" colspan="7">
                                    <?=$this->translate('optionsCost')?>:
                                    <span>
                                                <b class="option_cost_sum" id="option_cost">
                                                    <?=$this->totalsData->dispOptionsCost(); ?>
                                                </b>
                                        <?=$this->currency;?>
                                            </span>
                                </td>
                            </tr>
                            <tr><td colspan="7" class="line"></td></tr>
                            <tr>
                                <td class="total-cost" colspan="7">
                                    <?=$this->translate('residenceOptionsCost')?>:
                                    <span>
                                                <b class="total_cost_sum" id="total_cost">
                                                    <?=$this->totalsData->dispTotalCost(); ?>
                                                </b>
                                        <?=$this->currency;?>
                                            </span>
                                </td>
                            </tr>
                            <?php if($this->roomData->prepayment != PREPAYMENT_TYPE_NONE) {?>
                            <tr><td colspan="7" class="line"></td></tr>
                            <tr>
                                <td class="total-cost" colspan="7">
                                    <?=$this->translate('roomPrepayment')?>:
                                    <span>
                                                <b class="totalPrePayment" id="totalPrePayment">
                                                    <?=$this->totalsData->dispPrepaymentValue(); ?>
                                                </b>
                                        <?=$this->currency;?>
                                            </span>
                                </td>
                            </tr>
                            <?php } ?>
                            <tr>
                                <td colspan="7">
                                    <textarea name="comment" placeholder="<?=$this->translate('specifyAdditionalWishes')?>" maxlength="250"></textarea>
                                </td>
                            </tr>
                            </tfoot>
                        </table>
                    </div>
                    <div class="table_wrap">
                        <table class="tourPrepayment" id="wpPrepaymentTable">
                            <tr><th colspan="4"><?=$this->prepaymentName; ?></th></tr>
                            <tr>
                                <td class="labels"></td>
                                <td class="labels"><?=$this->translate('totalCost')?></td>
                                <td class="labels"><?=$this->translate('services')?></td>
                                <td class="labels"><?=$this->translate('residence')?></td>
                            </tr>
                            <tr class="sumByPrepaymentTypes" >
                                <td class="labels"  style="text-align: left;">
                                    <label><?=$this->translate('cost')?></label>
                                </td>
                                <td class="total-cost" id="totalCostTd">
                                    <b>
                                        <?=$this->totalsData->dispTotalCost(); ?>
                                    </b>
                                    <?=$this->currency;?>
                                </td>
                                <td id="serviceCostTd">
                                    <b>
                                        <?=$this->totalsData->dispOptionsCost(); ?>
                                    </b>
                                    <?=$this->currency;?>
                                </td>
                                <td id="residenceCostTd">
                                    <b>
                                        <?=$this->totalsData->dispResidenceCost(); ?>
                                    </b>
                                    <?=$this->currency;?>
                                </td>
                            </tr>
                            <?php if($this->user && $this->totalsData->getTotalDiscount()): ?>
                            <tr class="sumByPrepaymentTypes">
                                <td class="labels"  style="text-align: left;">
                                    <label><?=$this->translate('discount')?></label>
                                </td>
                                <td class="total-cost" id="totalDiscountTd">
                                    <b>
                                        <?=$this->totalsData->dispTotalDiscount(); ?>
                                    </b>
                                    <?=$this->currency;?>
                                </td>
                                <td id="serviceDiscountTd">
                                    <b>
                                        <?=$this->totalsData->dispOptionsDiscount(); ?>
                                    </b>
                                    <?=$this->currency;?>
                                </td>
                                <td id="residenceDiscountTd">
                                    <b>
                                        <?=$this->totalsData->dispResidenceDiscount(); ?>
                                    </b>
                                    <?=$this->currency;?>
                                </td>
                            </tr>
                            <?php endif; ?>
                            <?php if($this->totalsData->getTotalPayable()) {?>
                            <tr class="sumByPrepaymentTypes" >
                                <td class="labels" style="text-align: left;">
                                    <label><?=$this->translate('payable')?></label>
                                </td>
                                <td class="total-cost" id="totalPayableTd">
                                    <b>
                                        <?=$this->totalsData->dispTotalPayable(); ?>
                                    </b>
                                    <?=$this->currency;?>
                                </td>
                                <td id="servicePayableTd">
                                    <b>
                                        <?=$this->totalsData->dispOptionsPayable(); ?>
                                    </b>
                                    <?=$this->currency;?>
                                </td>

                                <td id="residencePayableTd">
                                    <b>
                                        <?=$this->totalsData->dispResidencePayable(); ?>
                                    </b>
                                    <?=$this->currency;?>
                                </td>
                            </tr>
                            <?php }?>
                            <?php if($this->roomData->prepayment != PREPAYMENT_TYPE_NONE) {?>
                            <tr class="sumByPrepaymentTypes" >
                                <td class="labels" style="text-align: left;">
                                    <label><?=$this->translate('paid')?></label>
                                </td>

                                <td class="total-cost" id="totalPaidTd">
                                    <b>
                                        <?=$this->totalsData->dispTotalPaid(); ?>
                                    </b>
                                    <?=$this->currency;?>
                                </td>

                                <td id="servicePaidTd">
                                    <b>
                                        <?=$this->totalsData->dispOptionsPaid(); ?>
                                    </b>
                                    <?=$this->currency;?>
                                </td>

                                <td id="residencePaidTd">
                                    <b>
                                        <?=$this->totalsData->dispResidencePaid(); ?>
                                    </b>
                                    <?=$this->currency;?>
                                </td>
                            </tr>
                            <tfoot>
                            <td class="labels"  style="text-align: left;">
                                <label><?=$this->translate('restToPay')?></label>
                            </td>
                            <td class="total-cost" id="remainderPaid">
                                <?=$this->payAllBtn; ?>
                            </td>
                            <td class="total-cost" id="remainderServicesPaid">
                                <?=$this->payServicesBtn; ?>
                            </td>
                            <td class="total-cost" id="remainderResidencePaid">
                                <?=$this->payResidenceBtn; ?>
                            </td>
                            <?php }?>
                            </tfoot>
                        </table>
                    </div>
                        <h3 style="text-align: center; margin-left: 23%;"><?=$this->payMessage; ?></h3>
                        <div id="bookingFormFooter">
                        <div id="tourPrepaymentOptions">
                            <div class="total-cost" id="payFirstNightBtn">
                                <?=$this->endBookingBtn; ?>
                            </div>
                                    <!--<p class="tourPrepaymentOptionsPrint">-->
                                            <!--<button  type="button" id="printAllButton" name="printAllButton">-->
                                                <!--<span><?=$this->translate('printAll')?></span>-->
                                            <!--</button>-->

                                            <!--<button  type="button" id="printOfferButton" name="printOfferButton">-->
                                                <!--<span><?=$this->translate('printOffer')?></span>-->
                                            <!--</button>-->

                                            <!--<button  type="button"><span><?=$this->translate('cancel')?></span></button>-->
                                        <!--</p>-->
                        </div>
                        <?=$this->bottomText;?>
                            <script type="text/javascript">
                                ////////////////////////////////////////carousel
                                jQuery(document).ready(function() {
                                    var owl = jQuery('.owl-carousel');
                                    owl.owlCarousel({
                                        loop: false,
                                        margin: 10,
                                        navRewind: false,
                                        nav: true,
                                        dots: false,
                                        navText : ["<i class='fa fa-chevron-left'></i>","<i class='fa fa-chevron-right'></i>"],
                                        responsive: {
                                            0: {
                                                items: 1
                                            },
                                            600: {
                                                items: 3
                                            },
                                            1000: {
                                                items: 5
                                            }
                                        }
                                    })
                                });
                                ////////////////////////////////////////carousel
                            </script>

                            <script type="text/javascript">
                                $(function() {
                                    hotelBookingFormInit();
                                    <?php if($this->showSuccessMsg) {?>
                                        bookingform.endBooking(<?=$this->bookingId?>, true);
                                    <?php }?>
                                });

                                bookingform.booking_id = <?=$this->bookingId;?>;
                                bookingform.edit_mode = <?=$this->editMode;?>;

                                $(document).ready(function(){
                                    setTimeout(function(){
                                        collageHide();
                                        changeDataToggle();
                                    }, 500);
                                });

                                $('.date').datepicker({minDate: 0});
                                $('.time').timepicker({
                                    hourText: '<?=$this->translate('hours')?>',
                                    minuteText: '<?=$this->translate('minutes')?>'
                                });

                                jQuery('select#transferArrival').change();
                                jQuery('select#transferDeparture').change();

                                bookingform.showTooltip('.info_button', 'tooltip');
                                bookingform.guestSelectInit();

                                $('#excursionList').carousel({
                                    elementsVisible: 7,
                                    animationSpeed: 500,
                                    buttonsHide: true,
                                    btnClass: 'carousel-btn'
                                });

                                $('input.city').blur(function(event){
                                    bookingform.copyTransferCity(this);
                                });

                                <?php if($this->editMode && $this->status == BOOKING_STATUS_RESIDENCE) {?>
                                    $('.del-opt').hide().addClass('always-hidden');
                                <?php }?>
                            </script>
                    </div>
                </div>
            </div>
        </form>
    </div>
    <!-- Section Booking End -->
</div>
<!-- Site Main End -->

<div id="bookingFormOverlay">
    <div id="recalcMessage">
        <?=$this->translate('recalc');?>
    </div>
</div>
