<h2>Поздравляем!</h2>
<p>
    Вы оформили бронирование на сайте отеля <a href="<?=$this->domain;?>">Villa LaScala</a><br/>
    Номер Вашей брони: <b><?=$this->bookingId;?></b>
</p>
<p>
    Подробности Вы можете просмотреть в Вашем профиле.<br/>
    <?php if($this->newUser) {?>
    <b><u>Данные для входа:</u></b><br/>
    <b>Email:</b> <?=$this->email;?><br/>
    <b>Пароль: </b> <?=$this->password;?>
    <?php }?>
</p>
