<h2><?php echo $this->translate('bookingNumber'); ?></h2>

<div class="hr"></div>

<div id="booking-form">
    <div class="reserve-row">
        <label for="bookingArriveDate"><?php echo $this->translate('arriveDate'); ?><em>*</em></label>
        <div class="input"><input type="text" placeholder="Дата" id="bookingArriveDate" maxlength="10" value="<?php echo $this->model->arriveDate; ?>"></div>
        <button class="calendar-btn" onclick="showDatepicker('#bookingArriveDate');"></button>
    </div>

    <div class="reserve-row">
        <label for="bookingDepartureDate"><?php echo $this->translate('departureDate'); ?><em>*</em></label>
        <div class="input"><input type="text" placeholder="Дата" id="bookingDepartureDate" maxlength="10" value="<?php echo $this->model->departureDate; ?>"></div>
        <button class="calendar-btn" onclick="showDatepicker('#bookingDepartureDate');"></button>
    </div>

    <div class="reserve-row">
        <label for="bookingType"><?php echo $this->translate('type'); ?></label><br/>
        <?php if(count($this->appartmentsTypes) == 0) { ?>
        <select id="bookingType">
            <?php foreach($this->model->types as $type) { ?>
            <option value="<?php echo $type->id; ?>" <?php if ($type->selected) echo "selected='true'"; ?>><?php echo $type->title; ?></option>
            <?php } ?>
        </select>
        <?php } else { ?>
        <ul id="appartmentsTypes-list">
            <?php foreach($this->appartmentsTypes as $appartmentTypeId => $appartmentType) { ?>
                <li>
                    <input type="text" value="<?php echo $appartmentType['count']; ?>" at="<?php echo $appartmentTypeId; ?>" class="appartmentsTypes-count" maxlength="2"/>
                    <label><?php echo $appartmentType['title']; ?></label>
                </li>
            <?php } ?>
        </ul>
        <?php } ?>

    </div>

    <div class="reserve-row">
        <label for="bookingAdults"><?php echo $this->translate('adults'); ?><em>*</em></label>
        <div class="input"><input type="text" placeholder="Кол-во взрослых" id="bookingAdults" maxlength="2" value="<?php echo $this->model->adults; ?>"></div>
    </div>

    <div class="reserve-row">
        <label for="bookingChildren"><?php echo $this->translate('children'); ?></label>
        <div class="input"><input type="text" placeholder="Кол-во детей" id="bookingChildren" maxlength="2" value="<?php echo $this->model->children; ?>"></div>
    </div>

    <div class="reserve-row">
        <label for="bookingFirstName"><?php echo $this->translate('name'); ?></label>
        <div class="input"><input type="text" placeholder="текст" id="bookingFirstName" maxlength="32" value="<?php echo $this->model->firstName; ?>"></div>
    </div>

    <div class="reserve-row">
        <label for="bookingLastName"><?php echo $this->translate('lastName'); ?></label>
        <div class="input"><input type="text" placeholder="текст" id="bookingLastName" maxlength="32" value="<?php echo $this->model->lastName; ?>"></div>
    </div>

    <div class="reserve-row">
        <label for="bookingEmail"><?php echo $this->translate('email'); ?><em>*</em></label>
        <div class="input"><input type="text" placeholder="текст" id="bookingEmail" class="required email" maxlength="32" value="<?php echo $this->model->email; ?>"></div>
    </div>

    <div class="reserve-row">
        <label for="bookingPhone"><?php echo $this->translate('phone'); ?><em>*</em></label>
        <div class="input"><input type="text" placeholder="текст" id="bookingPhone" maxlength="32" value="<?php echo $this->model->phone; ?>"></div>

    </div>
    <?php echo $this->translate('example'); ?>: +38044ХХХХХХХ

    <div class="reserve-row">
        <label for="bookingComment"><?php echo $this->translate('comment'); ?></label>
        <textarea rows="5" cols="16" id="bookingComment" class="round"><?php echo $this->model->comment; ?></textarea>

    </div>

    <div class="grey-border-solid"></div>

    <ul id="bookingPrepayment">
        <?php foreach($this->model->prepaymentTypes as $prepaymentType) { ?>
        <li>
            <input type="radio" name="pay" value="<?php echo $prepaymentType->id; ?>" <?php if($prepaymentType->selected) echo "checked='true'"; ?>/>
            <?php echo $prepaymentType->name; ?> +<?php echo $prepaymentType->cost_modifier; ?>$
        </li>
        <?php } ?>
    </ul>

    <div class="grey-border-solid"></div>

    <ul id="bookingOptions">
        <?php foreach($this->model->options as $option) { ?>
        <li>
            <input type="checkbox" value="<?php echo $option->id; ?>" name="bookingOption" <?php if ($option->selected) echo"checked='true'"; ?> />
            <?php echo $option->title; ?> +<?php echo $option->cost; ?>$
        </li>
        <?php } ?>

    </ul>

    <div class="grey-border-solid"></div>

    <div class="b-booking-price">
        <span class="bookingPriceLabel"><?php echo $this->translate('cost'); ?>: </span>
        <span id="bookingDayPrice" class="bookingPrice"><?php echo $this->model->price; ?></span> <?php echo $this->currencyName; ?>/ <?php echo $this->translate('forADay'); ?>&nbsp;
        <span id="bookingPrice" class="bookingPrice"><?php echo $this->model->price; ?></span> <?php echo $this->currencyName; ?>/ <?php echo $this->translate('forWholeTerm'); ?>
    </div>

    <input type="hidden" id="appartmentId" value="<?php echo $this->appartmentId; ?>"/>



    <div class="reserve-form-btn-row">
        <button id="bookingBtn"><?php echo $this->translate('doBooking'); ?></button>
    </div>
    <div id="bookingPaymentBlock"></div>
</div>

<script type="text/javascript">
    $(function() { hotelBookingFormInit(); });
</script>