<div id="questions">        
    <h2><?php echo $this->translate('addQuestion'); ?></h2>
    <input type="text" id="questions_name" value="<?php echo $this->translate('enterName'); ?>"/>
    <input type="text" id="questions_email" value="<?php echo $this->translate('enterEmail'); ?>"/>
    <textarea id="questions_message"><?php echo $this->translate('enterQuestion'); ?></textarea>
    <button onclick="sendQuestion();">Отправить ваш вопрос</button>
    <div id="prevQuestions"></div>
</div>
