<div class="slider-booking">
    <div class="wrapper">

        <div>
            <ul>
                <li>
                    <label class="reserve-label" for="arriveDate"><?php echo $this->translate('arrive'); ?></label>
                    <i class="fa fa-calendar-plus-o"></i>
                        <input type="text" id="arriveDate" name="checkin" placeholder="<?php echo $this->translate('arrive'); ?>" class="datepicker" required="" value="<?=($this->model->arrival) ? $this->model->arrival :
                   date('d.m.Y', mktime(0, 0, 0, date('m')  , date('d'), date('Y'))); ?>">
                </li>
                <li>
                    <label class="reserve-label" for="departureDate"><?php echo $this->translate('departure'); ?></label><br>
                    <i class="fa fa-calendar-plus-o"></i>
                    <input type="text" id="departureDate" name="checkout" placeholder="<?php echo $this->translate('departure'); ?>" class="datepicker" required="" value="<?=($this->model->departure) ? $this->model->departure :
                   date('d.m.Y', mktime(0, 0, 0, date('m')  , date('d')+1, date('Y'))); ?>">
                </li>
                <li>
                    <i class="fa fa-caret-down"></i>
                    <label class="reserve-label" for="adults"><?=$this->translate('adults'); ?></label><br />
                    <select name="adults" id="adults" required="">
                        <!--<option value=""><?=$this->translate('adults'); ?></option>-->
                        <?php if(isset($_SESSION['bookingBasicData']['adults'])): ?>
                        <?php $adults = $_SESSION['bookingBasicData']['adults']; ?>
                        <?php for($i=1; $i <= $this->maxAdults; $i++): ?>
                        <?php if($i == $adults): ?>
                        <option value="<?=$i;?>" ><?=$i;?></option>
                        <?php endif;?>
                        <?php if($i != $adults): ?>
                        <option value="<?=$i;?>"><?=$i;?></option>
                        <?php endif;?>
                        <?php endfor; ?>
                        <?php endif; ?>
                        <?php if(!isset($_SESSION['bookingBasicData']['adults'])): ?>
                        <?php for($i=1; $i<= $this->maxAdults; $i++): ?>
                        <option value="<?=$i;?>" <?=$i == 2 ? 'selected' : ''?> >
                        <?=$i;?>
                        </option>
                        <?php endfor; ?>
                        <?php endif; ?>
                    </select>
                </li>
                <li>
                    <label class="reserve-label" for="children"><?=$this->translate('children'); ?></label><br />
                    <i class="fa fa-caret-down"></i>
                    <select name="childrens" id="children" required="">
                        <?php if(isset($_SESSION['bookingBasicData']['children'])): ?>
                        <?php $children = $_SESSION['bookingBasicData']['children']; ?>
                        <?php for($i=0; $i<= $this->maxChildren; $i++): ?>
                        <?php if($i == $children): ?>
                        <option value="<?=$i;?>" selected='selected'><?=$i;?></option>
                        <?php endif;?>
                        <?php if($i != $children): ?>
                        <option value="<?=$i;?>"><?=$i;?></option>
                        <?php endif;?>
                        <?php endfor; ?>
                        <?php endif; ?>
                        <?php if(!isset($_SESSION['bookingBasicData']['children'])): ?>
                        <?php for($i=0; $i<= $this->maxChildren; $i++): ?>
                        <option value="<?=$i;?>"><?=$i;?></option>
                        <?php endfor; ?>
                        <?php endif; ?>
                    </select>
                </li>
                <li>
                    <label class="reserve-label for_button_form" for="children">temp</label><br />
                    <button id="btnRoomSearch" type="submit" class="btn" onclick="hotel.roomSearch()">
                        <?php echo $this->translate('search_numbers'); ?>
                    </button>
                </li>

            </ul>
        </div>
        <div class="reserve-btn-row">
            <button id="btnAddQuestion"><?php echo $this->translate('addQuestion'); ?></button>
            <button id="btnFeedback"><?php echo $this->translate('keepFeedback'); ?></button>
        </div>
        <div class="reserve-btn-row">
            <!--<button id="btnRoomSearch" onclick="hotel.roomSearch()">-->
                <!--<span><?php echo $this->translate('search_numbers'); ?></span>-->
            <!--</button>-->
        </div>

    </div>
</div>
<!--<div class="reserv-line"></div>
<div class="reserveTitle"><?php echo $this->translate('booking'); ?></div>
<div class="reserv-line"></div>-->


<script type="text/javascript">
//    var arriveDate = jQuery('#arriveDate').val();
//    var departureDate = jQuery('#departureDate').val();
//    if(arriveDate && departureDate)
//    {
//        jQuery('#btnRoomSearch').addClass('green');
//    }
//    else
//    {
//        jQuery('#btnRoomSearch').removeClass('green');
//    }
</script>