<?php
     $i = 0;
     foreach( $this->items as $item ) {
        $unique_class_name = 'home_single_popup' . $i;
        $single_images = $item->images;


        ?>
<div class="section">
    <div class="wrapper-inner">
        <!-- Rooms List -->
        <div class="widget-rooms-list">

            <div class="rooms-item room_list_item">
                <div class="item-photo">
                    <?php if ( isset( $item->images[0] ) ) { ?>
                        <a href="#<?php echo $unique_class_name ?>" class="open-popup-link"><img src="<?php echo $item->images[0] ?>"/></a>
                    <?php } ?>
                </div>
                <div class="item-desc">

                    <h2><a href="#<?php echo $unique_class_name ?>" class="open-popup-link"><?php echo $item->title; ?></a><button class="button_calendar" onclick="roomtypes.showPriceCalendar(<?=$item->id?>)">
                        &nbsp;<?=$this->translate('priceCalendar')?>
                    </button></h2>
                    <input type="hidden" class="calendar-input" id="priceCalendar_<?=$item->id;?>" style="margin: 0 auto;">
                    <!--<p> <?php echo $item->description; ?></p>-->
                    <div class="desc-features">
                        <div class="room_list_features">

                        </div>

                        <script>
                            var typeId = <?=$item->id?>;
                            $.ajax({
                                url: 'ajax.php',
                                data: {
                                    controller: 'villa.module.hotel.controller.roomtypes',
                                    action: 'getEquipment',
                                    type_id: typeId
                                },
                                success: function(response) {
                                    $('.room_list_features').eq(<?=$i?>).html(response.html);
//                                    alert(response.html);
                                    console.log(response.html);
                                }
                            });
                        </script>
                        <p class="comment">
                            *<?=$this->translate('roomTypesNote')?> <a href="./"><?=$this->translate('roomTypesNoteLink')?></a>.
                        </p>
                        <!--<button onclick="roomtypes.showEquipment(<?=$item->id?>)">-->
                            <!--<span><?=$this->translate('roomEquipment')?></span>-->
                        <!--</button>-->
                    </div>
                </div>
                <div class="item-price">
                    <div class="price-inner">
                        <!--<i class="fa fa-star"></i>-->
                        <!--<h3>$ 680.00</h3>-->
                        <!--<h4>$ 760.00</h4>-->
                        <!--<h5>PER NIGHT</h5>-->

                        <table class="prepayment price_list">
                            <?php foreach($this->prepayment as $type) {?>
                            <td colspan="5"><?php echo $type->name; ?></td>
                            <tr>
                                <td class="old-cost"><?=$this->curPrices[$item->id][$type->id]['displayed']; ?>&nbsp;<?php echo $this->currency['reduction']; ?></td>
                                <td class="new-cost"><?=$this->curPrices[$item->id][$type->id]['standard']; ?>&nbsp;<?php echo $this->currency['reduction']; ?></td>
                            </tr>
                            <?php }?>
                        </table>
                        <!--<a href="#<?php echo $unique_class_name ?>" class="btn room_detailed open-popup-link">ROOM DETAIL</a>-->

                    </div>
                </div>
            </div>

        </div>
        <div id="<?php echo $unique_class_name ?>" class="home_single_popup mfp-hide">
            <div class="wrapper-inner">
                <div class="widget-rooms-detail">
                    <div class="widget-inner">
                        <div class="row">
                            <div class="col-md-12">
                                <!-- Room Slider -->
                                <div class="room-slider">
                                    <!--<div class="room-price">$ 160.00 <small>PER NIGHT</small></div>-->
                                    <div class="owl-carousel owl-theme owl-type1">
                                        <?php
                                                            foreach( $item->images as $img ) {
                                        echo '<a data-background="' . $img . '" title="Single Room"></a>';
                                        }
                                        ?>

                                    </div>
                                </div>
                                <!-- Room Slider End -->
                                <!-- Room Thumbnails -->
                                <div class="room-thumbnails">
                                    <div class="owl-carousel">
                                        <?php
                                                            foreach( $item->images as $img ) {
                                        echo '<a href="#" data-background="' . $img . '" title="Single Room"></a>';
                                        }
                                        ?>
                                    </div>
                                </div>
                                <!-- Room Thumbnails End -->
                                <!-- Room Description -->
                                <div class="room-desc">
                                    <h5>ROOM DESCRIPTION</h5>
                                    <?php echo $item->description ?>
                                </div>
                                <!-- Room Description End -->
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Rooms List End -->
        <!-- Pager -->
        <!--<div class="widget-pager">-->
            <!--<ul>-->
                <!--<li><a href="#">1</a></li>-->
                <!--<li class="active"><a href="#">2</a></li>-->
                <!--<li><a href="#">3</a></li>-->
                <!--<li><a href="#">4</a></li>-->
            <!--</ul>-->
        <!--</div>-->
        <!-- Pager End -->
    </div>
</div>
<?php
$i++;
}?>


<!--<ul id="numbers">-->
    <!--<?php foreach($this->items as $item) {?>-->
    <!--<li class="number-item">-->
        <!--<h3><?php echo $item->title; ?></h3>-->
        <!--<ul class="img-list <?=count($item->images) > 5 ? 'scrollable' : ''?>">-->
            <!--<?php foreach($item->images as $url) {?>-->
            <!--<li onclick="roomtypes.viewImages(event);"><img src="<?php echo $url?>"/></li>-->
            <!--<?php }?>-->
        <!--</ul>-->
        <!--<div class="descript"><?php echo $item->description; ?></div>-->
        <!--<table class="prepayment">-->
            <!--<?php foreach($this->prepayment as $type) {?>-->
            <!--<tr>-->
                <!--<td class="type"><?php echo $type->name; ?></td>-->
                <!--<td class="old-cost"><?=$this->curPrices[$item->id][$type->id]['displayed']; ?>&nbsp;<?php echo $this->currency['reduction']; ?></td>-->
                <!--<td class="new-cost"><?=$this->curPrices[$item->id][$type->id]['standard']; ?>&nbsp;<?php echo $this->currency['reduction']; ?></td>-->
            <!--</tr>-->
            <!--<?php }?>-->
        <!--</table>-->
        <!--<input type="hidden" class="calendar-input" id="priceCalendar_<?=$item->id;?>">-->
        <!--<button onclick="roomtypes.showPriceCalendar(<?=$item->id?>)">-->
            <!--<span>-->
                <!--<span class="calend-icon">&emsp;&emsp;</span>-->
                <!--&nbsp;<?=$this->translate('priceCalendar')?>-->
            <!--</span>-->
        <!--</button>-->
        <!--<button onclick="roomtypes.showEquipment(<?=$item->id?>)">-->
            <!--<span><?=$this->translate('roomEquipment')?></span>-->
        <!--</button>-->
        <!--<p class="comment">-->
            <!--*<?=$this->translate('roomTypesNote')?> <a href="javascript:roomtypes.goToTop();"><?=$this->translate('roomTypesNoteLink')?></a>.-->
        <!--</p>-->
    <!--</li>-->
    <!--<?php }?>-->
    <li class="number-item">
        <div style="display: none;">
            <div id="roomEquipment" class="b-modal villa-modal-form">
                <div class="b-modal_close arcticmodal-close"></div>
                <div class="modal-body"></div>
            </div>
        </div>
        <!--<?=$this->infoblock;?>-->
    </li>
<!--</ul>-->
<script>
    $('.open-popup-link').magnificPopup({
        type: 'inline'
    });
    roomtypes.prices = <?=json_encode($this->prices);?>;
    roomtypes.prepTypes = [
        <?php $i=0; foreach($this->prepayment as $type){
            echo '{id:'.$type->id.', name:"'.$type->name.'"}';
            $i++;
            if($i < count($this->prepayment)) echo ', ';
        }?>
    ];

    roomtypes.priceCalendarInit();
</script>