
<div id="reserve_conent" class="reserve_conent">
    <form id="reserv_form">
        <div class="wrapper-inner">
        <div id="search_rules" class="search_rules">

                <?=$this->translate('arriveDate')?>:<b class="value"><?=$this->arriveDate;?></b>
                <?=$this->translate('departureDate')?>:<b class="value"><?=$this->departureDate;?></b>
                <?=$this->translate('numberOfNights')?>:<b class="value"><?=$this->days;?></b>

        </div>
        <div class="caption">

            <?=$this->translate('chooseRoomAndPrepayment')?>:

        </div>
        </div>
        <div id="reserve_list">
            <?php
             $i = 0;
            foreach($this->items as $item):
            $unique_class_name = 'home_single_popup' . $i;
            $single_images = $item->images;


            ?>

            <div class="section booking_item">
                <input style="display: none" type="radio" name="type_id" value="<?=$item->id;?>">
                <div class="wrapper-inner">
                    <!-- Rooms List -->
                    <div class="widget-rooms-list">
                        <div class="rooms-item">
                            <div class="item-photo">
                                <?php if ( isset( $item->images[0] ) ) { ?>
                                    <a href="#<?php echo $unique_class_name ?>" class="open-popup-link"><img src="<?php echo $item->images[0] ?>"/></a>
                                <?php } ?>

                            </div>
                            <div class="item-desc">
                                <h2> <?=$item->title;?></h2>
                                <!--<p><?=$item->description; ?></p>-->
                                <div class="pay_type">
                                    <div class="caption">
                                        <?=$this->translate('choosePrepayment')?>:
                                    </div>
                                    <ul class="price_list">
                                        <?php foreach($this->prepaymentTypes as $cur):
                                        if($this->prices[$item->id][$cur->id]['disabled']) continue;?>
                                        <li>
                                            <div class="prepayment_name"><?=$cur->name;?></div>
                                            <div class="standart_cost">
                                                <?=$this->prices[$item->id][$cur->id]['displayed'];?>
                                                <?=$this->currency['reduction'];?>
                                            </div>
                                            <div class="real_cost">
                                                <b class="price_<?=$cur->id;?>">
                                                    <?=$this->prices[$item->id][$cur->id]['standard'];?>
                                                </b> <?=$this->currency['reduction'];?>
                                            </div>
                                            <?php
                                              $selected = '';
                                              if($this->roomData)
                                               {
                                                  if($item->id == $this->roomData->type_id && $cur->id == $this->roomData->prepayment)
                                                  {
                                                  $selected = 'selected';
                                                   }
                                               }
                                            ?>

                                            <div class="radio_button <?=$selected;?>">
                                                <input type="radio" name="prepayment" value="<?=$cur->id;?>">
                                                <input type="hidden" class="room-price-day"
                                                       value="<?=$this->prices[$item->id][$cur->id]['standard'];?>"/>
                                            </div>
                                            <div class="info_button"></div>
                                        </li>
                                        <?php endforeach; ?>
                                    </ul>
                                    <span class="comment">
                                             (<?=$this->translate('priceComment')?>)
                                     </span>
                                </div>
                            </div>
                            <div class="item-price">
                                <div class="pay_result">
                                    <div class="price_item_text"><?=$this->translate('price')?>:</div>
                                    <div class="price_item">
                                        <b class="price_item_num">
                                            <?php $bookingPrice = 0;
                                                  if($this->roomData)
                                            {
                                            if($item->id == $this->roomData->type_id)
                                            $bookingPrice = $this->roomData->displayCost() * $this->days;
                                            }
                                            echo $bookingPrice;
                                            ?>
                                        </b>
                                        <b class="price_item_money">
                                            <?=$this->currency['reduction'];?>
                                        </b>
                                    </div>
                                </div>
                                <div class="price-inner">
                                    <button type="button" class="btn btn-check-reserve pool-right" onclick="room_search.drawBookingForm();">
                                        <span><?php echo $this->translate('checkPresence'); ?></span>
                                    </button>
                                </div>
                                <div class="item_foot">
                                    <div class="allPrice">
                                        <div class="wrap">
                                        <?=$this->translate('bookingCost')?>:
                                        </div>
                                        <b class='price_item_foot' id='num_<?=$item->id;?>'>
                                            <?=$bookingPrice; ?>
                                        </b>
                                        <b><?=$this->currency['reduction'];?></b>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Rooms List End -->

                </div>
            </div>
            <div id="<?php echo $unique_class_name ?>" class="home_single_popup mfp-hide">
                <div class="wrapper-inner">
                    <div class="widget-rooms-detail">
                        <div class="widget-inner">
                            <div class="row">
                                <div class="col-md-8">
                                    <!-- Room Slider -->
                                    <div class="room-slider">
                                        <!--<div class="room-price">$ 160.00 <small>PER NIGHT</small></div>-->
                                        <div class="owl-carousel owl-theme owl-type1">
                                            <?php
                                                            foreach( $item->images as $img ) {
                                            echo '<a data-background="' . $img . '" title="Single Room"></a>';
                                            }
                                            ?>

                                        </div>
                                    </div>
                                    <!-- Room Slider End -->
                                    <!-- Room Thumbnails -->
                                    <div class="room-thumbnails">
                                        <div class="owl-carousel">
                                            <?php
                                                            foreach( $item->images as $img ) {
                                            echo '<a href="#" data-background="' . $img . '" title="Single Room"></a>';
                                            }
                                            ?>
                                        </div>
                                    </div>
                                    <!-- Room Thumbnails End -->
                                    <!-- Room Description -->
                                    <div class="room-desc">
                                        <h5>ROOM DESCRIPTION</h5>
                                        <?php echo $item->description ?>
                                    </div>
                                    <!-- Room Description End -->
                                </div>
                                <div class="col-md-4">
                                    <!-- Room Features -->
                                    <div class="room-features room_features_eq">

                                    </div>
                                    <!-- Room Features End -->
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <script>
                var typeId = <?=$item->id?>;

                $.ajax({
                    url: 'ajax.php',
                    data: {
                        controller: 'villa.module.hotel.controller.roomtypes',
                        action: 'getEquipment',
                        type_id: typeId
                    },
                    success: function(response) {
                        $('.home_single_popup .room_features_eq').eq(<?=$i?>).html(response.html);
                        console.log(response);

                    }
                });
            </script>
            <?php
               $i++;
            endforeach; ?>
        </div>
    </form>
</div>

<script>
    $('.open-popup-link').magnificPopup({
        type: 'inline'
    });
    room_search.days = <?=$this->days;?>;
    $('#reserve_list .radio_button').click(function(){
        room_search.changeBookingRadio(this);
    });

    if($('.radio_button').is('.selected'))
    {
        jQuery('.btn-check-reserve').addClass('active');
    }
</script>