#pageEditorTable
{
    max-width: 983px;
    margin: 0 auto;
}
#pageLangId
{
    margin: 0;
}

#pageTitle
{
    width: 98%;
}

.title
{
    border-radius: 3px;
}

#seoTitle, #seoDescription, #seoKeywords
{
    width: 99%;
    resize: vertical;
}

#editImagesModal
{
    margin-left: -46%;
    width: auto;
}

#editHomePageImages img
{
    max-height: 90px;
    max-width: 117px;
    vertical-align: middle;
}
.imgContainer
{
    background: none repeat scroll 0 0 #FFFFFF;
    border: 5px solid #FFFFFF;
    box-shadow: 0 0 6px #000000;
    cursor: pointer;
    float: left;
    height: 90px;
    line-height: 90px;
    margin: 10px 17px;
    text-align: center;
    width: 117px;
}

