<div class="clear-block " style="background: url(template/default/images/_r2_c3.jpg) top center repeat-y; width: 1198px; text-align: center; margin: 0px auto;">
    <div style="background: url(template/default/images/_r2_c4.jpg) top center no-repeat; width: 1198px; text-align: center;">
    <div style="width: 1170px; height: 24px; background: url(template/default/images/bucket-3.6.2_r2_c2.jpg) no-repeat left; text-align: center; padding-top: 15px; margin-left: 15px;" >
        <div style="width: 1170px; height: 19px; background: url(template/default/images/bucket-3.6.2_r2_c3.jpg) no-repeat right;" ></div>
    </div>

    <div colspan="3" align="center" style="font-size: 20px; color: #5F492B;">
        У Вас в корзине
        <b style="color: black;"><?php echo $this->cart->getCount(); ?></b>
        товаров на сумму
        <b style="color: red;"><?php echo $this->cart->getTotal(); ?></b> грн
    </div>

<ul class="lscatalog-container container">

<?php foreach($this->cart->items as $item) { ?>
<li class="lscatalog-good">
    <div class="lscatalog-good" id="lscart-good-196"><div class="lscatalog-spacer">
        <div class="lscatalog-image" id="lscatalog-image-3D-007">

            <noscript>
                <img src="template/default/images/1555_s.jpg" alt="" title="" class="picture" />
            </noscript>
            <script type="text/javascript">document.write(
                    '<input type="hidden" value="template/default/images/1555_s.jpg" class="lsimg-loader" />' +
                            '<img src="template/default/images/0_s.jpg" alt="" title="" class="picture" />' ); </script>
            <img src="template/default/images/good-glowframe.png" alt="" title="" class="frame ietransparent" />
	  <span class="lscatalog-code"><!--[if IE]><span class="lscatalog-code-ieshadow"><?php echo $item['code']; ?></span><![endif]-->
          <span><?php echo $item['code']; ?></span></span>

        </div>

        <div class="lscatalog-descr lscart-descr">
            <span class="middle"></span><span class="left"></span><span class="right"></span>
		  <span class="content">
		    <input type="hidden" class="lscart-item-wgid" name="lscart-item-wgid-196" value="196" />
		    <input type="hidden" id="lscart-item-price-196" value="1250" />
		    <span class="price">цена: <span class="lscart-emph"><?php echo $item['price']; ?></span> грн</span>
		    <span class="amount">
		      <input type="number" id="lscart-item-amount-196" name="lscart-item-amount-196"
                     value="<?php echo $item['quantity']; ?>" maxlength="2" min="0" max="99"
                     onchange="lscartRecalculate();" /> шт.</span>
		    <span class="cost">= <span class="lscart-emph"
                                       id="lscart-item-cost-196" ><?php echo $item['sum']; ?></span> грн</span>
		    <span class="del"><a rel="nofollow" class="noborder" onclick="cart.remove('<?php echo $item['productId']; ?>');"><img src="template/default/images/del_button.png" alt="Удалить" title="Удалить" width="24" height="24" class="ietransparent" /></a></span>
		  </span>
        </div>
        <div class="lscatalog-types lscart-types">
		  <span class="wrapper">
                          <span class="middle"><!--[if lt IE 7]><img src="template/default/images/catalog-ie.png" alt="" title="" width="390" height="200" class="ietransparent" /><![endif]--></span>
			  <span class="left"></span>
                          <span class="right"></span>
                          <span class="bottom"></span>
		  </span>
                <span class="content">
                    <table class="lscatalog-subtypes" border="0">
                        <tr>
                            <td align="center" style="color: #54412E; font-size: 16px;">
                                Шёлковый жаккард с шёлковой вышивкой<br>
                                <b>семейное</b>
                            </td>
                        </tr>
                    </table>
                </span>
        </div>

    </div></div>
</li>

<?php } ?>


</ul>

<div colspan="3" align="center" style="font-size: 20px; color: #2F1D0B;">
    Итого сумма =
    <b style="color: red; font-size: 22px;"><?php echo $this->cart->getTotal(); ?></b>
    грн
    &nbsp;
    <img src="template/default/images/bucket-3.6.2_r4_c5.jpg" style="height: 25px; width: 103px;">
</div>

<img src="template/default/images/bucket-3.6.2_r4_c4.jpg" style="height: 25px; width: 180px;">
<div style="height: 10px;"></div>
</div>
</div>