<!-- categories_preview -->
<?php foreach($this->categories as $category) { ?>
<li>
    <a href="URL"><img src="meidia/<?php echo $category->image; ?>" alt="<?php echo $category->name; ?>"/></a>
    <div class="detail"><a href="<?php echo $category->url; ?>">подробнее >></a></div>
    <h2><a href="URL"><?php echo $category->name; ?></a></h2>
</li>
<?php } ?>
<!-- /categories_preview -->