<!-- BEGIN categories-->
<div id="block-views-groups-block" class="clear-block block block-views">
    <div class="content">
        <div class="view view-groups view-id-groups view-display-id-block goodgroups view-dom-id-2">
            <div class="view-content">
                <div class="item-list">
                    <div class="view view-groups view-id-groups view-display-id-block goodgroups view-dom-id-2">
                        <div class="view-content">
                            <div class="item-list">
                                <ul>

                                    <?php foreach($this->categories as $category) { ?>
                                    <li class="views-row views-row-1 views-row-odd views-row-first">
                                        <span class="middle"></span>
                                        <span class="left"></span>
                                        <span class="right"></span>
                                        <span class="shadow"></span>
                                        <span class="content"><a href="<?php echo $category->url; ?>"><h2><?php echo $category->name; ?></h2></a></span>
                                    </li>
                                    <?php } ?>


                                </ul>
                            </div>
                        </div>
                    </div></div></div></div></div></div>
<!-- END categories-->