<script type="text/javascript">if (window.narrowScreen) { document.write('<div class="narrowscreen">'); }</script>

<div id="lscart-checkout" class="dynamic-1200">
    <div class="lscart-checkout-form">
        <form action="/cart/checkout"  accept-charset="UTF-8" method="post" id="lscart-checkout-form">
            <div><fieldset><div class="form-item" id="edit-last-name-wrapper">
                <label for="edit-last-name">Фамилия: </label>
                <input type="text" maxlength="50" name="last_name" id="edit-last-name" size="40" value="" class="form-text" />
            </div>
                <div class="form-item" id="edit-first-name-wrapper">
                    <label for="edit-first-name">Имя: <span class="form-required" title="Обязательно для заполнения.">*</span></label>
                    <input type="text" maxlength="50" name="first_name" id="edit-first-name" size="40" value="" class="form-text required" />
                </div>
                <div class="form-item" id="edit-middle-name-wrapper">
                    <label for="edit-middle-name">Отчество: </label>
                    <input type="text" maxlength="50" name="middle_name" id="edit-middle-name" size="40" value="" class="form-text" />
                </div>
                <div class="form-item" id="edit-country-wrapper">
                    <label for="edit-country">Страна: <span class="form-required" title="Обязательно для заполнения.">*</span></label>
                    <input type="text" maxlength="50" name="country" id="edit-country" size="40" value="" class="form-text required" />
                </div>
                <div class="form-item" id="edit-city-wrapper">
                    <label for="edit-city">Город: <span class="form-required" title="Обязательно для заполнения.">*</span></label>
                    <input type="text" maxlength="50" name="city" id="edit-city" size="40" value="" class="form-text required" />
                </div>
                <div class="form-item" id="edit-address-wrapper">
                    <label for="edit-address">Адрес: <span class="form-required" title="Обязательно для заполнения.">*</span></label>
                    <input type="text" maxlength="100" name="address" id="edit-address" size="40" value="" class="form-text required" />
                </div>
                <div class="form-item" id="edit-phone-wrapper">
                    <label for="edit-phone">Телефон: <span class="form-required" title="Обязательно для заполнения.">*</span></label>
                    <input type="text" maxlength="15" name="phone" id="edit-phone" size="40" value="" class="form-text required" />
                </div>
                <div class="form-item" id="edit-mail-wrapper">
                    <label for="edit-mail">Адрес e-mail: </label>
                    <input type="text" maxlength="64" name="mail" id="edit-mail" size="40" value="" class="form-text" />
                </div>
                <div class="form-item" id="edit-subscribe-wrapper">
                    <label class="option" for="edit-subscribe"><input type="checkbox" name="subscribe" id="edit-subscribe" value="1"  checked="checked"  class="form-checkbox" /> Подписаться на новости</label>
                </div>
                <div class="form-item" id="edit-last-comment-wrapper">
                    <label for="edit-last-comment">Комментарии: </label>
                    <textarea cols="40" rows="5" name="last_comment" id="edit-last-comment"  class="form-textarea resizable"></textarea>
                </div>
            </fieldset>
                <input type="submit" name="op" id="edit-submit" value="Оформить заказ &gt;&gt;"  class="form-submit" />
                <input type="hidden" name="form_build_id" id="form-6569087e9ace1b3a058b355991dc0d64" value="form-6569087e9ace1b3a058b355991dc0d64"  />
                <input type="hidden" name="form_id" id="edit-lscart-checkout-form" value="lscart_checkout_form"  />

            </div></form>
    </div>

    <div class="lscart-checkout-items">
        <table>
            <tbody>

            <?php foreach($this->cart->items as $index=>$item) { ?>
            <!-- even -->
            <?php if ($index % 2 == 0) $style = 'odd'; else $style='even'; ?>
            <tr class="<?php echo $style; ?>"><td class="imgtd">
                <div>
                    <a href="product/<?php echo $item['code'];?>/" class="noborder lsgood-link" onclick="return lsgoodPopup(this, '3D-007', 1605);">
                    <img class="" src="media/products/<?php echo $item['image'];?>" alt="3D-007" title="3D-007" width="60px" height="48px">
                    <img class="frame ietransparent" src="http://new.lascala.ua/sites/default/themes/lascala/images/glowicon.png" alt="" title="" width="60px" height="48px">
                </a></div>
            </td><td class="nowrap"><?php echo $item['code'];?></td><td><?php echo $item['name'];?></td><td>семейное</td><td class="nowrap"><?php echo $item['price'];?> грн</td><td class="nowrap">x <?php echo $item['quantity'];?></td><td class="nowrap">= <?php echo $item['sum'];?> грн</td> </tr>
            <?php } ?>



            <tr class="table-footer odd"><td colspan="7">Итого сумма = <?php echo $this->cart->getTotal(); ?> грн</td> </tr>
            </tbody>
        </table>
    </div>
</div>
<script type="text/javascript">if (window.narrowScreen) { document.write('</div>'); }</script>