<div class="view view-catalog view-id-catalog view-display-id-page_1 lscatalog view-dom-id-1">
    <div class="view-content">
        <h1><a href="http://new.lascala.ua/natural_silk" class="active">шёлк натуральный 100%</a></h1>
        <ul class="lscatalog-container container">

            <?php foreach($this->products as $product) { ?>
            <li class="lscatalog-good"><div class="lscatalog-spacer">
                <div class="lscatalog-image">
                    <a href="http://new.lascala.ua/good/SH-001" class="noborder lsgood-link"
                       onclick="">
                        <noscript>
                            <img src="media/products/<?php echo $product->images[0]; ?>" alt="" title="" class="picture" />
                        </noscript>
                        <script type="text/javascript">document.write(
                                '<input type="hidden" value="media/products/<?php echo $product->images[0]; ?>" class="lsimg-loader" />' +
                                        '<img src="http://new.lascala.ua/images/0_s.jpg" alt="" title="" class="picture" />' ); </script>
                        <img src="template/default/images/good-glowframe.png" alt="" title="" class="frame ietransparent" />
            <span class="lscatalog-code"><!--[if IE]><span class="lscatalog-code-ieshadow"><?php echo $product->code; ?></span><![endif]-->
                <span><?php echo $product->code; ?></span></span>
                    </a>
                </div>
                <div class="lscatalog-types">
            <span class="wrapper">
                  <span class="middle"><!--[if lt IE 7]><img src="template/default/images/catalog-ie.png" alt="" title="" width="390" height="200" class="ietransparent" /><![endif]--></span>
                  <span class="left"></span><span class="right"></span><span class="bottom"></span>
            </span>
            <span class="content">
                <table class="lscatalog-subtypes">
                    <tr>
                        <td class="lscatalog-subtype-name spacer"><a href="#" class="noborder" onclick="return false;">
                            <span class="lscatalog-subtype-name">двойное</span></a>
                        </td>
                        <td class="lscatalog-subtype-price-discount"></td>
                        <td class="lscatalog-subtype-price"><?php echo $product->price; ?></td>
                        <td class="lscatalog-subtype-buy"><a href="/cart/add/536/SH-001/1541/1?destination=catalog%2F17" rel="nofollow" onclick="return lscartAddToCartFromCatalog(this);">купить</a> / <a href="/cart/add/536/SH-001/1541/0?destination=catalog%2F17" rel="nofollow" onclick="return lscartAddToCartFromCatalog(this);">сравнить</a></td>
                        <td class="lscatalog-subtype-cart"><a href="/cart/add/536/SH-001/1541/1?destination=catalog%2F17" rel="nofollow" class="noborder" onclick="return lscartAddToCartFromCatalog(this);"><img src="template/default/images/add.gif" alt="Add to cart" title="" width="20" height="16" /></a></td>
                    </tr>
                </table>
            </span>
                </div>
            </div></li>
            <?php } ?>

        </ul>
    </div>

    <!--- end! ----------------------->





</div>
