<script>
    var img_small_perw_count = 6;
    var draw_img_small_perw_cur=0;
    var product_img_dir = 'media/products/';
    var img_small_perw_array = [
        <?php foreach($this->images as $index=>$image) { ?>
            ['<?php echo $image['image']; ?>','<?php echo $image['code']; ?>'],
        <?php } ?>
        /*['1509_s.jpg','code1'],
        ['1521_s.jpg','code2'],
        ['1555_s.jpg','code3'],
        ['1650_s.jpg','code4'],
        ['1509_s.jpg','code1'],
        ['1521_s.jpg','code2'],
        ['1555_s.jpg','code3'],
        ['1650_s.jpg','code4']*/
    ];
</script>

<div id="lsfp-bottom-line"></div>
<div class="clear-block dynamic-1200">
    <table border="0" cellpadding="0" cellspacing="0" style="width: 100%;">
        <tr><td align="center" style="width:100%;">
            <div class="lscatalog-image-big">
                <a class="noborder lsgood-link">
                    <div id="product_image_big"><img src="media/products/<?php echo $this->product->images[0]; ?>" alt="" title="" class="picture" /></div>
                    <img src="template/default/images/good-glowframe.png" alt="" title="" class="frame ietransparent" />
                <span class="lscatalog-code-big"><!--[if IE]><span class="lscatalog-code-ieshadow"><?php echo $this->product->code; ?></span><![endif]-->
                    <span id="product_code_big"><?php echo $this->product->code; ?></span></span>
                </a>
            </div>
            <div>
                <table border="0" cellpadding="0" cellspacing="0" style="width: 100%; height: 90px;">
                    <tr style="height:90px;">
                        <td align="center" style="height:90px;">
                            <table border="0" cellpadding="0" cellspacing="0" style="width: 900px; height: 90px;">
                                <tr valign="middle">
                                    <td style="width: 31px;" align="center"><img src="template/default/images/arrow-left.png" style="width: 30px; height: 86px; cursor: pointer;" onclick="draw_img_small_perw(-1);"></td>
                                    <td align="center" style="width: 120px;">
                                        <div id="img_small_perw_1"></div>
                                    </td>
                                    <td align="center" style="width: 120px;">
                                        <div id="img_small_perw_2"></div>
                                    </td>
                                    <td align="center" style="width: 120px;">
                                        <div id="img_small_perw_3"></div>
                                    </td>
                                    <td align="center" style="width: 120px;">
                                        <div id="img_small_perw_4"></div>
                                    </td>
                                    <td align="center" style="width: 120px;">
                                        <div id="img_small_perw_5"></div>
                                    </td>
                                    <td align="center" style="width: 120px;">
                                        <div id="img_small_perw_6"></div>
                                    </td>
                                    <td style="width: 30px;" align="center"><img src="template/default/images/arrow-right.png" style="width: 30px; height: 86px; cursor: pointer;" onclick="draw_img_small_perw(1);"></td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                </table>
            </div>
            <!-- prices here begin -->
            <div style="position: relative; text-align: center; display: inline-block;">
                <div style="position: relative;"></div>
                <div class="lscatalog-types-big">
            <span class="wrapper">
                <span class="middle"><!--[if lt IE 7]><img src="template/default/images/catalog-ie.png" alt="" title="" width="390" height="200" class="ietransparent" /><![endif]--></span>
                <span class="left"></span><span class="right"></span><span class="bottom"></span>
            </span>

            <span class="content">
                <table class="lscatalog-subtypes-big">
                    <tr>
                        <td class="lscatalog-subtype-name spacer"><a href="#" class="noborder" onclick="return false;">
                        <span class="lscatalog-subtype-name">
                                двойное			            </span></a></td>
                        <td class="lscatalog-subtype-price-discount"></td>
                        <td class="lscatalog-subtype-price">2850 грн</td>
                        <td class="lscatalog-subtype-buy"><a  rel="nofollow" onclick="cart.add('<?php echo $this->product->id; ?>');">купить</a> / <a href="/cart/add/545/SH-004/1664/0?destination=catalog%2F17" rel="nofollow" onclick="return lscartAddToCartFromCatalog(this);">сравнить</a></td>
                        <td class="lscatalog-subtype-cart"><a rel="nofollow" class="noborder" onclick="cart.add('<?php echo $this->product->id; ?>');"><img src="template/default/images/add.gif" alt="Add to cart" title="" width="20" height="16" /></a></td>
                    </tr>
                    <tr>
                        <td class="lscatalog-subtype-name spacer"><a href="#" class="noborder" onclick="return false;">
                        <span class="lscatalog-subtype-name">
                                семейное			            </span></a></td>
                        <td class="lscatalog-subtype-price-discount"></td>
                        <td class="lscatalog-subtype-price">3600 грн</td>
                        <td class="lscatalog-subtype-buy"><a  rel="nofollow" onclick="cart.add('<?php echo $this->product->id; ?>');">купить</a> / <a href="/cart/add/547/SH-004/1664/0?destination=catalog%2F17" rel="nofollow" onclick="return lscartAddToCartFromCatalog(this);">сравнить</a></td>
                        <td class="lscatalog-subtype-cart"><a rel="nofollow" class="noborder" onclick="cart.add('<?php echo $this->product->id; ?>');"><img src="template/default/images/add.gif" alt="Add to cart" title="" width="20" height="16" /></a></td>
                    </tr>
                </table>
            </span>
                </div>
                <div style="position: relative;"></div>
            </div>
            <!-- prices here end -->
        </td></tr></table>

</div>