/* 
    Document   : manage
    Created on : 23.02.2015, 19:26:43
    Author     : Valkyria
    Description:
        Purpose of the stylesheet follows.
*/

#editMailForm input, #editMailForm select, #editMailForm textarea
{
    margin: 0;
}

#editMailForm label
{
    font-size: 16px;
    font-weight: bold;
}

#editMailForm p
{
    line-height: 35px;
}

#editMailForm caption
{
    font-size: 11pt;
    text-transform: uppercase;
    font-style: italic;
    font-weight: bold;
    margin-top: 10px;
    margin-bottom: 10px;
}

