<? if(!$this->error){?>
<div class="alert alert-success">  
  На Ваш почтовый ящик было выслано письмо с кодом подтверждения смены пароля.<br>
  Введите проверочный код в приведенной ниже форме.
</div>
<? }else{?>
<div class="alert alert-error">
  <button type="button" class="close" data-dismiss="alert">&times;</button>
  <strong>Ошибка!</strong> <?=$this->error;?>
</div>
<? }?>
<form method="post">
    <input type="hidden" name="action" value="change">
    <input type="hidden" name="email" value="<?=$this->email;?>">
    Введите пожалуйста проверочный код присланный в письме<br/><br/>
    <input type="text" name="code"><br/><br/>
    <input type="submit" value="Отправить">
</form>