<? if(!$this->error){?>
<div class="alert alert-success">  
  Проверка пройдена.<br> 
  Введите новый пароль дважды.
</div>
<? }?>
<form method="post">
    <input type="hidden" name="action" value="setPassword">
    <input type="hidden" name="email" value="<?=$this->email;?>">
    <input type="hidden" name="code" value="<?=$this->code;?>">
    Введите новый пароль дважды<br/><br/>
    <input type="text" name="password1"><br/>    
    <input type="text" name="password2"><br/>
    <input type="submit" value="Отправить">
</form>