<? if($this->error){?>
<div class="alert alert-error">
  <strong>Ошибка!</strong> <?=$this->error;?>
</div>
<? }?>
<form id="inptEmail" method="post">
    <input type="hidden" name="action" value="send">
    Введите пожалуйста email на который нужно выслать данные для смены пароля<br/><br/>
    <input type="text" name="email" placeholder="example@domen.net"><br/><br/>
    <input type="submit" value="Отправить">
</form>