<div class="alert alert-error">  
  <strong>Процедура завершена!</strong><br>
  Пароль изменён. Через несколько секунд Вы будете перенаправлены на страницу авторизации.
  
</div>
<script>
    setTimeout(function() { location.href = "/login/" }, 4000);   
</script>