<form id="registration" onsubmit="return false;">
    <p>Для регистрации на сайте, заполните, пожалуйста, следующие поля.</p>

    <sup id="regError"></sup>
    
    <p>
        <sup>*</sup><label for="regLastName">Фамилия:</label><br/> 
        <input type="text" id="regLastName" name="regLastName"/>
        <span id="regLastNameError"></span>
    </p>

    <p>
        <sup>*</sup><label for="regName">Имя:</label><br/> 
        <input type="text" id="regName" name="regName"/>
        <span id="regNameError"></span>
    </p>

    <p>
        <sup>*</sup><label for="regMiddleName">Отчество:</label><br/> 
        <input type="text" id="regMiddleName" name="regMiddleName"/>
        <span id="regMiddleNameError"></span>
    </p>

    <p>
        <sup>*</sup><label for="regLogin">Имя пользователя:</label><br/> 
        <input type="text" id="regLogin" name="regLogin"/>
        <span id="regLoginError"></span>
    </p>


    <p>
        <sup>*</sup><label for="regEmail">E-mail:</label><br/> 
        <input type="text" id="regEmail" name="regEmail"/>
        <span id="regEmailError"></span>
    </p>


    <p>
        <sup>*</sup><label for="regPassword">Пароль:</label><br/> 
        <input type="password" id="regPassword" name="regPassword"/>
        <span id="regPasswordError"></span>
    </p>

    <p>
        <sup>*</sup><label for="regPassword2">Пароль (повторно):</label><br/> 
        <input type="password" id="regPassword2" name="regPassword2"/>
        <span id="regPassword2Error"></span>
    </p>

    <p>* - обязательные для заполнения поля</p>
   

    <button id="btnRegistration">Зарегистрироваться</button>
    
</form>
<script>
    $(function() {
        registration.init();
    });
</script>