<?php

foreach($this->list as $img) {?>

<div class="slider-item" style="max-height: 400px; overflow:hidden;background-size: cover;background-image: url('<?=Module_Slider_Helper::getFolder().$img->img_name;?>');">
    <div class="wrapper">
        <div class="item-inner">
            <h5><?php echo $this->langData[$img->id]['title'] ?></h5>
            <h1><?php echo $this->langData[$img->id]['title2'] ?></h1>
            <h2><?php echo $this->langData[$img->id]['title3'] ?></h2>
        </div>
    </div>
</div>

<?php }?>
