<form class="form-horizontal">
    <div class="control-group">
        <label class="control-label" for="categoryManageTitle">Title</label>
        <div class="controls">
            <input type="text" id="categoryManageTitle" placeholder="Введите title" value="<?php echo $this->category->title; ?>">
        </div>
    </div>
    <div class="control-group">
        <label class="control-label" for="categoryManageKeywords">Keywords</label>
        <div class="controls">
            <textarea id="categoryManageKeywords" placeholder="Введите ключевые слова"><?php echo $this->category->keywords; ?></textarea>
        </div>
    </div>
    <div class="control-group">
        <label class="control-label" for="categoryManageDescription">Description</label>
        <div class="controls">
            <textarea id="categoryManageDescription" placeholder="Введите описание"><?php echo $this->category->description; ?></textarea>
        </div>
    </div>
    <div class="control-group">
        <div class="controls">

            <button class="btn" id="saveExtInfoBtn">Сохранить</button>
        </div>
    </div>
</form>