<ul class="nav nav-tabs categoryManage">
    <li class="active"><a href="#categoryMain"  id="tab_edit">Общая информация</a></li>
    <?php if ($this->category->id > 0) { ?>
    <li><a href="#categoryExtInfo"  id="tab_description">Расширенная информация</a></li>
    <?php } ?>
</ul>

<div class="tab-content">

    <div class="tab-pane" id="categoryExtInfo">
        Расширенная информация
    </div>


    <!-- Форма дефолтной инфы -->
    <div class="tab-pane active" id="categoryMain">

<form id="editCategory" action="/manage/category/" method="post" enctype="multipart/form-data">
    <input type="hidden" name="controller" value="module.shop.controller.manage.category"> 
    <input type="hidden" name="action" value="edit">
    <input type="hidden" name="id" value="<?=$this->category->id;?>" id="categoryManageRowId">
    <table class="table" id="categoryEditor">
        <tr>
            <th style="width: 200px;">
                Название каталога
            </th>
            <td class="left" style="width: 300px;">
                <input type="text" name="name" class="handbooks" value="<?=$this->category->name;?>">
            </td>
            <th style="width: 120px;">
                URL-псевдоним 
            </th>
            <td>
                <input type="text" name="url" class="handbooks"   value="<?=$this->category->url;?>">
            </td>
        </tr>
        <tr>    
            <th>
                Позиция
            </th>
            <td>
                <input type="text" name="draw_order" class="handbooks" style="width: 65px" value="<?=$this->category->draw_order;?>">
                
            </td>
            <th>
                Родительський каталог
            </th>
            <td>
                <?=$this->combobox; ?>
            </td>
        <tr>
            <th>
                Изображение
            </th>
            <td>
                <img id="imagePreview" src="<?=Module_Shop_Helper_Shop::getCategoriesFolder().$this->category->image;?>" style="width: 240px;">
            </td>
            <td colspan="2">
                <input type="hidden" id="image" name="image" value="<?=$this->category->image;?>"/>
                <div style="float:left; font-size: 16px; line-height: 34px; margin-right: 10px;">Загрузить файл:</div>
 
                <div style="float:left"><input id="imageUpload" name="file_upload" type="file"></div>
                <div id="queue" style="float:left; margin-left: 30px;"></div>
            </td>
        </tr>
        <tr>
            
            <th colspan="4">
                <button type="button" class="btn btn-success" onclick="categoryadmin.editSubmit(); return false;">Сохранить</button>
            </th>
        </tr>
        
    </table>
</form>

    </div>
</div>
<script type="text/javascript">
<?php $timestamp = time();?>
$(function() 
{
    $('#imageUpload').uploadify({
        formData: {
            'timestamp' : '<?=$timestamp;?>',
            'token'     : '<?=md5('unique_salt'.$timestamp);?>',
            controller: 'module.shop.controller.manage.category',
            action: 'imageUpload'
        },
        multi    : false,
        swf      : '<?=$this->upload['swf_url'];?>',
        uploader : '<?=$this->upload['server_url'];?>',
        'onUploadSuccess' : function(file, data, response) {
            var obj = $.parseJSON(data);
            $('#imagePreview').attr('src', obj.imageDir+obj.image);
            $('#image').val(obj.image);
        },
        'fileTypeExts' : '*.png; *.gif; *.jpg;,*.jpeg;',
        'fileSizeLimit' : '100MB',
    });

    $('ul.categoryManage a').click(function (e) {

        e.preventDefault();
        //console.log("href:", this.href);
        categoryadmin.showTab(this);
        //$(this).tab('show');
        //productadmin.loadContent(this);
    })
});        
</script>

