<div id="editInfoblockGallery">
    <table class="table handbook table-bordered" style="width: auto; margin: 0 auto;">
        <caption>Галерея инфо-блока</caption>
        <tr>
            <th style="width: 450px;">Изображение</th>
            <th style="width: 300px;">Комментарий</th>
            <th style="width: 90px;">Функции</th>
        </tr>
        <?php foreach($this->gallery as $img){ ?>
        <tr id="<?=$img['id'];?>">
            <td>
                <image src="<?=Villa_Module_Infoblock_Helper::getFolder().$img['file_name'];?>" style="height:200px; max-width:400px;">
            </td>
            <td>                
                <textarea name="img_comment" style="width: 250px; height: 70px;"><?=$img['comment'];?></textarea>
                <button class="btn btn-info btn-mini" style="width: 70px; margin-top: 10px;" onclick="villa_infoblock.addComment(this, <?=$img['id']?>);">
                    Сохранить
                </button>
                <p class="comment-success" style="margin: 10px 0;"></p>
            </td>
            <td>
                <button class="btn btn-danger btn-mini" style="width: 70px;" onclick="villa_infoblock.delImage(this, <?=$img['id'];?>);">
                    Удалить
                </button>
            </td>
        </tr>
        <?php }?>
        <tr class="download">
            <th>Загрузить</th>   
            <td colspan="2">           
                <span class="btn btn-success fileinput-button">
                    <i class="glyphicon glyphicon-plus"></i>
                    <span>Выбрать файл</span>
                    <input id="fileupload" type="file" name="file">
                </span><br/><br/>
                <div id="progress" class="progress">
                    <div class="progress-bar progress-bar-success" style="width: 0%;"></div>
                </div>  
            </td>
        </tr>
        <tr>
            <td colspan="3">                
                <button class="btn btn-success" onclick="villa_infoblock.editEnd();" style="margin: 5px;">
                    Закрыть окно
                </button>
            </td>
        </tr>
    </table>  
</div>
<script>
    $('#fileupload').fileupload({
        dataType: 'json',
        url: "/ajax.php?controller=villa.module.infoblock.manage.controller&action=imageUpload",
        maxFileSize: 10000000,
        acceptFileTypes: /(\.|\/)(gif|jpe?g|png)$/i,
        start: function(e) 
        {
            $('#progress .progress-bar').css(
                'width',
                0 + '%'
            );
        },
        done: function (e, data) {
            if (data.result.result == 1)
            {
                $(data.result.html).insertBefore('tr.download');
            }
            else
            {
                jAlert(data.result.message, 'Ошибка');
            }
        },
        progressall: function (e, data) 
        {
            var progress = parseInt(data.loaded / data.total * 100, 10);
            $('#progress .progress-bar').css(
                'width',
                progress + '%'
            );

        }
    });
</script>