<form id="editInfoBlock">
    <input type="hidden" name="controller" value="villa.module.infoblock.manage.controller">
    <input type="hidden" name="action" value="edit">
    <table class="table handbook table-bordered" style="width: 1120px; margin: 0 auto">
        <caption>Инфо-блок</caption>
        <tr>
            <th>
                Выберите язык:&emsp;
                <select name="lang_id" onchange="villa_infoblock.changeLang(this)" style="margin: 0">
                    <?php foreach($this->langList as $id => $lang){?>
                    <option value="<?=$id;?>" <?=$this->lang == $id?'selected':'';?>>
                        <?=$lang->name;?>
                    </option>
                    <?php }?>
                </select>
            </th>
        </tr>
        <tr>
            <td>
                <textarea name="text"><?=$this->text;?></textarea>
            </td>
        </tr>
        <tr>
            <td>
                <a class="btn btn-info" onclick="villa_infoblock.openGallery(this)">Галерея</a>
                <a class="btn btn-success" onclick="villa_infoblock.save(this)">Сохранить</a>
            </td>
        </tr>
    </table>    
</form>
<div style="display: none;">
    <div class="b-modal" id="modalWindow">
        <div class="b-modal_close arcticmodal-close">X</div>
        <div class="modal-title"></div>
        <div class="modal-body"></div>
    </div>
</div>
<script>
    $("textarea[name=text]").elrte({
        lang         : 'ru',
        styleWithCSS : false,
        height       : 200,
        toolbar      : 'maxi',
        fmOpen : function(callback) {
        $('<div id="myelfinder"></div>').dialogelfinder({
            url: 'ajax.php?controller=lib.elfinder.controller',
            commandsOptions: {
            getfile: {
                oncomplete: 'destroy' // destroy elFinder after file selection
            }
            },
            getFileCallback: callback // pass callback to file manager
        });
        }
    });
</script>
