<div id="question"><?php echo $this->question->name; ?></div>
        <input type="hidden" id="questionGroup" value="<?php echo $this->question->group; ?>"/>
        <input type="hidden" id="questionIndex" value="<?php echo $this->question->index; ?>"/>
        
        <select id="questionAnswer">
        <?php foreach($this->question->answers as $answer) { ?>
            <option value="<?php echo $answer->id; ?>"><?php echo $answer->name; ?></option>
        <?php } ?>
        </select>
        
<button onclick="questionPostAnswer();">Следующий вопрос</button>