<ul id="breadCrumbs">
    <?php foreach($this->items->get() as $item) { ?>
        <li><span>&nbsp;/&nbsp;</span><a href="<?php echo $item['url']; ?>"><?php echo $item['caption'];?></a></li>
    <?php } ?>
</ul>