<?php if(is_array($this->items) && count($this->items != 0)) {  ?>
<p>Результаты поиска</p> 
<ul>
    <?php foreach($this->items as $item) { ?>
        <?php if(is_array($item)) { foreach($item as $val){?>
        <li>
            <a href="<?php echo $val['link']; ?>"><?php echo $val['title']; ?></a>
        </li>
        <? } } else {?>
        <li>
            <a href="<?php echo $item['link']; ?>"><?php echo $item['title']; ?></a>
        </li>
    <?php } }?>
</ul>   
<?=$this->paginator;?>
<?php } else echo 'По Вашему запросу ничего не найдено';?>