table#handbookTable{
    /* width: 938px;*/
    position: relative;
    margin: 0 auto 50px auto;
    
}
table.handbook{
    max-width: none;
}
.navbar.navbar-fixed-top{
    z-index: 990;
}
#modalWindow input.handbooks, #handbookTable select.combobox{
    height: 20px;
    line-height: 20px;
    padding: 0 6px;
    width: 98%;
    margin: 0;
}
#modalWindow table textarea.medium, #modalWindow table textarea.big, #modalWindow table textarea.small{
    width: 98%;
}
#editPublication input{
    height: auto;
}
#handbookTable select, #handbookTable input{
    margin-bottom: 0;
    padding: 0;
    margin: 0;
    width: 99%;    
    height: 24px;
}
#handbookTable select{
    width: 99%;
}

.table.handbook caption{
    color: #0865A7;
    font-size: 11pt;
    text-transform: uppercase;
    font-style: italic;
    font-weight: bold;
    margin-top: 10px;
    margin-bottom: 10px;
}
tr.paginator td{
    text-align: center;
}
tr.informer td{
    text-align: right;
}
tr.buttons td{
    text-align: right;
}

.table .sortable{
    position: relative;
    padding: 0px 22px 0px 0px;
    min-height: 26px;
}
#editHandbookForm .sortable-arrow{
    position: absolute;
    padding: 0 !important;
    right: 0;
    margin:1px;
    border: none !important;
    line-height: 14px;
    
}
.sortable-arrow.asc{
    bottom:51%;   
}
.sortable-arrow.desc{
    top:51%;   
}
.align-right{
    text-align: right !important;
}
.handbook .optional{
    width: 50px;
    margin: 1px;
}
.handbook .title{
    text-transform: uppercase;
    font-weight: bold;
    background-color: #CCC;
    border: 1px #999 solid;
    text-decoration: underline;
    color: black;
}
.buttons-fly{
    padding: 2px;
    background-color: #666;
    border-radius: 8px;
    border:1px #ccc solid;
    position: fixed;
    bottom:2px;
    right: 2px;
}
.handbook textarea{
    background-color: #eee;
    padding: 5px;
    margin: 0;
}
.handbook textarea.small{
    height: 40px;
    width: 99%;
}
.handbook textarea.medium{
    height: 80px;
    width: 99%;
}
.handbook textarea.big{
    height: 160px;
    width: 99%;
}
.handbook .switchActive, .handbook .btnDel{
    margin-left: 2px;
    width: 22px;
    padding: 0;
}
.handbook label{
    color: inherit;
    font-weight: inherit;
}

.btn-fly{
    position: fixed;
    bottom: 10px;
    right: 10px;
}

