<div id="homePageEditorMain">
<form id="homePageEditor" class="form-control" role="form">
    <table id="pageEditorTable" class="table handbook table-bordered">
        <caption>Экскурсии</caption>
        <tr>
            <td>
                <label class="control-label">
                    <strong>Языковая версия :</strong>
                    <select name="lang_id" id="pageLangId" onchange="manage_homepage.changeLang(this);">
                        <?php foreach($this->langList as $id => $lang): ?>
                        <option value="<?=$id;?>" <?=$this->model->lang_id == $id?'selected':'';?>>
                        <?=$lang->name;?>
                        </option>
                        <?php endforeach; ?>
                    </select>
                </label>
            </td>
        </tr>



        <?php foreach($this->model->excursions_list as $day => $info) {

        ?>
        <tr>
            <td>
                <table class="table table-bordered table-condensed" style="background-color: #E9FFE4">
                    <tr>
                        <td class="lead"><?=$this->dayList[$day];?></td>
                    </tr>
                    <tr>
                        <td>

                            <strong>Название</strong><br/><br/>
                            <input type="text" name="excursions_title[<?=$day?>]" value="<?=$info['title']; ?>" size="100">
                        </td>

                    </tr>
                    <tr class="ex_show">
                        Показывать
                        <?php if ( $info['ex_show'] == 1 ) { ?>
                        <input name="excursions_list[<?=$day ?>][ex_show]" type="checkbox" checked/>
                        <?php } else { ?>
                        <input name="excursions_list[<?=$day ?>][ex_show]" type="checkbox"/>
                        <?php  } ?>
                    </tr>
                    <tr>
                        <td>
                            <strong>Текст</strong><br/><br/>
                            <textarea id="excursionEditor_<?=$day?>" class="editor" name="excursions_list[<?=$day?>][html]"><?=$info['html']; ?></textarea>
                            <br/><strong>Полное описание</strong><br/><br/>
                            <textarea id="excursionFullDescr_<?=$day?>" class="editor" name="excursions_list[<?=$day?>][full_descr]"><?=$info['full_descr']; ?></textarea>
                            <a class="btn btn-info" style="float: right; margin-top: 8px;"
                               onclick="manage_homepage.editImages(<?=$this->excursionEntity;?>, <?=$day?>)">
                                <i class="icon-picture icon-white"></i> Галерея экскурсий - <?=$this->dayList[$day];?>
                            </a>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <strong>Макс. кол-во человек :</strong>
                            <input type="text" name="excursions_list[<?=$day?>][max_guests]" class="form-control" value="<?=$info['max_guests']; ?>" >
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <strong>Внешний ID :</strong>
                            <input type="text" name="excursions_list[<?=$day?>][outer_id]" class="form-control" value="<?=$info['outer_id']; ?>" >
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
        <?php } ?>
        <tr>
            <td>
                <a class="btn btn-success" onclick="manage_homepage.saveEditorData(this);">Сохранить</a>
            </td>
        </tr>
</form>

<!-- Окно редактирования изображений для услуги -->
<div style="display: none;" class="modal fade" id="editImagesModal"
     tabindex="-1" role="dialog" aria-labelledby="editImagesModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">
                    <span aria-hidden="true">&times;</span>
                    <span class="sr-only">Закрыть</span>
                </button>
                <h4 class="modal-title" id="editImagesModalLabel">Управление изображениями для галереи</h4>
            </div>
            <div class="modal-body">

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Закрыть</button>
            </div>
        </div>
    </div>
</div>
<!-- Окно редактирования изображений для услуги END-->

<script type="text/javascript">
    manage_homepage.controller = 'villa.module.homepage.manage.excursion.controller';

    $('textarea.editor').each(function(elem){
        manage_homepage.editors.push($(this).attr('id'));
    });
    manage_homepage.initCKEditor("<?=$this->langList[$this->model->lang_id]->sys_name; ?>");

    jQuery('.btnUp, .btnDown').tooltip();
</script>
</div>