<div id="homePageEditorMain">
<form id="homePageEditor" class="form-control" role="form">
    <table id="pageEditorTable" class="table handbook table-bordered">
        <caption>Стартовая страница - Редактирование</caption>
        <tr>
            <td>
                <label class="control-label">
                    <strong>Языковая версия страницы :</strong>
                    <select name="lang_id" id="pageLangId" onchange="manage_homepage.changeLang(this);">
                        <?php foreach($this->langList as $id => $lang): ?>
                        <option value="<?=$id;?>" <?=$this->model->lang_id == $id?'selected':'';?>>
                        <?=$lang->name;?>
                        </option>
                        <?php endforeach; ?>
                    </select>
                </label>
            </td>
        </tr>
        <tr>
            <td>
                <label class="control-label">
                    <strong>Заголовок :</strong>
                    <input type="text" name="title" class="form-control" value="<?=$this->model->title; ?>" >
                </label>
            </td>
        </tr>
        <tr>
            <td id="editorPane">
                <strong>Текст</strong><br/><br/>
                <textarea id="pageHtml" class="editor" name="html"><?=$this->model->html; ?></textarea>
                <br/><strong>Полное описание</strong><br/><br/>
                <textarea id="pageFullDescr" class="editor" name="full_descr"><?=$this->model->full_descr; ?></textarea>
                <a class="btn btn-info" style="float: right; margin-top: 8px;" 
                   onclick="manage_homepage.editImages(<?=$this->mainEntity;?>)">
                    <i class="icon-picture icon-white"></i> Галерея изображений стартовой страницы
                </a>
            </td>
        </tr>
        <tr>
            <td class="title">
                Раздел экскурсионных программ
            </td>
        </tr>
        <tr>
            <td>
                <label class="control-label">
                    <strong>Заголовок :</strong>
                    <input type="text" name="ex_total_title" class="form-control" value="<?=$this->model->ex_total_title; ?>" >
                </label>
            </td>
        </tr>

        <tr>
            <td>
                <label class="control-label">
                    <strong>Описание :</strong>
                    <textarea id="ex_total_desc" class="editor" name="ex_total_desc" rows="3"><?=$this->model->ex_total_desc; ?></textarea>
                </label>
            </td>
        </tr>
        <tr>
            <td class="title">
                Раздел трансферов
            </td>
        </tr>
        <tr>
            <td>
                <label class="control-label">
                    <strong>Заголовок :</strong>
                    <input type="text" name="transfer_title" class="form-control" value="<?=$this->model->transfer_title; ?>" >
                </label>
            </td>
        </tr>
        <tr>
            <td id="transferBlockEditorPane">
                <strong>Текст</strong><br/><br/>
                <textarea id="transferHtml" class="editor" name="transfer_html"><?=$this->model->transfer_html; ?></textarea>
                <br/><strong>Полное описание</strong><br/><br/>
                <textarea id="transferFullDescr" class="editor" name="transfer_full_descr"><?=$this->model->transfer_full_descr; ?></textarea>
                <a class="btn btn-info" style="float: right; margin-top: 8px;" 
                   onclick="manage_homepage.editImages(<?=$this->transferEntity;?>)">
                    <i class="icon-picture icon-white"></i> Галерея изображений блока трансферов
                </a>
            </td>
        </tr>
        <tr>
            <td class="title">
                SEO
            </td>
        </tr>
        <tr>
            <td>
                <label class="control-label">
                    <strong>title :</strong>
                    <textarea id="seoTitle" name="seo_title" rows="3"><?=$this->model->seo_title; ?></textarea>
                </label>
            </td>
        </tr>
        <tr>
            <td>
                <label class="control-label">
                    <strong>description :</strong>
                    <textarea id="seoDescription" name="seo_description" rows="3"><?=$this->model->seo_description; ?></textarea>
                </label>
            </td>
        </tr>
        <tr>
            <td>
                <label class="control-label">
                    <strong>keywords :</strong>
                    <textarea id="seoKeywords" name="seo_keywords" rows="3"><?=$this->model->seo_keywords; ?></textarea>
                </label>
            </td>
        </tr>
        <tr>
            <td>
                <a class="btn btn-success" onclick="manage_homepage.saveEditorData(this);">Сохранить</a>
            </td>
        </tr>
    </table>
</form>

<!-- Окно редактирования изображений для услуги -->
<div style="display: none;" class="modal fade" id="editImagesModal"
     tabindex="-1" role="dialog" aria-labelledby="editImagesModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">
                    <span aria-hidden="true">&times;</span>
                    <span class="sr-only">Закрыть</span>
                </button>
                <h4 class="modal-title" id="editImagesModalLabel">Управление изображениями для галереи</h4>
            </div>
            <div class="modal-body">

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Закрыть</button>
            </div>
        </div>
    </div>
</div>
<!-- Окно редактирования изображений для услуги END-->

<script type="text/javascript">
    $('textarea.editor').each(function(elem){        
        manage_homepage.editors.push($(this).attr('id'));
    });
    manage_homepage.initCKEditor("<?=$this->langList[$this->model->lang_id]->sys_name; ?>");

    jQuery('.btnUp, .btnDown').tooltip();
</script>
</div>