<table class="table handbook table-bordered table-condensed">
    <caption>Информация о платеже</caption>
    <tr>
        <th>#</th>
        <td><?=$this->model->id;?></td>
    </tr>
    <tr>
        <th>ID магазина</th>
        <td><?=$this->model->public_key;?></td>
    </tr>
    <tr>
        <th>Сумма</th>
        <td><?=$this->model->amount;?></td>
    </tr>
    <tr>
        <th>Комиссия отправителя</th>
        <td><?=$this->model->sender_commission;?></td>
    </tr>
    <tr>
        <th>Комиссия получателя</th>
        <td><?=$this->model->receiver_commission;?></td>
    </tr>
    <tr>
        <th>Комиссия агента</th>
        <td><?=$this->model->agent_commission;?></td>
    </tr>
    <tr>
        <th>Валюта</th>
        <td><?=$this->model->currency;?></td>
    </tr>
    <tr>
        <th>Описание</th>
        <td><?=$this->model->description;?></td>
    </tr>
    <tr>
        <th>ID заказа</th>
        <td><?=$this->model->order_id;?></td>
    </tr>
    <tr>
        <th>ID заказа в LiqPay</th>
        <td><?=$this->model->liqpay_order_id;?></td>
    </tr>
    <tr>
        <th>Тип</th>
        <td><?=$this->model->type;?></td>
    </tr>
    <tr>
        <th>ID платежа</th>
        <td><?=$this->model->transaction_id;?></td>
    </tr>
    <tr>
        <th>Телефон плательщика</th>
        <td><?=$this->model->sender_phone;?></td>
    </tr>
    <tr>
        <th>Статус</th>
        <td><?=$this->model->status;?></td>
    </tr>
    <tr>
        <th>Дата и время</th>
        <td><?=$this->model->time;?></td>
    </tr>
    <tr>
        <th>Подпись</th>
        <td><?=$this->model->signature;?></td>
    </tr>
</table>
