<table id="liqpaySettingsTable" class="table handbook table-bordered" style="margin: 0 auto; width: 600px;">
    <caption>Настройки LiqPay</caption>
    <tr>
        <th style="width: 30%">Публичный ключ</th>
        <th>Приватный ключ</th>
    </tr>
    <tr>
        <td>
            <input type="text" id="publicKey" value="<?=$this->public_key;?>" style="width: 90%" maxlength="100" disabled/>
            <input type="hidden" class="prev-value" value="<?=$this->public_key;?>">
        </td>
        <td>
            <input type="text" id="privateKey" value="<?=$this->private_key;?>" style="width: 90%" maxlength="100" disabled/>
            <input type="hidden" class="prev-value" value="<?=$this->private_key;?>">
        </td>
    </tr>
    <tr>
        <td colspan="2">
            <a id="btnEdit" class="btn btn-info" onclick="liqpay_settings.edit()">
                Редактировать
            </a>
            <a id="btnSave" style="display: none;" class="btn btn-success" onclick="liqpay_settings.save()">
                Сохранить
            </a>
            <a id="btnCancel" style="display: none;" class="btn btn-danger" onclick="liqpay_settings.cancelEdit()">
                Отмена
            </a>
        </td>
    </tr>
</table>