<div id="aboutHotel">
    <div class="wrapper-inner">
        <div class="page_title">
        <h2><?=$this->pageData['title']; ?></h2></div>
        <div class="widget-rooms-carousel top-over">
            <div class="widget-carousel owl-carousel owl-theme">
            <?php
            foreach($this->gallery as $image): ?>
                <div>
              <img src="<?=$image['image']; ?>"/>
                </div>
                <?php endforeach; ?>
            </div>
        </div>
            <div id="#excursion_popup_art" class="additional_option_popup mfp-hide">
                <div class="wrapper-inner">
                    <div class="widget-rooms-detail">
                        <div class="widget-inner">
                            <div class="row">
                                <div class="col-md-12">
                                    <!-- Room Slider -->
                                    <div class="room-slider">
                                        <div class="owl-carousel owl-theme owl-type1">
                                            <?php
                                                foreach($this->gallery as $image): ?>
                                                    <div class="widget-carousel owl-carousel owl-theme"><img src="<?=$image['image']; ?>"/>
                                                </div>
                                            <?php endforeach; ?>

                                        </div>
                                    </div>
                                    <!-- Room Slider End -->
                                    <!-- Room Thumbnails -->
                                    <div class="room-thumbnails">
                                        <div class="owl-carousel">
                                            <?php
                                            foreach($this->gallery as $image): ?>
                                                <div class="widget-carousel owl-carousel owl-theme"><img src="<?=$image['image']; ?>"/>
                                            </div>
                                            <?php endforeach; ?>
                                        </div>
                                    </div>
                                    <!-- Room Thumbnails End -->
                                    <!-- Room Description -->

                                    <!-- Room Description End -->
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div id="hotelInfo">
            <div class="page_title">
            <?php if($this->pageData): ?>
                <?=$this->pageData['html']; ?>
            <?php endif; ?>
                </div>
        </div>

        <div id="hotelServices">    <div class="page_title">
            <?php if($this->services && count($this->services) > 0): ?>

                <h3><?=$this->translate('servicesInVilla')?></h3>
            </div>
            <div class="table_service">
                <?php foreach($this->services as $item): ?>

                    <div class="table_service_dt"><?=$item['title']; ?></div>
                    <div class="table_service_dd"><?=$item['description']; ?></div>
                <?php endforeach; ?>
            </div>
            <?php endif; ?>
        </div>

        <div id="hotelFooter">
            <div class="page_title">
            <?php if($this->pageData): ?>
                <?=$this->pageData['footerHtml']; ?>
            <?php endif; ?>
                </div>
        </div>
     </div>
<input type="hidden" id="inputSeoTitle" name="inputSeoTitle" value="<?=$this->pageData['seoTitle'];?>" >
<input type="hidden" id="inputSeoDescription" name="inputSeoDescription" value="<?=$this->pageData['seoDescription'];?>" >
<input type="hidden" id="inputSeoKeywords" name="inputSeoKeywords" value="<?=$this->pageData['seoKeywords'];?>" >
<script>
    $('.open-popup-link').magnificPopup({
        type: 'inline'
    });
</script>
<script type="text/javascript">
    jQuery(document).ready(function()
    {
//       about.setMetaSeo(
//               jQuery('#inputSeoTitle').val(),
//               jQuery('#inputSeoDescription').val(),
//               jQuery('#inputSeoKeywords').val()
//       );
    });
</script>