<form id="editCommentForm">
    <input type="hidden" name="id" value="<?=$this->comment->id;?>">
    <input type="hidden" name="controller" value="module.comment.controller.manage.comment">
    <input type="hidden" name="action" value="edit">
    <table class="table handbook table-bordered">
        <caption>Редактирование комментария</caption>
        <tr>
            <th>Имя</th>
            <td>
                <input type="text" name="name" value="<?=$this->comment->name;?>"/>
            </td>
        </tr>
        <tr>
            <th>Email</th>
            <td>
                <input type="text" name="email" value="<?=$this->comment->email;?>"/>
            </td>
        </tr>
        <tr>
            <th>Дата</th>
            <td>
                <input type="text" class="datepick" name="date" value="<?=$this->comment->date;?>"/>
            </td>
        </tr>
        <tr>
            <th>Сообщение</th>
            <td>
                <textarea name="message" style="width: 98%;"><?=$this->comment->message;?></textarea>
            </td>
        </tr>
        <tr>               
            <td colspan="2">
                <a class="btn btn-success" onclick="comment.editSubmit(this);">Сохранить</a>
            </td>
        </tr>
    </table>
</form>
<script>
    $(".datepick").datepicker({
        dateFormat:"dd/mm/yy"
    });
</script>