<form method="POST"  class="application"  accept-charset="UTF-8" action="https://partner.a1pay.ru/a1lite/input/">
    <input type="hidden" name="key" value="<?php echo $this->key; ?>" />
    <input type="hidden" name="cost" value="<?php echo $this->amount; ?>" />
    <input type="hidden" name="name" value="<?php echo $this->name; ?>" />
    <input type="hidden" name="default_email" value="<?php echo $this->email; ?>" />
    <input type="hidden" name="order_id" value="0" />
    <input type="image" style="border:0;" src="https://partner.a1pay.ru/gui/images/a1lite_buttons/button_small.png" value="Оплатить" />
</form>