<p><?php echo $this->service; ?> отправьте 1 СМС с кодом '<b><?php echo $this->code; ?></b>' на короткий номер <b><?php echo $this->number; ?></b>
и введите полученный по СМС код здесь
<input type="text" id="smsCode" class="round" maxlength="10"/></p>
<button id="smsCodeAccuire">Принять код</button>
<span id="smsCodeResult"></span>

<a href="http://www.a1agregator.ru/main/abonent/4846/1121" target="blank">«Информация для абонентов»</a>
