<p><?php echo $this->service; ?> отправьте 1 СМС с кодом '<b><?php echo $this->code; ?></b>' на короткий номер <b><?php echo $this->number; ?></b>
    и введите полученный по СМС код здесь
    <input type="text" id="smsCode" class="round" maxlength="10"/></p>
<button id="smsCodeAccuire">Принять код</button>
<span id="smsCodeResult"></span>

<br/>
Стоимость смс <?php echo $this->price; ?>грн с учетом НДС.<br/>
<br/>
<ul>
    <li>Дополнительно удерживается сбор в Пенсионный фонд в размере 7,5% от стоимости услуги без учета НДС.</li>
    <li>Услуга действительна для абонентов всех национальных GSM-операторов Украины.</li>
    <li>Услуги предоставляет ООО "Агрегатор Мобильных Сервисов".</li>
    <li>Юр. адрес: 03057, г. Київ, ул.Молдавская, д. 2, оф. 2-Г</li>
    <li>Техническая поддержка абонентов: +38(044) 383-09-59 с 10:00 до 18:00 с понедельника по пятницу</li>
    <li>Услуга предоставляется только совершеннолетним.</li>
</ul>
