#imageViewerHide
{
    display: none;
}

#imageViewerWrap
{
    background: url('i/wrap.png') repeat;
    float: left;
    padding: 10px;
    width: 920px !important; 
}

#imageViewerWrap.b-modal
{
    border: none;
    
    border-radius: 0;
    -moz-border-radius: 0;
    -webkit-border-radius: 0;
    -o-border-radius: 0;
    -khtml-border-radius: 0;
}

#imageViewerWrap .b-modal_close
{
    background: url('i/close.png') no-repeat center;
    color: red;
    font-size: 0;
    height: 29px;
    width: 27px;
    right: 15px;
    top: 15px;  
    z-index: 10;
}

#imageViewerWrap .b-modal_close:hover
{
    background: url('i/close-hover.png') no-repeat center;
}

#imageViewer
{
    background: #fef7ea;
    float: left;
    padding-bottom: 10px;
    position: relative;
    width: 920px !important;
}

#imageViewer ul
{
    list-style: none;
    margin: 0;
    width: auto;
}

#imageViewer ul.image-viewer-scroll
{
    height: 100% !important;
}

#imageViewer ul.image-viewer-scroll li
{
    background: white;
    border: 5px solid white;
    float: left;
    text-align: center;
    
    box-shadow: 0 0 6px black;
    -moz-box-shadow: 0 0 6px black;
    -webkit-box-shadow: 0 0 6px black;
    -o-box-shadow: 0 0 6px black;
    -khtml-box-shadow: 0 0 6px black;
    behavior: url('pie/PIE.htc');
}

#imageViewer ul.image-viewer-scroll li img
{
    vertical-align: middle;
}




#imageViewerImg
{
    float: left;
    height: 445px !important;
    position: relative;
    width: 920px !important;
}

#imageViewerImg button
{
    height: 77px;
    position: absolute;
    top: 180px;
    width: 77px;
    z-index: 2;
}

#imageViewerImg button.arr-b-left
{
    background: url('i/arr-b-left.png') no-repeat center;
    display: none;
    float: left;
    left: 15px;
}

#imageViewerImg button.arr-b-right
{
    background: url('i/arr-b-right.png') no-repeat center;
    float: right;
    right: 15px;
}

#imageViewerImgWrap
{
    height: 100% !important;
    overflow: hidden;
    width: 100% !important;
}

#imageViewerImgWrap ul li
{
    height: 430px !important;
    line-height: 430px !important;
    margin: 0 10px 10px 10px !important;
    width: 910px !important;
}

#imageViewerImgWrap ul li img
{
    max-height: 430px !important;
    max-width: 910px !important;
}

#imageViewerDescription
{
    color: #4d4d4d;
    float: left;
    font-family: Arial, Helvetica, Verdana, sans-serif;
    font-size: 12px;
    margin: 5px 15px;
    text-align: justify;
    width: 890px !important;
}

#imageViewerDescription span
{
    display: block;
    float: left;
    font-size: 18px;
    font-weight: bold;
    margin: 5px 0;
    width: 100%;
}

#imageViewerDescription div
{
    height: 70px !important;
    overflow: hidden;
    width: 100% !important;
}

#imageViewerDescription ul
{
    height: 100% !important;
    float: left;
    margin: 0;
    width: auto;
}

#imageViewerDescription ul li
{
    height: 100% !important;
    float: left;
    margin: 0;
    width: 890px !important;
}

#imageViewerThumbs
{
    float: left;
    height: 120px !important;
    padding: 0 13px;
    width: 907px !important;
}

.image-viewer-button-wrap
{
    float: left;
    height: 120px !important;
    width: 44px;
}

#imageViewerThumbs button
{
    float: left;
    height: 44px;
    position: relative;
    top: 38px;
    width: 44px;
}

#imageViewerThumbs button.arr-s-left
{
    background: url('i/arr-s-left.png') no-repeat center;
    display: none;
}

#imageViewerThumbs button.arr-s-right
{
    background: url('i/arr-s-right.png') no-repeat center;
}

#imageViewerThumbsWrap
{
    float: left;
    height: 100% !important;
    overflow: hidden;
    width: 805px !important;
}

#imageViewerThumbsWrap ul li
{    
    cursor: pointer;
    height: 90px !important;
    line-height: 90px !important;
    margin: 10px 17px !important;
    width: 117px !important;
}

#imageViewerThumbsWrap ul li img
{
    max-height: 90px !important;
    max-width: 117px !important;
}

