<style>.im{color: inherit !important}</style>
<table style="background: #fff; margin: 0 auto; width: 980px; padding: 0; border-collapse: collapse; 
        font-family: Arial, Helvetica, Verdana, sans-serif; font-size: 14px; color: #871c1b;">
    <tr>
        <td style="background: url('http://villa.dante.loc/villa/module/mail/template/img/head_bg.png') no-repeat center; height: 130px; vertical-align: top;
                font-family: Calibri, Arial, sans-serif; font-style: italic; font-weight: bold; color: #ffffff; text-shadow: 0 1px 1px #000000; padding: 0;">
            <a href="http://villa.dante.loc" style="display: block; float: left; height: 85px; width: 265px; margin: 20px 70px 0 25px;">
                <img src="http://villa.dante.loc/villa/module/mail/template/img/logo.png"/>                   
            </a>
            <div style="color: #FBE3B8; float: right; margin: 22px 0 0 45px; font-size: 24px; width: 335px; line-height: 24px;">
                <a style="color: inherit; text-decoration: none; font-size: 32px; margin-bottom: 10px; display: inline-block">
                                    </a><br/>
                <p>contacts body</p>
        
            </div>
        </td>
    </tr>
        <tr>
        <td style="font-size: 14px; font-weight: bold; font-style: italic;
            background: url('http://villa.dante.loc/villa/module/mail/template/img/line.png') no-repeat bottom; padding: 30px; font-family: Arial, Helvetica, Verdana, sans-serif;">
            <img style="width: 15%; float: left; margin-right: 3%;" src="http://villa.dante.loc/media/touragent_logo/logo_1425137548.jpg"><p style="float: left; margin: 0; overflow: hidden; width: 78%;">jhdgasgdg 1902389012839012, sfherhf, ejrfhef834837,  345348758934,89458378953 3845893345<br/>Dmytro Sukachev<br/><a style="color: inherit; text-decoration: none;">380675641740</a></p>        </td>
    </tr>
        <tr>
        <td style="font-size: 24px; font-weight: bold; font-style: italic;
            background: url('http://villa.dante.loc/villa/module/mail/template/img/line.png') no-repeat bottom; padding: 30px; font-family: Calibri, Arial, sans-serif; ">
             216&emsp;(02/12/2014)
        </td>
    </tr>
    <tr>
        <td style="padding: 20px 30px 10px">
            <table style="background: none; font-family: Tahoma, Arial, Helvetica, sans-serif;">
                <tr>
                    <th style="font-weight: bold; color: #656565; padding: 5px 5px 5px 0;">
                        :
                    </th>
                    <td style="font-weight: bold; padding: 5px 20px 5px 0;">
                        04/12/2014                    </td>    
                    <th style="font-weight: bold; color: #656565; padding: 5px 5px 5px 0;">
                        :
                    </th>
                    <td style="font-weight: bold; padding: 5px 20px 5px 0;">
                        10/12/2014                    </td>
                    <th style="font-weight: bold; color: #656565; padding: 5px 5px 5px 0;">
                        :
                    </th>
                    <td style="font-weight: bold; padding: 5px 20px 5px 0;">
                        6                    </td>
                    <th style="font-weight: bold; color: #656565; padding: 5px 5px 5px 0;">
                        :
                    </th>
                    <td style="font-weight: bold; padding: 5px 20px 5px 0;">
                        1                    </td>
                                    </tr>
            </table>
        </td>
    </tr>
    <tr>
        <td style="padding: 10px 30px;">
            <table style="background-color: #fef7ea; border-collapse: collapse; width: 100%;">
                <tr>
                    <td style="border: 1px solid #e5d4b5; font-weight: bold; padding: 10px 15px; vertical-align: middle; text-align: center">
                                            </td>
                    <td style="border: 1px solid #e5d4b5; font-weight: bold; padding: 10px 15px; vertical-align: middle; text-align: center">
                                            </td>
                    <td style="border: 1px solid #e5d4b5; font-size: 12px; padding: 10px 15px; vertical-align: middle; text-align: center">
                        <br/>
                        <span style="color: #469d28; font-size: 20px; display: inline-block; margin-top: 10px">
                            100 EUR                        </span>
                    </td>
                    <td style="border: 1px solid #e5d4b5; font-size: 12px; padding: 10px 15px; vertical-align: middle; text-align: center">
                        <br/>
                        <span style="color: #469d28; font-size: 20px; display: inline-block; margin-top: 10px; font-weight: bold;">
                            600 EUR                        </span>
                    </td>
                </tr>
            </table>
        </td>
    </tr>
    <tr>
        <td style="padding: 10px 30px;">
            <table style="background-color: #fef7ea; border-collapse: collapse; width: 100%;">
                <caption style="font-family: Calibri, Arial, sans-serif; font-size: 24px; font-weight: bold; 
                         font-style: italic; padding-bottom: 25px; text-align: left">
                                    </caption>
                <tr>
                    <th style="border: 1px solid #e5d4b5; font-weight: bold; padding: 10px 15px; vertical-align: middle; width: 25%;
                        color: #656565; font-family: Tahoma, Arial, Helvetica, sans-serif;">
                                            </th>
                    <th style="border: 1px solid #e5d4b5; font-weight: bold; padding: 10px 15px; vertical-align: middle; width: 25%;
                        color: #656565; font-family: Tahoma, Arial, Helvetica, sans-serif;">
                                            </th>
                    <th style="border: 1px solid #e5d4b5; font-weight: bold; padding: 10px 15px; vertical-align: middle; width: 25%;
                        color: #656565; font-family: Tahoma, Arial, Helvetica, sans-serif;">
                                            </th>
                    <th style="border: 1px solid #e5d4b5; font-weight: bold; padding: 10px 15px; vertical-align: middle; width: 25%;
                        color: #656565; font-family: Tahoma, Arial, Helvetica, sans-serif;">
                                            </th>
                </tr>
                                <tr>
                    <td style="border: 1px solid #e5d4b5; font-weight: bold; padding: 10px 15px; vertical-align: middle">
                        seges                    </td>
                    <td style="border: 1px solid #e5d4b5; font-weight: bold; padding: 10px 15px; vertical-align: middle">
                        sehesh                    </td>
                    <td style="border: 1px solid #e5d4b5; font-weight: bold; padding: 10px 15px; vertical-align: middle">
                        84332                    </td>
                    <td style="border: 1px solid #e5d4b5; font-weight: bold; padding: 10px 15px; vertical-align: middle">
                        <a style="color: inherit; text-decoration: none;">
                            sehes@kfyf                        </a>
                    </td>
                </tr>
                                
                            </table>
        </td>
    </tr>
        <tr>
        <td style="padding: 10px 30px;">
            <table style="background-color: #fef7ea; border-collapse: collapse; width: 100%;">
                <caption style="font-family: Calibri, Arial, sans-serif; font-size: 24px; font-weight: bold; 
                         font-style: italic; padding-bottom: 25px; text-align: left">
                                    </caption>
                <tr>
                    <th style="border: 1px solid #e5d4b5; font-weight: bold; padding: 10px 15px; vertical-align: middle; color: #656565; 
                        font-family: Tahoma, Arial, Helvetica, sans-serif; width: 165px;">
                                            </th>
                    <th style="border: 1px solid #e5d4b5; font-weight: bold; padding: 10px; vertical-align: middle; color: #656565; font-family: Tahoma, Arial, Helvetica, sans-serif;">
                                            </th>
                    <th style="border: 1px solid #e5d4b5; font-weight: bold; padding: 10px 15px; vertical-align: middle; color: #656565; font-family: Tahoma, Arial, Helvetica, sans-serif;">
                                            </th>
                                        <th style="border: 1px solid #e5d4b5; font-weight: bold; padding: 10px 15px; vertical-align: middle; color: #656565; font-family: Tahoma, Arial, Helvetica, sans-serif;">
                                            </th>
                    <th style="border: 1px solid #e5d4b5; font-weight: bold; padding: 10px 15px; vertical-align: middle; color: #656565; font-family: Tahoma, Arial, Helvetica, sans-serif;">
                                            </th>
                </tr>
                                <tr>
                    <td style="border: 1px solid #e5d4b5; font-weight: bold; padding: 10px 15px; vertical-align: middle">
                                             </td>
                    <td style="border: 1px solid #e5d4b5; padding: 10px; vertical-align: middle; color: #469d28; font-size: 20px;">
                        8 EUR                    </td>
                    <td style="border: 1px solid #e5d4b5; font-weight: bold; padding: 10px 15px; vertical-align: middle">
                        1                    </td>
                                        <td style="border: 1px solid #e5d4b5; font-weight: bold; padding: 10px 15px; vertical-align: middle">
                        6                    </td>
                    <td style="border: 1px solid #e5d4b5; font-weight: bold; padding: 10px 15px; vertical-align: middle; color: #469d28; font-size: 20px;">
                        48 EUR                    </td>
                </tr>
                                <tr>
                    <td style="border: 1px solid #e5d4b5; font-weight: bold; padding: 10px 15px; vertical-align: middle">
                                             </td>
                    <td style="border: 1px solid #e5d4b5; padding: 10px; vertical-align: middle; color: #469d28; font-size: 20px;">
                        10 EUR                    </td>
                    <td style="border: 1px solid #e5d4b5; font-weight: bold; padding: 10px 15px; vertical-align: middle">
                        1                    </td>
                                        <td style="border: 1px solid #e5d4b5; font-weight: bold; padding: 10px 15px; vertical-align: middle">
                        6                    </td>
                    <td style="border: 1px solid #e5d4b5; font-weight: bold; padding: 10px 15px; vertical-align: middle; color: #469d28; font-size: 20px;">
                        60 EUR                    </td>
                </tr>
                                
                                
            </table>
        </td>
    </tr>
            <tr>
        <td style="font-size: 24px; font-weight: bold; font-style: italic;
            background: url('http://villa.dante.loc/villa/module/mail/template/img/line.png') no-repeat bottom; padding: 30px; font-family: Calibri, Arial, sans-serif; ">
                    </td>
    </tr>
    <tr>
        <td style="padding: 10px 30px;">
            <table style="width: 450px; margin-left: 10px;">
                <tr>
                    <td style="text-transform: uppercase;">
                                            </td>
                    <td style="color: #469d28; width: 25%;">
                        708 EUR                    </td>
                </tr>
                                <tr>
                    <td style="text-transform: uppercase;">
                                            </td>
                    <td style="color: #469d28;">
                        708 EUR                    </td>
                </tr>
                <tr>
                    <td style="text-transform: uppercase;">
                                            </td>
                    <td style="color: #469d28;">
                        0 EUR                    </td>
                </tr>
            </table>
        </td>
    </tr>
    <tr>
        <td style="padding: 10px 30px;">
            <table style="background-color: #fef7ea; border-collapse: collapse; width: 100%; border: 1px solid #e5d4b5; font-size: 24px;">
                <tr>
                    <td style="font-weight: bold; padding: 15px; vertical-align: middle; text-transform: uppercase;">
                                            </td>
                    <td style="font-weight: bold; padding: 15px; vertical-align: middle; color: #469d28; width: 25%; text-align: right">
                        708 EUR                    </td>
                </tr>
            </table>
        </td>
    </tr>
        <tr>
        <td style="padding: 10px 30px;">
            <table style="background-color: #fef7ea; border-collapse: collapse; width: 100%;">
                <caption style="font-family: Calibri, Arial, sans-serif; font-size: 24px; font-weight: bold; 
                         font-style: italic; padding-bottom: 25px; text-align: left">
                                    </caption>
                <tr>
                    <th style="border: 1px solid #e5d4b5; font-weight: bold; padding: 10px 15px; vertical-align: middle; width: 50%;
                        color: #656565; font-family: Tahoma, Arial, Helvetica, sans-serif;">
                                            </th>
                    <th style="border: 1px solid #e5d4b5; font-weight: bold; padding: 10px 15px; vertical-align: middle; width: 50%;
                        color: #656565; font-family: Tahoma, Arial, Helvetica, sans-serif;">
                                            </th>
                </tr>
                <tr>
                    <td style="border: 1px solid #e5d4b5; font-weight: bold; padding: 10px 15px; vertical-align: middle">
                        <a style="color: inherit; text-decoration: none;">
                            0675641740ua@gmail.com                        </a>
                    </td>
                    <td style="border: 1px solid #e5d4b5; font-weight: bold; padding: 10px 15px; vertical-align: middle">
                        202cb962ac59075b964b07152d234b70                    </td>
                </tr>
            </table>
        </td>
    </tr>
        <tr>
        <td style="padding: 10px 30px;">
                    </td>
    </tr>
</table>