<?php
    $langMapper = new Module_Lang_Mapper();
?>
<form id="editSlide">
    <input type="hidden" name="id" id="slider_id" value="<?php echo $this->id;?>">
    <table class="table handbook table-bordered">
        <tr>
            <th colspan="4">
                Выберите язык:&emsp;
                <select name="lang_id"  style="margin: 0" onchange="slider_manage.getLangData()">
                    <?php foreach($langMapper->getList() as $id => $lang){?>
                    <option value="<?=$id;?>">
                    <?=$lang->name;?>
                    </option>
                    <?php }?>
                </select>
            </th>
        </tr>
        <caption>Редактор изображений</caption>
        <tr>
            <th style="width: 15%">
                Изображение*
            </th>
            <td style="width: 50%;">
                <image id="imagePreview" src="<?=$this->img_name?$this->src:Lib_Image_Helper::getNoImage(); ?>" style="width: 100%;"/>
            </td>
            <td>                
                <input type="hidden" id="img_name" name="img_name" value="<?=$this->img_name;?>"/>  
                <span class="btn btn-success fileinput-button">
                    <i class="glyphicon glyphicon-plus"></i>
                    <span>Выбрать файл</span>
                    <input id="fileupload" type="file" name="file">
                </span><br/><br/>
                <div id="progress" class="progress">
                    <div class="progress-bar progress-bar-success" style="width: 0%;"></div>
                </div>     
                <label for="is_active">Активно:</label><input id="is_active" name="is_active" type="checkbox" <?php echo $this->is_active; ?>/>
            </td>
        </tr>
        <?php if(Dante_Lib_Config::get('slider.allowUrl')) {?>
        <tr>
            <th>
                 Ссылка
            </th>
            <td colspan="2">
                <input type="text" id="url" name="url" maxlength="128" value="<?php echo $this->url;?>" style="width: 98%;"/>
            </td>
        </tr>
        <?php }?>
        <?php if(Dante_Lib_Config::get('slider.allowDescr')) {?>
        <tr>
            <th>
                 Описание
            </th>
            <td colspan="2">
                <textarea id="title" name="title" maxlength="200"></textarea>
            </td>
        </tr>
        <tr>
            <th>
                Описание2
            </th>
            <td colspan="2">
                <textarea id="title2" name="title2" maxlength="200"></textarea>
            </td>
        </tr>
        <tr>
            <th>
                Описание3
            </th>
            <td colspan="2">
                <textarea id="title3" name="title3" maxlength="200"></textarea>
            </td>
        </tr>
        <?php }?>
        <tr>
            <td colspan="3">
                <a class="btn btn-success" onclick="slider_manage.edit(this)">Сохранить</a>
            </td>
        </tr>
    </table>  
</form>

<script>
    $('#fileupload').fileupload({
        dataType: 'json',
        url: "/ajax.php?controller=module.slider.manage.controller&action=imageUpload",
        maxFileSize: 10000000,
        acceptFileTypes: /(\.|\/)(gif|jpe?g|png)$/i,
        start: function(e) 
        {
            $('#progress .progress-bar').css(
                'width',
                0 + '%'
            );
        },
        done: function (e, data) {
            if (data.result.result == 1)
            {
                $('#imagePreview').attr('src', data.result.imageDir+data.result.image);
                $('#img_name').val(data.result.image);
            }
            else
            {
                jAlert(data.result.message, 'Ошибка');
            }
        },
        progressall: function (e, data) 
        {
            var progress = parseInt(data.loaded / data.total * 100, 10);
            $('#progress .progress-bar').css(
                'width',
                progress + '%'
            );

        }
    });
    slider_manage.getLangData();
</script>