<form id="editSettings">
    <table class="table handbook table-bordered">
        <caption>Редактор настроек</caption>
        <tr>
            <th>
                Скорость анимации
            </th>
            <td style="width: 60%">
                <input type="text" name="animationSpeed" value="<?=$this->animationSpeed;?>"/>
            </td>
        </tr>
        <tr>
            <td colspan="2">
                <a class="btn btn-success" onclick="slider_manage.editSettings();">Сохранить</a>
            </td>
        </tr>
    </table>  
</form>