<?php $colspan = $this->block->type == BOOKING_INFO_TYPE_LIST ? 'colspan="3"' : '';?>
<table class="table table-bordered table-condensed block-table">
    <tr>
        <th <?=$colspan?>>
            <label>
                Заголовок блока:
                <input type="text" name="blocks[<?=$this->block->id?>][caption]" value="<?=$this->block->caption?>"/>
            </label>
            <input type="hidden" name="blocks[<?=$this->block->id?>][type]" value="<?=$this->block->type?>">
        </th>
    </tr>
    <?php if($this->block->type == BOOKING_INFO_TYPE_LIST) { foreach($this->block->rows as $rowId => $row) {?>
    <tr class="block-row" index="<?=$rowId;?>">
        <td style="width: 20%">
            <input type="text" name="blocks[<?=$this->block->id?>][rows][<?=$rowId?>][name]" value="<?=$row->name?>">
        </td>
        <td>
            <textarea name="blocks[<?=$this->block->id?>][rows][<?=$rowId?>][text]"><?=$row->text?></textarea>
        </td>
        <td style="width: 6%">
            <a class="btn btn-danger" title="Удалить строку" onclick="booking_info.delBlockRow(this)">X</a>
        </td>
    </tr>
    <?php } ?>    
    <tr class="block-row new-row" style="display: none">
        <td style="width: 20%">
            <input type="text">
        </td>
        <td>
            <textarea></textarea>
        </td>
        <td>
            <a class="btn btn-danger" title="Удалить строку" onclick="booking_info.delBlockRow(this)">X</a>
        </td>
    </tr>
    <?php } else {?>  
    <tr>
        <td>
            <textarea name="blocks[<?=$this->block->id?>][text]"><?=$this->block->text?></textarea>
        </td>
    </tr>
    <?php } ?>
    <tr class="func">
        <td <?=$colspan?>>
            <a class="btn btn-danger pull-right" onclick="booking_info.delBlock(<?=$this->block->id?>, this)">
                Удалить блок
            </a>
            <?php if($this->block->type == BOOKING_INFO_TYPE_LIST) {?>
            <a class="btn btn-success" onclick="booking_info.addBlockRow(<?=$this->block->id?>, this)">
                Добавить строку
            </a>
            <?php }?>
        </td>
    </tr>
</table>
