<form id="bookingInfoEdit" onsubmit="return false;">
    <style>
        #bookingInfoEdit input, #bookingInfoEdit select{margin: 0}
        #bookingInfoEdit textarea{width: 98%; height: 115px;}
        #bookingInfoEdit tr.block-row textarea{height: 85px;}
        #bookingInfoEdit label{font-weight: bold;}
    </style>
    <table class="table table-bordered table-condensed" style="width: 800px; margin: 0 auto;">
        <tr>
            <td>
                <label>
                    Язык настройки:&nbsp;
                    <select id="langId" name="lang_id" onchange="booking_info.changeLang(this)">
                        <?php foreach($this->langList as $id => $lang) {?>
                        <option value="<?=$id?>" <?=$id == $this->lang ? 'selected' : ''?>>
                            <?=$lang->name;?>
                        </option>
                        <?php }?>
                    </select>
                </label>
            </td>
        </tr>
        <?php if(is_array($this->blocks)) {?>
        <tr>
            <td>
                <ul id="blockList" style="list-style: none; margin: 0">
                    <?php foreach($this->blocks as $block) {?>
                    <li><?=$block?></li>
                    <?php }?>
                </ul>
            </td>
        </tr>
        <?php }?>
        <tr>
            <td>
                <a class="btn btn-info" onclick="booking_info.addBlock(<?=BOOKING_INFO_TYPE_LIST?>, this)">
                    Добавить список
                </a>
                <a class="btn btn-info" onclick="booking_info.addBlock(<?=BOOKING_INFO_TYPE_TEXT?>, this)">
                    Добавить текстовый блок
                </a>
                <a class="btn btn-success pull-right" onclick="booking_info.save(this)">
                    Сохранить
                </a>
            </td>
        </tr>
    </table>
</form>
