<h2><?=$this->model->title;?></h2>

    <div class="contacts_heading">
        <?=$this->model->contacts;?>
        <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d1270.614152541083!2d30.436243!3d50.436848!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xde05b4f6eed8fedd!2sHotel+Villa+LaScala!5e0!3m2!1sru!2sua!4v1413881278715" width="940" height="600" frameborder="0" style="border:0"></iframe>
    </div>
