<div class="row">
    <div class="small-10 columns">
        <label class="bigWhite" id="cap">
            Введите пожалуйста email на который нужно выслать данные для смены пароля
            <input type="text" id="email" placeholder="example@domen.net" class="big">
        </label>
    </div>
</div>
<a id="but" onclick="forgotpassword.change();" class="button large">Отправить новый пароль.</a>