<div class="wrapper-inner">
    <div class="page_title"> <h2><?=$this->isQuestion ? $this->translate('addQuestion') : $this->translate('leaveComment') ; ?></h2></div>
    <form id="commentForm" onsubmit="return false;">
        <input type="hidden" name="controller" value="villa.module.comment.controller"/>
        <input type="hidden" name="action" value="add"/>
        <ul>
            <li>
                <?php $fullname = $this->user->id?$this->user->first_name.' '.$this->user->last_name:'';?>
                <input type="name" id="commentName" class="validate" placeholder="<?=$this->translate('yourName')?>" title="<?=$this->translate('yourName')?>" name="commentName" value="<?=$fullname?>"/>
            </li>
            <li>
                <input type="email" id="commentEmail" class="validate email" placeholder="<?=$this->translate('yourEmail')?>" title="<?=$this->translate('yourEmail')?>" name="commentEmail" value="<?=$this->user->email;?>"/>
            </li>
            <li>
                <textarea id="commentMessage" name="commentMessage"
                          placeholder="<?=$this->isQuestion ? $this->translate('enterQuestion') : $this->translate('yourComment')?>"
                          title="<?=$this->isQuestion ? $this->translate('enterQuestion') : $this->translate('yourComment')?>" class="validate"></textarea>
            </li>

        <?php if($this->captcha) { ?>
            <li>
                <?=$this->captcha;?>
                <input type="text" id="commentCaptcha" class="validate" placeholder="<?=$this->translate('textFromPicture')?>" title="<?=$this->translate('textFromPicture')?>" name="commentCaptcha"/>
            </li>
        <?php } ?>

            <li>
                <button onclick="history.back();" id="feedbackReturnBtn"><span><?=$this->translate('back')?></span></button>
                <button onclick="comment.save();" id="commentBtn">
                    <span><?=$this->isQuestion ? $this->translate('sendYourQuestion') : $this->translate('sendYourComment') ?></span>
                </button>
                <div class="error"></div>
            </li>
        </ul>
    </form>
</div>