<div class="wrapper-inner">
<input type="hidden" id="comment_entity_id" value="<?php echo $this->entityId; ?>"/>
<input type="hidden" id="comment_entity_type_id" value="<?php echo $this->entityTypeId; ?>"/>
<ul id="commentList">
    <?php foreach($this->comments as $comment) { ?>
        <li>
            <span class="row-name"><?php echo $comment->name; ?></span>
            <span class="row-date">(<?php echo $comment->date; ?>)</span><br/>
            <span class="row-message-label"><?=$this->translate('comment')?>: </span>
            <span class="row-message"><?php echo $comment->message; ?></span>
            <?php if($comment->answer) {?>
            <br/><br/>
            <span class="row-arrow" style="background: url(../villa/template/villa/i/answer_arrow.png) no-repeat center; display: inline-block; width: 20px;">&nbsp;</span>
            <span class="messageBlock" title="<?=$comment->answer?>">
                <span class="row-name" style="color: rgb(210, 138, 36);">Администрация</span>
                <span class="row-date">&nbsp;</span>
                <br>
                <span class="row-message-label" style="display: inline-block; margin-left: 25px;">Ответ:&nbsp;</span>
                <span class="row-message"><?=$comment->answer?></span>
            </span>
            <?php }?>
        </li>
    <?php } ?>
    </ul>
</div>



