<div id="userProfileView">
    <h2>Профиль пользователя <?php echo $this->profile['login']; ?></h2>




    <div ><img id="profileImage" src="<?php echo $this->profile['avatar']; ?>"/></div>


    <label for="profileName">Имя</label>
    <span id="profileName"><?php echo $this->profile['first_name']; ?></span> <br/>

    <label for="profileLastName">Фамилия</label>
    <span id="profileLastName"><?php echo $this->profile['last_name']; ?></span><br/>

    <label for="profileMiddleName">Отчество</label>
    <span id="profileMiddleName"><?php echo $this->profile['middle_name']; ?></span><br/>

    <label for="profileLogin">Login</label>
    <span id="profileLogin"><?php echo $this->profile['login']; ?></span><br/>

    <label for="profileEmail">Email</label>
    <span id="profileEmail"><?php echo $this->profile['email']; ?></span><br/>
    
    <label for="profileSkype">Skype</label>
    <span id="profileSkype"><?php echo $this->profile['skype']; ?></span><br/>
    
    <label for="profilePhone">Phone</label>
    <span id="profilePhone"><?php echo $this->profile['phone']; ?></span><br/>

    <label for="profileAbout">О себе</label>
    <p id="profileAbout"><?php echo $this->profile['about']; ?></p><br/>
</div>
