<h2>Мои аудиозаписи</h2>
<?php if (count($this->items)==0) { ?>
    У вас пока ничего не загружено.
<?php } ?>
<ul id="audio_items" class="lightbox">
    <?php foreach($this->items as $item) { ?>
        <li>
            <h3><?php echo $item['title']; ?></h3>
            <p><?php echo $item['description']; ?></p>
            <audio src="media/<?php echo $item['uid']; ?>/audio/<?php echo $item['file_name']; ?>" controls preload></audio>
        </li>
    <?php } ?>
</ul>