<h2>Управление аудио</h2>
<ul id="audio_items">
    <?php foreach($this->items as $item) { ?>
        <li id="audio_item_<?php echo $item['id']; ?>">
            <h3><?php echo $item['title']; ?></h3>
            <p><?php echo $item['description']; ?></p>
            <audio src="media/<?php echo $item['uid']; ?>/audio/<?php echo $item['file_name']; ?>" controls preload></audio>
            <button onclick="javascript:audio.remove(<?php echo $item['id']; ?>);" class="btn btn-danger">Удалить</button>
        </li>
    <?php } ?>
</ul>

<fieldset>
    <legend>Загрузить новое аудио</legend>

<label>Выберите файл для загрузки:</label> 
<div id="btnAudioUpload">Загрузить картинку</div><br/>
<span class="help-block">
Поддерживаемые форматы: mp3<br/>
Размер файла не должен превышать 8Mb
</span>
<div id="uploadProgress"></div>

<div id="audio-manage-form">
    

    <input type="hidden" id="audio-id"/>
    <label for="audio-title">Название</label>   
    <input type="text" id="audio-title" class="input-xxlarge" placeholder="Название вашей аудиозаписи"/><br/>
    <label for="audio-description">Описание</label>
    <textarea id="audio-description" class="input-xxlarge" placeholder="Описание аудиозаписи"></textarea>
    <br/>
    <button class="btn btn-primary" onclick="audio.update();">Загрузить аудиозапись</button>

</div>    
</fieldset>

<script>
    $(document).ready(function() {
        audio.init('<?php echo $this->sid; ?>');
    });
</script>