<form id="editUserForm">
    <input type="hidden" name="id" value="<?=$this->model->id;?>">
    <table class="table handbook">
        <caption>Редактирование/добавление пользователя</caption>
        <tbody>
            <?php if(Dante_Lib_Config::get('user.displayLogin')) {?>
            <tr>
                <th>
                    Логин
                </th>
                <td colspan="3">
                    <input type="text" name="login" value="<?=$this->model->login;?>">
                </td>
            </tr>
            <?php }?>
            <tr>
                <th>
                    Пароль
                </th>
                <td colspan="3">
                    <input type="password" name="password"  placeholder="********">
                </td>
            </tr>
            <tr>
                <th>
                    Email
                </th>
                <td colspan="3">
                    <input type="text" name="email" value="<?=$this->model->email;?>">
                </td>
            </tr>
            <tr>
                <th>
                    ФИО
                </th>
                <td colspan="3">
                    <input type="text" name="fio" value="<?=$this->model->fio;?>">
                </td>
            </tr>
            <?php if(Dante_Lib_Config::get('user.displayRating')) {?>
            <tr>
                <th>
                    Рейтинг
                </th>
                <td colspan="3">
                    <input type="text" name="rating" value="<?=$this->model->rating;?>">
                    <span class="help-block">Поставьте значение 100 если вы хотите чтобы пользователь работал в админской панели</span>
                </td>
            </tr>
            <?php }?>
            <tr>
                <th>
                    Группа
                </th>
                <td colspan="3">
                    <select name="group_id">
                        <?php foreach($this->groupList as $k => $v){ ?>
                        <option value="<?=$k;?>" <?=($this->model->group_id == $k ? 'selected':'');?>><?=$v;?></option>
                        <? }?>
                    </select>
                </td>
            </tr>            
            <tr>                
                <td colspan="4" class="right">
                    <button type="button" class="btn btn-success" onclick="user.submit(this)">Сохранить</button>
                </td>
            </tr>
        </tbody>
    </table>
</form>
