<style>
    .modal-body{
        min-height: 0;
    }
</style>
<form id="editUserForm">
    <input type="hidden" name="group_id" value="<?=$this->model->group_id;?>">
    <table class="table handbook">
        <caption>Редактирование/добавление группы пользователей</caption>
        <tbody>
            <tr>
                <th>
                    ID группы
                </th>
                <td colspan="3">
                    <?=$this->model->group_id;?>
                </td>
            </tr>
            <tr>
                <th>
                    Системное название
                </th>
                <td colspan="3">
                    <input type="text" name="group_name" value="<?=$this->model->group_name;?>" <?=$this->model->is_system ? 'disabled' : ''?>>
                </td>
            </tr>
            <tr>
                <th>
                    Публичное название
                </th>
                <td colspan="3">
                    <input type="text" name="group_caption" value="<?=$this->model->group_caption;?>">
                </td>
            </tr>
            <tr>                
                <td colspan="4" class="right">
                    <button type="button" class="btn btn-success btn-large pull-right" onclick="user.submitGroup(this)">Сохранить</button>
                </td>
            </tr>
        </tbody>
    </table>
</form>