<form action="https://api.privatbank.ua/p24api/ishop" method="POST">      
    <input type="text" name="amt" value="<?=$this->params->amount;?>"/>      
    <input type="text" name="ccy" value="<?=$this->params->currency;?>" />      
    <input type="hidden" name="merchant" value="<?=$this->params->merchant;?>" />      
    <input type="hidden" name="order" value="<?=$this->params->order;?>" />      
    <input type="hidden" name="details" value="<?=$this->params->details;?>" />      
    <input type="hidden" name="ext_details" value="<?=$this->params->ext_details;?>" />      
    <input type="hidden" name="pay_way" value="privat24" />      
    <input type="hidden" name="return_url" value="<?=$this->params->return_url;?>" />      
    <input type="hidden" name="server_url" value="<?=$this->params->server_url;?>" />      
    <input type="submit" value="Оплатить" /> 
</form>