<form name="payment" action="https://www.interkassa.com/lib/payment.php" method="post" target="_top">

    <input type="hidden" name="ik_shop_id" value="<?php echo $this->shopId; ?>">

    <input type="hidden" name="ik_payment_amount" value="<?php echo $this->amount; ?>">
    <input type="hidden" name="ik_payment_id" value="<?php echo $this->paymentId; ?>">
    <input type="hidden" name="ik_payment_desc" value="<?php echo $this->paymentDescription; ?>">
    <input type="hidden" name="ik_paysystem_alias" value="<?php echo $this->paysystemAlias; ?>">

    <input type="hidden" name="ik_baggage_fields" value="<?php echo $this->ik_baggage_fields; ?>">

    <input type="hidden" name="ik_success_url" value="<?php echo $this->ik_success_url; ?>">
    <input type="hidden" name="ik_success_method" value="<?php echo $this->ik_success_method; ?>">

    <input type="hidden" name="ik_fail_url" value="<?php echo $this->ik_fail_url; ?>">
    <input type="hidden" name="ik_fail_method" value="<?php echo $this->ik_fail_method; ?>">

    <input type="hidden" name="ik_status_url" value="<?php echo $this->ik_status_url; ?>">
    <input type="hidden" name="ik_status_method" value="<?php echo $this->ik_status_method; ?>">



    <input type="submit" value="<?php echo $this->payBtnCaption; ?>" class="<?php echo $this->payBtnClass; ?>"/>

</form>
