<form id="editLanguageForm">
    <input type="hidden" name="id" value="<?=$this->lang->id;?>">
    <table class="table handbook table-bordered">
        <tr>
            <th style="width: 25%">Название</th>
            <td>
                <input type="text" name="name" value="<?=$this->lang->name;?>"/>
            </td>
        </tr>
        <tr>
            <th>Системное название</th>
            <td>
                <input type="text" name="sys_name" value="<?=$this->lang->sys_name;?>"/>
                <input type="hidden" id="lang.is_default" value="<?=$this->lang->is_default;?>"/>
            </td>
        </tr>
        <?php if(Dante_Lib_Config::get('lang.allowImage')) {?>
        <tr>
            <th>Изображение</th>
            <td>
                <img id="imgPreview" src="<?=$this->imgDir.$this->lang->image?>"style="height: 50px;"/>
                <br/><br/>
                <input type="hidden" id="image" name="image" value="<?=$this->lang->image;?>"/>  
                <span class="btn btn-success fileinput-button">
                    <i class="glyphicon glyphicon-plus"></i>
                    <span>Выбрать файл</span>
                    <input id="fileupload" type="file" name="file">
                </span><br/><br/>
                <div id="progress" class="progress">
                    <div class="progress-bar progress-bar-success" style="width: 0%;"></div>
                </div>  
            </td>
        </tr>
        <?php }?>
        <tr>          
            <td colspan="2">
                <a class="btn btn-success" onclick="languageJS.editSubmit(this);">Сохранить</a>
                <?php if($this->lang->id){?>
                <a class="btn btn-warning" onclick="languageJS.setDefault(this);" style="float: right">
                    Сделать языком по умолчанию
                </a>
                <?php }?>
            </td>
        </tr>
    </table>
</form>
<div id="myelfinder"></div>
<script>
<?php if(!$this->access) {?>
    $(function(){
        $('#editLanguageForm input').prop('disabled', 'true');
        $('#editLanguageForm table tr:last-child').remove();
    });
<?php }?>

    $('#fileupload').fileupload({
        dataType: 'json',
        url: "/ajax.php?controller=module.lang.manage.controller&action=imageUpload",
        maxFileSize: 10000000,
        acceptFileTypes: /(\.|\/)(gif|jpe?g|png)$/i,
        start: function(e) 
        {
            $('#progress .progress-bar').css(
                'width',
                0 + '%'
            );
        },
        done: function (e, data) {
            if (data.result.result == 1)
            {
                $('#imgPreview').attr('src', data.result.imageDir+data.result.image);
                $('#image').val(data.result.image);
            }
            else
            {
                jAlert(data.result.message, 'Ошибка');
            }
        },
        progressall: function (e, data) 
        {
            var progress = parseInt(data.loaded / data.total * 100, 10);
            $('#progress .progress-bar').css(
                'width',
                progress + '%'
            );

        }
    });
    
</script>