<!-- <?= print_r($this, true); ?> -->
<style>
    #divisionAccess .modal-body{
        min-height: 0;
    }
</style>
<form id="divisionAccessForm">
    <input type="hidden" name="id" value="<?=$this->id;?>">
    <input type="hidden" name="controller" value="module.division.manage.controller">
    <input type="hidden" name="action" value="accessEdit">
    <table class="table table-striped table-bordered table-condensed table-hover handbook">
        <caption>Права доступа</caption>
        <thead>
            <tr>
                <th>
                    Группа
                </th>
                <th>
                    Добавление
                </th>
                <th>
                    Чтение
                </th>
                <th>
                    Изменение
                </th>
                <th>
                    Удаление
                </th>                                   
            </tr>
        </thead>
        <tbody>
            <? foreach((array)$this->rows as $row){ ?>
            <tr>
                <td>
                    <?=$row['group_caption'];?>
                </td>
                <td>
                    <input type="checkbox" value="1" name="vars[<?=$row['id'];?>][create]" <?=($row['create']?'checked':'');?>>
                </td>
                <td>
                    <input type="checkbox" value="1" name="vars[<?=$row['id'];?>][read]" <?=($row['read']?'checked':'');?>>
                </td>
                <td>
                    <input type="checkbox" value="1" name="vars[<?=$row['id'];?>][update]" <?=($row['update']?'checked':'');?>>
                </td>
                <td>
                    <input type="checkbox" value="1" name="vars[<?=$row['id'];?>][delete]" <?=($row['delete']?'checked':'');?>>
                </td>
            </tr>
            <? } ?>
        </tbody>
        <tfoot>
            <tr>
                <td colspan="5">
                    <button type="button" class="btn btn-success pull-right" onclick="division.editAccess()">Сохранить</button>
                </td>
            </tr>
        </tfoot>
    </table>
</form>