
<form name="editDivision" id="editDivision">
    <input type="hidden" name="id" id="id" value="<?=$this->id;?>">
    <input type="hidden" name="controller" id="controller" value="module.division.manage.controller">
    <input type="hidden" name="action" id="action" value="edit">
    <table class="table handbook table-condensed table-bordered">
        <caption>Добавление / редактирование раздела</caption>
        <tbody>
            <tr>
                <td colspan="4" class="title">
                     Системные параметры 
                     <? if($this->id){?>
                     <button type="button" onclick="division.openAccess(<?=$this->id;?>)" class="btn btn-inverse btn-small pull-right">Редактировать права доступа</button>
                     <? }?>
                </td>
            </tr>
            <tr>
                <th>
                    Настраеваемый язык
                </th>
                       
                <td>
                    <? if(Dante_Lib_Config::get('multilang')){ ?> 
                        <select name="language" id="language" onchange="division.changeLang(this)" class="handbooks" >
                           <? foreach((array)$this->lang_array as $cur){?>
                           <option value="<?=$cur['id'];?>" <?=($this->lang_id==$cur['id'])?'selected':$this->lang_id;?>><?=$cur['name'];?></option>
                           <? }?>                       
                        </select>
                    <? }else{
                        echo $this->lang_id?$this->lang_array[$this->lang_id]['name']:'Опция не доступна';
                        ?><input type="hidden" name="language" value="1">
                    <? }?>
                </td>           
                <th colspan="2">               
                    <label for="d_type">
                        Тип раздела 
                        <select name="d_type">
                            <option value="url" <?=($this->d_type=='url' or !$this->d_type)?'selected':'' ;?>>Ссылка</option>
                            <option value="empty" <?=($this->d_type=='empty')?'selected':'' ;?>>Группиратор без ссылки</option>
                        </select>
                    </label>
                </th>
            </tr>
            <tr>
                <th colspan="1">
                    <label for="name"> Системное название </label>
                </th>
                <td colspan="3">
                    <input class="handbooks" type="text" name="name" id="name" value="<?=$this->name;?>">
                </td>
            </tr>
            <tr>
                <th >
                    URL 
                </th>
                <td colspan="3">
                    <input class="handbooks" type="text" name="link" class="full-width" value="<?=$this->link;?>" style="margin: 0;"><br>
                    <font size="1">(если не заполнить то будет сгенерирован автоматически из поля "Системное Название*")
                </td>
            </tr>
            <tr>
                <th>
                    <label for="image"> Изображение </label>
                </th>
                <td>
                    <image id="prev_image" src="<?=Dante_Lib_Config::get("publication.imgDir");?><?=$this->image;?>?<?=time();?>" style="height:80px; max-width:100px;">
                </td>
                <td colspan="2">                
                    <input id="image" type="text" name="image" value="<?=$this->image;?>" style="width: 300px;"/><button class="btn btn-warning btn-mini" onclick="return publications.load_elfinder('image');" style="margin: -8px 4px 0;">Загрузить</button>
                </td>
            </tr>
            <tr>
                <td colspan="4" class="title">
                    Общая информация и SEO
                </td>
            </tr>
            <tr>
                <th colspan="1">
                    <label for="seoName">Отображаемое название </label>
                </th>
                <td colspan="3">
                    <input class="handbooks" type="text" name="seoName" id="seoName" value="<?=$this->seo_name;?>">
                </td>
            </tr>
            <tr>
                <th colspan="1">
                    <label for="title">SEO title </label>
                </th>
                <td colspan="3">
                    <input class="handbooks" type="text" name="title" id="title" value="<?=$this->title;?>">
                </td>
            </tr>
            <tr>
                <th colspan="1">
                    <label for="description">SEO description </label>
                </th>
                <td colspan="3">
                    <textarea class="medium" name="description" id="description"><?=$this->description;?></textarea>
                </td>
            </tr>
            <tr>
                <th colspan="1">
                    <label for="keywords">SEO Ключевые слова </label>
                </th>
                <td colspan="3">
                    <textarea class="medium" name="keywords" id="keywords"><?=$this->keywords;?></textarea>
                </td>
            </tr>

        </tbody>
        <tfooot>
            <tr>                
                <td colspan="4">
                    <div class="buttons-fly">
                    <a class="btn btn-success" onclick="division.edit(this)">Сохранить</a>
                    <a class="btn btn-success" onclick="division.edit(this, true)">Сохранить и закрыть окно редактора</a>
                    </div>
                    
                </td>
            </tr>
        </tfooot>
    </table>
</form>
<div id="myelfinder"></div>
<script>
    
    var opts = {
              lang         : 'ru',
              styleWithCSS : false,
              height       : 200,
              toolbar      : 'maxi',
              fmOpen : function(callback) {
                $('<div id="myelfinder"></div>').dialogelfinder({
                  url: 'ajax.php?controller=lib.elfinder.controller',
                  commandsOptions: {
                    getfile: {
                      oncomplete: 'destroy' // destroy elFinder after file selection
                    }
                  },
                  getFileCallback: callback // pass callback to file manager
                });
              }
              
          };
    $("textarea.editor").elrte(opts);
    $('#editDivision').submit(function(){        
        return false;        
    })    
    
    
</script>