<form id="editLabelForm">
    <input type="hidden" id="id" name="id" value="<?=$this->model->id;?>">
    <input type="hidden" name="controller" value="module.labels.manage.controller">
    <input type="hidden" name="action" value="edit">
    <table class="table handbook table-bordered">
        <tr>                
            <th style="width: 25%;">
                Язык
            </th>
            <td style="width: 100px;">
                <select name="lang_id" class="func" onchange="labelsAdmin.changeLang(this)">
                    <?php foreach($this->langList as $id => $lang) {?>
                    <option value="<?=$id?>" <?php if($id == $this->model->lang_id) echo 'selected';?>>
                        <?=$lang->name;?>
                    </option>
                    <?php }?>
                </select>
            </td>
        </tr>
        <tr>
            <th>Системное название</th>
            <td>
                <input type="text" name="sys_name" value="<?=$this->model->sys_name;?>" style="width: 90%"/>
            </td>
        </tr>
        <tr>
            <th>Название</th>
            <td>
                <input type="text" name="name" value="<?=$this->model->name;?>" style="width: 90%"/>
            </td>
        </tr>
        <tr>              
            <td colspan="2">
                <a class="btn btn-success func" onclick="labelsAdmin.editSubmit(this);">Сохранить</a>
            </td>
        </tr>
    </table>
</form>