#textEditForm fieldset
{
    border: 1px solid grey;
    width: 100%;
    padding: 10px;
    border-radius: 3px;
}

#textEditForm fieldset legend
{
    display: block;
    width: initial;
    padding: 6px;
    text-align: left;
    margin-bottom: 0px;
    font-size: 21px;
    line-height: normal;
    color: #333333;
    border: 0;
    border-bottom: none;
}

#textEditForm .scanPassport input[type=button]
{
    margin-bottom: 10px;
}

#navButtons
{
    margin-left: 8px;
}

#additionalInfo
{
    display: none;
}
/*th.ascend{*/
    /*background-image: url(http://tablesorter.com/themes/blue/asc.gif);*/
    /*background-repeat: no-repeat;*/
    /*background-position: center right;*/
    /*cursor: pointer;*/
/*}*/
/*th.descend{*/
    /*background-image: url(http://tablesorter.com/themes/blue/desc.gif);*/
    /*background-repeat: no-repeat;*/
    /*background-position: center right;*/
    /*cursor: pointer;*/
/*}*/
.sortable1{
    position: relative;
    padding: 0px 22px 0px 0px;
    min-height: 26px;
    display: inline-block;
    float: right;
    pointer-events: none;
}
.position_fix{
    margin: 0 auto;
    padding: 20px;
    left: 0;
    right: 0;
    text-align: center;
    position: fixed;
    top: 40px;
    background: #fff;
    z-index: 100;
    width: 100%!important;
}
