.nav-pills > li > a.attention
{
    box-shadow: 0 0 5px 2px red !important;
    -moz-box-shadow: 0 0 5px 2px red !important;
    -webkit-box-shadow: 0 0 5px 2px red !important;
    -o-box-shadow: 0 0 5px 2px red !important;
    -khtml-box-shadow: 0 0 5px 2px red !important;
}

.nav-pills > li > a.attention-ie
{
    outline: 3px solid red;
}

.nav-pills.main > li > a
{
    border: 1px solid #327f0f;
    color: white;
    font-size: 14px;
    font-weight: bold;
    margin: 2px 10px;
    text-shadow: 1px 1px 0 black;
    
    background: -moz-linear-gradient(top, #74c766, #0b710b, #74c766);
    background: -o-linear-gradient(top, #74c766, #0b710b, #74c766);
    background: -webkit-linear-gradient(top, #74c766, #0b710b, #74c766);
    background: -ms-linear-gradient(top, #74c766, #0b710b, #74c766);
    -pie-background: linear-gradient(top, #74c766, #0b710b, #74c766);

    box-shadow: inset 0 1px 1px 0 #bae1b4, 0 0 0 1px #ddd7cb;
    -moz-box-shadow: inset 0 1px 1px 0 #bae1b4, 0 0 0 1px #ddd7cb;
    -webkit-box-shadow: inset 0 1px 1px 0 #bae1b4, 0 0 0 1px #ddd7cb;
    -o-box-shadow: inset 0 1px 1px 0 #bae1b4, 0 0 0 1px #ddd7cb;
    -khtml-box-shadow: inset 0 1px 1px 0 #bae1b4, 0 0 0 1px #ddd7cb;  
    behavior: url('../pie/PIE.htc');  
}

.nav-pills.main > li > a:hover
{
    background: -moz-linear-gradient(top, #0b710b, #74c766);
    background: -o-linear-gradient(top, #0b710b, #74c766);
    background: -webkit-linear-gradient(top, #0b710b, #74c766);
    background: -ms-linear-gradient(top, #0b710b, #74c766);
    -pie-background: linear-gradient(top, #0b710b, #74c766); 
}


.modal1{
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content1 {
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */
}

/* The Close Button */
.close1 {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close1:hover,
.close1:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}