td.buttons .btn{
    margin-bottom: 2px;
    width: 50px;
}

.vote_listing{
    padding: 0;
    margin: 0;
}
.vote_listing li{
    padding:0;
    margin: 0 0 5px 0;
}
.answer.listing.progress{
    margin: 0;
    height: 6px;
}
.poll_division_list {
    padding: 0;
    margin: 0;
}
.poll_division_list li{
    list-style-type: none;    
}
.poll_division_list li:hover{
    color: #009;
    background-color: #fff;
}
#edtPollForm input
{
    margin: 5px 0;
    width: 95%;
}
#edtPollForm select#divisions{
    min-height: 200px;
    width: 734px;
}
#pollForm .modal-body{
    max-height: none;
}

.poll_block{
    width: 272px;
    border: 1px #ccc solid;    
    border-radius: 10px;
    margin: 0 auto;
    margin-bottom: 10px;
}
.poll_title, .poll_query, .poll_answers{
    padding: 8px;
}
.poll_title{
    background-color: #418EC3;
    border-radius: 7px 7px 0 0;
    color:#fff;
}
.poll_query{
    font-weight: bold;
    border-bottom: 1px #ccc dashed;
}

