<table class="table table-bordered table-condensed" style="width: 700px; margin: 0 auto">
    <tr>
        <td style="text-align: center">
            <a class="btn btn-info" onclick="openFileModal()">Импорт</a>&emsp;
            <a class="btn btn-success" href="/manage/export-labels/">Экспорт</a>
        </td>
    </tr>
</table>
<div style="display: none">
    <div id="importModal" class="b-modal" style="width: 500px;">
        <div class="arcticmodal-close b-modal_close">X</div>
        <div class="import-modal-body">     
            <p class="lead text-info">Выберите файл в формате "csv"</p>
            <span class="btn btn-success fileinput-button">
                <i class="glyphicon glyphicon-plus"></i>
                <span>Выбрать файл</span>
                <input id="fileupload" type="file" name="file">
            </span><br/><br/>
            <div id="progress" class="progress">
                <div class="progress-bar progress-bar-success" style="width: 0%;"></div>
            </div> 
        </div>
    </div>
</div>
<script>
    function openFileModal()
    {
        $('#importModal').arcticmodal({
            afterOpen: function () {
                $('#fileupload').fileupload({
                    dataType: 'json',
                    url: "/ajax.php?controller=villa.module.labels.manage.controller&action=import",
                    maxFileSize: 10000000,
                    acceptFileTypes: /(\.|\/)(csv)$/i,
                    start: function (e)
                    {
                        $('#progress .progress-bar').css(
                                'width',
                                0 + '%'
                                );
                    },
                    done: function (e, data) {
                        console.log(data.result );
//                        if (data.result == 1)
//                        {
                            handbooks.formSubmit();
                            jAlert(data.result.message, 'Сообщение');
//                        }
//                        else
//                        {
//                            jAlert(data.message, 'Ошибка');
//                        }
                    },
                    progressall: function (e, data)
                    {
                        var progress = parseInt(data.loaded / data.total * 100, 10);
                        $('#progress .progress-bar').css(
                                'width',
                                progress + '%'
                                );
                    }
                });
            },
            afterClose: function () {
                $('#progress .progress-bar').css('width', 0 + '%');
                $('#fileupload').fileupload('destroy');
            }
        });
    }


</script>
