<div class="wrapper-inner">
    <div id="booking-history">
        <h2><?=$this->translate('bookingHistory')?></h2>
        <ul>
        <?php foreach($this->list as $id => $item) { ?>
            <li>
                <h3 style="text-decoration: underline;"><?=$this->translate('booking')?> № <?=$id; ?></h3>
                <dl>
                    <dt><?=$this->translate('creationDate')?>:  </dt>
                    <dd><?=$item->creation_time; ?></dd>
                    <dt><?=$this->translate('changeDate')?>:  </dt>
                    <dd><?=$item->modified; ?></dd>
                    <dt><?=$this->translate('name')?>:  </dt>
                    <dd><?=$item->firstName; ?></dd>
                    <dt><?=$this->translate('lastName')?>: </dt>
                    <dd><?=$item->secondName; ?></dd>
                    <dt><?=$this->translate('email')?>: </dt>
                    <dd><?=$item->email; ?></dd>
                    <dt><?=$this->translate('phone')?>: </dt>
                    <dd><?=$item->phone; ?></dd>
                    <dt><?=$this->translate('roomType')?>: </dt>
                    <dd><?=$this->roomTypes[$item->roomData->type_id]; ?></dd>
                    <dt><?=$this->translate('arriveDate'); ?>: </dt>
                    <dd><?=$item->basicData->arrival; ?></dd>
                    <dt><?=$this->translate('departureDate'); ?>: </dt>
                    <dd><?=$item->basicData->departure; ?></dd>
                    <dt><?=$this->translate('adults')?>: </dt>
                    <dd><?=$item->basicData->adults; ?></dd>
                    <dt><?=$this->translate('children')?>: </dt>
                    <dd><?=$item->basicData->children; ?></dd>
                    <dt><?=$this->translate('cost')?>: </dt>
                    <dd><?=$item->totalsData->dispTotalCost(); ?> <?=$this->currencyName; ?></dd>
                    <dt><?=$this->translate('status')?>: </dt>
                    <dd><?=$this->statusList[$item->status]; ?></dd>
                </dl>
                <?php if($item->status != BOOKING_STATUS_END && $item->status != BOOKING_STATUS_CANCEL) {?>
                <button class="green" onclick="location.assign('/mybookings/edit-<?=$item->id;?>')">
                    <span><?=$this->translate('edit')?></span>
                </button>
                <?php if($item->status == BOOKING_STATUS_NEW || $item->status == BOOKING_STATUS_PROCESSED) {?>
                <button onclick="profile.openDatesWin(<?=$id?>, <?=$item->roomData->type_id?>, this)" style="width: 280px">
                    <span><?=$this->translate('changeArrivalDeparture')?></span>
                </button>
                <span class="dates">
                    <input type="hidden" class="arrival" value="<?=$item->basicData->arrival?>">
                    <input type="hidden" class="departure" value="<?=$item->basicData->departure?>">
                    <input type="hidden" class="days" value="<?=$item->days?>">
                </span>
                <button onclick="profile.cancelBooking(<?=$item->id;?>)">
                    <span>
                        <?=$this->translate('cancel');?>
                    </span>
                </button>
                <?php } ?>
                <?php } ?>
                <table class="tourPrepayment">
                    <tr>
                        <td></td>
                        <td><?=$this->translate('totalCost')?></td>
                        <td><?=$this->translate('services')?></td>
                        <td><?=$this->translate('residence')?></td>
                    </tr>
                    <tr>
                        <td>
                            <label><?=$this->translate('cost')?></label>
                        </td>
                        <td>
                            <?=$item->totalsData->dispTotalCost(); ?> <?php echo $this->currencyName; ?>
                        </td>
                        <td>
                            <?=$item->totalsData->dispOptionsCost(); ?> <?php echo $this->currencyName; ?>
                        </td>
                        <td>
                            <?=$item->totalsData->dispResidenceCost(); ?> <?php echo $this->currencyName; ?>
                        </td>
                    </tr>
                    <?php if($item->totalsData->getTotalDiscount()) {?>
                    <tr>
                        <td>
                            <label><?=$this->translate('discount')?></label>
                        </td>
                        <td>
                            <?=$item->totalsData->dispTotalDiscount(); ?> <?php echo $this->currencyName; ?>
                        </td>
                        <td>
                            <?=$item->totalsData->dispOptionsDiscount(); ?> <?php echo $this->currencyName; ?>
                        </td>

                        <td>
                            <?=$item->totalsData->dispResidenceDiscount(); ?> <?php echo $this->currencyName; ?>
                        </td>
                    </tr>
                    <?php }?>
                    <tr>
                        <td>
                            <label><?=$this->translate('paid')?></label>
                        </td>
                        <td>
                            <?=$item->totalsData->dispTotalPaid(); ?> <?php echo $this->currencyName; ?>
                        </td>
                        <td>
                            <?=$item->totalsData->dispOptionsPaid(); ?> <?php echo $this->currencyName; ?>
                        </td>
                        <td>
                            <?=$item->totalsData->dispResidencePaid(); ?> <?php echo $this->currencyName; ?>
                        </td>
                    </tr>
                    <?php if($item->totalsData->dispTotalPayable()) {?>
                    <tr>
                        <td>
                            <label><?=$this->translate('payable')?></label>
                        </td>
                        <td>
                            <?=$item->totalsData->dispTotalPayable(); ?> <?php echo $this->currencyName; ?>
                        </td>
                        <td>
                            <?=$item->totalsData->dispOptionsPayable(); ?> <?php echo $this->currencyName; ?>
                        </td>

                        <td>
                            <?=$item->totalsData->dispResidencePayable(); ?> <?php echo $this->currencyName; ?>
                        </td>
                    </tr>
                    <?php if($this->buttons[$id] && $item->status != BOOKING_STATUS_END && $item->status != BOOKING_STATUS_CANCEL) {?>
                    <tfoot>
                        <td>
                            <label><?=$this->translate('restToPay')?></label>
                        </td>
                        <td>
                            <?=$this->buttons[$id]['payAllBtn']; ?>
                        </td>
                        <td>
                            <?=$this->buttons[$id]['payServicesBtn']; ?>
                        </td>
                        <td>
                            <?=$this->buttons[$id]['payResidenceBtn']; ?>
                        </td>
                    </tfoot>
                    <?php } }?>
                </table>
            </li>
        <?php } ?>
        </ul>
    </div>
    <div style="display: none">
        <div id="changeArrivalWin" class="b-modal villa-modal-form">
            <div class="b-modal_close arcticmodal-close"></div>
            <div class="modal-body">
                <p class="strong"><?=$this->translate('changeArrivalDeparture')?></p>
                <form id="changeArrivalForm">
                    <input type="hidden" name="booking_id">
                    <input type="hidden" name="room_type">
                    <input type="hidden" name="room_id">
                    <ul>
                        <li>
                            <label>
                                <?=$this->translate('arrive')?>
                                <input type="text" name="arrival" readonly>
                            </label>
                        </li>
                        <li>
                            <label>
                                <?=$this->translate('departure')?>
                                <input type="text" name="departure" readonly>
                            </label>
                        </li>
                    </ul>
                </form>
                <div class="error"></div>
                <button id="newSearchBtn" class="green" onclick="profile.newRoomSearch()">
                    <span><?=$this->translate('search_numbers')?></span>
                </button>
                <button id="changeArrivalBtn" style="display: none" onclick="profile.changeDates()">
                    <span><?=$this->translate('save')?></span>
                </button>
                <button id="exitBtn" style="display: none" onclick="$('#changeArrivalWin').arcticmodal('close')">
                    <span><?=$this->translate('close')?></span>
                </button>
            </div>
        </div>
    </div>
 </div>
    <script>
        $(function(){
            $(document).scrollTop(515);
            <?php if($this->payMessage) {?>
            jAlert('<?=$this->payMessage?>', villa.labels.message);
            <?php }?>
        });
    </script>