<div class="wrapper-inner">
    <form id="scanUploadMain" onsubmit="return false;">
        <h2><?=$this->translate('passportScan')?></h2>
        <img id="scanPreview" src="<?=$this->scanPath;?>"/>
        <div class="flex_bpx_btn">
        <span id="scanUploadBtn" class="button fileinput-button">
            <i class="glyphicon glyphicon-plus"></i>
            <span><?=$this->translate('uploadFile')?></span>
            <input id="scanUpload" type="file" name="file">
        </span>
        <button id="delScan" onclick="profile.delScan()">
            <span><?=$this->translate('delCurrent')?></span>
        </button></div>
        <div id="progress">
            <div class="progress-bar" style="width: 0%;"></div>
        </div><br/><br/>
    </form>
    </div>
    <script>
        $('#scanUpload').fileupload({
            dataType: 'json',
            url: "/ajax.php?controller=villa.module.user.controller&action=scanUpload",
            maxFileSize: 10000000,
            acceptFileTypes: /(\.|\/)(gif|jpe?g|png)$/i,
            start: function(e)
            {
                $('#progress .progress-bar').css(
                    'width',
                    0 + '%'
                );
            },
            done: function (e, data) {
                if (data.result.result == 1)
                {
                    $('img#scanPreview').attr('src', data.result.image);
                }
                else
                {
                    jAlert(data.result.message, villa.labels.error);
                }
            },
            progressall: function (e, data)
            {
                var progress = parseInt(data.loaded / data.total * 100, 10);
                $('#progress .progress-bar').css(
                    'width',
                    progress + '%'
                );
            }
        });
    </script>