<form id="touragentForm" onsubmit="return false;">
    <h2><?=$this->translate('tourAgentData')?></h2>
    <label>
        <?=$this->translate('payRequisites')?>
        <input type="text" id="requisites" name="requisites" title="<?=$this->translate('payRequisites')?>" 
               value="<?=$this->requisites?>">
    </label>
    <button onclick="profile.saveRequisites()">
        <span><?=$this->translate('save')?></span>
    </button>
    <br/><br/>
    <h2><?=$this->translate('logo')?></h2>
    <img id="logoPreview" src="<?=$this->logoPath;?>"/>
    <span id="logoUploadBtn" class="button fileinput-button">
        <i class="glyphicon glyphicon-plus"></i>
        <span><?=$this->translate('uploadFile')?></span>
        <input id="logoUpload" type="file" name="file">
    </span>
    <button id="delLogo" onclick="profile.dellogo()">
        <span><?=$this->translate('delCurrent')?></span>
    </button>
    <div id="progress">
        <div class="progress-bar" style="width: 0%;"></div>
    </div><br/><br/>
</form>
<script>
    $('#logoUpload').fileupload({
        dataType: 'json',
        url: "/ajax.php?controller=villa.module.user.controller&action=logoUpload",
        maxFileSize: 10000000,
        acceptFileTypes: /(\.|\/)(gif|jpe?g|png)$/i,
        start: function(e) 
        {
            $('#progress .progress-bar').css(
                'width',
                0 + '%'
            );
        },
        done: function (e, data) {
            if (data.result.result == 1)
            {
                $('img#logoPreview').attr('src', data.result.dir+data.result.image);
            }
            else
            {
                jAlert(data.result.message, villa.labels.error);
            }
        },
        progressall: function (e, data) 
        {
            var progress = parseInt(data.loaded / data.total * 100, 10);
            $('#progress .progress-bar').css(
                'width',
                progress + '%'
            );
        }
    });
</script>