<form id="editExchange">
    <input type="hidden" name="controller" value="module.currency.manage.controller">
    <input type="hidden" name="action" value="editExchange">
    <table class="table handbook table-bordered">
        <caption>Курс валют</caption>
        <tr>
            <th style="width: 25%">
                 Валюта курса<br/>
                 <small style="color: #888">
                     Валюта, относительно которой будет установлен курс
                 </small>
            </th>
            <td>
                <select id="exchange_base" name="exchange_base" onchange="currency.openExchange(this, true);">
                    <?php foreach($this->list as $id => $one){ ?>
                    <option value="<?=$id;?>" <?=($id == $this->base['id'])?'selected':'';?>>
                        <?=$one['title'];?>
                    </option>
                    <?php }?>
                </select>
            </td>
        </tr>
        <?php foreach($this->list as $id => $one){ ?>
        <tr <?=($id == $this->base['id'])?'style="display: none;"':'';?>>
            <th><?=$one['title'];?></th>
            <td>
                <input type="text" name="currency[<?=$id;?>]" value="<?=$one['factor'];?>"/>
            </td>
        </tr>
        <?php }?>
        <tr>
            <td colspan="2">
                <b class="text-error">Важно!</b> Установка курса вызывает пересчет всех коэффициентов
                относительно базовой валюты. <b>Установите базовую валюту</b> до того,
                как устанавливать курс. Если Вы меняете базовую валюту, пожалуйста, введите
                курс заново.<br/>
                <b>Все расчеты ведутся с точностью до 5-го знака.</b>
            </td>
        </tr>
        <tr>
            <td colspan="4">
                <a class="btn btn-success" onclick="currency.submitExchange();">Сохранить</a>
            </td>
        </tr>
    </table>  
</form>