<form id="editCurrency">
    <input type="hidden" name="id" value="<?php echo $this->model->id;?>">
    <input type="hidden" name="controller" value="module.currency.manage.controller">
    <input type="hidden" name="action" value="edit">
    <table class="table handbook table-bordered">
        <caption>Редактор валюты</caption>
        <tr>
            <th style="width: 25%">
                 Название
            </th>
            <td>
                <input type="text" name="title" value="<?php echo $this->model->title;?>"/>
            </td>
            <th>
                 Сокращенное название
            </th>
            <td>
                <input type="text" name="reduction" value="<?php echo $this->model->reduction;?>"/>
            </td>
        </tr>
        <tr>
            <th>
                 Базовая валюта<br/>
                 <small style="color: #888">
                     Примечание: Базовая валюта - это валюта, в которой указываются 
                     все цены на сайте. После установки базовой валюты установите курс валют
                 </small>
            </th>
            <td> 
                <input type="checkbox" id="is_basic" name="is_basic"  <?php if($this->model->is_basic) echo 'checked';?>/>
            </td>
            <th>
                 Отображать на сайте по умолчанию<br/>
                 <small style="color: #888">
                     Примечание: Если выбран этот пункт, при загрузке сайта пользователь 
                     будет видеть цены в этой валюте, пока не выберет другую
                 </small>
            </th>
            <td>
                <input type="checkbox" id="is_default" name="is_default" <?php if($this->model->is_default) echo 'checked';?>/>
            </td>
        </tr>
        <tr>
            <td colspan="4">
                <a class="btn btn-success" onclick="currency.formSubmit();">Сохранить</a>
            </td>
        </tr>
    </table>  
</form>
<script>
    currency.formInit();
</script>