
<div id="currencySwitcher">
    <p><span><?php echo $this->current['reduction']; ?></span>&nbsp;<?php echo $this->current['title']; ?></p>
    <ul id="currencyList">
        <?php foreach($this->list as $item) { $code = $item['reduction'];?>
        <li onclick="currencyClient.change('<?php echo $code?>');"><span><?php echo $code?></span>&nbsp;<?php echo $item['title']; ?></li>
        <?php }?>
    </ul>
</div>