<form id="editTown">
    <input type="hidden" id="modelID" name="id" value="<?=$this->model->id;?>">
    <input type="hidden" name="controller" value="module.currencytowns.manage.controller">
    <input type="hidden" name="action" value="edit">

    <table class="table handbook table-bordered">
        <?php if(!$this->model->id): ?>
            <caption>Добавить город</caption>
        <?php endif; ?>
        <?php if($this->model->id): ?>
            <caption><?=$this->model->disp_name; ?> - редактирование</caption>
            <tr style="display:none" >
                <th>
                    Язык настройки :
                </th>
                <td>
                    <select name="set_lang" class="func" onchange="currencytowns.changeLang(this);">
                        <?php foreach($this->langList as $id => $lang): ?>
                        <option value="2">
                        <?=$lang->name;?>
                        </option>
                        <?php endforeach; ?>
                    </select>
                </td>
            </tr>
        <?php endif; ?>


        <tr>
            <th>Название</th>
            <td>
                <input type="text" name="disp_name" id="townDispName" value="<?=$this->model->disp_name;?>"/>
            </td>
        </tr>

        <tr>
            <th>
                Страна
            </th>
            <td>
                <?php if(!$this->model->id): ?>
                    <select name="country_id" id="townCountryId" class="selectpicker" data-size="auto">
                        <?php foreach($this->countryList as $id => $country) {?>
                        <option value="<?=$id?>" <?=$id == $this->model->country_id?'selected':'';?>>
                        <?=$country;?>
                        </option>
                        <?php }?>
                    </select>
                <?php endif; ?>

                <?php if($this->model->id): ?>
                    <select name="country_id" id="townCountryId" disabled>
                        <?php foreach($this->countryList as $id => $country) {?>
                        <option value="<?=$id?>" <?=$id == $this->model->country_id?'selected':'';?>>
                        <?=$country;?>
                        </option>
                        <?php }?>
                    </select>
                <?php endif; ?>
            </td>
        </tr>

        <?php if(!$this->model->id): ?>
        <tr>
            <td colspan="2">
                <a class="btn btn-success func" onclick="currencytowns.addTown();">Сохранить</a>
            </td>
        </tr>
        <?php endif; ?>
        <?php if($this->model->id): ?>
        <tr>
            <td colspan="2">
                <a class="btn btn-success func" onclick="currencytowns.editSubmit(this);">Сохранить</a>
            </td>
        </tr>
        <?php endif; ?>
    </table>
    <div class="alert alert-danger alert-dismissible" role="alert" id="alertBlock" style="display: none;">
        <strong>Ошибка!</strong> <span id="alertMessage"></span>
    </div>
</form>