<div id="customTable">
    <style>
        #customTable a{cursor: pointer}
        #customTable input {color: inherit; font-size: inherit; font-style: inherit; font-weight: inherit; text-transform: inherit}
        #customTable ul {margin-left: 0; float: left}
        #customTable ul li {float: left; margin: 0 5px 0 0; list-style: none}
        #customTable table {float: left; margin-top: 15px;}
        #customTable table td {vertical-align: middle; text-align: center}
        #customTable .text-type-header {color: #871C1B; font-family: Calibri, Arial, sans-serif; font-weight: bold; font-size: 24px; font-style: italic;}
        #customTable .text-type-label {color: #656565; font-weight: bold; font-family: Tahoma, Arial, Helvetica, sans-serif;}
        #customTable .text-type-price {color: #469D28; font-size: 24px; font-weight: bold}
    </style> 
    <p class="text-type-header">
        <input type="text" name="parts[bookingNum]" value="<?=$this->parts['bookingNum']?>" style="width: 50%"/>&nbsp;{{ номер брони }} {{ дата }}
    </p>
    <ul class="text-type-label">
        <li><input type="text" name="parts[arriveDate]" value="<?=$this->parts['arriveDate']?>" style="width: 150px;"/></li>
        <li><input type="text" name="parts[departureDate]" value="<?=$this->parts['departureDate']?>" style="width: 150px;"/></li>
        <li><input type="text" name="parts[numOfNights]" value="<?=$this->parts['numOfNights']?>" style="width: 180px;"/></li>
        <li><input type="text" name="parts[adults]" value="<?=$this->parts['adults']?>" style="width: 150px;"/></li>
        <li><input type="text" name="parts[children]" value="<?=$this->parts['children']?>" style="width: 150px;"/></li>
    </ul>
    <table class="table table-bordered table-condensed">
        <tr>
            <td style="color: #871C1B; font-weight: bold;">
                {{ тип номера }}
            </td>
            <td style="color: #871C1B; font-weight: bold">
                {{ тип предоплаты }}
            </td>
            <td style="color: #871C1B; font-size: 12px;">
                <input type="text" name="parts[costOneNight]" value="<?=$this->parts['costOneNight']?>" style="margin-bottom: 10px"/><br/>
                <span class="text-type-price">{{ цена }}</span>
            </td>
            <td style="color: #871C1B; font-size: 12px;">
                <input type="text" name="parts[totalCost]" value="<?=$this->parts['totalCost']?>" style="margin-bottom: 10px"/><br/>
                <span class="text-type-price">{{ цена }}</span>
            </td>
        </tr>
    </table>
    <p class="text-type-header">
        <input type="text" name="parts[guestData]" value="<?=$this->parts['guestData']?>" style="width: 50%"/>
    </p>
    <table class="table table-bordered table-condensed">
        <tr>
            <td class="text-type-label">
                <input type="text" name="parts[name]" value="<?=$this->parts['name']?>" style="width: 85%;"/>
            </td>
            <td class="text-type-label">
                <input type="text" name="parts[surname]" value="<?=$this->parts['surname']?>" style="width: 85%;"/>
            </td>
            <td class="text-type-label">
                <input type="text" name="parts[phone]" value="<?=$this->parts['phone']?>" style="width: 85%;"/>
            </td>
            <td class="text-type-label">
                <input type="text" id="email" name="parts[email]" value="<?=$this->parts['email']?>" style="width: 85%;"/>
            </td>
        </tr>
    </table>    
    <p class="text-type-header">
        <input type="text" name="parts[services]" value="<?=$this->parts['services']?>" style="width: 50%"/>
    </p>    
    <table class="table table-bordered table-condensed">
        <tr>
            <td class="text-type-label">
                <input type="text" name="parts[denomination]" value="<?=$this->parts['denomination']?>" style="width: 85%;"/>
            </td>
            <td class="text-type-label">
                <input type="text" name="parts[adultPrice]" value="<?=$this->parts['adultPrice']?>" style="width: 85%;"/>
            </td>
            <td class="text-type-label">
                <input type="text" name="parts[quantity]" value="<?=$this->parts['quantity']?>" style="width: 85%;"/>
            </td>
            <td class="text-type-label">
                <input type="text" name="parts[childrenPrice]" value="<?=$this->parts['childrenPrice']?>" style="width: 85%;"/>
            </td>
            <td class="text-type-label">
                <input type="text" name="parts[numDays]" value="<?=$this->parts['numDays']?>" style="width: 85%;"/>
            </td>
            <td class="text-type-label">
                <input type="text" name="parts[sum]" value="<?=$this->parts['sum']?>" style="width: 85%;"/>
            </td>
        </tr>
        <tr>
            <td>
                <input type="text" name="parts[excursion]" value="<?=$this->parts['excursion']?>" style="width: 85%; margin-bottom: 8px;"/><br/>
                {{ день и дата }}
            </td>
            <td>{{ цена }}</td>
            <td>{{ кол-во }}</td>
            <td>{{ цена }}</td>
            <td>{{ кол-во }}</td>
            <td>{{ сумма }}</td>
        </tr>
    </table>    
    <p class="text-type-header">
        <input type="text" name="parts[transfer]" value="<?=$this->parts['transfer']?>" style="width: 50%"/>
    </p>    
    <table class="table table-bordered table-condensed">
        <tr>
            <td class="text-type-label">
                <input type="text" name="parts[transferType]" value="<?=$this->parts['transferType']?>" style="width: 85%;"/>
            </td>
            <td class="text-type-label">
                <input type="text" name="parts[dateAndTime]" value="<?=$this->parts['dateAndTime']?>" style="width: 85%;"/>
            </td>
            <td class="text-type-label">
                <input type="text" name="parts[raceOrTrainNum]" value="<?=$this->parts['raceOrTrainNum']?>" style="width: 85%;"/>
            </td>
            <td class="text-type-label">
                <input type="text" name="parts[city]" value="<?=$this->parts['city']?>" style="width: 85%;"/>
            </td>
            <td class="text-type-label">
                <a title="Перейти к полю редактирования" onclick="$('#cost').focus()">
                    [<?=$this->parts['cost']?>]
                </a>
            </td>
        </tr>
        <tr>
            <td>{{ вид трансфера }}</td>
            <td>{{ дата и время }}</td>
            <td>
                <input type="text" name="parts[race]" value="<?=$this->parts['race']?>" style="width: 27%;"/>
                <input type="text" name="parts[train]" value="<?=$this->parts['train']?>" style="width: 27%;"/>
                <input type="text" name="parts[wagon]" value="<?=$this->parts['wagon']?>" style="width: 27%;"/>                
            </td>
            <td>{{ город }}</td>
            <td>{{ цена }}</td>
        </tr>
    </table> 
    <p class="text-type-header">
        <input type="text" name="parts[totalResidServCost]" value="<?=$this->parts['totalResidServCost']?>" style="width: 80%"/>
    </p>    
    <ul style="color: #871C1B; text-transform: uppercase; font-size: 14px">
        <li style="width: 55%; margin-bottom: 5px;">
            <input type="text" id="cost" name="parts[cost]" value="<?=$this->parts['cost']?>" style="width: 150px;"/> 
            <span style="color: #469D28; display: inline-block; float: right">{{ сумма }}</span>
        </li>
        <li style="width: 55%; margin-bottom: 5px;">
            <input type="text" name="parts[discount]" value="<?=$this->parts['discount']?>" style="width: 150px;"/> 
            <span style="color: #469D28; display: inline-block; float: right">{{ сумма }}</span>
        </li>
        <li style="width: 55%; margin-bottom: 5px;">
            <input type="text" name="parts[payable]" value="<?=$this->parts['payable']?>" style="width: 150px;"/> 
            <span style="color: #469D28; display: inline-block; float: right">{{ сумма }}</span>
        </li>
        <li style="width: 55%; margin-bottom: 5px;">
            <input type="text" name="parts[paid]" value="<?=$this->parts['paid']?>" style="width: 150px;"/> 
            <span style="color: #469D28; display: inline-block; float: right">{{ сумма }}</span>
        </li>
    </ul>     
    <p style="color: #871C1B; font-size: 24px; font-weight: bold; text-transform: uppercase">
        <input type="text" name="parts[leftPayable]" value="<?=$this->parts['leftPayable']?>" style="width: 50%"/>
        <span class="text-type-price" style="display: inline-block; float: right">{{ сумма }}</span>
    </p>      
    <p class="muted">
        Следующие данные отображаются только в том случае, если это новый пользователь:
    </p>
    <p class="text-type-header">
        <input type="text" name="parts[loginData]" value="<?=$this->parts['loginData']?>" style="width: 80%"/>&nbsp;:
    </p>
    <table class="table table-bordered table-condensed">
        <tr>
            <td class="text-type-label" style="width: 50%">
                <a title="Перейти к полю редактирования" onclick="$('#email').focus()">
                    [<?=$this->parts['email']?>]
                </a>
            </td>
            <td class="text-type-label">
                <input type="text" name="parts[password]" value="<?=$this->parts['password']?>" style="width: 30%"/>
            </td>
        </tr>
    </table>
</div>