<form id="editMailForm">
    <input type="hidden" id="mailId" name="id" value="<?=$this->id?>">
    <input type="hidden" id="typeId" name="type_id" value="<?=$this->type?>">
    <table class="table table-bordered table-condensed">
        <caption class="text-info">Редактор шаблона</caption>
        <tr>
            <th>
                <label class="text-info">Язык настройки:&emsp;<?=$this->langListHtml;?></label>
            </th>
        </tr>

        <tr>
            <th>
                <label class="text-info">
                    Тема:&emsp;&emsp;
                    <input type="text" name="subject" value="<?=$this->subject;?>" style="width: 500px">
                </label>
            </th>
        </tr>
        <?php if($this->subject_2_enabled) {?>
        <tr>
            <th>
                <label class="text-info">
                    Доп. тема:&emsp;&emsp;
                    <input type="text" name="subject_2" value="<?=$this->subject_2;?>" style="width: 500px;">
                </label>
            </th>
        </tr>
        <?php }?>
        <tr>
            <th>
                <label class="text-info">
                    Реквизиты:&emsp;&emsp;
                    <textarea rows="6" name="credentials" value="<?=$this->credentials;?>" style="width: 500px"><?=$this->credentials;?></textarea>
                </label>
            </th>
        </tr>
        <tr>
            <th>
                <label class="text-info">Текст письма:</label>
            </th>
        </tr>
        <tr>
            <td>
                <?=$this->custom;?>
            </td>
        </tr>
        <tr>
            <td>
                <a class="btn btn-info" onclick="villa_mail.preview(this)">
                    Просмотр
                </a>
                <a class="btn btn-success pull-right" onclick="villa_mail.save(this)">
                    Сохранить
                </a>
            </td>
        </tr>
    </table>
</form>
<div style="display: none">    
    <div class="b-modal" id="previewModal">
        <div class="b-modal_close arcticmodal-close">X</div>
        <div class="modal-body" style="border: 1px solid #ccc"></div>
        <div class="muted">
            <span style="color: red">X</span> - данные пользователя, в настоящем письме НЕ будут выделены красным цветом
        </div>
    </div>
</div>
