<p>
    {{дата}}&emsp;<input type="text" name="parts[1]" value="<?=$this->parts[1]?>" style="width: 60%"/>&emsp;<?=$this->link?></p>
<p>
    <input type="text" name="parts[2]" value="<?=$this->parts[2]?>" style="width: 35%"/>&nbsp;:<br/>
    <strong>{{ текст вопроса }}</strong>
</p>
<p>
    <input type="text" name="parts[3]" value="<?=$this->parts[3]?>" style="width: 35%"/>&nbsp;:<br/>
    <strong>{{ текст ответа }}</strong>
</p>