<p>
    <input type="text" name="parts[1]" value="<?=$this->parts[1]?>" style="width: 75%"/>&emsp;<?=$this->link?><br/>
</p>
<p>
    <input type="text" name="parts[2]" value="<?=$this->parts[2]?>" 
            style="font-weight: bold; text-decoration: underline; width: 55%"/>&nbsp;:<br/>
    <input type="text" name="parts[3]" value="<?=$this->parts[3]?>" style="font-weight: bold;"/>&nbsp;:&nbsp;{{ email }}<br/>
    <input type="text" name="parts[4]" value="<?=$this->parts[4]?>" style="font-weight: bold;"/>&nbsp;:&nbsp;{{ пароль }}
</p>