<ul id="publications-list">
    <?php foreach($this->news as $item) { ?>
        <li>
            <h2><a href="<?php echo $item->url; ?>">"<?php echo $item->page_title; ?>"</a></h2>
            <a href="<?php echo $item->url; ?>"><img src="<?= $item->image; ?>" align="left"/></a>
            <?php echo $item->page_preview; ?>
        </li>    
    <?php } ?>
</ul>    