.ui-timepicker-hours
{
    padding-right: 10px !important;
}

/*SMEREKA STYLES*/
.tourExtraService{
    width:100%;
    min-height: 250px;
}
#searchResult{
    width:100%;
    min-height: 250px;
}

.tourExtraService .option_item{
    margin-bottom:30px;
    display: flex;
    justify-content: space-between;
    background: #fff;
    -webkit-box-shadow: 0 0 30px 0 rgba(33, 30, 25, .1);
    -moz-box-shadow: 0 0 30px 0 rgba(33, 30, 25, .1);
    box-shadow: 0 0 30px 0 rgba(33, 30, 25, .1);
    border: 1px solid #e1e1e1;
}

.tourExtraService th{
    padding-top: 50px;
    display: block;
    text-align: center;
}
.tourExtraService td{
    /*padding-top: 50px;*/
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
}
.margin_right{
    margin-right: 50px;
}
.tourExtraService .add-delete{
    border-left: 1px solid #e1e1e1;
    flex-wrap: wrap;
    width: 190px;
}
.tourExtraService .add-delete .cost-title{
    width:100%;
    display: block;
    text-align: center;
    font-size: 16px;
    font-family:Lato;
}
.tourExtraService .transfer_item .name{
    justify-content: flex-start;
    flex-grow: 1;
    flex-wrap: wrap;
    padding: 10px 22px;
}
.tourExtraService .transfer_item .transport-type-wrap{
    width:100%;
    display: flex;
    justify-content: space-between;
}
.tourExtraService .transfer_item .add-delete p{
    width:100%;
    text-align: center;
    font-size:16px;
}
.cost-title strong{
    color: #CB8064;
}
.tourExtraService td.image
{
    width: 20%;
    position: relative;
    overflow: hidden;
}
.tourExtraService td.image img
{
    width:100%;
}
.tourExtraService tfoot td.total-cost{
    width:100%;
}
.tourExtraService  span.option_cost
{
    color: #CB8064;;
    font-size: 16px;
}
.tourExtraService  span.day-price
{
    color: #CB8064;;
    font-size: 16px;
}
.tourExtraService td.price
{
    color: #656565;
    font-family: Tahoma, Arial, Helvetica, sans-serif;
    text-align: right;
    width: 170px;
}

.tourExtraService span.old-price
{
    color: #ccc;
    font-size: 16px;
    text-decoration: line-through;
    font-family:"Lato B";
}

.tourExtraService td.name
{
    color: #24324a;
    font-size: 16px;
    text-align: left;
    width: 300px;
    font-family:"Lato B";
}
.tourExtraService .addOptionButton{
    height: 40px;
    line-height: 40px;
    padding: 0 30px;
    color: #fff;
    letter-spacing: 2px;
    background-color: #d77b5d;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
    border-radius: 20px;
}
.tourExtraService .deleteOptionButton {
    background: #fef7ea;
    font-size: 11px;
    height: auto;
    line-height: 27px;
    padding: 3px 3px;
    width: auto;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    -o-border-radius: 5px;
    -khtml-border-radius: 5px;
    box-shadow: inset 0 0 2px 1px #a89879;
    -moz-box-shadow: inset 0 0 2px 1px #a89879;
    -webkit-box-shadow: inset 0 0 2px 1px #a89879;
    -o-box-shadow: inset 0 0 2px 1px #a89879;
    -khtml-box-shadow: inset 0 0 2px 1px #a89879;
}
.tourExtraService .deleteOptionButton span{
    border: 1px solid #3251b4;
    color: white;
    padding: 3px 27px;
    background: -moz-linear-gradient(top, #9ca8ff, #0d0b71, #9ca8ff);
    background: -o-linear-gradient(top, #9ca8ff, #0d0b71, #9ca8ff);
    background: -webkit-linear-gradient(top, #9ca8ff, #0d0b71, #9ca8ff);
    background: -ms-linear-gradient(top, #9ca8ff, #0d0b71, #9ca8ff);
    -pie-background: linear-gradient(top, #9ca8ff, #0d0b71, #9ca8ff);
    box-shadow: inset 0 1px 1px 0 #ccd1fb, 0 0 0 1px #ddd7cb;
    -moz-box-shadow: inset 0 1px 1px 0 #ccd1fb, 0 0 0 1px #ddd7cb;
    -webkit-box-shadow: inset 0 1px 1px 0 #ccd1fb, 0 0 0 1px #ddd7cb;
    -o-box-shadow: inset 0 1px 1px 0 #ccd1fb, 0 0 0 1px #ddd7cb;
    -khtml-box-shadow: inset 0 1px 1px 0 #ccd1fb, 0 0 0 1px #ddd7cb;
}
.tourExtraService .deleteOptionButton:hover span{
    background: -moz-linear-gradient(top, #0d0b71, #9ca8ff);
    background: -o-linear-gradient(top, #0d0b71, #9ca8ff);
    background: -webkit-linear-gradient(top, #0d0b71, #9ca8ff);
    background: -ms-linear-gradient(top, #0d0b71, #9ca8ff);
    -pie-background: linear-gradient(top, #0d0b71, #9ca8ff);
}
.guest-num-select{
    position: relative;
    width: 90px;
}
.guest-num-select button{
    background: #fef7ea;
    font-size: 11px;
    height: auto;
    line-height: 11px;
    padding: 3px 3px;
    width: auto;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    -o-border-radius: 5px;
    -khtml-border-radius: 5px;
    box-shadow: inset 0 0 2px 1px #a89879;
    -moz-box-shadow: inset 0 0 2px 1px #a89879;
    -webkit-box-shadow: inset 0 0 2px 1px #a89879;
    -o-box-shadow: inset 0 0 2px 1px #a89879;
    -khtml-box-shadow: inset 0 0 2px 1px #a89879;
}
.guest-num-select span.selected
{
    border: 1px solid #710a02;
    color: #e8ca91;
    display: inline-block;
    text-align: center;
    background: -moz-linear-gradient(top, #a6180d, #710b0b, #a6180d);
    background: -o-linear-gradient(top, #a6180d, #710b0b, #a6180d);
    background: -webkit-linear-gradient(top, #a6180d, #710b0b, #a6180d);
    background: -ms-linear-gradient(top, #a6180d, #710b0b, #a6180d);
    -pie-background: linear-gradient(top, #a6180d, #710b0b, #a6180d);
    box-shadow: inset 0 1px 1px 0 #d4928d, 0 0 0 1px #ddd7cb;
    -moz-box-shadow: inset 0 1px 1px 0 #d4928d, 0 0 0 1px #ddd7cb;
    -webkit-box-shadow: inset 0 1px 1px 0 #d4928d, 0 0 0 1px #ddd7cb;
    -o-box-shadow: inset 0 1px 1px 0 #d4928d, 0 0 0 1px #ddd7cb;
    -khtml-box-shadow: inset 0 1px 1px 0 #d4928d, 0 0 0 1px #ddd7cb;
    border-radius: 4px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    -o-border-radius: 4px;
    -khtml-border-radius: 4px;
    margin: 0;
    padding: 3px 4px;
    height: 25px;
    width: 100%;
}
.guest-num-select ul{
    width:100%;
    display: none;
    left: 0;
    margin: 0;
    position: absolute;
    top: 28px;
    z-index: 3;
}

.guest-num-select li
{
    float: left;
    margin: 0!important;
    width: 100% !important;
    border: 1px solid #710a02;
    color: #e8ca91;
    display: block;
    padding: 3px 0!important;
    text-align: center;
    background: -moz-linear-gradient(top, #a6180d, #710b0b, #a6180d);
    background: -o-linear-gradient(top, #a6180d, #710b0b, #a6180d);
    background: -webkit-linear-gradient(top, #a6180d, #710b0b, #a6180d);
    background: -ms-linear-gradient(top, #a6180d, #710b0b, #a6180d);
    -pie-background: linear-gradient(top, #a6180d, #710b0b, #a6180d);
    box-shadow: inset 0 1px 1px 0 #d4928d;
    -moz-box-shadow: inset 0 1px 1px 0 #d4928d;
    -webkit-box-shadow: inset 0 1px 1px 0 #d4928d;
    -o-box-shadow: inset 0 1px 1px 0 #d4928d, 0 0 0 1px #ddd7cb;
    -khtml-box-shadow: inset 0 1px 1px 0 #d4928d, 0 0 0 1px #ddd7cb;
}

.guest-num-select ul li:hover{
    background: -moz-linear-gradient(top, #dd483e, #720c0c, #dd483e);
    background: -o-linear-gradient(top, #dd483e, #720c0c, #dd483e);
    background: -webkit-linear-gradient(top, #dd483e, #720c0c, #dd483e);
    background: -ms-linear-gradient(top, #dd483e, #720c0c, #dd483e);
    -pie-background: linear-gradient(top, #dd483e, #720c0c, #dd483e);
}
.excursionInfo{
    flex-grow:1;
    width:594px;
    height:100%;
}
#excursionList .owl-stage-outer{
    height:100%;
    margin: auto 56px;
}
#excursionList .owl-nav{
    margin-top: 0;
    text-align: center;
    -webkit-tap-highlight-color: transparent;
    position: absolute;
    width: 100%;
    top: 50%;
    transform: translateY(-50%);
}
#excursionList .owl-prev{
    float: left;
}
#excursionList .owl-next{
    float: right;
}
.item .day-info{
    width: 100%;
    text-align: center;
    display: block;
    margin-bottom: 10px;
}
#excursionList .owl-nav [class*='owl-']{
    border-radius: 50% !important;
    width: 40px;
    height: 40px;
    line-height: 33px;
    background: #d77b5d !important;
}
#excursionList li
{
    border-left: 1px solid #f2f2f2;
    border-right: 1px solid #f2f2f2;
    height: 150px;
    margin: 3px 0;
    padding: 0 2px;
    text-align: center;
    width: 120px;
}
#excursionList  li button.info {
    background: url(../i/tour_info_button.png) no-repeat center;
    background-size: 27px;
    float: left;
    height: 27px;
    width: 27px;
    margin-left: 10px;
}
#excursionList li span.old-price{
    display: inline-block;
    font-weight: normal;
    width: 100%;
    margin-top: 10px;
}
/*.excursionInfo ul{*/
    /*width:100%;*/
    /*max-height: 130px;*/
    /*overflow: scroll;*/
    /*padding-right: 5px;*/
/*}*/
/*.excursionInfo > ul > li{*/
    /*display: flex;*/
    /*justify-content: space-around;*/
    /*margin: 10px 0;*/
/*}*/
/*.excursionInfo > ul > li > span{*/
    /*display: flex;*/
    /*align-items: center;*/
/*}*/
.excursion td.name{
    width:150px;
    text-align: center;
}

/*#handbookTable th{*/
    /*background-image: url(bg.gif);*/
    /*background-repeat: no-repeat;*/
    /*background-position: center right;*/
    /*cursor: pointer;*/
/*}*/




#bookingForm .notValid
{
    box-shadow: inset 0 0 2px 1px #d43027;
    -moz-box-shadow: inset 0 0 2px 1px #d43027;
    -webkit-box-shadow: inset 0 0 2px 1px #d43027;
    -o-box-shadow: inset 0 0 2px 1px #d43027;
    -khtml-box-shadow: inset 0 0 2px 1px #d43027;
}


#bookingForm label span.phone-plus
{
    font-family: Arial, Helvetica, Verdana, sans-serif;
    font-size: 12px;
    font-style: italic;
    font-weight: normal;
    left: 3px;
    position: absolute;
    top: 32px;
}

.bookingFormEdit label
{
    width: 190px;
}

.editTourUserInfoInputs
{
    background: none!important;
}

.editTourUserInfoInputs input
{
    width: 190px!important;
}






#bookingForm textarea
{
    border: none;
    padding: 10px;
    resize: none;
}


@-moz-document url-prefix()
{
    #bookingForm button {padding: 3px 0px;}
}

#paymentFirstNightButton
{
    width: 76%;
}
#paymentFirstNightButton span
{
    padding: 16px 10px;
}

#bookingForm button.calendar-btn
{
    background: transparent url('../i/calendar_btn.png') no-repeat center;
    width: 38px;
    height: 30px;
    display: inline-block;
    margin-left: 10px;
    cursor: pointer;
}




.tourUserInfo dl
{
    float: left;
    font-size: 12px;
    line-height: 20px;
    height: 40px;
    text-align: center;
    width: 100%;
}

.tourUserInfo dt, .tourUserInfo dd
{
    height: 50%;
}

.tourUserInfo dt
{
    color: #871c1b;
    float: left;
    width: 25%;
}
.tourUserInfo dd
{
    float: left;
    width: 25%;
}

.tourUserInfo.touragent dt, .tourUserInfo.touragent dd
{
    width: 20%;
}

.changeDataDiv
{
    background: url('../i/line-2.png') no-repeat bottom;
    float: left;
    padding: 15px 0 20px 0;
    text-align: center;
    width: 100%;
}



.tourUserInfoInputs p
{
    color: #d77b5d;
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 10px;
    width: 100%;
}

.guest-info p{
    color: #818a9c;
}
.guest-info label{
    font-size: 12px;
    margin-bottom:0;
}
.guest-info input{
    margin-top: 5px !important;
    font-size:12px;
}
.tourUserInfoInputs select
{
    float: left;
    margin-right: 20px;
    width: 75px;
}

.tourUserInfoInputs .guest-buttons
{
    float: left;
    margin-bottom: 10px;
    width: 100%;
}


.tourHotelSuiteInfo dl, dt, dd
{
    color: #656565;
    float: left;
    font-family: Tahoma, Arial, Helvetica, sans-serif;
    font-weight: bold;
}

.tourHotelSuiteInfo dd
{
    color: #871c1b;
    margin-right: 15px;
}

.tourHotelSuiteInfo button
{
    float: left;
    margin: 15px 0;
}




.tourExtraService thead td
{
    color: #d43027;
    font-size: 18px;
    font-weight: bold;
    height: 40px;
}
.tourExtraService td
{
    font-size: 12px;
    font-weight: bold;
    vertical-align: middle;
}



.tourExtraService #excursions td.image img
{
    margin-top: 45px;
}

.tourExtraService td.info
{
    text-align: left;
    width: 45px;
}
#bookingForm .tourExtraService td.info button
{
    background: url('../i/tour_info_button.png') no-repeat center;
    height: 27px;
    width: 27px;
}
.tourExtraService td.info .info-button-descr
{
    display: none;
}

.tooltip
{
    position: absolute;
    z-index: 999;
    left: -9999px;
    background-color: #dedede;
    padding: 1px;
    border: 1px solid #c8a25b;
    border-radius: 5px;
    width: 250px;
}

.tooltip p
{
    margin: 0;
    padding: 0;
    /* color: #FFF; */
    background-color: #fef7ea;
    padding: 15px 11px;
    border-radius: 5px;
}

.tourExtraService td p
{
    margin: 5px 0;
    margin: 5px 5px 5px 0;
    text-align: left;
    width: 220px;
}






.tourExtraService td.quant
{
    color: #656565;
    font-family: Tahoma, Arial, Helvetica, sans-serif;
    padding-top: 12px;
    text-align: center;
    width: 90px;
}
.tourExtraService td.quant select
{
    margin-left: 30px;
    margin-top: 3px;
    width: 50px;
}




.tourExtraService td.total-cost, td div.total-cost
{
    color: #656565;
    font-family: Tahoma, Arial, Helvetica, sans-serif;
    padding: 10px 0;
    text-align: right;
    width: 150px;
}
.tourExtraService td div.total-cost
{
    line-height: 22px;
    float: right;
}

.tourExtraService td.total-cost span, td div.total-cost span
{
    font-size: 16px;
    font-weight: normal;
}
.tourExtraService .total-cost span .option_price
{
    color: #CB8064;
}


.tourExtraService td.line.thin
{
    height: 2px;
}

.tourExtraService td.transfer-h
{
    color: #871c1b;
    font-size: 14px;
    padding: 12px 0;
    text-align: center;
}

.tourExtraService td.transfer div.error
{
    color: red;
    float: left;
    font-size: 12px;
    height: 12px;
    line-height: 12px;
    padding: 7px 0 0 3px;
    width: 100%;
}
.tourExtraService input[type='text'], select
{
    font-size: 14px;
    width:170px;
    background: #f5f5f5;
    height:35px;
    margin-right:20px;
    padding-left: 10px;
}
@-moz-document url-prefix()
{
    .coun_numbers {border: 1px solid lightgrey; padding: 4px; width: 50px;}
}

.tourExtraService button.calendar-btn
{
    float: left;
    height: 27px;
    margin: 0 13px 0 5px;
}

.tourExtraService input.date
{
    width: 170px;
}
.tourExtraService input.time
{
    width: 170px;
    margin-right:0;
}
.tourExtraService input.city
{
    margin-right: 0;
    width: 170px;
}
.tourExtraService input.from, input.transport
{
    width: 170px;
}
.tourExtraService input.train, input.wagon, input.race
{
    width: 170px;
    margin-right: 15px;
}
.tourExtraService select
{
    width: 205px;
    margin-right: 20px;
}

.tourExtraService span.transport-type
{
    display: none;
}

.tourExtraService td.transfer-save
{
    text-align: center;
}
.tourExtraService td.total-cost button span
{
    color: white;
    font-size: 11px;
}
.tourExtraService td.total-cost button
{
    margin-top: 8px;
}

.tourExtraService tfoot td
{
    text-align: center;
}

.tourExtraService tfoot td.total-cost
{
    font-size: 18px;
    height: 60px;
    justify-content: flex-end;
}
.tourExtraService tfoot td.total-cost span
{
    font-family: Tahoma, Arial, Helvetica, sans-serif;
    font-size: 18px;
    width:200px;
    text-align: center;
}
.tourExtraService tfoot td.total-cost span b {
    color: #d77b5d;
}

.tourExtraService tfoot textarea
{
    height: 60px;
    margin: 10px 0;
    width: 790px;
    font-size:12px;
}

.tourExtraService tfoot button
{
    width: 180px;
}

.tourPrepayment
{
    font-family: 'Lato';
    border-collapse: collapse;
    margin: 20px 0;
    width:100%;
}

.tourPrepayment form
{
    margin-top: 5px;
}

.tourPrepayment th
{
    color: #808080;
    height: 60px;
    font-size: 18px;
    font-weight: bold;
    text-align: center;
    vertical-align: middle;
}

.tourPrepayment td
{
    border: 1px solid #a6a59e;
    color: #808080;
    height: 35px;
    font-size: 14px;
    font-weight: bold;
    text-align: center;
    vertical-align: middle;
    width: 230px;
}

.tourPrepayment td.labels
{
    background: transparent;
    color: #808080;
    padding: 0 10px;
    text-transform: uppercase;
}

.tourPrepayment td.total-cost
{
    color: #d77b5d;
    font-size: 18px;
}

.tourPrepayment tfoot td
{
    border: none;
    text-align: center;
    padding-top:10px;
}

.tourPrepayment tfoot td label
{
    width: auto;
}

.tourPrepayment tfoot button
{
    width: 220px;
}

.tourPrepayment tfoot button span
{
    padding: 10px;
}


#tourPrepaymentOptions button
{
    line-height: 13px;
    margin: 0 9px;
    width: 210px;
}
#tourPrepaymentOptions button.green{
    font-family:Lato;
    font-size: 14px;
    font-weight: bold;
    line-height: 16px;
    width: 687px;
    float: right;
    background: #fef7ea;
    height: auto;
    padding: 3px 3px;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    box-shadow: inset 0 0 2px 1px #a89879;
    -moz-box-shadow: inset 0 0 2px 1px #a89879;
    -webkit-box-shadow: inset 0 0 2px 1px #a89879;
    -o-box-shadow: inset 0 0 2px 1px #a89879;
    -khtml-box-shadow: inset 0 0 2px 1px
}

#tourPrepaymentOptions button.green:hover span {
    background: -moz-linear-gradient(top, #0b710b, #74c766);
    background: -o-linear-gradient(top, #0b710b, #74c766);
    background: -webkit-linear-gradient(top, #0b710b, #74c766);
    background: -ms-linear-gradient(top, #0b710b, #74c766);
    -pie-background: linear-gradient(top, #0b710b, #74c766);
}
#tourPrepaymentOptions button.green span
{
    border: 1px solid #327f0f;
    color: white;
    font-size: 14px;
    font-weight: bold;
    text-shadow: 1px 1px 0 black;
    background: -moz-linear-gradient(top, #74c766, #0b710b, #74c766);
    background: -o-linear-gradient(top, #74c766, #0b710b, #74c766);
    background: -webkit-linear-gradient(top, #74c766, #0b710b, #74c766);
    background: -ms-linear-gradient(top, #74c766, #0b710b, #74c766);
    -pie-background: linear-gradient(top, #74c766, #0b710b, #74c766);
    box-shadow: inset 0 1px 1px 0 #bae1b4, 0 0 0 1px #ddd7cb;
    -moz-box-shadow: inset 0 1px 1px 0 #bae1b4, 0 0 0 1px #ddd7cb;
    -webkit-box-shadow: inset 0 1px 1px 0 #bae1b4, 0 0 0 1px #ddd7cb;
    -o-box-shadow: inset 0 1px 1px 0 #bae1b4, 0 0 0 1px #ddd7cb;
    -khtml-box-shadow: inset 0 1px 1px 0 #bae1b4, 0 0 0 1px #ddd7cb;
    width: 100%;
    border-radius: 4px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    -o-border-radius: 4px;
    -khtml-border-radius: 4px;
    display: block;
    padding: 5px 10px;
    text-align: center;
}

#tourPrepaymentOptions button#endBookingButton
{
    font-size: 14px;
    font-weight: bold;
    line-height: 16px;
    width: 700px;
}

.tourPrepaymentOptionsInfo
{
    border: 1px solid #dbb671;
    color: #656565;
    float: right;
    font-family: Tahoma, Arial, Helvetica, sans-serif;
    font-size: 14px;
    margin: 15px 10px;
    padding: 10px;
    text-align: center;
    width: 675px;
}

.tourPrepaymentOptionsPrint
{
    border-top: 1px solid #f2ece2;
    float: right;
    margin: 15px 10px;
    padding: 15px 0;
    text-align: center;
    width: 697px;
}

.tourPrepaymentOptionsPrint button
{
    float: none;
    width: 212px;
}

.tourServices
{
    color: #656565;
    float: left;
    font-size: 12px;
    margin: 60px 10px 10px 10px;
}

.tourServices h3
{
    border-bottom: 1px solid #f2ece2;
    float: left;
    padding: 15px 0;
    width: 100%;
}

.tourServices dl
{
    border-bottom: 1px solid #f2ece2;
    float: left;
    width: 100%;
}

.tourServices dt
{
    color: #871c1b;
    font-size: 14px;
    padding: 15px 0;
    width: 145px;
}

.tourServices dd
{
    float: none;
    font-size: 12px;
    font-weight: normal;
    padding: 15px 0 15px 160px;
    text-align: justify;
}

.tourServices p
{
    border-bottom: 1px solid #f2ece2;
    float: left;
    margin-bottom: 30px;
    padding: 15px 0;
    text-align: justify;
    width: 100%;
}


.tourPrepayment button
{
    background: #fef7ea;
    font-size: 11px;
    height: auto;
    line-height: 11px;
    padding: 3px 4px;
    width: auto;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    -o-border-radius: 5px;
    -khtml-border-radius: 5px;
    box-shadow: inset 0 0 2px 1px #a89879;
    -moz-box-shadow: inset 0 0 2px 1px #a89879;
    -webkit-box-shadow: inset 0 0 2px 1px #a89879;
    -o-box-shadow: inset 0 0 2px 1px #a89879;
    -khtml-box-shadow: inset 0 0 2px 1px #a89879;
    behavior: url('../pie/PIE.htc');
}

@-moz-document url-prefix()
{
    .tourPrepayment button {padding: 3px 1px;}
}

#bookingForm #backwardButton
{
    font-family:Lato;
    bottom: 10px;
    left: 20px;
    position: fixed;
    z-index: 5;
    height: 40px;
    line-height: 40px;
    padding: 0 30px;
    color: #fff;
    letter-spacing: 2px;
    background-color: #d77b5d;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
    border-radius: 20px;
}




#btnAddQuestion, #btnFeedback
{
    /*background-image: url(../i/button.png);*/
    /*background-repeat: no-repeat;*/
    /*background-color: transparent;*/
    /*width: 157px;*/
    /*height: 29px;*/
    /*border: none;*/
    /*font-family: Arial;*/
    /*font-size: 1.1em;*/
    /*text-transform: uppercase;*/
    /*color: #e8ca91;*/
    /*cursor: pointer;*/
}
#btnAddQuestion:hover, #btnFeedback:hover
{
    /*background-image: url(../i/button_hover.png);*/
}

/*button.green span*/
/*{*/
/*border: 1px solid #327f0f;*/
/*color: white;*/
/*font-size: 14px;*/
/*font-weight: bold;*/
/*text-shadow: 1px 1px 0 black;*/
/**/
/*background: -moz-linear-gradient(top, #74c766, #0b710b, #74c766);*/
/*background: -o-linear-gradient(top, #74c766, #0b710b, #74c766);*/
/*background: -webkit-linear-gradient(top, #74c766, #0b710b, #74c766);*/
/*background: -ms-linear-gradient(top, #74c766, #0b710b, #74c766);*/
/*-pie-background: linear-gradient(top, #74c766, #0b710b, #74c766);*/

/*box-shadow: inset 0 1px 1px 0 #bae1b4, 0 0 0 1px #ddd7cb;*/
/*-moz-box-shadow: inset 0 1px 1px 0 #bae1b4, 0 0 0 1px #ddd7cb;*/
/*-webkit-box-shadow: inset 0 1px 1px 0 #bae1b4, 0 0 0 1px #ddd7cb;*/
/*-o-box-shadow: inset 0 1px 1px 0 #bae1b4, 0 0 0 1px #ddd7cb;*/
/*-khtml-box-shadow: inset 0 1px 1px 0 #bae1b4, 0 0 0 1px #ddd7cb;  */
/*behavior: url('../pie/PIE.htc');  */
/*}*/

/*button.green:hover span*/
/*{*/
/*background: -moz-linear-gradient(top, #0b710b, #74c766);*/
/*background: -o-linear-gradient(top, #0b710b, #74c766);*/
/*background: -webkit-linear-gradient(top, #0b710b, #74c766);*/
/*background: -ms-linear-gradient(top, #0b710b, #74c766);*/
/*-pie-background: linear-gradient(top, #0b710b, #74c766);    */
/*}*/

#bookingFormOverlay
{
    display: none;
    position: absolute;
    height: 100%;
    left: 0;
    top: 0;
    width: 100%;
    z-index: 500;
}

#recalcMessage
{
    background: rgba(0,0,0,.75);
    color: #fff;
    font-size: 18px;
    font-weight: bold;
    padding: 20px;
    text-align: center;
    width: 250px;
    position: fixed;
    left:50%;
    top:50%;
    transform: translate(-50%,-50%);
}

.guest-num-select button
{
    margin: 0 !important;
    width: 100% !important;
}
.guest-num-select button:hover span{
    background:-moz-linear-gradient(top,#dd483e,#720c0c,#dd483e);
    background:-o-linear-gradient(top,#dd483e,#720c0c,#dd483e);
    background:-webkit-linear-gradient(top,#dd483e,#720c0c,#dd483e);
    background:-ms-linear-gradient(top,#dd483e,#720c0c,#dd483e);
    -pie-background:linear-gradient(top,#dd483e,#720c0c,#dd483e);
}
.guest-num-select.condensed button
{
    padding: 3px !important;
}



.guest-num-select.condensed span.selected
{
    height: 25px;
    padding: 3px 4px;
    width: 100%;
}



.guest-num-select.condensed ul
{
    left: 0;
    top: 30px;
    width: 100%;
}



.guest-num-select.condensed li
{
    height: 25px!important;
}

.guest-num-select span
{
    display: inline-block;
    margin: 0 1px;
    height: 17px;
}

.guest-num-select.condensed span
{
    margin: 0;
}

.guest-num-select .adult
{
    background: url('../i/item-adult.png') no-repeat bottom;
    width: 9px;
}
.guest-num-select button:hover .adult{
    background: url('../i/item-adult.png') no-repeat bottom;
    width: 9px;
}

.guest-num-select .child
{
    background: url('../i/item-child.png') no-repeat bottom;
    height: 12px;
    width: 6px;
}

.guest-num-select.condensed .adult
{
    background: url('../i/item-adult-cond.png') no-repeat bottom;
    height: 14px;
}

.guest-num-select.condensed .child
{
    background: url('../i/item-child-cond.png') no-repeat bottom;
    height: 11px;
}
