#wrapper {
    width: 980px;
    /*width: expression((documentElement.clientWidth||document.body.clientWidth)<;995?'1000px':'');*/
    min-width: 980px;
}

body {
    /*background-image: url("../i/body_bg.gif");*/
}

#content h2
{
    /*background: url(../i/line_q.png) no-repeat bottom;*/
    /*color: #871c1b;*/
    /*font-family: Tahoma, Arial;*/
    /*font-size: 18px;*/
    /*font-style: normal;*/
    /*font-weight: bold;*/
    /*height: 50px;*/
    /*text-align: center;*/
    position: relative;
}

#content h2 a {
    text-decoration: none;
    color: #24324a !important;
}

#content h2 a:hover {
    text-decoration: underline;
}

button{
    height: 40px;
    /*line-height: 40px;*/
    padding: 0 30px;
    color: #fff;
    letter-spacing: 1px;
    background-color: #d77b5d;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    -ms-border-radius: 0;
    -o-border-radius: 0;
    border-radius: 0;
    font-size: 10px;
    font-weight: 900;
    text-transform: uppercase;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    display: inline-block;
    box-shadow: none;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    -o-box-shadow: none;
    -khtml-box-shadow: none;
    float: none;
    margin-left:0;
}

/*button > span*/
/*{*/
/*border: 1px solid #710a02;*/
/*color: #e8ca91;*/
/*display: block;*/
/*padding: 5px 10px;*/
/*text-align: center;*/

/*background: -moz-linear-gradient(top, #a6180d, #710b0b, #a6180d);*/
/*background: -o-linear-gradient(top, #a6180d, #710b0b, #a6180d);*/
/*background: -webkit-linear-gradient(top, #a6180d, #710b0b, #a6180d);*/
/*background: -ms-linear-gradient(top, #a6180d, #710b0b, #a6180d);*/
/*-pie-background: linear-gradient(top, #a6180d, #710b0b, #a6180d);*/

/*box-shadow: inset 0 1px 1px 0 #d4928d, 0 0 0 1px #ddd7cb;*/
/*-moz-box-shadow: inset 0 1px 1px 0 #d4928d, 0 0 0 1px #ddd7cb;*/
/*-webkit-box-shadow: inset 0 1px 1px 0 #d4928d, 0 0 0 1px #ddd7cb;*/
/*-o-box-shadow: inset 0 1px 1px 0 #d4928d, 0 0 0 1px #ddd7cb;*/
/*-khtml-box-shadow: inset 0 1px 1px 0 #d4928d, 0 0 0 1px #ddd7cb;*/

/*border-radius: 4px;*/
/*-moz-border-radius: 4px;*/
/*-webkit-border-radius: 4px;*/
/*-o-border-radius: 4px;*/
/*-khtml-border-radius: 4px;*/
/*behavior: url('../pie/PIE.htc');*/
/*}*/

/*button:hover > span*/
/*{*/
/*background: -moz-linear-gradient(top, #dd483e, #720c0c, #dd483e);*/
/*background: -o-linear-gradient(top, #dd483e, #720c0c, #dd483e);*/
/*background: -webkit-linear-gradient(top, #dd483e, #720c0c, #dd483e);*/
/*background: -ms-linear-gradient(top, #dd483e, #720c0c, #dd483e);*/
/*-pie-background: linear-gradient(top, #dd483e, #720c0c, #dd483e);*/
/*}*/

/*button:active > span*/
/*{*/
/*background: -moz-linear-gradient(top, #690909, #a6180d);*/
/*background: -o-linear-gradient(top, #690909, #a6180d);*/
/*background: -webkit-linear-gradient(top, #690909, #a6180d);*/
/*background: -ms-linear-gradient(top, #690909, #a6180d);*/
/*-pie-background: linear-gradient(top, #690909, #a6180d);*/
/*}*/

#main {
    width: 980px;
    margin: 0 auto;
    position: relative;
}

#header {
    height: 72px;
    position: relative;
}

#langSwitcher {
    position: absolute;
    /*top: 30px;*/
    /*left: 0px;*/

    cursor: pointer;
    width: 129px;
    height: 25px;
    background: transparent url(../i/language.png) left top no-repeat;
    color: white;
    font-size: 12px;
}

#langSwitcher p{
    margin-left: 10px;
    margin-top: 3px;
}

#langSwitcher:hover {
    color: yellow;
}

#langSwitcher img, #langList img{
    height: 9px;
}

.langWrapper {
    position: absolute;
    right: 200px;
    top: 0;
}

#currencySwitcher
{
    /*background: url('../i/currency.png') no-repeat left;*/
    height: 26px;
    position: absolute;
    right: 0;
    top: -6px;
    width: 190px;
    border: 1px solid #fbe6c0;
}

#currencySwitcher span
{
    color: #f7b85b;
}

#currencySwitcher p
{
    color: white;
    cursor: pointer;
    float: left;
    font-size: 12px;
    height: 100%;
    line-height: 25px;
    margin: 0;
    padding-left: 10px;
    width: 100%;
}

#currencySwitcher p:hover
{
    color: yellow;
}

#currencySwitcher ul
{
    /*background-color: #2c2c2c;*/
    border: 1px solid;
    display: none;
    color: #fbe6c0;
    float: left;
    margin-top: -1px;
    margin-bottom: 0;
    position: relative;
    width: 100%;
    z-index: 1000;
}

#currencySwitcher ul li
{
    border-bottom: 1px solid #424242;
    cursor: pointer;
    line-height: 20px;
    margin: 0px;
    padding: 5px;
    width: 100%;
}

#currencySwitcher ul li:hover{
    background-color: #595858;
    color: white;
}

#b-enter {
    position: absolute;
    /*top: 30px;*/
    /*left: 348px;*/

    width: 100px;
    height: 24px;
    /*background-color: greenyellow;*/
}

#b-enter a{
    color: white;
    font-size: 16px;
    font-weight: bold;
    line-height: 24px;
}

#loginDisp
{
    color: white;
    position: absolute;
    left:100%;
    font-size: 13px;
    font-weight: bold;
    height: 24px;
    line-height: 24px;
    text-align: center;
    /*width: 205px;*/
    margin-left:40px;
}

.bold {
    font-weight: bold;
}

.lang_link {
    text-decoration: none !important;

}

.lang_link img {
    width: 20px;
    height: 12px;
    margin: 0 4px;
    transition: all 0.2s;
}

.lang_link:hover img {
    -webkit-transform: scale(1.2);
    -moz-transform: scale(1.2);
    -ms-transform: scale(1.2);
    -o-transform: scale(1.2);
    transform: scale(1.2);
}

#langList {
    position: absolute;
    top: 55px;
    left: 0px;
    background-color: #2c2c2c;
    border: 1px solid black;
    color: #fbe6c0;
    /*width: 129px;*/
    margin: 0;
    padding: 0;
    z-index: 1000;
    display: none;
}

#langList li{
    border-bottom-color: #424242;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    margin: 0px;
    /*padding: 5px;*/
    /*width: 129px;*/
}

#langList li a{
    display: block;
    width: 119px;
    height: 20px;
    line-height: 20px;
    color: #fbe6c0;
    text-decoration: none;
    padding: 5px;
}

#langList  li:hover{
    background-color: #595858;
    color: white;
    width: 129px;
}

#search {
    background: #2f2f2f;
    border: 1px solid black;
    height: 23px;
    left: 565px;
    top: 30px;
    position: absolute;
    width: 200px;

    box-shadow: inset 0 0 3px 0 #0a0a0a, 1px 1px 1px 0 #4c4c4c;
    -moz-box-shadow: inset 0 0 3px 0 #0a0a0a, 1px 1px 1px 0 #4c4c4c;
    -webkit-box-shadow: inset 0 0 3px 0 #0a0a0a, 1px 1px 1px 0 #4c4c4c;
    -o-box-shadow: inset 0 0 3px 0 #0a0a0a, 1px 1px 1px 0 #4c4c4c;
    -khtml-box-shadow: inset 0 0 3px 0 #0a0a0a, 1px 1px 1px 0 #4c4c4c;

    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    -o-border-radius: 5px;
    -khtml-border-radius: 5px;
    behavior: url('../pie/PIE.htc');
}

#searchString
{
    background: transparent;
    border: none;
    float: left;
    font-size: 12px;
    padding: 4px;
    padding-left: 8px;
    color: #ffffff;
    width: 163px;
}

#searchTrigger
{
    background: url("../i/search_icon.png") no-repeat center;
    border: none;
    border-left: 1px solid black;
    width: 25px;
    height: 100%;

    box-shadow: none;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    -o-box-shadow: none;
    -khtml-box-shadow: none;

    border-radius: 0;
    -moz-border-radius: 0;
    -webkit-border-radius: 0;
    -o-border-radius: 0;
    -khtml-border-radius: 0;
}

#phone {
    font-family: Calibri;
    font-style: italic;
    font-size: 2.4em;
    font-weight: bold;
    color: #ffffff;
    position: absolute;
    top: 32px;
    right: 5px;
}

#nav {
    height: 76px;
    background-image: url("../i/nav_left.gif");
    background-position: top left;
    background-repeat: no-repeat;
    position: relative;
}

#nav  #menu {
    margin: 0px;
    margin-left: 405px;
    height: 76px;
    overflow: hidden;
}

#nav  #menu li {
    margin: 0px;
    float: left;
    height: 76px;
    display: block;
}


#nav  #menu li a{
    margin-top: 10px;
    display: block;
    height: 76px;
    width:  193px;
    color: #ffffff;
    font-family: Calibri;
    font-style: italic;
    font-size: 2.4em;
    line-height: 2.4em;
    font-weight: bold;
    text-decoration: none;
    text-align: center;
    text-shadow: black 1px 1px 0px, black 0 0 1em;
}

#nav  #menu li.about{
    width: 193px;
    background-image: url("../i/nav_about.gif");
}

#nav  #menu li.numbers{
    width: 191px;
    background-image: url("../i/nav_numbers.gif");
}

#nav  #menu li.contacts{
    width: 191px;
    background-image: url("../i/nav_contacts.gif");
}

#collage {
    height: 367px;
    /*background-image: url("../i/bookingform.gif");
    background-repeat: no-repeat;
    background-position: 39px 0px;*/
    background-color: #000000;
    position: relative;
}

#b-reserve {
    background: url('../i/reserv-bg.png') no-repeat top;
    height: 356px;
    width: 334px;
    float: left;
    padding: 90px 16px 0 16px;
    position: absolute;
    top: -80px;
    left: 39px;
    z-index: 900;

}

#logo {
    background: url('../i/logo.png') no-repeat top;
    display: block;
    height: 80px;
    float: left;
    position: absolute;
    top: -4px;
    left: 39px;
    width: 366px;
    z-index: 901;
}

#logoCopy
{
    display: block;
    font-size: 1px;
    float: left;
    position: absolute;
    top: -4px;
    left: 39px;
    z-index: 900;
}

#b_collage {
    height: 367px;
    width: 574px;
    float: right;
    overflow: hidden;
    position: relative;

    /*    margin-left: 4px;
        background-image: url("../i/collage.jpg");
        background-repeat: no-repeat;
        background-position: top right;*/
}

#b_collage img
{
    height: 100%!important;
    min-width: 100%;
    position: absolute;
    top: 0;
}

#collage #slideshow {
    /*position: absolute;
    left: 405px;*/
    height: 367px;
    width: 572px;
    /*border: 1px solid green;*/
}


#homepageList
{
    float: left;
    width: 100%;
}

#homepageList > li
{
    border-bottom: 1px solid #f2ece2;
    float: left;
    margin: 0 0 10px 0;
    width: 100%;
}

#homepageList ul
{
    float: left;
    height: 120px;
}

#homepageList .scrollWrapper
{
    width: 805px;
}

#homepageList ul li
{
    background: white;
    border: 5px solid white;
    cursor: pointer;
    float: left;
    height: 90px;
    line-height: 90px;
    margin: 10px 17px;
    text-align: center;
    width: 117px;

    box-shadow: 0 0 6px black;
    -moz-box-shadow: 0 0 6px black;
    -webkit-box-shadow: 0 0 6px black;
    -o-box-shadow: 0 0 6px black;
    -khtml-box-shadow: 0 0 6px black;
    behavior: url('pie/PIE.htc');
}

#homepageList ul li img
{
    max-height: 90px;
    max-width: 117px;
    vertical-align: middle;
}

#homepageList .descript
{
    color: #656565;
    float: left;
    text-align: justify;
}

.reserv-line
{
    background: url('../i/dot-line.png') no-repeat center;
    float: left;
    height: 4px;
    width: 100%;
}

.reserveTitle {
    float: left;
    font-family: Arial;
    font-size: 1.2em;
    color: #f5c161;
    line-height: 1.2em;
    padding: 12px 0;
    text-align: center;
    text-shadow: black 1px 1px 2px, black 0 0 1em;
    width: 100%;
}

.reserve-form {
    /*float: left;*/
}

.reserve-label {
    /*font-family: Arial;*/
    font-family: 'Lato';
    font-size: 1.2em;
    color: #f5c161;
    padding-left: 3px;
    text-shadow: black 1px 1px 2px, black 0 0 1em;
    /*display: inline-block;*/
    float: left;
    height: 30px;
    line-height: 30px;
    width: auto;
    white-space: pre;
}

.input {
    float: left;
}

.reserve-row {
    float: left;
    margin: 5px 0;
}

.reserve-row.first
{
    margin-right: 22px;
}

.reserve-row.small
{
    margin: 0 13px 20px 0;
}

.reserve-row.small-last
{
    margin: 0 0 20px 0;
}

.reserve-btn-row {
    padding: 17px 0;
    width: 100%;
    text-align: center;
}

.reserve-form-btn-row {
    margin-top: 45px;
    margin-bottom: 12px;
    text-align: center;
}

.calendar-btn {
    background: transparent url(../i/calendar_btn.png) left top no-repeat;
    width: 38px;
    height: 30px;
    display: block;
    float: left;
    margin-left: 5px;
    cursor: pointer;
}

.calendar-btn:hover {
    background: transparent url(../i/calendar_btn.png) left top no-repeat;
}

.reserve-row input, .reserve-row select
{
    background-color: #fcf7ea;
    border: 1px solid #892a25;
    color: #414141;
    display: block;
    float: left;
    font-style: italic;
    padding: 5px;
    width: 87px;

    border-radius: 6px;
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
    -o-border-radius: 6px;
    -khtml-border-radius: 6px;

    box-shadow: inset 0 0 4px 0 #656565, 0 1px 1px 0 #e97066;
    -moz-box-shadow: inset 0 0 4px 0 #656565, 0 1px 1px 0 #e97066;
    -webkit-box-shadow: inset 0 0 4px 0 #656565, 0 1px 1px 0 #e97066;
    -o-box-shadow: inset 0 0 4px 0 #656565, 0 1px 1px 0 #e97066;
    -khtml-box-shadow: inset 0 0 4px 0 #656565, 0 1px 1px 0 #e97066;

    behavior: url('../pie/PIE.htc');
}

#btnAddQuestion
{
    margin-right: 10px;
}

#btnAddQuestion, #btnFeedback
{
    box-shadow: none;
}

/*button.green span*/
/*{*/
/*border: 1px solid #327f0f;*/
/*color: white;*/
/*font-size: 14px;*/
/*font-weight: bold;*/
/*text-shadow: 1px 1px 0 black;*/

/*background: -moz-linear-gradient(top, #74c766, #0b710b, #74c766);*/
/*background: -o-linear-gradient(top, #74c766, #0b710b, #74c766);*/
/*background: -webkit-linear-gradient(top, #74c766, #0b710b, #74c766);*/
/*background: -ms-linear-gradient(top, #74c766, #0b710b, #74c766);*/
/*-pie-background: linear-gradient(top, #74c766, #0b710b, #74c766);*/

/*box-shadow: inset 0 1px 1px 0 #bae1b4, 0 0 0 1px #ddd7cb;*/
/*-moz-box-shadow: inset 0 1px 1px 0 #bae1b4, 0 0 0 1px #ddd7cb;*/
/*-webkit-box-shadow: inset 0 1px 1px 0 #bae1b4, 0 0 0 1px #ddd7cb;*/
/*-o-box-shadow: inset 0 1px 1px 0 #bae1b4, 0 0 0 1px #ddd7cb;*/
/*-khtml-box-shadow: inset 0 1px 1px 0 #bae1b4, 0 0 0 1px #ddd7cb;*/
/*behavior: url('../pie/PIE.htc');*/
/*}*/

/*button.green:hover span*/
/*{*/
/*background: -moz-linear-gradient(top, #0b710b, #74c766);*/
/*background: -o-linear-gradient(top, #0b710b, #74c766);*/
/*background: -webkit-linear-gradient(top, #0b710b, #74c766);*/
/*background: -ms-linear-gradient(top, #0b710b, #74c766);*/
/*-pie-background: linear-gradient(top, #0b710b, #74c766);*/
/*}*/

/*#btnRoomSearch*/
/*{*/
/*background: #780f0b;*/
/*height: auto;*/
/*line-height: 11px;*/
/*padding: 3px 4px;*/
/*width: auto;*/

/*border-radius: 5px;*/
/*-moz-border-radius: 5px;*/
/*-webkit-border-radius: 5px;*/
/*-o-border-radius: 5px;*/
/*-khtml-border-radius: 5px;*/

/*box-shadow: inset 0 0 2px 1px #640902;*/
/*-moz-box-shadow: inset 0 0 2px 1px #640902;*/
/*-webkit-box-shadow: inset 0 0 2px 1px #640902;*/
/*-o-box-shadow: inset 0 0 2px 1px #640902;*/
/*-khtml-box-shadow: inset 0 0 2px 1px #640902;*/
/*behavior: url('../pie/PIE.htc');*/
/*}*/

/*#btnRoomSearch span*/
/*{*/
/*border: 1px solid #710a02;*/
/*color: white;*/
/*display: block;*/
/*padding: 10px 15px;*/
/*text-align: center;*/
/*width: 292px;*/

/*border-radius: 3px;*/
/*-moz-border-radius: 3px;*/
/*-webkit-border-radius: 3px;*/
/*-o-border-radius: 3px;*/
/*-khtml-border-radius: 3px;*/
/*}*/

#bookingPaymentBlock {
    text-align: center;
}

.editButton
{
    width: 207px;
    background-size: 207px 29px;
}

a.button {
    display: inline-block;
    background-image: url(../i/button.png);
    background-repeat: no-repeat;
    background-color: transparent;
    width: 161px;
    height: 29px;
    border: none;

    font-family: Arial;
    font-size: 1.1em;
    line-height: 29px;
    text-transform: uppercase;
    text-align: center;
    color: #e8ca91;
    text-decoration: none;
}

#content a.button {
    background-image: url(../i/content_button.png);
    width: 140px;
    height: 29px;
    font-size: 0.8em;
}

#content a.button:hover {
    background-image: url(../i/content_button_hover.png);
}

.reserve-top {
    height: 4px;
    background: transparent url(../i/reserve_top.gif) 40px 0 no-repeat;
}

#mainBlock {
    /*background: #fef7ea;*/
    overflow: hidden;
    background: #fef7ea url(../i/flores_top_right.gif) right top  no-repeat;

}

#mainBlock-bottom-left {
    background: transparent url(../i/flores_bottom_left.gif) left bottom no-repeat;
    overflow: hidden;

}

#mainBlock-bottom-right {
    background: transparent url(../i/flores_bottom_right.gif) right bottom  no-repeat;
    overflow: hidden;
}

#container {width: 100%;}

#content_container {
    width: 100%;
    float: left;
}

#content {
    margin: 0 0 0 0;
    /*padding: 20px;*/
    /*background: transparent url(../i/content_left_bg.gif) left top repeat-y;
    min-height: 500px;*/
    /*font-size: 1.2em;*/
    position: relative;
    /*overflow: hidden;*/
}

/*#content h3 {*/
/*color: #871c1b;*/
/*font-size: 1.4em;*/
/*font-weight: bold;*/
/*margin-top: 5px;*/
/*margin-bottom: 5px;*/
/*}*/

#leftBlock {
    float: left;
    width: 407px;

}
.hr {
    height: 2px;
    background: transparent url(../i/content_hr.gif) repeat-x;
    margin-top: 5px;
    margin-bottom: 5px;
}

#backCall {
    height: 92px;
    background: transparent url(../i/back_call_bg.gif) repeat-x;
    margin-left: 40px;
    overflow: hidden;
}

#backCall-title {
    font-family: Arial;
    font-weight: bold;
    font-size: 1.2em;
    color: #871c1b;
    text-transform: uppercase;
    margin: 20px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.backCall-hint {
    color: #9F9E9E;
    margin: 5px;
    margin-left: 15px;
}

.text-title {
    font-family: Arial;
    font-weight: bold;
    font-size: 1.2em;
    color: #871C1B;
    text-transform: uppercase;
    margin: 20px;
    margin-top: 10px;
}

.left {
    float: left;
}

#backCall-input {
    background: transparent url(../i/back_call_input.gif) left top  no-repeat;
    width: 180px;
    height: 29px;

    margin-left: 10px;
    margin-right: 5px;
    /*display: inline-block;*/
    float: left;
}

#backCall-input input{
    color: #9f9e9e;
    font-style: italic;
    margin-left: 8px;
    margin-top: 6px;
    width: 170px;
    border: none;
    background-color: transparent;
}

.round {
    -moz-border-radius: 3px;
    border-radius: 3px;
}

.shadow {
    box-shadow: black 1px 1px 1px, black 0 0 0px;
}

#map {
    height: 390px;
    background: transparent url(../i/map_bg.gif) left top repeat-x;
    border: 1px solid #e5d2af;
    margin-left: 40px;
    margin-top: 30px;
    margin-bottom: 60px;
    overflow: hidden;
    background-color: #f9e8cf;
}

#map .button{
    margin-top: 10px;
    margin-left: 80px;
}

.title {
    font-family: Arial;
    font-weight: bold;
    font-size: 1.2em;
    color: #871c1b;
    text-transform: uppercase;
    margin: 10px;
}

#map-content-block {
    margin: 15px;
}

#map-content {
    width: 336px;
    height: 300px;
    border: 1px solid #afa392;
}

#left {
    float: left;
    width: 250px;
    margin-left: -100%;
}

#right {
    float: left;
    width: 250px;
    margin-left: -250px;
}

.clear {
    clear:both;
}






a
{
    color: #AF2610;
    text-decoration: none;
}



label
{
    font-size: 12pt;
    font-weight:bold;
    width: 100px;

}

#footer {
    border-top: 1px solid #C1B8B6;
}

.number-image {
    width: 192px;
    height: 151px;
    background: transparent url(../i/number_img.gif) left top no-repeat;


    margin-right: 10px;
}

.number-image img {
    margin: 10px;
}

.f-grey {
    color: #656565;
}

.grey-line {
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-bottom-color: #f2ece2;
}

.appartments-list li {
    overflow: hidden;

    padding-bottom: 20px;
    margin-top: 20px;
}

.image-list {
    overflow: hidden;
    margin-top: 20px;
}

.image-list img{
    width: 78px;
    height: 58px;
    padding: 10px;
    background-color: white;
}

.b-appartment-info {
    overflow: hidden;
}

.image-list li{
    float: left;
}

.grey-border-solid {
    height: 1px;
    border-top-style: solid;
    border-top-width: 1px;
    border-top-color: #f2ece2;

    margin-top: 10px;
    margin-bottom: 10px;
}



.scrollable
{
    width:100%;
    position: relative;
    overflow: hidden;
}

.scrollable div.scrollableArea .scrollingHotSpotLeft
{
    position: relative;
    float: left;
    margin: 0;
    padding: 0;
    /* If you don't want the images in the scroller to be selectable, try the following
                block of code. It's just a nice feature that prevent the images from
                accidentally becoming selected/inverted when the user interacts with the scroller. */
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -o-user-select: none;
    user-select: none;


}

.scrollable  .scrollingHotSpotLeft
{
    background: transparent url(../i/image_list_left.gif) left no-repeat;
}

.scrollable  .scrollingHotSpotRight
{
    background: transparent url(../i/image_list_right.gif) right no-repeat;
}

.scrollable div.scrollableArea .scrollingHotSpotRight
{
    position: relative;
    float: left;
    margin: 0;
    padding: 0;
    /* If you don't want the images in the scroller to be selectable, try the following
                block of code. It's just a nice feature that prevent the images from
                accidentally becoming selected/inverted when the user interacts with the scroller. */
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -o-user-select: none;
    user-select: none;
}

.scrollable  .scrollWrapper
{
    position: relative;
    float: left;
    margin-left: 70px;
    margin-right: 70px;
    width: 380px;  /* 420 */
    padding: 0;
    /* If you don't want the images in the scroller to be selectable, try the following
                block of code. It's just a nice feature that prevent the images from
                accidentally becoming selected/inverted when the user interacts with the scroller. */
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -o-user-select: none;
    user-select: none;
}

#copyright {
    padding: 10px;
    color: white;
    font-size: 1.2em;
    font-weight: bold;
}


#booking-form label {
    font-family: Arial;
    font-size: 1.2em;
    color: #871c1b;
    font-weight: bold;

    width: 100px;
    /*display: inline-block;*/
    float: left;
    height: 30px;
    line-height: 30px;
}

#booking-form textarea {
    width: 198px;
    border: 1px solid #d9d9d9;
    background-color: #fef7ea;
    color: #d9d9d9;
}

#bookingPrepayment {
    margin-left: 60px;
}

#booking-form select {
    width: 200px;
}

#booking-form ul li{
    font-family: Arial;
    font-size: 1.2em;
    color: #871c1b;
    font-weight: bold;
}

#bookingOptions {
    margin-left: 60px;
}

.bookingPriceLabel {
    color: #c19f5f;
    font-size: 1.2em;
}

#bookingPrice {
    color: #745720;
    font-size: 1.2em;
    font-weight: bold;
}

.bookingPrice {
    color: #745720;
    font-size: 1.2em;
    font-weight: bold;
}

.b-booking-price {
    margin: 0 auto;
    text-align: center;
}

#booking-form input {
    color: black;
}

#booking-form textarea {
    color: black;
}

/*
 auth
*/
#auth label {
    /*display: inline-block;*/
    width: 150px;
}

.l_equipment li {
    list-style: disc;
    color: #871c1b;
}

.l_equipment li span{
    color: black;
}

#ui-datepicker-div {
    display: none;
}

#b-profilemenu {
    position: absolute;
    /*top: 30px;*/
    /*left: 420px;*/
    /*width: 340px;*/
    /*height: 20px;*/
    /*z-index: 1000;*/
    /*background-color: red;*/
}

#b-profilemenu p
{
    float: left;
    height: 24px;
    line-height: 24px;
    margin: 0 0 10px 0;
    /*width: 130px;*/
}

#b-profilemenu p
{
    color: white;
    cursor: pointer;
    font-size: 13px;
    font-weight: bold;
    text-decoration: underline;
}

#b-profilemenu p span
{
    background: url('../i/dropdown-arr.png') no-repeat right;
    padding-left: 15px;
    text-decoration: none;
}

#b-profilemenu .popup-detail
{
    background: url('../i/popup-detail.png') no-repeat center;
    height: 17px;
    position: absolute;
    top: 24px;
    left: 110px;
    width: 25px;
    z-index: 1001;
    display: none;
}

#profile_menu_wrap
{
    display: none;
}

#profile_menu
{
    /*width: 166px;*/
    position: absolute;
    top: 15px;
    /*background: #fef7ea;*/
    /*border: 7px solid #2c2c2c;*/
    /*margin: 0;*/
    overflow: hidden;

    /*border-radius: 15px;*/
}

#profile_menu li
{
    margin: 0;
    padding: 0 10px;
}

#profile_menu li a {
    /*border-bottom: 1px solid #f1e4cc;*/
    /*display: inline-block;*/
    /*color: #b12014;*/
    /*font-size: 12px;*/
    /*font-weight: bold;*/
    /*line-height: 12px;*/
    /*padding: 8px 0;*/
    /*text-decoration: none;*/
    /*width: 100%;*/
}

#profile_menu li:hover
{
    /*background: #ffc8c3;*/
}

#booking-history ul li
{
    /*background: url('../i/line.png') no-repeat bottom;*/
    /*float: left;*/
    /*padding: 30px 0;*/
    /*width: 100%;*/
}

#booking-history dl {
    margin-top: 5px;
    margin-bottom: 10px;
    /*border-bottom: 1px solid #C19F5F;*/
}
#booking-history dd {
    float: none;
    /*border-bottom: 1px solid #C19F5F;*/
}

#booking-history dt {
    float: left;
    display: inline-block;
    width: 150px;
    font-weight: bold;
}

#copyright {
    overflow: hidden;
    margin-bottom: 5px;
}

.copyright-left {
    float: left;
    margin-right: 10px;
}

.copyright-left p{
    margin-top: 15px;
}
#copyright-link {
    width: 126px;
    height: 51px;
    float: left;
    display: block;
    background: transparent url(../i/made_in_develstyle.png) left top no-repeat;
    text-indent: -10000px;
}

.warning {
    color: red;
    font-weight: bold;
}
.success {
    color: green;
    font-weight: bold;
}

#content h2 a {
    /*color: #871C1B;*/
    width: 70%;

}


#publications-list li {
    margin-top: 15px;
    margin-bottom: 15px;
    overflow: hidden;
}

#publications-list a {
    text-decoration: none;
}

.input-right {
    height: 29px;
    background: transparent url(../i/input-right.png) right top no-repeat;
    float: left;
    width: 8px;
}

.b-input-small {
    padding-left: 5px;
    padding-right: 5px;

    background-image: url(../i/input.png);
    background-repeat: no-repeat;
    width: 40px;
    height: 29px;
    border: none;
    float: left;
}

.b-input-small .inputSmall {
    width: 30px;
    border: none;
    background-color: #FCF7EA;
    color: #B2B0AD;
    margin: 5px;
}

.reserve-label-children {
    margin-left: 38px;
    font-family: Arial;
    font-size: 1.2em;
    color: #F5C161;
    text-shadow: black 1px 1px 2px, black 0 0 1em;
    width: 50px;
    float: left;
    height: 30px;
    line-height: 30px;
}

.reserve-label-numbers {
    font-family: Arial;
    font-size: 1.2em;
    color: #f5c161;
    text-shadow: black 1px 1px 2px, black 0 0 1em;
    width: 140px;
    /*display: inline-block;*/
    float: left;
    height: 30px;
    line-height: 30px;
}

#appartmentsTypes-list li > label {
    float: none;
    width: auto;
    font-size: 0.8em;
}

#appartmentsTypes-list .appartmentsTypes-count {
    width: 30px;
    padding: 4px;
}



.reserve-appartmentsTypes-list li{
    margin: 0px;
    padding: 0px;
    list-style: decimal;
    list-style-type: decimal;
}

#questions
{
    float: left;
    position: relative;
    width: 100%;
}


#questions input, #commentForm input
{
    border: none;
    font-family: Arial, Helvetica, Verdana, sans-serif;
    font-size: 12px;
    font-style: italic;
    height: 27px;
    margin-left: 10px;
    padding: 0 5px;

    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    -o-border-radius: 5px;
    -khtml-border-radius: 5px;

    box-shadow: inset 0 0 2px 1px #a89879;
    -moz-box-shadow: inset 0 0 2px 1px #a89879;
    -webkit-box-shadow: inset 0 0 2px 1px #a89879;
    -o-box-shadow: inset 0 0 2px 1px #a89879;
    -khtml-box-shadow: inset 0 0 2px 1px #a89879;
    behavior: url('../pie/PIE.htc');
}

#commentForm input
{
    margin-top: 20px;
}

#commentForm #captchaMain
{
    margin-top:20px;
}

#commentForm input[type="image"]
{
    box-shadow: none;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    -o-box-shadow: none;
    -khtml-box-shadow: none;
}

#questions textarea, #commentForm textarea
{
    border: none;
    color: #656565;
    font-family: Arial;
    font-size: 12px;
    height: 110px;
    margin: 25px 10px 10px 10px;
    padding: 10px 20px;
    resize: none;
    width: 880px;

}

#commentForm input {
    width: 300px;
}

#commentForm ul, #commentForm ul li
{
    float: left;
    margin: 0;
    width: 100%;
}

#commentForm button
{
    font-size: 11px;
    float: right;
    height: 30px;
    margin: 10px;
    width: 200px;
}

#questions .error, #commentForm .error
{
    color: red;
    float: left;
    font-family: Arial;
    font-size: 12px;
    font-weight: bold;
    height: 10px;
    width:100%;
}

#questions .err-input
{
    top: 105px;
}

#questions .err-message
{
    top: 270px;
}

#questions button
{
    font-size: 11px;
    float: right;
    height: 30px;
    margin: 10px;
    width: 180px;
}

#feedbackReturnBtn
{
    width: 120px !important;
}

#prevQuestions, #commentList
{
    margin: 0 auto;
    width: 90%;
    max-width: 700px;
}

#prevQuestions div, #commentList li
{
    line-height: 20px;
    margin: 15px 0;
}

#commentList li
{
    float: left;
    width: 100%;
}

#prevQuestions div.parent_0, #commentList
{
    border-top: 1px solid #f2ece2;
    padding-top: 10px;
}

#prevQuestions span.row-name, #commentList li
{
    color: #871c1b;
    display: inline-block;
    font-size: 14px;
    font-weight: bold;
    padding: 5px 0;
}

#prevQuestions span.row-date, #commentList li span.row-date
{
    color: #656565;
    font-size: 12px;
    font-weight: normal;
}

#prevQuestions span.row-arrow
{
    background: url(../i/answer_arrow.png) no-repeat center;
    display: inline-block;
    width: 20px;
}

#prevQuestions span.row-message-label, #commentList li span.row-message-label
{
    color: #a29f9a;
    font-size: 12px;
    font-weight: normal;
    margin-left: 5px;
}

#prevQuestions span.row-message, #commentList li span.row-message
{
    color: black;
    display: inline-block;
    font-size: 12px;
    font-weight: bold;
}

#reserve_list>li{
    background: transparent url(../i/reserv_horizontal_line.png) center top no-repeat;

}

.reserv_description .bg{
    background: transparent url(../i/reserv_description_bg.png) left top no-repeat;
}
.info_button{
    width: 27px;
    height: 27px;
    cursor: pointer;
    background: transparent url(../i/info_button.png) left top no-repeat;
    display: inline-block;
}
.radio_button{
    display: inline-block;
    position: relative;
    height: 18px;
    width: 14px;
    /*overflow: hidden;*/
    /*background: transparent url('../i/button_radio_empty.png') no-repeat left top;*/
    cursor: pointer;
}
.radio_button input{
    margin: 0;
    padding: 0;
}
.radio_button input {
    opacity:1;
}
/*.radio_button.selected{*/
    /*background: transparent url('../i/button_radio_selected.png') no-repeat left top;*/
/*}*/

/*блок numbers*/

#numbers
{
    float: left;
    width: 100%;
}

#numbers > li
{
    border-bottom: 1px solid #f2ece2;
    float: left;
    margin: 0 0 10px 0;
    width: 100%;
}

#numbers ul
{
    float: left;
    height: 120px;
}

#numbers .scrollWrapper
{
    width: 805px;
}

#numbers ul li
{
    background: white;
    border: 5px solid white;
    cursor: pointer;
    float: left;
    height: 90px;
    line-height: 90px;
    margin: 10px 17px;
    text-align: center;
    width: 117px;

    box-shadow: 0 0 6px black;
    -moz-box-shadow: 0 0 6px black;
    -webkit-box-shadow: 0 0 6px black;
    -o-box-shadow: 0 0 6px black;
    -khtml-box-shadow: 0 0 6px black;
    behavior: url('pie/PIE.htc');
}

#numbers ul li img
{
    max-height: 90px;
    max-width: 117px;
    vertical-align: middle;
}

#numbers .descript
{
    color: #656565;
    float: left;
    text-align: justify;
    width: 100%;
}

#numbers .descript.infoblock p
{
    margin: 10px 0;
}

#numbers .prepayment
{
    float: left;
}

#numbers .prepayment td
{
    height: 20px;
    vertical-align: middle;
}

#numbers .prepayment td.type
{
    color: #871c1b;
    font-size: 12px;
    padding-right: 20px;
}

#numbers .prepayment td.old-cost
{
    color: #656565;
    text-decoration: line-through;
    padding-left: 10px;
    text-align: right;
    width: 70px;
}

#numbers .prepayment td.new-cost
{
    color: #469d28;
    padding-left: 10px;
    text-align: right;
    width: 70px;
}

#numbers button
{
    background: #fef7ea;
    display: block;
    float: left;
    font-size: 11px;
    height: auto;
    margin: 3px 0 3px 40px;
    line-height: 11px;
    padding: 3px 4px;
    width: auto;

    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    -o-border-radius: 5px;
    -khtml-border-radius: 5px;

    box-shadow: inset 0 0 2px 1px #a89879;
    -moz-box-shadow: inset 0 0 2px 1px #a89879;
    -webkit-box-shadow: inset 0 0 2px 1px #a89879;
    -o-box-shadow: inset 0 0 2px 1px #a89879;
    -khtml-box-shadow: inset 0 0 2px 1px #a89879;
    behavior: url('../pie/PIE.htc');
}

#numbers button > span
{
    display: block;
    line-height: 20px;
    padding: 2px 10px;
}

#numbers button span.calend-icon
{
    background: url('../i/calendar.png') no-repeat center;
    display: inline-block;
}

#numbers .comment
{
    color: #469d28;
    float: left;
    margin: 15px 0;
    width: 100%;
}

#numbers .comment a
{
    color: #469d28;
    font-weight: bold;
}

#aboutHotel
{
    float: left;
    width: 100%;
}

#aboutHotel h2
{
    /*background: url(../i/line_q2.png) no-repeat bottom;*/
    /*color: #871c1b;*/
    /*font-family: Tahoma, Arial;*/
    /*font-size: 18px;*/
    /*font-style: normal;*/
    /*height: 50px;*/
    /*text-align: center;*/
}

#aboutHotel .scrollable
{
    float: left;
    height: 120px;
}

#aboutHotel .scrollable .scrollWrapper
{
    width: 800px;
    margin: 0 60px;
}

#aboutHotel .scrollable li
{
    background: white;
    border: 5px solid white;
    cursor: pointer;
    float: left;
    height: 90px;
    line-height: 90px;
    margin: 10px 5px;
    text-align: center;
    width: 117px;

    box-shadow: 0 0 6px black;
    -moz-box-shadow: 0 0 6px black;
    -webkit-box-shadow: 0 0 6px black;
    -o-box-shadow: 0 0 6px black;
    -khtml-box-shadow: 0 0 6px black;
    behavior: url('pie/PIE.htc');
}

#aboutHotel ul li img
{
    max-height: 90px;
    max-width: 117px;
    vertical-align: middle;
}

#aboutHotel .tourExtraService
{
    margin: 0 0 70px 0;
    width: 100%;
}
.tourExtraService h3 {
font-size: 48px;
}
#aboutHotel .tourExtraService .name
{
    width: 75%;
}

#aboutHotel .tourExtraService #transferInfo .name span
{
    display: inline-block;
    margin: 15px 0;
}

#hotelInfo, #hotelFooter
{
    color: #2c2b2b;
    float: left;
    font-size: 12px;
    font-weight: bold;
    text-align: justify;
    width: 100%;
}

#hotelServices
{
    float: left;
    width: 100%;
}

#hotelServices h3
{
    /*border-bottom: 1px solid #f2ece2;*/
    /*float: left;*/
    /*padding: 15px 0;*/
    /*text-align: left;*/
    /*width: 100%;*/
}

#hotelServices dl
{
    float: left;
}

#hotelServices dt
{
    color: #871c1b;
    font-size: 14px;
    padding: 15px 0;
    width: 145px;
}

#hotelServices dd
{
    border-bottom: 1px solid #f2ece2;
    float: none;
    font-size: 12px;
    font-weight: normal;
    padding: 15px 0 15px 145px;
    text-align: justify;
}

#hotelServices p
{
    border-bottom: 1px solid #f2ece2;
    float: left;
    margin-bottom: 40px;
    padding: 15px 0;
    text-align: justify;
}


/** Раздел Авиакомпании и поезда, прибывающие в г. Киев **/

#homePageItems #aboutHotel ul
{
    height: 120px;
}

#homePageItems .scrollWrapper
{
    width: 85%;
}

#aboutHotel .scrollDiv
{
    width: 820px;
}
#homePageItems ul li, #aboutHotel ul li
{
    background: white;
    border: 5px solid white;
    cursor: pointer;
    float: left;
    line-height: 90px;
    margin: 10px 17px;
    text-align: center;
    box-shadow: 0 0 6px black;
    -moz-box-shadow: 0 0 6px black;
    -webkit-box-shadow: 0 0 6px black;
    -o-box-shadow: 0 0 6px black;
    -khtml-box-shadow: 0 0 6px black;
    behavior: url('pie/PIE.htc');
}
#homePageItems .iconImg, #aboutHotel ul li img
{
    max-height: 90px;
    max-width: 117px;
    vertical-align: middle;
}

#homePageItems select
{
    background-color: white;
    border: 1px solid #7E7E7E;
    color: #414141;
    display: block;
    float: left;
    font-style: normal;
    padding: 5px;
    margin-right: 7%;
    width: 204px;
    font-size: 14px;
}
#homePageItems select:last-of-type {
    margin-right: 0;
}
#homePageItems label
{
    font-family: Arial;
    font-size: 18px;
    float: left;
    height: 30px;
    line-height: 30px;
    color: rgb(39, 39, 39);
    font-weight: normal;
    margin-bottom: 25px;
    max-width: 85px;
}

#homePageItems .full-descript
{
    display: none;
}

#airlinesList
{
    width: 925px;
}

#airlinesSearchResult
{
    display: none;
    min-height: 350px;
}
#searchResult td {
    padding:0;
}
#airlinesList img, #airlinesSearchResult img
{
    height: 250px;
    width: 250px;
    vertical-align: middle;
}

#citySearchButton
{
    background-image: url(../i/button.png);
    background-repeat: no-repeat;
    background-color: transparent;
    width: 161px;
    height: 29px;
    border: none;
    font-family: Arial;
    font-size: 1.1em;
    text-transform: uppercase;
    color: #e8ca91;
    cursor: pointer;
}

#citySearchButton:hover
{
    background-image: url(../i/button_hover.png);
}

.alert-danger
{
    color: #a94442;
    background-color: #f2dede;
    border-color: #ebccd1;
    padding: 15px;
    margin-bottom: 20px;
    border: 1px solid transparent;
    border-radius: 4px;
    font-size: 18px;
    font-weight: normal;
    text-align: center;
}

.zoomImg
{
    position: fixed;
    display: none;
    box-shadow: 0 0 30px black;
    -moz-box-shadow: 0 0 30px black;
    -webkit-box-shadow: 0 0 30px black;
    -o-box-shadow: 0 0 30px black;
    -khtml-box-shadow: 0 0 30px black;
    border: 1px solid #d3d3d3;
    border-radius: 5px;
    z-index: 2000;
}

.zoomImg img
{
    border-radius: 5px;
}

.closeZoom
{
    color: floralwhite;
    font-size: 1.6em;
    font-weight: bold;
    margin-top: 5px;
    margin-bottom: 5px;
    position: absolute;
    top: 10px;
    left: 10px;
    text-shadow: 0px 0px 7px #000000;
}

#printModal
{
    position:fixed;
    top:50%;
    left:50%;
    text-align:center;
    margin: -60px 0 0 -155px;
    width:310px;
    height:120px;
    font-size:16px;
    padding:10px;
    color:#222;
    font-family:helvetica, arial;
    border: 3px solid #555;
    border-radius:8px; -webkit-border-radius:8px; -moz-border-radius:8px;
    box-shadow:0px 0px 10px #888;
    -webkit-box-shadow:0px 0px 10px #888;
    -moz-box-shadow:0px 0px 10px #888;
    opacity: 0;
    background: white url('../template/villa/i/print.png') center 35px no-repeat;
}

#printHeader
{
    padding: 10px;
    margin-bottom: 20px;
}

#printHeader img
{
    border-radius: 5px;
    float: left;
}

#printHeader table
{
    width: 615px;
    height: 124px;
}

#printHeader table td
{
    width: 49%;
    padding-left: 66px;
    padding-top: 14px;
    font-size: 16px;
}

#excursions
{
    height: 180px;
}

#excursions .carousel-wrap
{
    margin: 0 5px;
}

#excursions .carousel-btn-wrap
{
    height: 70px;
    margin: 20px 0;
    width: 46px;
}

#excursions .carousel-btn
{
    width: 46px !important;

    box-shadow: none;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    -o-box-shadow: none;
    -khtml-box-shadow: none;
}

#excursions .carousel-btn.btn-right
{
    background: transparent url('../i/image_list_right.gif') no-repeat center;
}
#excursions .carousel-btn.btn-left
{
    background: transparent url('../i/image_list_left.gif') no-repeat center;
}

#excursionTitle
{
    float: left;
    margin: 10px 0;
    width: 600px;
    padding-left: 30px;
}

#excursionList
{
    list-style: none;
    margin: 0;
    height:85%;
    padding-left: 22px;
}

#excursionList > li
{
border-left: 1px solid #f2f2f2;
border-right: 1px solid #f2f2f2;
height: 105px;
margin: 3px 0;
padding: 0 2px;
text-align: center;
/*width: 90px;*/
}
#excursionList > li span.day-info {
    display: inline-block;
    color: black;
    font-size: 12px;
    width: 100%;
}
#excursionList > li button.info {
    background: url(../i/tour_info_button.png) no-repeat center;
    background-size: 22px 22px;
    float: left;
    height: 25px;
    width: 22px;
}
.guest-num-select.condensed {
    height: 25px;
    width: 66px;
}
.guest-num-select {
    float: right;
    position: relative;
    text-align: center;
    width: 96px;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    -o-border-radius: 5px;
    -khtml-border-radius: 5px;
}
#excursionList > div span.old-price {
    display: inline-block;
    font-weight: normal;
    width: 100%;
}
#excursionList > div span.day-price {
    color: #469d28;
    display: inline-block;
    font-weight: normal;
    width: 100%;
}
#excursionList > div button.addOptionButton {
    line-height: 9px;
    padding: 2px;
    width: 100%;
}

#excursionList li button.deleteOptionButton {
    line-height: 22px;
    padding: 2px;
    width: 100%;
}
.carousel-btn
{
    height: 50px !important;
    margin: 10px 0;
    width: 39px !important;
}

#scanUploadMain, #touragentForm
{
    margin: 0 auto;
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#scanPreview, #logoPreview
{
    /*float: left;*/
    width: 50%;
}

#scanUploadMain button, #scanUploadMain .button, #touragentForm button, #touragentForm .button
{
    height: 40px;
    line-height: 40px;
    padding: 0 30px;
    color: #fff;
    letter-spacing: 2px;
    background-color: #d77b5d;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    -ms-border-radius: 0;
    -o-border-radius: 0;
    border-radius: 0;
    font-size: 10px;
    font-weight: 900;
    text-transform: uppercase;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    width: 220px;
    display: inline-block;
    box-shadow: none;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    -o-box-shadow: none;
    -khtml-box-shadow: none;
    float: none;
    margin-left:0;
}
}

#scanUploadMain #scanUploadBtn span, #touragentForm #logoUploadBtn span
{
    height: 40px;
    line-height: 40px;
    padding: 0 30px;
    color: #fff;
    letter-spacing: 2px;
    background-color: #d77b5d;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    -ms-border-radius: 0;
    -o-border-radius: 0;
    border-radius: 0;
    font-size: 10px;
    font-weight: 900;
    text-transform: uppercase;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    width: 220px;
    display: inline-block;
    box-shadow: none;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    -o-box-shadow: none;
    -khtml-box-shadow: none;
    float: none;
    margin-left:0;
}
}

#scanUploadMain #delScan span, #touragentForm #delLogo span
{
    height: 40px;
    line-height: 40px;
    padding: 0 30px;
    color: #fff;
    letter-spacing: 2px;
    background-color: #d77b5d;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    -ms-border-radius: 0;
    -o-border-radius: 0;
    border-radius: 0;
    font-size: 10px;
    font-weight: 900;
    text-transform: uppercase;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    width: 220px;
    display: inline-block;
    box-shadow: none;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    -o-box-shadow: none;
    -khtml-box-shadow: none;
    float: none;
    margin-left:0;
}
}

#scanUploadMain #scanUploadBtn:hover span, #touragentForm #logoUploadBtn:hover span
{
    background: -moz-linear-gradient(top, #0b710b, #74c766);
    background: -o-linear-gradient(top, #0b710b, #74c766);
    background: -webkit-linear-gradient(top, #0b710b, #74c766);
    background: -ms-linear-gradient(top, #0b710b, #74c766);
    -pie-background: linear-gradient(top, #0b710b, #74c766);
}

#scanUploadMain #delScan:hover span, #touragentForm #delLogo:hover span
{
    /*background: -moz-linear-gradient(top, #690909, #a6180d);*/
    /*background: -o-linear-gradient(top, #690909, #a6180d);*/
    /*background: -webkit-linear-gradient(top, #690909, #a6180d);*/
    /*background: -ms-linear-gradient(top, #690909, #a6180d);*/
    /*-pie-background: linear-gradient(top, #690909, #a6180d);*/
}

#scanUploadMain #progress, #touragentForm #progress
{
    float: left;
    height: 20px;
    margin: 10px;
    overflow: hidden;
    width: 440px;
    background-color: #f7f7f7;
    background-image: -moz-linear-gradient(top, #f5f5f5, #f9f9f9);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#f5f5f5), to(#f9f9f9));
    background-image: -webkit-linear-gradient(top, #f5f5f5, #f9f9f9);
    background-image: -o-linear-gradient(top, #f5f5f5, #f9f9f9);
    background-image: linear-gradient(to bottom, #f5f5f5, #f9f9f9);
    background-repeat: repeat-x;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fff5f5f5', endColorstr='#fff9f9f9', GradientType=0);
    -webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
    box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
}

#scanUploadMain .progress-bar, #touragentForm .progress-bar
{
    background-color: #5cb85c;
    float: left;
    width: 0;
    height: 100%;
    font-size: 12px;
    line-height: 20px;
    color: #fff;
    text-align: center;
    -webkit-box-shadow: inset 0 -1px 0 rgba(0,0,0,.15);
    box-shadow: inset 0 -1px 0 rgba(0,0,0,.15);
    -webkit-transition: width .6s ease;
    transition: width .6s ease
}

#touragentForm label
{
    float: left;
    margin-top: 1px;
    width: 680px;
}

#touragentForm input
{
    border: none;
    height: 27px;
    margin-left: 30px;
    padding: 0 5px;
    width: 430px;

    font-family: Arial, Helvetica, Verdana, sans-serif;
    font-size: 12px;
    font-style: italic;

    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    -o-border-radius: 5px;
    -khtml-border-radius: 5px;

    box-shadow: inset 0 0 2px 1px #a89879;
    -moz-box-shadow: inset 0 0 2px 1px #a89879;
    -webkit-box-shadow: inset 0 0 2px 1px #a89879;
    -o-box-shadow: inset 0 0 2px 1px #a89879;
    -khtml-box-shadow: inset 0 0 2px 1px #a89879;
    behavior: url('../pie/PIE.htc');
}

#profileDiscounts li
{
    margin: 5px 0;
}

#profileDiscounts label
{
    line-height: 27px;
    width: 130px;
}

#profileDiscounts input
{
    float: left;
    width: 55px;
}

#changeArrivalForm li
{
    margin-right: 55px;
}

#changeArrivalForm input
{
    margin-left: 10px;
    width: 80px;
}

#changeArrivalWin button
{
    margin: 10px 100px;
    width: 220px;
}

.hide {
    display: none;
}

