/**
    shinatop
*/

body {
    /*font-size: 10px;*/
    font-family: Arial, sans-serif;

    /* line-height: 1.6em;*/ /* 16px */
    padding:0px 0px 0px 0px;
    margin:0px 0px 0px 0px;

    /* Ставим размер шрифта 10px  для всех броузеров */
    font-size: 62.5%;
    line-height: 1.8em; /* высота строки 18px */

    /*background-color: #282828;*/
}

p {
    font-size: 1em; /* 10px */
    line-height: 1.6em; /* 16px */
    margin: 0 0 1.6em 0; /* «швейцарский абзац»  */
}

/* 24px  */
.class-for-24px {
    font-size: 2.4em; /* 24px */
    line-height: 1.3333em; /* 32px */
    margin-top: 0.6667em;
    margin-bottom: 0em;
}

/* 22px  */
.class-for-22px {
    font-size: 2.2em; /* 22px */
    line-height: 1.4545em; /* 32px */
    margin-top: 0.7273em;
    margin-bottom: 0em;
}

/* 20px  */
.class-for-20px {
    font-size: 2em; /* 20px */
    line-height: 1.6em; /* 32px */
    margin-top: 0.8em;
    margin-bottom: 0em;
}

/* 18px  */
.class-for-18px {
    font-size: 1.8em; /* 18px */
    line-height: 1.7778em; /* 32px */
    margin-top: 0.8889em;
    margin-bottom: 0em;
}

/* 16px  */
.class-for-16px {
    font-size: 1.6em; /* 16px */
    line-height: 1em; /* 16px */
    margin-top: 1em;
    margin-bottom: 0em;
}

/* 14px  */
.class-for-14px {
    font-size: 1.4em; /* 14px */
    line-height: 1.1429em; /* 16px */
    margin-top: 1.1429em;
    margin-bottom: 0em;
}

/* 12px  */
.text-12px {
    font-size: 1.2em; /* 12px */
    line-height: 1.3333em; /* 16px */
    margin-top: 1.3333em;
    margin-bottom: 0em;
}

/* 10px  */
.text-10px {
    font-size: 1em; /* 10px */
    line-height: 1.6em; /* 16px */
    margin-top: 1.6em;
    margin-bottom: 0em;
}

/* правила для отображений ссылок */
a:link, a:visited {
text-decoration: underline;
color: #0072bc;
}

a:hover, a:active {
text-decoration: underline;
color: #bc0000;
}

/* стили для списков */
ol, ul {
margin: 0 0 1.5em 0;
padding: 0;
}


ol li, ul li {
/*margin: 0 0 0.75em 1.5em;*/
}

/* вложенные списки */
li ol, li ul {
margin: 0.75em 0 0.75em 0;
padding: 0;
}
.search_rules{
    font-size:18px;
    margin-bottom:20px;
}
.reserve_conent .caption{
    font-size:16px;
    color: #d77b5d;
}
.reserve_conent .widget-rooms-list .rooms-item .item-price{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.reserve_conent .widget-rooms-list .rooms-item .item-price .price-inner{
    top: 20px;
}
.btn-check-reserve{
    height: 40px;
    padding: 0 30px;
    color: #fff;
    letter-spacing: 2px;
    background-color: #d77b5d;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
    border-radius: 20px;
    outline: none !important;
}
#reserve_conent{
    color:#666;
    /*font-family: "Arial";*/
    font-family: 'Lato B';
    font-size: 12px;
}
#reserve_conent #search_rules{
    /*font-family: "Tahoma";*/
    font-family: 'Lato B';
    font-weight: bold;
}


#reserve_conent > .caption{
    padding:15px 0;
}
#reserve_conent #carousel{
    height: 100px;

}
#reserve_conent .number_name{
    color: #871c1b;
    font-size: 18px;
    font-weight: bold;
    padding: 15px 0;
}
#reserve_list li{
    position: relative;
    padding: 0;
    font-size:14px;
}
#reserve_list .item{
    position: relative;
    min-height: 123px;
}
.reserv_description , .reserv_description .bg{
    position: absolute;
    left: 0;
    top: 0;
    width:277px;
    height: 103px;
    padding: 10px 13px;
    overflow: hidden;
}

.open_descr {
    background-color: #fef7ea;
    border: 1px solid #ccc;
    z-index: 500;
    width: 500px;
    height: auto;
    box-shadow: 4px 4px 10px #000;
    margin-left: 30px;
}

#reserve_list .carousel{
    height: 100px;
    cursor: pointer;
}
#reserve_list .pay_result{
    display: flex;
    justify-content: center;
    font-size: 16px;
    margin-top:45px;
}
.price_list .prepayment_name{
    width: 260px;
    color: #871c1b;
}
.prepayment_name, .info_button, .standart_cost, .real_cost{
    display: inline-block;
    height: 27px;
}
.info_button{
    display: block;

    left: 270px;
    top: 0;
}
.info_button:hover{
    opacity: 0.8;
}
.standart_cost{
    width: 70px;
    margin-left: 52px;
    color: #ccc;
    text-decoration: line-through;
    font-weight: bold;
}
.real_cost{
    width: 70px;
    color: #d77b5d;
}
.real_cost.selected{
    font-size: 14px;
    font-weight: bold;
}
.radio_button input{
    opacity: 0;
    cursor: pointer;
}
.price_item_text{
    color:#666;

}
.price_item{
    color: #d77b5d;
    font-size: 18px;
}

.item_foot .allPrice{
    font-family: Tahoma, Arial, sans-serif;
    font-size: 16px;
    color: #666;
    border-top: 1px #f2ece2 solid;
    padding: 10px 20px;
    text-align: right;
    line-height: 20px;
}
.item_foot .allPrice b{
    color: #d77b5d;
}
.item_foot button{
    position: absolute;
    right: 0;
    top: 9px;
}
#profile_menu:before, #profile_menu:after{
    display: none;
}