#userFormTest
{
    display: table-cell;
    height: 100px;
    text-align: center;
    vertical-align: middle;
    width: 940px;
}

#userForm 
{
    background: #fef7ea;
    float: left;
    text-align: left;
    padding: 15px;
    width: 340px;
}

#userForm.b-modal
{
    border: none;
}

#userForm .b-modal_close arcticmodal-close
{
    background: url('../i/close.png') no-repeat center;
    color: red;
    height: 29px;
    width: 27px;
    right: 15px;
    top: 15px;  
    z-index: 10;
}

#userForm .b-modal_close arcticmodal-close:hover
{
    background: url('../i/close-hover.png') no-repeat center;
}

#userForm h3
{
    border-bottom: 1px solid #f2ece2;
    color: #871c1b;
    float: left;
    font-family: Tahoma, Arial, Helvetica, sans-serif;
    font-size: 18px;
    font-weight: bold;
    line-height: 25px;
    margin: 0;
    padding-bottom: 15px;
    width: 100%;
}

#userForm input
{
    border: none;
    font-family: Arial, Helvetica, Verdana, sans-serif;
    font-size: 12px;
    font-style: italic;
    height: 27px;
    padding: 0 5px;
    width: 330px;
    
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    -o-border-radius: 5px;
    -khtml-border-radius: 5px;
    
    box-shadow: inset 0 0 2px 1px #a89879;
    -moz-box-shadow: inset 0 0 2px 1px #a89879;
    -webkit-box-shadow: inset 0 0 2px 1px #a89879;
    -o-box-shadow: inset 0 0 2px 1px #a89879;
    -khtml-box-shadow: inset 0 0 2px 1px #a89879;
    behavior: url('../pie/PIE.htc');
}

#userForm ul
{
    border-bottom: 1px solid #f2ece2;
    float: left;
    margin: 0;
}

#userForm ul li
{
    margin: 20px 0;
}

#userForm .error
{
    border-bottom: 1px solid #f2ece2;
    color: red;
    float: left;
    font-family: Arial, Helvetica, Verdana, sans-serif;
    font-size: 14px;
    font-weight: bold;
    height: 15px;
    line-height: 15px;
    padding: 20px 5px;
    width: 330px;
}

#userForm button
{
    float: right;
    margin: 20px 0 10px 0;
}