.villa-modal-form.b-modal 
{
    background: #fff;
    border: none;
    text-align: left;
    padding: 0;
    max-width: 420px;
    border-radius: 0;
    padding-bottom:15px;
}
.villa-modal-form.b-modal.discounts
{
    padding:10px;
}
.villa-modal-form.b-modal.discounts .strong{
    justify-content: center;
    height:40px;
    align-items: center;
}
.villa-modal-form .arcticmodal-close
{
    color: #fff;
    height: 29px;
    width: 27px;
    right: -30px;
    top: -25px;
    z-index: 10;
}
.villa-modal-form .arcticmodal-close:before
{
    content: '\00d7';
    font-size:40px;
}


.villa-modal-form input
{
    height: 35px;
    padding: 0 10px;
    background-color: #f5f5f5;
    color: #5c677b;
    font-size:12px;
}
::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    color: #5c677b;
}
::-moz-placeholder { /* Firefox 19+ */
    color: #5c677b;
}
:-ms-input-placeholder { /* IE 10+ */
    color: #5c677b;
}
:-moz-placeholder { /* Firefox 18- */
    color: #5c677b;
}

.villa-modal-form .strong
{
    font-size: 18px;
    font-weight: bold;
    line-height: 25px;
    margin: 0;
    width: 100%;
    display: flex;
}
.villa-modal-form li{
    margin: 15px 0;
}

.villa-modal-form .strong.bottom
{
    border-bottom: none;
    border-top: 1px solid #f2ece2;
    padding: 10px 0;
    justify-content: space-around;
}
.villa-modal-form .strong.bottom a{
    width:45%;
    flex-grow:0;
}
.villa-modal-form .strong span, .villa-modal-form .strong a{
    display: block;
    width:100%;
    flex-grow:1;
    text-align: center;
    line-height: 50px;
    background: #fff;
    text-decoration: none;
    transition: all .2s;
    cursor: pointer;
    color: #5c677b;
    font-size: 13px;
    font-family: Lato, sans-serif;
    font-weight: 900;
    text-transform: uppercase;
}
.villa-modal-form .strong span:hover, .villa-modal-form .strong a:hover{
    color: #d77b5d;
}
.villa-modal-form .strong a{
    background: #f5f5f5;
    color: #5c677b;
}
.villa-modal-form ul
{
    margin: 35px 20px;
}

.villa-modal-form ul li input
{
    width: 100%;
    box-sizing: border-box;
}
.villa-modal-form button{
    color: #fff;
    background-color: #ef805c;
    text-decoration: none;
    outline: 0;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    display: block;
    width: 50%;
    height: 40px;
    margin: 0 auto;
    border-radius: 0;
}

.villa-modal-form ul li input[type="number"], .villa-modal-form ul li input[type="phone"]
{
    padding-left: 15px !important;
    width: 165px !important;
}

.villa-modal-form ul li span.phone-plus
{
    font-family: Arial, Helvetica, Verdana, sans-serif;
    font-size: 12px;
    font-style: italic;
    font-weight: normal;
    left: 6px;
    position: absolute;
    top: 5px;
}

#authForm .passRecover
{
    color: #5c677b;
    display: block;
    font-size: 12px;
    margin: 10px auto;
    text-align: center;
}

#authForm #authFormContinue
{
    display: inline-block;
}

.villa-modal-form .error
{
    color: #871c1b;
    font-size: 15px;
    line-height: 20px;
    margin: 0;
    padding: 15px 0 5px 0;
    width: 100%;
    text-align: center;
}

.villa-modal-form .success
{
    color: #871c1b;
    font-size: 18px;
    margin: 0;
    padding: 25px 0;
    text-align: center;
    width: 100%;
}

#profileForm #userProfileList li
{
    margin: 5px 25px 5px 0;
}

#profileForm #userProfileList li input
{
    width: 175px;
}

#profileForm #userProfileList li input#profile_address
{
    width: 385px;
}

#profileForm #profileSaveBtn, #changePassBtn
{
    margin-bottom: 17px; 
}

#profileForm #changeEmailBtn
{
    margin: 14px auto;
}

#profileForm #changePassList li:first-child
{
    margin: 0;
}


#profileForm #changePassList li input
{
    width: 100%;
}

#profileForm .preloader
{
    border-top: 1px solid #f2ece2;
    height: 32px;
    padding: 4px;
    width: 100%;
}

#profileForm .message
{
    border-top: 1px solid #f2ece2;
    color: #871c1b;
    font-size: 18px;
    line-height: 20px;
    margin: 0;
    padding: 10px 0;
    width: 100%;
}

#authFormRemember
{
    width: 16px;
    height: 16px;
}

label[for=authFormRemember]
{
    color: #5c677b;
    font-size: 14px;
    font-weight: normal;
    vertical-align: super;
    cursor: pointer;
    width: auto;
}

#roomEquipment ul
{
    list-style-image: url(../i/galka.png);
    padding-left: 20px;
}

#roomEquipment ul li
{
    font-size: 12px;
    line-height: normal;
    margin: 5px 0;
    width: 100%;
}
@media (max-width: 480px) {
    .arcticmodal-container_i2{
        padding: 0;
    }
    .villa-modal-form.b-modal{
        max-width: 300px;
    }
    .villa-modal-form .arcticmodal-close {
        top: -30px;
        right:0;
    }
}