<h2>Мое видео</h2>
<?php if (count($this->items)==0) { ?>
    У вас пока ничего не загружено.
<?php } ?>
<ul id="video_items">
    <?php foreach($this->items as $item) { ?>
        <li>
            <h3><?php echo $item['title']; ?></h3>
            <p><?php echo $item['description']; ?></p>
            <a href="<?php echo $this->getAppDomen().'/media/'.$item['uid']; ?>/video/<?php echo $item['file_name']; ?>" class="video" id="video_<?php echo $item['id']; ?>"></a>
        </li>
    <?php } ?>
</ul>
<script>
    $(document).ready(function() {
        video.initList();
    });
</script>