<h2>Управление видео</h2>
<ul id="video_items">
    <?php foreach($this->items as $item) { ?>
        <li id="video_item_<?php echo $item['id']; ?>">
            <a href="<?php echo $this->getAppDomen().'/media/'.$item['uid']; ?>/video/<?php echo $item['file_name']; ?>" class="video" id="video_<?php echo $item['id']; ?>"></a>
            <a href="javascript:video.remove(<?php echo $item['id']; ?>);">Удалить</a>
        </li>
    <?php } ?>
</ul>

Выберите файл для загрузки: <div id="btnVideoUpload">Загрузить картинку</div><br/>
Поддерживаемые форматы: mov, avi, mp4.
<div class="warning">Размер файла не должен превышать 32Mb</div>
<div id="uploadProgress"></div>

<div id="addVideoParams">
    <input type="hidden" id="videoId" value="0"/>
    <label for="videoName">Название</label><br/>
    <input type="text" class="textInput" id="videoName"/><br/>
    <label for="videoDescription">Описание</label><br/>
    <textarea class="bigTextInput" id="videoDescription"></textarea>
    <button id="btnVideoAdd">Сохранить</button>
    <div class="warning" id="videoMessage"></div>
</div>

<script>
    $(document).ready(function() {
        video.init();
    });
</script>