<style>.im{color: inherit !important}</style>
<table style="background: #fff; margin: 0 auto; width: 980px; padding: 0; border-collapse: collapse; 
        font-family: Arial, Helvetica, Verdana, sans-serif; font-size: 14px; color: #871c1b;">
    <tr>
        <td style="background: url('<?=$this->domain;?>/villa/module/mail/template/img/head_bg.png') no-repeat center; height: 130px; vertical-align: top;
                font-family: Calibri, Arial, sans-serif; font-style: italic; font-weight: bold; color: #ffffff; text-shadow: 0 1px 1px #000000; padding: 0;">
            <a href="<?=$this->domain;?>" style="display: block; float: left; height: 85px; width: 265px; margin: 20px 70px 0 25px;">
                <img src="<?=$this->domain;?>/villa/module/mail/template/img/logo.png"/>                   
            </a>
            <?php if ( $this->parts['credentials'] ) {

            ?>
            <span style="float: right; width: 300px; white-space: pre-wrap; margin-right: 80px" name="credentials" id="credentials" ><?php echo $this->parts['credentials'] ?></span>
            <?php } ?>
        </td>
    </tr>
    <?php if($this->user_info) {?>
    <tr>
        <td style="font-size: 14px; font-weight: bold; font-style: italic;
            background: url('<?=$this->domain;?>/villa/module/mail/template/img/line.png') no-repeat bottom; padding: 30px; font-family: Arial, Helvetica, Verdana, sans-serif;">
            <?=$this->user_info;?>
        </td>
    </tr>
    <?php }?>
    <tr>
        <td style="font-size: 24px; font-weight: bold; font-style: italic;
            background: url('<?=$this->domain;?>/villa/module/mail/template/img/line.png') no-repeat bottom; padding: 30px; font-family: Calibri, Arial, sans-serif; ">
            <?=$this->parts['bookingNum']?> <?=$this->model->id?>&emsp;(<?=Dante_Helper_Date::converToDateType($this->model->creation_time, 0)?>)
            <div style="color: #871c1b; margin: 22px 0 0 45px; font-size: 24px; width: 335px; line-height: 24px;">
                <a style="color: #871c1b; text-decoration: none; font-size: 32px; margin-bottom: 10px; display: inline-block">
                    <?=$this->phone?>
                </a><br/>
                <?=$this->contacts?>
            </div>
        </td>
    </tr>
    <tr>
        <td style="padding: 20px 30px 10px">

            <table style="background: none; font-family: Tahoma, Arial, Helvetica, sans-serif;">
                <tr>
                    <th style="font-weight: bold; color: #656565; padding: 5px 5px 5px 0;">
                        <?=$this->parts['arriveDate']?>:
                    </th>
                    <td style="font-weight: bold; padding: 5px 20px 5px 0;">
                        <?=$this->model->basicData->arrival;?>
                    </td>    
                    <th style="font-weight: bold; color: #656565; padding: 5px 5px 5px 0;">
                        <?=$this->parts['departureDate']?>:
                    </th>
                    <td style="font-weight: bold; padding: 5px 20px 5px 0;">
                        <?=$this->model->basicData->departure;?>
                    </td>
                    <th style="font-weight: bold; color: #656565; padding: 5px 5px 5px 0;">
                        <?=$this->parts['numOfNights']?>:
                    </th>
                    <td style="font-weight: bold; padding: 5px 20px 5px 0;">
                        <?=$this->model->days;?>
                    </td>
                    <th style="font-weight: bold; color: #656565; padding: 5px 5px 5px 0;">
                        <?=$this->parts['adults']?>:
                    </th>
                    <td style="font-weight: bold; padding: 5px 20px 5px 0;">
                        <?=$this->model->basicData->adults;?>
                    </td>
                    <?php if($this->model->basicData->children) {?>
                    <th style="font-weight: bold; color: #656565; padding: 5px 5px 5px 0;">
                        <?=$this->parts['children']?>:
                    </th>
                    <td style="font-weight: bold; padding: 5px 20px 5px 0;">
                        <?=$this->model->basicData->children;?>
                    </td>
                    <?php }?>
                </tr>
            </table>
        </td>
    </tr>
    <tr>
        <td style="padding: 10px 30px;">
            <table style="background-color: #fef7ea; border-collapse: collapse; width: 100%;">
                <tr>
                    <td style="border: 1px solid #e5d4b5; font-weight: bold; padding: 10px 15px; vertical-align: middle; text-align: center">
                        <?=$this->room_type_name;?>
                    </td>
                    <td style="border: 1px solid #e5d4b5; font-weight: bold; padding: 10px 15px; vertical-align: middle; text-align: center">
                        <?=$this->prepayment_name;?>
                    </td>
                    <td style="border: 1px solid #e5d4b5; font-size: 12px; padding: 10px 15px; vertical-align: middle; text-align: center">
                        <?=$this->parts['costOneNight']?><br/>
                        <span style="color: #469d28; font-size: 20px; display: inline-block; margin-top: 10px">
                            <?=$this->model->roomData->displayPrice();?> <?=$this->ccy?>
                        </span>
                    </td>
                    <td style="border: 1px solid #e5d4b5; font-size: 12px; padding: 10px 15px; vertical-align: middle; text-align: center">
                        <?=$this->parts['totalCost']?><br/>
                        <span style="color: #469d28; font-size: 20px; display: inline-block; margin-top: 10px; font-weight: bold;">
                            <?=$this->model->totalsData->dispResidenceCost();?> <?=$this->ccy?>
                        </span>
                    </td>
                </tr>
            </table>
        </td>
    </tr>
    <tr>
        <td style="padding: 10px 30px;">
            <table style="background-color: #fef7ea; border-collapse: collapse; width: 100%;">
                <caption style="font-family: Calibri, Arial, sans-serif; font-size: 24px; font-weight: bold; 
                         font-style: italic; padding-bottom: 25px; text-align: left">
                    <?=$this->parts['guestData']?>
                </caption>
                <tr>
                    <th style="border: 1px solid #e5d4b5; font-weight: bold; padding: 10px 15px; vertical-align: middle; width: 25%;
                        color: #656565; font-family: Tahoma, Arial, Helvetica, sans-serif;">
                        <?=$this->parts['name']?>
                    </th>
                    <th style="border: 1px solid #e5d4b5; font-weight: bold; padding: 10px 15px; vertical-align: middle; width: 25%;
                        color: #656565; font-family: Tahoma, Arial, Helvetica, sans-serif;">
                        <?=$this->parts['surname']?>
                    </th>
                    <th style="border: 1px solid #e5d4b5; font-weight: bold; padding: 10px 15px; vertical-align: middle; width: 25%;
                        color: #656565; font-family: Tahoma, Arial, Helvetica, sans-serif;">
                        <?=$this->parts['phone']?>
                    </th>
                    <th style="border: 1px solid #e5d4b5; font-weight: bold; padding: 10px 15px; vertical-align: middle; width: 25%;
                        color: #656565; font-family: Tahoma, Arial, Helvetica, sans-serif;">
                        <?=$this->parts['email']?>
                    </th>
                </tr>
                <?php foreach($this->model->adultsInfo as $adult) {?>
                <tr>
                    <td style="border: 1px solid #e5d4b5; font-weight: bold; padding: 10px 15px; vertical-align: middle">
                        <?=$adult->first_name;?>
                    </td>
                    <td style="border: 1px solid #e5d4b5; font-weight: bold; padding: 10px 15px; vertical-align: middle">
                        <?=$adult->last_name;?>
                    </td>
                    <td style="border: 1px solid #e5d4b5; font-weight: bold; padding: 10px 15px; vertical-align: middle">
                        <?=$adult->phone;?>
                    </td>
                    <td style="border: 1px solid #e5d4b5; font-weight: bold; padding: 10px 15px; vertical-align: middle">
                        <a style="color: inherit; text-decoration: none;">
                            <?=$adult->email;?>
                        </a>
                    </td>
                </tr>
                <?php }?>                
                <?php foreach($this->model->childrenInfo as $child) {?>
                <tr>
                    <td style="border: 1px solid #e5d4b5; font-weight: bold; padding: 10px 15px; vertical-align: middle">
                        <?=$child->first_name;?>
                    </td>
                    <td style="border: 1px solid #e5d4b5; font-weight: bold; padding: 10px 15px; vertical-align: middle">
                        <?=$child->last_name;?>
                    </td>
                    <td style="border: 1px solid #e5d4b5; font-weight: bold; padding: 10px 15px; vertical-align: middle">
                        -
                    </td>
                    <td style="border: 1px solid #e5d4b5; font-weight: bold; padding: 10px 15px; vertical-align: middle">
                        -
                    </td>
                </tr>
                <?php }?>
            </table>
        </td>
    </tr>
    <?php if($this->model->hasServices() || $this->model->hasExcursions()) { ?>
    <tr>
        <td style="padding: 10px 30px;">
            <table style="background-color: #fef7ea; border-collapse: collapse; width: 100%;">
                <caption style="font-family: Calibri, Arial, sans-serif; font-size: 24px; font-weight: bold; 
                         font-style: italic; padding-bottom: 25px; text-align: left">
                    <?=$this->parts['services']?>
                </caption>
                <tr>
                    <th style="border: 1px solid #e5d4b5; font-weight: bold; padding: 10px 15px; vertical-align: middle; color: #656565; 
                        font-family: Tahoma, Arial, Helvetica, sans-serif; width: 165px;">
                        <?=$this->parts['denomination']?>
                    </th>
                    <th style="border: 1px solid #e5d4b5; font-weight: bold; padding: 10px; vertical-align: middle; color: #656565; font-family: Tahoma, Arial, Helvetica, sans-serif;">
                        <?=$this->parts['adultPrice']?>
                    </th>
                    <th style="border: 1px solid #e5d4b5; font-weight: bold; padding: 10px 15px; vertical-align: middle; color: #656565; font-family: Tahoma, Arial, Helvetica, sans-serif;">
                        <?=$this->parts['quantity']?>
                    </th>
                    <?php if($this->model->basicData->children) {?>
                    <th style="border: 1px solid #e5d4b5; font-weight: bold; padding: 10px 15px; vertical-align: middle; color: #656565; font-family: Tahoma, Arial, Helvetica, sans-serif;">
                        <?=$this->parts['childrenPrice']?>
                    </th>
                    <th style="border: 1px solid #e5d4b5; font-weight: bold; padding: 10px 15px; vertical-align: middle; color: #656565; font-family: Tahoma, Arial, Helvetica, sans-serif;">
                        <?=$this->parts['quantity']?>
                    </th>
                    <?php }?>
                    <th style="border: 1px solid #e5d4b5; font-weight: bold; padding: 10px 15px; vertical-align: middle; color: #656565; font-family: Tahoma, Arial, Helvetica, sans-serif;">
                        <?=$this->parts['numDays']?>
                    </th>
                    <th style="border: 1px solid #e5d4b5; font-weight: bold; padding: 10px 15px; vertical-align: middle; color: #656565; font-family: Tahoma, Arial, Helvetica, sans-serif;">
                        <?=$this->parts['sum']?>
                    </th>
                </tr>
                <?php foreach($this->model->getAddedServices() as $id => $service) { 
                    $sampleAdult = $service->adults[1]; 
                    $sampleChild = isset($service->children[1]) ? $service->children[1] : false;?>
                <tr>
                    <td style="border: 1px solid #e5d4b5; font-weight: bold; padding: 10px 15px; vertical-align: middle">
                         <?=$this->services[$id]['name'];?>
                    </td>
                    <td style="border: 1px solid #e5d4b5; padding: 10px; vertical-align: middle; color: #469d28; font-size: 20px;">
                        <?=$sampleAdult->displayCost();?> <?=$this->ccy?>
                    </td>
                    <td style="border: 1px solid #e5d4b5; font-weight: bold; padding: 10px 15px; vertical-align: middle">
                        <?=count($service->adults)?>
                    </td>
                    <?php if($this->model->basicData->children) {?>
                    <td style="border: 1px solid #e5d4b5; padding: 10px; vertical-align: middle; color: #469d28; font-size: 20px;">
                        <?=count($service->children) ? $sampleChild->displayCost().' '.$this->ccy : '-'?>
                    </td>
                    <td style="border: 1px solid #e5d4b5; font-weight: bold; padding: 10px 15px; vertical-align: middle">
                        <?=count($service->children) ? count($service->children) : '-'?>
                    </td>
                    <?php }?>
                    <td style="border: 1px solid #e5d4b5; font-weight: bold; padding: 10px 15px; vertical-align: middle">
                        <?=$sampleAdult->count;?>
                    </td>
                    <td style="border: 1px solid #e5d4b5; font-weight: bold; padding: 10px 15px; vertical-align: middle; color: #469d28; font-size: 20px;">
                        <?=$service->displayCost()?> <?=$this->ccy?>
                    </td>
                </tr>
                <?php }?>                
                <?php foreach($this->model->getAddedExcursions() as $date => $excursion) {
                    $sampleAdult = $excursion->adults[1]; 
                    $sampleChild = isset($excursion->children[1]) ? $excursion->children[1] : false;?>
                <tr>
                    <td style="border: 1px solid #e5d4b5; font-weight: bold; padding: 10px 15px; vertical-align: middle">
                        <?=$this->parts['excursion']?><br/>
                        <?php if (isset($this->excursions[$date])) { ?>
                        <?=$this->excursions[$date]['dayName'].' '.$this->excursions[$date]['dateStr'];?>
                        <?php } ?>
                    </td>
                    <td style="border: 1px solid #e5d4b5; padding: 10px; vertical-align: middle; color: #469d28; font-size: 20px;">
                        <?=$sampleAdult->displayCost();?> <?=$this->ccy?>
                    </td>
                    <td style="border: 1px solid #e5d4b5; font-weight: bold; padding: 10px 15px; vertical-align: middle">
                        <?=count($excursion->adults)?>
                    </td>
                    <?php if($this->model->basicData->children) {?>
                    <td style="border: 1px solid #e5d4b5; padding: 10px; vertical-align: middle; color: #469d28; font-size: 20px;">
                        <?=count($excursion->children) ? $sampleChild->displayCost().' '.$this->ccy : '-'?>
                    </td>
                    <td style="border: 1px solid #e5d4b5; font-weight: bold; padding: 10px 15px; vertical-align: middle">
                        <?=count($excursion->children) ? count($excursion->children) : '-'?>
                    </td>
                    <?php }?>
                    <td style="border: 1px solid #e5d4b5; font-weight: bold; padding: 10px 15px; vertical-align: middle">
                        1
                    </td>
                    <td style="border: 1px solid #e5d4b5; font-weight: bold; padding: 10px 15px; vertical-align: middle; color: #469d28; font-size: 20px;">
                        <?=$excursion->displayCost()?> <?=$this->ccy?>
                    </td>
                </tr>
                <?php }?>                
            </table>
        </td>
    </tr>
    <?php } ?>
    <?php if($this->model->hasTransfers()) {?>
    <tr>
        <td style="padding: 10px 30px;">
            <table style="background-color: #fef7ea; border-collapse: collapse; width: 100%;">
                <caption style="font-family: Calibri, Arial, sans-serif; font-size: 24px; font-weight: bold; 
                         font-style: italic; padding-bottom: 25px; text-align: left">
                    <?=$this->parts['transfer']?>
                </caption>
                <tr>
                    <th style="border: 1px solid #e5d4b5; font-weight: bold; padding: 10px 15px; vertical-align: middle; color: #656565; 
                        font-family: Tahoma, Arial, Helvetica, sans-serif; width: 220px;">
                        <?=$this->parts['transferType']?>
                    </th>
                    <th style="border: 1px solid #e5d4b5; font-weight: bold; padding: 10px; vertical-align: middle; color: #656565; font-family: Tahoma, Arial, Helvetica, sans-serif;">
                        <?=$this->parts['dateAndTime']?>
                    </th>
                    <th style="border: 1px solid #e5d4b5; font-weight: bold; padding: 10px 15px; vertical-align: middle; color: #656565; font-family: Tahoma, Arial, Helvetica, sans-serif;">
                        <?=$this->parts['raceOrTrainNum']?>
                    </th>
                    <th style="border: 1px solid #e5d4b5; font-weight: bold; padding: 10px 15px; vertical-align: middle; color: #656565; font-family: Tahoma, Arial, Helvetica, sans-serif;">
                        <?=$this->parts['city']?>
                    </th>
                    <th style="border: 1px solid #e5d4b5; font-weight: bold; padding: 10px 15px; vertical-align: middle; color: #656565; font-family: Tahoma, Arial, Helvetica, sans-serif;">
                        <?=$this->parts['cost']?>
                    </th>
                </tr>
                <?php foreach($this->model->getAddedTransfers() as $type => $transfer) { ?>
                <tr>
                    <td style="border: 1px solid #e5d4b5; font-weight: bold; padding: 10px 15px; vertical-align: middle">
                        <?=$this->transfers[$transfer->id]['name'].' - '.$this->transfers[$transfer->id]['type_name'];?>
                    </td>
                    <td style="border: 1px solid #e5d4b5; font-weight: bold; padding: 10px 15px; vertical-align: middle">
                        <?=$transfer->date.' '.$transfer->time?>
                    </td>
                    <td style="border: 1px solid #e5d4b5; font-weight: bold; padding: 10px 15px; vertical-align: middle">
                        <?php if($this->transfers[$transfer->id]['transport_type'] == 1) {
                            echo $this->parts['race'].': '.$transfer->race;                
                        } elseif($this->transfers[$transfer->id]['transport_type'] == 2) { 
                            echo $this->parts['train'].': '.$transfer->train.', '.$this->parts['wagon'].': '.$transfer->wagon;
                        }?>
                    </td>
                    <td style="border: 1px solid #e5d4b5; font-weight: bold; padding: 10px 15px; vertical-align: middle">
                        <?=$transfer->location?>
                    </td>
                    <td style="border: 1px solid #e5d4b5; font-weight: bold; padding: 10px 15px; vertical-align: middle; color: #469d28; font-size: 20px;">
                        <?=$transfer->displayCost()?> <?=$this->ccy?>
                    </td>
                </tr>
                <?php }?>                 
            </table>
        </td>
    </tr>
    <?php }?>
    <tr>
        <td style="font-size: 24px; font-weight: bold; font-style: italic;
            background: url('<?=$this->domain;?>/villa/module/mail/template/img/line.png') no-repeat bottom; padding: 30px; font-family: Calibri, Arial, sans-serif; ">
            <?=$this->parts['totalResidServCost']?>
        </td>
    </tr>
    <tr>
        <td style="padding: 10px 30px;">
            <table style="width: 450px; margin-left: 10px;">
                <tr>
                    <td style="text-transform: uppercase;">
                        <?=$this->parts['cost']?>
                    </td>
                    <td style="color: #469d28; width: 25%;">
                        <?=$this->model->totalsData->dispTotalCost()?> <?=$this->ccy?>
                    </td>
                </tr>
                <?php if($this->model->totalsData->dispTotalDiscount()) {?>
                <tr>
                    <td style="text-transform: uppercase;">
                        <?=$this->parts['discount']?>
                    </td>
                    <td style="color: #469d28;">
                        <?=$this->model->totalsData->dispTotalDiscount()?> <?=$this->ccy?>
                    </td>
                </tr>
                <?php }?>
                <tr>
                    <td style="text-transform: uppercase;">
                        <?=$this->parts['payable']?>
                    </td>
                    <td style="color: #469d28;">
                        <?=($this->model->totalsData->dispTotalCost() - $this->model->totalsData->dispTotalDiscount())?> <?=$this->ccy?>
                    </td>
                </tr>
                <tr>
                    <td style="text-transform: uppercase;">
                        <?=$this->parts['paid']?>
                    </td>
                    <td style="color: #469d28;">
                        <?=$this->model->totalsData->dispTotalPaid()?> <?=$this->ccy?>
                    </td>
                </tr>
            </table>
        </td>
    </tr>
    <tr>
        <td style="padding: 10px 30px;">
            <table style="background-color: #fef7ea; border-collapse: collapse; width: 100%; border: 1px solid #e5d4b5; font-size: 24px;">
                <tr>
                    <td style="font-weight: bold; padding: 15px; vertical-align: middle; text-transform: uppercase;">
                        <?=$this->parts['leftPayable']?>
                    </td>
                    <td style="font-weight: bold; padding: 15px; vertical-align: middle; color: #469d28; width: 25%; text-align: right">
                        <?=$this->model->totalsData->dispTotalPayable()?> <?=$this->ccy?>
                    </td>
                </tr>
            </table>
        </td>
    </tr>
    <?php if($this->new_user) { ?>
    <tr>
        <td style="padding: 10px 30px;">
            <table style="background-color: #fef7ea; border-collapse: collapse; width: 100%;">
                <caption style="font-family: Calibri, Arial, sans-serif; font-size: 24px; font-weight: bold; 
                         font-style: italic; padding-bottom: 25px; text-align: left">
                    <?=$this->parts['loginData']?>
                </caption>
                <tr>
                    <th style="border: 1px solid #e5d4b5; font-weight: bold; padding: 10px 15px; vertical-align: middle; width: 50%;
                        color: #656565; font-family: Tahoma, Arial, Helvetica, sans-serif;">
                        <?=$this->parts['email']?>
                    </th>
                    <th style="border: 1px solid #e5d4b5; font-weight: bold; padding: 10px 15px; vertical-align: middle; width: 50%;
                        color: #656565; font-family: Tahoma, Arial, Helvetica, sans-serif;">
                        <?=$this->parts['password']?>
                    </th>
                </tr>
                <tr>
                    <td style="border: 1px solid #e5d4b5; font-weight: bold; padding: 10px 15px; vertical-align: middle">
                        <a style="color: inherit; text-decoration: none;">
                            <?=$this->user_login;?>
                        </a>
                    </td>
                    <td style="border: 1px solid #e5d4b5; font-weight: bold; padding: 10px 15px; vertical-align: middle">
                        <?=$this->user_password;?>
                    </td>
                </tr>
            </table>
        </td>
    </tr>
    <?php } ?>
    <tr>
        <td style="padding: 10px 30px;">
            <?php foreach($this->info as $block) {?>
            <table style="color: #656565; font-size: 12px; margin-bottom: 30px; width: 100%">
                <caption style="color: #871c1b; font-weight: bold; font-size: 17px; border-bottom: 1px solid #f2ece2; text-align: left; padding: 15px 0;">
                    <?=$block->caption?>
                </caption>
                <?php if($block->type == BOOKING_INFO_TYPE_LIST) { foreach($block->rows as $row) {?>
                <tr>
                    <th style="font-weight: bold; border-bottom: 1px solid #f2ece2; color: #871c1b; font-size: 14px; padding: 15px 0; width: 145px;">
                        <?=$row->name;?>
                    </th>
                    <td style="border-bottom: 1px solid #f2ece2; font-size: 12px; padding: 15px 0; text-align: justify;">
                        <?=$row->text;?>
                    </td>
                </tr>
                <?php }} else {?>
                <tr>
                    <td style="border-bottom: 1px solid #f2ece2; padding: 15px 0; text-align: justify;">
                        <?=$block->text;?>
                    </td>
                </tr>
                <?php }?>
            </table>
            <?php }?>
        </td>
    </tr>
</table>