<p>
    <?=$this->data['date'];?> <?=$this->parts[1]?> <?=$this->link?></p>
<p>
    <?=$this->parts[2]?>:<br/>
    <strong><?=$this->data['comment'];?></strong>
</p>
<p>
    <?=$this->parts[3]?>:<br/>
    <strong><?=$this->data['answer']?></strong>
</p>