<p>
    <?=$this->parts[1]?> <?=$this->link?><br/>
</p>
<p>
    <b><u><?=$this->parts[2]?>:</u></b><br/>
    <b><?=$this->parts[3]?>:</b> <?=$this->data['email'];?><br/>
    <b><?=$this->parts[4]?>: </b> <?=$this->data['password'];?>
</p>