<h2>Управление моими новостями</h2>
<div id="newsManage">

    <fieldset>
    <legend>Создание новости</legend>
    <label for="newsTitle">Наименование новости:</label>
    <input type="text" id="newsTitle" class="input-xxlarge"/><br/>
    <textarea placeholder="Что у вас нового?" id="newsMessage" class="input-xxlarge"></textarea><br/>
    <input type="hidden" id="newsId" value="0"/>
    <button id="newsPublish" class="btn btn-success">Разместить новость</button>
    <div id="newsStatus"></div>
    </fieldset>
</div>

<hr/>

<ul id="news-manage-list">
    <?php foreach($this->items as $item) { ?>
        <li id="news-manage-list-item-<?php echo $item->id; ?>">
            <h3><?php echo $item->page_title; ?></h3>    
            <p><?php echo $item->page_content; ?></p>    
            <button class="btn btn-primary" title="Изменить новость" onclick="news.edit(<?php echo $item->id; ?>);">Редактировать</button>
            <button class="btn btn-danger" title="Удалить новость" onclick="news.remove(<?php echo $item->id; ?>);">Удалить</button>
        </li>
    <?php } ?>
</ul>

<script>
     $(document).ready(function() {
        $('#newsPublish').click(news.publish);
     });
</script>
