<style>
    #editAirlineFlights img
    {
        max-width: 150px;
        border: 1px solid grey;
        float: right;
        border-radius: 5px;
        position: relative;
        margin: 0 auto;
        box-shadow: 0 0 6px #000000;
    }
    .alert{
        font-size: 18px;
        font-style: italic;
    }
    #cityTable input
    {
        margin: 0 0 0 10px;
    }
</style>
<form id="editAirlineFlights">
    <input type="hidden" id="airlineId" name="airline_id" value="<?=$this->airline->id;?>">
    <input type="hidden" name="controller" value="module.airlines.manage.controller">
    <input type="hidden" name="action" value="saveFlights">
    <table class="table table-bordered table-condensed">
        <caption>
            <div class="alert alert-info" role="alert">
                Рейсы в г. Киев - редактирование
            </div>
        </caption>
        <tr>
            <td>
                <div class="alert alert-success" role="alert">
                    Выберите страну отправления:
                </div>
                <select class="country-select" id="country" name="country_id" style="margin: 10px">
                            <option value="0">-- Выберите --</option>
                    <?php foreach($this->countries as $id => $name): ?>
                            <option value="<?=$id; ?>">
                                <?=$name; ?>
                            </option>
                    <?php endforeach; ?>
                </select>
            </td>
            <td>
                <div class="alert alert-success" role="alert">
                    Информация об авиакомпании
                </div>
                <div>
                    Название : <?=$this->airline->name; ?>
                </div>
                <div>
                    <img style="" src="<?=$this->airline->logo; ?>" >
                </div>
                <div>
                    Веб-сайт :  <?=$this->airline->website; ?>
                </div>
            </td>
        </tr>
        <tr>
            <td colspan="2">
                <div id="citiesList">
                    <div class="alert alert-success" role="alert">
                        Список рейсов из выбранной страны
                    </div>
                    <div id="cityTable">
                    <!--flight table will be inserted here-->
                    </div>
                </div>
            </td>
        </tr>
        <tr>
            <td colspan="2">
                <a class="btn btn-success" onclick="airlines.saveFlights(this);">Сохранить</a>
            </td>
        </tr>
    </table>
</form>
<script type="text/javascript">
    jQuery('.country-select').change(function(){airlines.searchFlights();});
//    jQuery('#countrySelect').change();
</script>