<input type="hidden" id="airlineId" value="<?=$this->model->id?>"/>
<h4>Редактирование данных об авиакомпании</h4>
<ul class="nav nav-tabs" id="editTabs">
    <li class="active editonly"><a href="#edit" id="tab_edit">Редактирование</a></li>
    <?php if($this->model->id): ?>
    <li class="editonly"><a href="#destinations" id="tab_destinations">Рейсы</a></li>
    <?php endif; ?>
</ul>
<div class="tab-content">
    <div class="tab-pane" id="destinations">
        Рейсы
    </div>
    <div class="tab-pane active" id="edit">
        <form id="editAirline">
            <input type="hidden" id="modelID" name="id" value="<?=$this->model->id;?>">
            <table class="table handbook table-bordered">
                <tr>
                    <th>Название<span style="color: red">*</span></th>
                    <td>
                        <input type="text" name="name" value="<?=$this->model->name;?>" class="required"/>
                    </td>
                </tr>
                <tr>
                    <th>Сайт</th>
                    <td>
                        <input type="text" name="website" value="<?=$this->model->website;?>"/>
                    </td>
                </tr>
                <tr>
                    <th>Логотип</th>
                    <td>
                        <input type="hidden" name="logo" id="logo" value="<?=$this->model->logo;?>">
                        <?php $image = $this->model->logo?Module_Airlines_Helper::getImgPath().$this->model->logo:Lib_Image_Helper::getNoImage();?>
                        <img id="logoPreview" src="<?=$image;?>" style="float: left; height: 150px; margin-right: 15px"/>
                        <span class="btn btn-success fileinput-button">
                            <i class="glyphicon glyphicon-plus"></i>
                            <span>Выбрать файл</span>
                            <input id="fileupload" type="file" name="file">
                        </span><br/><br/>
                        <div id="progress" class="progress">
                            <div class="progress-bar progress-bar-success" style="width: 0%;"></div>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td colspan="2">
                        <a class="btn btn-success func" onclick="airlines.editSubmit(this);">Сохранить</a>
                    </td>
                </tr>
            </table>
        </form>
    </div>
</div>

<script type="text/javascript">
    $('#fileupload').fileupload({
        dataType: 'json',
        url: "/ajax.php?controller=module.airlines.manage.controller&action=imageUpload",
        maxFileSize: 10000000,
        acceptFileTypes: /(\.|\/)(gif|jpe?g|png)$/i,
        start: function(e)
        {
            $('#progress .progress-bar').css(
                    'width',
                    0 + '%'
            );
        },
        progressall: function (e, data)
        {
            var progress = parseInt(data.loaded / data.total * 100, 10);
            $('#progress .progress-bar').css(
                    'width',
                    progress + '%'
            );

        },
        done: function (e, data)
        {
            if (data.result.result == 1)
            {
                $('#logoPreview').attr('src', data.result.imageDir+data.result.image);
                $('#logo').val(data.result.image);
            }
            else
            {
                jAlert(data.result.message, 'Ошибка');
            }
        }
    });

    $(function()
    {
        $('#editTabs a').click(function(e) {
            e.preventDefault();
            $(this).tab('show');
            airlines.loadContent(this);
        });
    });
</script>
