<table class="table table-bordered table-condensed">
    <tr>
    <?php $i = 0; foreach($this->townList as $townId => $name) {?>
        <?php $flightId = array_search($townId, $this->flightsList);?>
        <td style="width: 25%">
            <label>
                <?=$name;?>
                <input type="checkbox" name="flights[<?=$townId?>]" value="<?=(int)$flightId?>" <?=$flightId !== false ? 'checked' : '';?>>
            </label>
        </td>
        <?php $i++;?>
    <?php if($i > 3) { $i = 0;?>
    </tr>
    <tr>
    <?php } }?>
</table>
