<ul <?php echo $this->id; ?> <?php echo $this->class; ?>>
    <?php foreach($this->items as $item) { ?>
        <li><a href="<?php echo $item->link; ?>"><?php echo $item->name; ?></a></li>
    <?php } ?>
</ul>    