<form id="editBestseller">
    <input type="hidden" name="controller" value="module.shop.controller.manage.bestseller"> 
    <input type="hidden" name="action" value="edit">
    <input type="hidden" name="id" value="<?=$this->id;?>">
    <table class="table table-bordered" id="bestsellerTable">
        <tr>
            <th colspan="2">
                <?=$this->product->id?'Информация о товаре':'Добавление товара';?>
                <input type="hidden" id="productID" name="product_id" value="<?=$this->product->id;?>">
            </th>
        </tr>
        <tr>
            <td class="image" style="width: 50%;">
                <img src="<?=$this->product->images[0];?>"/>
            </td>
            <td class="info">               
                <strong>Название: </strong><?=$this->product->name;?><br/>
                <strong>Код: </strong><?=$this->product->code;?><br/>
                <strong>Цена: </strong><?=$this->product->price;?>
            </td>
        </tr>
        <tr>   
            <td>
                <a class="btn btn-warning" onclick="bestselleradmin.openProductWindow()">
                    Открыть окно выбора
                </a>
            </td>
            <td>
                <a class="btn btn-success" onclick="bestselleradmin.formSubmit()">Сохранить</a>
            </td>
        </tr>        
    </table>
</form>
<div style="display: none;">
    <div class="b-modal" id="productModal">
        <div class="b-modal_close arcticmodal-close">X</div>
        <div class="modal-title"></div>
        <div class="modal-body"></div>
    </div>
</div>

