<table class="table handbook table-bordered" id="prodSelectTable">
    <tr>
        <th>
            Выберите категорию:
        </th>
        <td colspan="2">
            <select id="categorySelect" onchange="bestselleradmin.changeContent(this);" style="width: 350px; float: left;">
                <?php foreach($this->categories as $k => $val) { ?>
                <option value="<?=$k?>" <?php if($k == $this->categ_id) echo 'selected'?>>
                    <?=$val['name']?>
                </option>
                <?php }?>
            </select>
        </td>
    </tr>
    <tr>
        <th style="width: 250px;">
            Изображение
        </th>
        <th>
            Информация
        </th>
        <th style="width: 120px;">
            Функции
        </th>
    </tr>
    <?php foreach($this->products as $id => $product) {?>
    <tr>
        <td class="image">
            <img src="<?=$product->folder.'original/'.$product->images[0];?>"
        </td>
        <td class="info">
            <strong>Название: </strong><?=$product->name;?><br/>
            <strong>Код: </strong><?=$product->code;?><br/>
            <strong>Цена: </strong><?=$product->price;?>
        </td>
        <td>
            <?php if($id != $this->prod_id) {?>
            <a class="btn btn-success" onclick="bestselleradmin.selectProduct(this, <?=$id;?>)">Выбрать</a>
            <?php }?>
        </td>
    </tr>
    <?php }?>
</table>

