
<form id="editPublication">
    <input type="hidden" name="id" id="publication_id" value="<?=$this->id;?>">
    <input type="hidden" name="controller" id="publication_id" value="module.publications.manage.controller">
    <input type="hidden" name="action" id="publication_id" value="edit">
    <table class="table handbook table-bordered">
        <caption>Форма публикации</caption>
        <tr>
            <th>
                Язык контента: 
            </th>
            <td colspan="3">
                <?=$this->languages;?>
            </td>
        </tr>
        <tr>
            <td class="title" colspan="4">
                Содержимое
            </td>
        </tr>
        <tr>
            <th >
                Системное Название*
            </th>
            <td colspan="3">
                <input type="text" name="name" class="full-width" value="<?=$this->name;?>">
            </td>
        </tr>
        <tr>
            <th >
                Заголовок*
            </th>
            <td colspan="3">
                <input type="text" name="page_title" class="full-width" value="<?=$this->page_title;?>">
            </td>
        </tr>
        <?php if(Dante_Lib_Config::get('publication.allowImage')) {?>
        <tr>
            <th>
                Изображение
            </th>
            <td>
                <image id="prev_image" src="<?=Dante_Lib_Config::get("publication.imgDir");?><?=$this->image;?>?<?=time();?>" style="height:130px; max-width:180px;">
            </td>
            <td colspan="2">                
                <input id="image" type="text" name="image" value="<?=$this->image;?>" style="width: 300px;"/><button class="btn btn-warning btn-mini" onclick="return publications.load_elfinder('image');" style="margin: -8px 4px 0;">Загрузить</button>
            </td>
        </tr>
        <?php }?>
        <tr>
            <th >
                URL 
            </th>
            <td colspan="3">
                <input type="text" name="publication_url" class="full-width" value="<?=$this->url;?>" style="margin: 0;"><br>
                <font size="1">(если не заполнить то будет сгенерирован автоматически из поля "Системное Название*")
            </td>
        </tr>
        <?php if(Dante_Lib_Config::get('publication.allowPreview')){?>
        <tr>
            <th >
                 Превью публикации
            </th>
            <td colspan="3">
                <textarea name="page_preview" class="editor"><?=$this->page_preview;?></textarea>
            </td>
        </tr>
        <?php }?>
        <tr>
            <th >
                Содержимое публикации
            </th>
            <td colspan="3">
                <textarea name="page_content" class="editor"><?=$this->page_content;?></textarea>
            </td>
        </tr>
        
        <tr>
            <td class="title" colspan="4">
                Реквизиты
            </td>
        </tr>
        <? if($this->multidivisions){?>
        <tr>
            <th>
                Разделы
            </th>
            <td colspan="3">
                <select name="divisions[]" id="division_id_select" multiple="multiple">
                    
                    <?
                    
                    foreach($this->divisions as $key=>$val){
                        if(isset($this->divisions_use[$key])){
                            $selected='selected="selected"';
                        }else{
                            $selected='';
                        }
                    ?>
                    <option value="<?=$key;?>" <?=$selected;?> ><?=$val;?></option>
                    <? }?>
                </select>
            </td>         
        </tr>
        <? }else{ ?>
        <tr>
            <th style="width: 15%">
                Относится к разделу.                
            </th>
            <td style="width: 35%">
                <select name="division" id="division">
                    <option value="0">Без привязки к разделу</option>
                    <?                    
                    foreach($this->divisions as $key=>$val){
                        if($this->division == $key){
                            $selected='selected="selected"';
                        }else{
                            $selected='';
                        }
                    
                    ?>
                    <option value="<?=$key;?>" <?=$selected;?> ><?=$val;?></option>
                    <? }?>
                </select>
            </td> 
            <th>
                <label>
                    Требует авторизации
                    <input type="checkbox" name="auth_only" style="display: inline-block; margin-left: 10px" 
                           value="1" <?=$this->auth_only?'checked':'';?>/>
                </label>
            </td>
        </tr>
        <? }?>
        <tr>
            <th>
                Когда добавлено
            </th>
            <td colspan="3">
                дата <input type="text" name="date" class="datepick" value="<?=$this->date;?>"> время <input type="text" name="time" class="timepick" value="<?=$this->time;?>">
            </td>
        </tr>
       
        <tr>
            <td class="title" colspan="4">
                SEO
            </td>
        </tr>
        <tr>
            <th >
                 Title
            </th>
            <td colspan="3">
                <textarea name="title" class="medium"><?=$this->title;?></textarea>
            </td>
        </tr>
        <tr>
            <th >
                 Description
            </th>
            <td colspan="3">
                <textarea name="description" class="medium"><?=$this->description;?></textarea>
            </td>
        </tr>
        <tr>
            <th >
                 Keywords
            </th>
            <td colspan="3">
                <textarea name="keywords" class="medium"><?=$this->keywords;?></textarea>
            </td>
        </tr>
        <tr>
            <td colspan="2">
                
            </td>
            <td colspan="4">
                <a class="btn btn-success" onclick="publications.edit(this)">Сохранить</a>
                <a class="btn btn-success" onclick="publications.edit(this, true)">Сохранить и закрыть окно редактора</a>
                <div class="buttons-fly">
                <a class="btn btn-success" onclick="publications.edit(this)">Сохранить</a>
                <a class="btn btn-success" onclick="publications.edit(this, true)">Сохранить и закрыть окно редактора</a>
                </div>
            </td>
        </tr>
    </table>  
</form>
<div id="myelfinder"></div>

<script>
    
    var opts = {
              lang         : 'ru',
              styleWithCSS : false,
              height       : 200,
              toolbar      : 'maxi',
              fmOpen : function(callback) {
                $('<div id="myelfinder"></div>').dialogelfinder({
                  url: 'ajax.php?controller=lib.elfinder.controller',
                  commandsOptions: {
                    getfile: {
                      oncomplete: 'destroy' // destroy elFinder after file selection
                    }
                  },
                  getFileCallback: callback // pass callback to file manager
                });
              }
              
          };
    $("textarea.editor").elrte(opts);
    $('#editPublication').submit(function(){        
        return false;        
    })
    $("#lang_id").change(function(){
            publications.changeLang();
        }
    );
    
    $(".datepick").datepicker({dateFormat:"dd/mm/yy"});
    $(".timepick").timepicker();
    
</script>
<? Dante_Lib_Config::get('app.uploadFolder');?>