
<div id="editPublicationImages">
    <input type="hidden" name="id" id="publication_img_id" value="<?=$this->id;?>">
    <table class="table handbook table-bordered" style="width: auto; margin: 0 auto;">
        <caption>Галерея публикации</caption>
        <tr>
            <th style="width: 450px;">Изображение</th>
            <th style="width: 300px;">Комментарий</th>
            <th style="width: 90px;">Функции</th>
        </tr>
        <?php foreach($this->images as $img){?>
        <tr class="image" id="<?php echo $img['id'];?>">
            <td>
                <image src="<?php echo Dante_Lib_Config::get('publication.imgDir').$img['file_name'];?>" style="height:200px; max-width:400px;">
            </td>
            <td>                
                <textarea name="img_comment" style="width: 250px; height: 70px;"><?php echo $img['comment'];?></textarea>
                <button class="btn btn-info btn-mini" style="width: 70px; margin-top: 10px;" onclick="publications.addComment(this, <?php echo $img['id']?>);">
                    Сохранить
                </button>
                <p class="comment-success" style="margin: 10px 0;"></p>
            </td>
            <td>
                <button class="btn btn-danger btn-mini" style="width: 70px;" onclick="publications.imgDel(this, <?php echo $img['id'];?>);">
                    Удалить
                </button>
            </td>
        </tr>
        <?php };?>
        <tr>
            <td colspan="3" class="download">                
                <input id="image_download" type="text" name="image_download" value="" style="width: 300px;"/>
                <button class="btn btn-warning btn-mini" onclick="return publications.load_elfinder_gallery('image');" style="margin: -8px 4px 0;">Загрузить</button>
            </td>
        </tr>
        <tr>
            <td colspan="3">                
                <button class="btn btn-success" onclick="publications.editEnd();" style="margin: 5px;">
                    Закрыть окно
                </button>
            </td>
        </tr>
    </table>  
</div>
<div id="myelfinder"></div>