<form action="form_fix"></form>
<form class="liqpay" id="<?=$this->formId;?>" <?=$this->onSubmitHtml;?> action="https://www.liqpay.com/api/checkout" method="post">
    <input type="hidden" name="data" id="customData" value="<?=$this->params->data;?>"/>
    <input type="hidden" name="signature" id="sign" value="<?=$this->params->signature;?>"/>
    <?php if($this->withEndBtn) {?>
    <button class="green">
         <span><?=$this->buttonTitle;?></span>
    </button>
    <?php } else { ?>
    <button>
        <span>
            <?=$this->buttonTitle;?><br />
            <b><?=$this->params->amount;?></b> <?=$this->params->currency;?>
        </span>
    </button>
    <?php }?>
</form>