<form class="paypal" id="<?=$this->formId;?>" <?=$this->onSubmitHtml;?> action="https://www.paypal.com/cgi-bin/webscr" method="post">
    <input type="hidden" name="cmd" value="_xclick">
    <input type="hidden" name="upload" value="1">
    <input type="hidden" name="business" value="<?=$this->params->business?>">
    <input type="hidden" name="notify_url" value="<?=$this->params->notify_url?>">
    <input type="hidden" name="return" value="<?=$this->params->return_url?>">
    <input type="hidden" name="charset" value="utf-8">
    <input type="hidden" name="item_name" value="<?=$this->params->item_name;?>">
    <input type="hidden" name="item_number" id="bookingId" value="<?=$this->params->item_number;?>">
    <input type="hidden" name="currency_code" value="<?=$this->params->mc_currency;?>">
    <input type="hidden" name="amount" value="<?=$this->params->mc_gross;?>">
    <input type="hidden" name="custom" id="customData" value="<?=$this->params->custom;?>">
    <?php if($this->withEndBtn) {?>
    <button class="green">
         <span><?=$this->buttonTitle;?></span>
    </button>
    <?php } else { ?>    
    <button>
        <span>
            <?=$this->buttonTitle;?><br />
            <b><?=$this->params->mc_gross;?></b> <?=$this->params->mc_currency;?>
        </span>
    </button>
    <?php }?>
</form>

