.publicationTable{
    table-layout: fixed;
/*    width: auto !important;*/
    text-overflow: ellipsis;
}
.publicationTable thead th, .publicationTable thead td{
    text-align: center;    
}
#division_id{
    width: 150px !important;
}
#editPublication select#division_id_select{
    min-height: 200px;
    width: 784px;
}
#editPublication input.full-width{
    width: 720px;
}
#editPublication{
    z-index: 100;
}
#modalWindow .modal-body{
    height: auto;
    max-height: none;
}
#modalWindow textarea.medium{
    width: 784px;
    height: 60px;
}

#editPublicationImages th, #editPublicationImages td
{
    text-align: center;
}

#editCountry .errorInput, #editTown .errorInput
{
    border-color: rgba(236, 82, 82, 0.8);
    outline: 0;
    outline: thin dotted \9;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(236, 82, 82, 0.6);
    -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(82, 168, 236, 0.6);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(236, 82, 82, 0.6);
}

#editCountry .successInput, #editTown .successInput
{
    border-color: rgba(73, 179, 69, 0.8);
    outline: 0;
    outline: thin dotted \9;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(88, 236, 82, 0.6);
    -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(82, 168, 236, 0.6);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(94, 236, 82, 0.6);
}

