/* 
    Document   : captcha
    Created on : 19.02.2015, 18:23:05
    Author     : Valkyria
    Description:
        Purpose of the stylesheet follows.
*/


#captchaMain input[type="image"]
{
    margin: 0 4px 6px;
    padding: 0;
    height: 45px;
    width: 45px;
}

#captchaMain img
{
    background: #e9e9e9;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    -o-border-radius: 5px;
    -khtml-border-radius: 5px;
    height:40px;

}

