
<form id="productDescEdit">
    
    <table class="table table-striped">
        <tbody>
            <?php
            if($this->multilanguage){
            //Если multilanguage то выводим следующие поля
            ?>
            <tr>
                <th>
                    <label for="desc_name">Название продукта на выбранном языке</label>
                </th>
                <td colspan="3">
                    <input type="text" name="name" id="desc_name" value="<?=$this->name;?>">
                </td>
                <th>
                    <label for="desc_lang">Language</label>
                </th>
                <td style="width: 100px;">
                    <?=$this->language_combobox;?>
                </td>
            </tr>
            <? }?>
            <?php if($this->shortDescr) {?>
            <tr>
                <th style="width: 200px;">
                    <label for="desc_description">Короткое описание  </label>  
                </th>
                <td colspan="5">
                    <textarea class="big" name="short_descr" maxlength="<?=$this->shortDescrMax; ?>" style="width: 98%">
                        <?=$this->short_descr;?>
                    </textarea>
                </td>
            </tr>
            <?php }?>
            <tr>
                <th style="width: 200px;">
                    <label for="desc_description">Подробное описание  </label>  
                </th>
                <td colspan="5">
                    <textarea id="desc_description" class="big" name="description"><?=$this->description;?></textarea>
                </td>
            </tr>

            <tr>
                <th style="width: 200px;">
                    <label for="seoTitle">Title  </label>
                </th>
                <td colspan="5">
                    <input type="text" id="seoTitle" class="input-xxlarge" name="seoTitle" value="<?=$this->seo_title;?>"/>
                </td>
            </tr>
            <tr>
                <th style="width: 200px;">
                    <label for="seoKeywords">Keywords</label>
                </th>
                <td colspan="5">
                    <textarea id="seoKeywords" class="big" name="seoKeywords"><?=$this->seo_keywords;?></textarea>
                </td>
            </tr>
            <tr>
                <th style="width: 200px;">
                    <label for="seoDescription">Description</label>
                </th>
                <td colspan="5">
                    <textarea id="seoDescription" class="big" name="seoDescription"><?=$this->seo_description;?></textarea>
                </td>
            </tr>

            <tr>
                <td class="buttons right" colspan="6">
                    <button type="button" class="btn btn-success btn-fly" id='buttonSubmit' data-loading-text='Loading...' onclick="productadmin.formDescSubmit(<?=$this->product_id;?>); return false;">
                        Сохранить
                    </button>
                </td>
            </tr>
        </tbody>
    </table>
</form>
<div id="myelfinder"></div>
<script>
        var opts = {
              lang         : 'ru',
              styleWithCSS : false,
              height       : 200,
              toolbar      : 'maxi',
              fmOpen : function(callback) {
                $('<div id="myelfinder"></div>').dialogelfinder({
                  url: 'ajax.php?controller=lib.elfinder.controller',
                  commandsOptions: {
                    getfile: {
                      oncomplete: 'destroy' // destroy elFinder after file selection
                    }
                  },
                  getFileCallback: callback // pass callback to file manager
                });
              }
              
          };    
    $('#desc_description').elrte(opts);
    $('#productDescEdit').submit(
        function(){
        productadmin.formDescSubmit(<?=$this->product_id;?>)
        return false;        
    })
</script>
