<div style="max-width: 940px; position: relative; margin:0 auto;">
    <ul class="nav nav-tabs" id="editTabs">
      <li class="active addOnly"><a href="#productsAdd"  id="tab_edit">Добавление товара</a></li>
      <li class="active editonly"><a href="#productsAdd"  id="tab_edit">Редактирование товара</a></li>
      <li class="editonly"><a href="#productsDescription"  id="tab_description">Расширенная информация</a></li>
      <? if($this->id){?><li class="editonly"><a href="#productsImages" id="tab_images">Изображения</a></li><? }?>
      
    </ul>
    <?
    //var_dump($this);
    ?>
    <div class="tab-content">
        
       <div class="tab-pane" id="productsDescription">
            Расширенная информация
       </div>
       <div class="tab-pane" id="productsImages">
            Изображения
       </div>
        
        <!-- Форма дефолтной инфы -->
        <div class="tab-pane active" id="productsAdd">
            <form id="addProductForm">
                
                <table class="table table-striped">
                    <tbody>
                        <tr>
                            <th>
                                Название товара<span style="color: red;">*</span>
                            </th>
                            <td colspan="5">
                                <input type="text" id="productName" name="name" value="<?=htmlspecialchars($this->name);?>">
                            </td>
                        </tr>
                        <tr>
                            <th>
                                URL-псевдоним
                            </th>
                            <td colspan="5">
                                <input type="text" name="link" value="<?=htmlspecialchars($this->link);?>">
                            </td>
                        </tr>
                        <tr>
                            <th>
                                Код
                            </th>
                            <td colspan="2">
                                <input type="text" id="productCode" name="code" value="<?=$this->code;?>">
                            </td>
                        
                            <th>
                                Цена
                            </th>
                            <td colspan="1">
                                <input type="text" name="price" value="<?=$this->price?$this->price:0;?>" style="width:100px; text-align: right;">
                            </td>
                            <td>
                                допустимые форматы:<br>
                                <i>100, 100.1, 100.01</i>
                                (только точка)
                            </td>
                        </tr>
                        <tr>
                            <th>
                                Категория
                            </th>
                            <td colspan="5" id="categorySelectFromProduct">
                                <?=$this->category_select;?>
                            </td>
                        </tr>
                        <tr>
                            <td class="buttons" colspan="6">
                                <button type="button" class="btn btn-success btn-fly" id='buttonSubmit' data-loading-text='Loading...' onclick="productadmin.formSubmit(<?=$this->id;?>); return false;">
                                    Сохранить
                                </button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </form>
       </div>
        
        
    </div>
</div>
                  
<script>
<?php if($this->id){ ?>
   productadmin.id=<?=$this->id;?>;
<?php } else { ?>
    productadmin.id = 0;
<?php } ?>
$('#editTabs a').click(function (e) {
    
    e.preventDefault();
    $(this).tab('show');
    productadmin.loadContent(this);
})
productadmin.tabStatus();
$('#categorySelectFromProduct select').ikSelect(
    {
        autoWidth: true,
        ddFullWidth: true
    }
);
</script>


