<div style="float:left; font-size: 24px; line-height: 34px; margin-right: 10px;">Добавить изображения:</div>
 
<div style="float:left"><input id="product_image_upload" name="file_upload" type="file" multiple="true"></div>
<div id="queue" style="float:left; margin-left: 30px;"></div>

<script type="text/javascript">
    <?php $timestamp = time();?>
    $(function() {
        $('#product_image_upload').uploadify({
                formData     : {
                        'timestamp' : '<?=$timestamp;?>',
                        'token'     : '<?=md5('unique_salt' . $timestamp);?>',

                        controller:'module.shop.controller.manage.product',
                        action:'addImage',
                        product_id:'<?=$this->id;?>'
                },
                swf      : '<?=$this->swf_url;?>',
                uploader : '<?=$this->server_url;?>',
                'onQueueComplete' : function() {
                    $('#tab_images').click();
                },
                'onUploadSuccess' : function(file, data, response) {
                        // alert('The file ' + file.name + ' was successfully uploaded with a response of ' + response + ':' + data);
                    },
                'fileTypeExts' : '*.png; *.gif; *.jpg;,*.jpeg;',
                'fileSizeLimit' : '100MB',

        });

    });       
</script>