<div class="langWrapper">
<div style="display: none;" id="langCode" lang="<?php echo $this->langCode; ?>"><?php echo $this->langCode; ?></div>
    <?php foreach($this->items as $item) { ?>

            <a class="lang_link" href="javascript:languageJS.switchMe('<?php echo $item->sys_name; ?>');">
                <?php if(Dante_Lib_Config::get('lang.allowImage')) {?>
                <img src="<?=Dante_Lib_Config::get('app.uploadFolder').'/'.Dante_Lib_Config::get('lang.folder').'/'.$item->image?>">
                <?php }?>


            </a>

    <?php } ?>
</div>
