<div class="tourServices">
    <?php foreach($this->blocks as $block) {?>
    <h3><?=$block->caption?></h3>
    <?php if($block->type == BOOKING_INFO_TYPE_LIST) { foreach($block->rows as $row) {?>
    <dl>
        <dt><?=$row->name;?></dt>
        <dd><?=$row->text;?></dd>
    </dl>
    <?php }} else {?>
    <p><?=$block->text;?></p>
    <?php }}?>
</div>