<form id="bookingAddForm">
    <table class="table handbook table-bordered">
        <caption>Создание нового бронирования</caption>
        <tr>
            <th colspan="4" class="text-info" style="text-align: center">Основные данные</th>
        </tr>
        <tr>
            <th style="width: 20%">Дата заезда</th>
            <td style="width: 30%">
                <input type="text" id="addFormArrival" class="datepick basic-data" name="arrival"/>
            </td>
            <th style="width: 20%">Дата отъезда</th>
            <td style="width: 30%">
                <input type="text" id="addFormDeparture" class="datepick basic-data" name="departure"/>
            </td>
        </tr>
        <tr>
            <th>Взрослые</th>
            <td>
                <select name="adults" class="basic-data">
                    <option value="">-- Выберите --</option>
                    <?php for($i = 1; $i <= $this->maxAdults; $i++) {?>
                    <option value="<?=$i?>"><?=$i?></option>
                    <?php }?>
                </select>
            </td>
            <th>Дети</th>
            <td>
                <select name="children" class="basic-data">
                    <option value="">-- Выберите --</option>
                    <?php for($i = 0; $i <= $this->maxChildren; $i++) {?>
                    <option value="<?=$i?>"><?=$i?></option>
                    <?php }?>
                </select>
            </td>
        </tr>
        <tr>
            <td colspan="4" style="text-align: center">
                <a class="btn btn-info" id="basicContinueBtn">Продолжить</a>
            </td> 
        </tr>
        <tr class="room-data" style="display: none;">
            <th colspan="4" class="text-info" style="text-align: center">Данные номера</th>
        </tr>
        <tr class="room-data" style="display: none;">            
            <th>Тип номера</th>
            <td id="roomSelectTd">
            <!--room types select will be here-->
            </td>
            <th>Тип предоплаты</th>
            <td>   
                <select name="prepayment" class="room-data" style="width: 99%">
                    <option value="">-- Выберите --</option>
                    <?php foreach($this->prepaymentTypes as $id => $type) {?>
                    <option value="<?=$id;?>"><?=$type?></option>
                    <?php }?>
                </select>
            </td>
        </tr>
        <tr class="room-data" style="display: none">
            <td colspan="4" style="text-align: center">
                <a class="btn btn-info" id="roomContinueBtn">Продолжить</a>
            </td> 
        </tr>
        <tr class="add-end" style="display: none;">            
            <th colspan="4" class="text-info" style="text-align: center">Стоимость (<?=$this->ccy?>)</th>
        </tr>
        <tr class="add-end" style="display: none;">
            <th>Стоимость номера (в сутки)</th>
            <td id="roomCostTd"></td>
            <th>Стоимость проживания</th>
            <td id="residenceCostTd"></td>
        </tr>
        <tr class="add-end" style="display: none;">            
            <th colspan="4" class="text-info" style="text-align: center">Контакты заказчика</th>
        </tr>
        <tr class="add-end" style="display: none;">
            <th>Имя</th>
            <td>
                <input type="text" name="first_name"/>
            </td>
            <th>Фамилия</th>
            <td>
                <input type="text" name="last_name"/>
            </td>
        </tr>
        <tr class="add-end" style="display: none;">
            <th>Email</th>
            <td>
                <input type="text" name="email"/>
            </td>
            <th>Телефон</th>
            <td>
                <input type="text" name="phone"/>
            </td>
        </tr>
        <tr class="add-end" style="display: none;">
            <td colspan="4">
                <a class="btn btn-success" onclick="booking.addBooking()">Сохранить</a>
            </td>
        </tr>
    </table>
</form>
<script>
    booking.addFormInitBasic();
</script>
