<table class="table table-bordered table-condensed">
    <tr>
        <td style="width: 50%">
            <a class="btn btn-large btn-success" onclick="booking.save()">
                Сохранить
            </a>
            <a class="btn btn-large btn-success" onclick="booking.save(true)">
                Сохранить и закрыть окно
            </a>
        </td>
        <td style="text-align: right;">
            <a class="btn btn-large btn-warning" onclick="booking.cancel()">
                Отменить изменения
            </a>
            <a class="btn btn-large btn-danger" onclick="booking.close()">
                Закрыть форму
            </a>
        </td>
    </tr>
</table>
