<?=$this->formButtons;?>
<?php if(!$this->versionMode) {?>
<div id="bookingCardTitle">
    <h4>
        <i class="icon-arrow-right" style="margin-right: 10px; margin-top: 2px;"></i>
        <span id="bookingNumberTitle">Бронирование #<?=$this->model->id;?></span>
        <span id="bookingNumberTypeTitle" class="alert alert-info" style = "color: #1c94c4;">
            <?=$this->roomTypeName;?>
        </span>
        <span style="float: right">Валюта пользователя: <?=$this->userCurrency;?></span>
    </h4>
    <hr/>
    <h4>
        <i class="icon-arrow-right" style="margin-right: 10px; margin-top: 2px;"></i>
        <span id="bookingTypeTitle" style = "color: #1c94c4;">
            <?=$this->prepaymentName;?>
        </span>
    </h4>
    <hr/>
</div>
<div id="bookingVersions">
    Текущая версия: <strong>#<?=$this->model->version;?> (<?=$this->version_time;?>)</strong><br/><br/>
    <a class="btn btn-inverse" onclick="booking.openVersions(<?=$this->model->id;?>)">
        История изменений
    </a>
    <a class="btn btn-danger" style="display: none;" onclick="booking.closeVersions()">
        Закрыть историю и вернуться к текущей версии
    </a>
    <div id="bookingVersionsList"></div>
</div>
<?php } ?>
<form id="bookingEditForm" onsubmit="return false;">
    <input type="hidden" id="bookingId" name="id" value="<?=$this->model->id;?>">
    <input type="hidden" name="currency_id" value="<?=$this->model->user_currency;?>">
    <input type="hidden" name="prepayment" value="<?=$this->model->roomData->prepayment;?>">
    <input type="hidden" name="room_type" value="<?=$this->model->roomData->type_id;?>">
    <input type="hidden" name="max_adults" value="<?=$this->model->roomData->max_adults;?>">
    <input type="hidden" name="max_children" value="<?=$this->model->roomData->max_children;?>">
    <table class="table handbook table-bordered table-condensed">
        <caption>Общая информация</caption>
        <tr>
            <td style="width: 25%;">
                <label for="room">Комната</label>
                <select id="room" name="room">
                    <option value="0">
                        -- Выберите --
                    </option>
                    <?php foreach($this->roomList as $num) {?>
                    <option value="<?=$num?>" <?=$this->model->roomData->room_id == $num ? 'selected' : ''?>>
                        <?=$num;?>
                    </option>
                    <?php }?>
                </select>
            </td>
            <td style="width: 25%;">
                <label for="arrival">Дата заезда</label>
                <input type="text" value="<?=$this->model->basicData->arrival;?>" id="arrivalDate">
                <input type="hidden" name="arrival" id="formArrival" value="<?=$this->model->basicData->arrival;?>">
            </td>
            <td style="width: 25%;">
                <label for="departure">Дата отъезда</label>
                <input type="text" value="<?=$this->model->basicData->departure;?>" id="departureDate">
                <input type="hidden" name="departure" id="formDeparture" value="<?=$this->model->basicData->departure;?>">
            </td>
            <td style="width: 25%;">
                <label for="nights">Кол-во ночей</label>
                <input type="text" value="<?=$this->model->days;?>" name="nights" id="nights" disabled="disabled">
                <input type="hidden" name="nights" value="<?=$this->model->days;?>" id="nights">
            </td>
        </tr>
        <tr>
            <td style="width: 25%;">
                <label for="room_price">Стоимость номера (<?=$this->ccy;?>)</label>
                <input type="text" disabled="disabled" value="<?=$this->model->roomData->displayPrice();?>">
                <input type="hidden" name="room_price" value="<?=$this->model->roomData->getPrice();?>">
            </td>
            <td style="width: 25%;">
                <label for="booking_date">Дата создания</label>
                <input type="text" value="<?=$this->model->creation_time;?>" disabled="disabled">
                <input type="hidden" name="booking_date" value="<?=$this->model->creation_time;?>">
            </td>
            <td style="width: 25%;">
                <label for="booking_date">Дата изменения</label>
                <input type="text" value="<?=$this->model->modified;?>" disabled="disabled">
                <input type="hidden" name="booking_date" value="<?=$this->model->modified;?>">
            </td>
            <td style="width: 25%;">
                <label for="booking_date">ID клиента</label>
                <input type="text" value="<?=$this->model->uid;?>" disabled="disabled">
                <input type="hidden" name="uid" value="<?=$this->model->uid;?>">
            </td>
        </tr>
        <tr>
            <td colspan="2" class="status-td">
                Текущий статус: <u><b><?=$this->statusList[$this->model->status];?></b></u>
                <input type="hidden" name="status" value="<?=$this->model->status?>"/>
            </td>
            <td colspan="2" class="status-td" style="text-align: right">
                <?php if($this->model->status != BOOKING_STATUS_END) {?>

                <?php if($this->model->status == BOOKING_STATUS_NEW) {?>
                <a class="btn btn-info" onclick="booking.changeStatus(<?=$this->model->id;?>, <?=BOOKING_STATUS_PROCESSED;?>);">
                    Обработано
                </a>
                <?php }?>
                <?php if($this->model->status != BOOKING_STATUS_CANCEL) {?>
                <a class="btn btn-success" id="booking_living_button" onclick="booking.changeStatus(<?=$this->model->id;?>, <?=BOOKING_STATUS_RESIDENCE;?>)">
                    Проживание
                </a>
                <a class="btn btn-danger" onclick="booking.changeStatus(<?=$this->model->id;?>, <?=BOOKING_STATUS_END;?>);">
                    Завершено
                </a>
                <a class="btn btn-inverse" style="margin-left: 15px" onclick="booking.changeStatus(<?=$this->model->id;?>, <?=BOOKING_STATUS_CANCEL;?>);">
                    Отменить бронь
                </a>
                <?php } else {?>
                <a class="btn btn-warning" onclick="booking.changeStatus(<?=$this->model->id;?>, <?=BOOKING_STATUS_PROCESSED;?>);">
                    Восстановить бронь
                </a>
                <?php }?>

                <?php }?>
            </td>
        </tr>
    </table>
    <table class="table handbook table-bordered table-condensed">
        <caption>
            Гости
        </caption>
        <tr>
            <th colspan="7" class="text-info">Взрослые</th>
        </tr>
        <tr>
            <th></th>
            <th>Имя</th>
            <th>Фамилия</th>
            <th>Паспорт</th>
            <th>Адрес</th>
            <th>Email</th>
            <th>Телефон</th>
        </tr>
        <?php foreach($this->model->adultsInfo as $id => $item) { ?>
        <tr class="adult-block-<?=$id?>">
            <td>
                <input type="checkbox" class="enable<?=$id == 1 ? ' first' : '';?>" onchange="booking.changeAdult(<?=$id?>, this);" <?=$item->enabled ? 'checked' : ''?>/>
                <input type="hidden" class="enable hidden" name="adultsInfo[<?=$id?>][enabled]" value="<?=$item->enabled?>"/>
            </td>
            <td>
                <input type="text" name="adultsInfo[<?=$id?>][first_name]" value="<?=$item->first_name?>" <?=$item->enabled ? '' : 'disabled'?>/>
            </td>
            <td>
                <input type="text" name="adultsInfo[<?=$id?>][last_name]" value="<?=$item->last_name?>" <?=$item->enabled ? '' : 'disabled'?>/>
            </td>
            <td>
                <a class="btn btn-info" onclick="booking.drawScanForm(<?=$this->model->id;?>, <?=$id?>);" <?=$item->enabled ? '' : 'disabled'?>>
                    Загрузить
                </a>
                <input type="hidden" id="scan_<?=$id?>" name="adultsInfo[<?=$id?>][scan]" value="<?=$item->scan?>" <?=$item->enabled ? '' : 'disabled'?>/>
            </td>
            <td>
                <input type="text" name="adultsInfo[<?=$id?>][adress]" value="<?=$item->address?>" <?=$item->enabled ? '' : 'disabled'?>/>
            </td>
            <td>
                <input type="text" name="adultsInfo[<?=$id?>][email]" value="<?=$item->email?>" <?=$item->enabled ? '' : 'disabled'?>/>
            </td>
            <td>
                <input type="text" name="adultsInfo[<?=$id?>][phone]" value="<?=$item->phone?>" <?=$item->enabled ? '' : 'disabled'?>/>
            </td>
        </tr>
        <?php }?>
        <tr>
            <th colspan="7" class="text-info">Дети</th>
        </tr>
        <?php foreach($this->model->childrenInfo as $id => $item) {?>
        <tr class="child-block-<?=$id?>">
            <td>
                <input type="checkbox" class="enable" onchange="booking.changeChild(<?=$id?>, this);" <?=$item->enabled ? 'checked' : ''?>/>
                <input type="hidden" class="enable hidden" name="childrenInfo[<?=$id?>][enabled]" value="<?=$item->enabled?>"/>
            </td>
            <td>
                <input type="text" name="childrenInfo[<?=$id?>][first_name]" value="<?=$item->first_name?>" <?=$item->enabled ? '' : 'disabled'?>/>
            </td>
            <td>
                <input type="text" name="childrenInfo[<?=$id?>][last_name]" value="<?=$item->last_name?>" <?=$item->enabled ? '' : 'disabled'?>/>
            </td>
            <td colspan="4"></td>
        </tr>
        <?php }?>
    </table>
    <table class="table handbook table-bordered table-condensed">
        <caption>Услуги</caption>
        <tr>
            <th>Услуга</th>
            <th>Детали</th>
            <th>Стоимость</th>
            <th></th>
        </tr>
        <?php foreach($this->model->getAddedServices() as $id => $item) {?>
        <tr>
            <td>
                <?=$this->services[$id]['sys_name'];?>
            </td>
            <td class="opt-detail">
                <table class="table table-bordered table-condensed">
                <tr>
                    <?php foreach($item->adults as $num => $row) {?>

                    <td class="adult-block-<?=$num?>">
                        <label>
                            <input type="checkbox" onchange="booking.changeOptionCheckbox(this)"
                                   <?=$row->enabled ? 'checked' : ''?> <?=$this->model->adultsInfo[$num]->enabled ? '' : 'disabled';?>>
                            <input type="hidden" class="enable hidden" name="services[<?=$id;?>][adults][<?=$num;?>][enabled]" value="<?=$row->enabled?>">
                            Гость #<?=$num?>
                        </label>
                        <label>
                            <input type="text" class="serv-count" onchange="booking.formSubmit()" name="services[<?=$id;?>][adults][<?=$num;?>][count]"
                                   value="<?=$row->count?>" <?=$this->model->adultsInfo[$num]->enabled ? '' : 'disabled';?>>
                            &nbsp;дней
                        </label>
                        <input type="hidden" name="services[<?=$id;?>][adults][<?=$num;?>][cost]" value="<?=$row->cost?>"/>
                    </td>
                    <?php }?>
                    <?php foreach($item->children as $num => $row) {?>
                    <td class="child-block-<?=$num?>">
                        <label>
                            <input type="checkbox" onchange="booking.changeOptionCheckbox(this)"
                                   <?=$row->enabled ? 'checked' : ''?> <?=$this->model->childrenInfo[$num]->enabled  ? '' : 'disabled';?>>
                            <input type="hidden" class="enable hidden" name="services[<?=$id;?>][children][<?=$num;?>][enabled]" value="<?=$row->enabled?>">
                            Ребенок #<?=$num?>
                        </label>
                        <label>
                            <input type="text" class="serv-count" onchange="booking.formSubmit()" name="services[<?=$id;?>][children][<?=$num;?>][count]"
                                   value="<?=$row->count?>" <?=$this->model->childrenInfo[$num]->enabled  ? '' : 'disabled';?>>
                            &nbsp;дней
                        </label>
                        <input type="hidden" name="services[<?=$id;?>][children][<?=$num;?>][cost]" value="<?=$row->cost?>"/>
                    </td>
                    <?php }?>
                </tr>
                </table>
            </td>
            <td>
                <?=$item->displayCost();?>&nbsp;<?=$this->ccy;?>
            </td>
            <td>
                <a class="btn btn-danger" title="Удалить" onclick="booking.delOption(this)">X</a>
            </td>
        </tr>
        <?php }?>
        <?php if(count($this->model->getAddedServices()) < count($this->services)) {?>
        <tr>
            <td colspan="4">
                <a class="btn btn-success add-btn" onclick="booking.showAddOptionRow(this)">
                    Добавить
                </a>
                <strong class="add-option-title text-success">
                    Новая услуга
                </strong>
            </td>
        </tr>
        <tr class="add-option" style="display: none;">
            <td colspan="4">
                <label>
                    Выберите услугу:&nbsp;
                    <select class="new-option" name="new_service[id]" disabled style="width: 350px;">
                        <?php foreach($this->services as $id => $service) { if($this->model->serviceExists($id)) continue;?>
                        <option value="<?=$id?>">
                            <?=$service['sys_name'].' ('.$service['price'].')'?>
                        </option>
                        <?php }?>
                    </select>
                </label>
                <label style="margin-right: 30px;">
                    дней:&nbsp;
                    <input class="new-option" type="text" name="new_service[days]" value="<?=$this->model->days;?>" disabled style="width: 20px;"/>
                </label>
                <a class="btn btn-info" onclick="booking.addOption('service')">
                    Готово
                </a>
                <a class="btn btn-warning cancel-btn" onclick="booking.hideAddOptionRow(this)">
                    Отмена
                </a>
            </td>
        </tr>
        <?php } else {?>
        <tr>
            <td colspan="4" class="text-warning">
                <b>Вы добавили все возможные услуги</b>
            </td>
        </tr>
        <?php }?>
    </table>
    <table class="table handbook table-bordered table-condensed" style="float: left;">
        <caption>Экскурсии</caption>
        <tr>
            <th>Дата</th>
            <th>Детали</th>
            <th>Стоимость</th>
            <th></th>
        </tr>
        <?php foreach($this->model->getAddedExcursions() as $date => $item) {?>
        <tr>
            <td>
                <?=$this->excursions[$date]['dayName'].' '.$this->excursions[$date]['dateStr'];?>
            </td>
            <td class="opt-detail">
                <table class="table table-bordered table-condensed">
                <tr>
                    <?php foreach($item->adults as $num => $row) {?>
                    <td class="adult-block-<?=$num?>">
                        <label>
                            <input type="checkbox" onchange="booking.changeOptionCheckbox(this)"
                                   <?=$row->enabled ? 'checked' : ''?> <?=$this->model->adultsInfo[$num]->enabled ? '' : 'disabled';?>>
                            <input type="hidden" class="enable hidden" name="excursions[<?=$date;?>][adults][<?=$num;?>][enabled]" value="<?=$row->enabled?>">
                            Гость #<?=$num?>
                        </label>
                        <input type="hidden" name="excursions[<?=$date;?>][adults][<?=$num;?>][cost]" value="<?=$row->cost?>"/>
                    </td>
                    <?php }?>
                    <?php foreach($item->children as $num => $row) {?>
                    <td class="child-block-<?=$num?>">
                        <label>
                            <input type="checkbox" onchange="booking.changeOptionCheckbox(this)"
                                   <?=$row->enabled ? 'checked' : ''?> <?=$this->model->childrenInfo[$num]->enabled ? '' : 'disabled';?>>
                            <input type="hidden" class="enable hidden" name="excursions[<?=$date;?>][children][<?=$num;?>][enabled]" value="<?=$row->enabled?>">
                            Ребенок #<?=$num?>
                        </label>
                        <input type="hidden" name="excursions[<?=$date;?>][children][<?=$num;?>][cost]" value="<?=$row->cost?>"/>
                    </td>
                    <?php }?>
                </tr>
                </table>
            </td>
            <td>
                <?=$item->displayCost();?>&nbsp;<?=$this->ccy;?>
            </td>
            <td>
                <a class="btn btn-danger" title="Удалить" onclick="booking.delOption(this)">X</a>
            </td>
        </tr>
        <?php }?>
        <?php if(count($this->model->getAddedExcursions()) < count($this->excursions)) {?>
        <tr>
            <td colspan="4">
                <a class="btn btn-success add-btn" onclick="booking.showAddOptionRow(this)">
                    Добавить
                </a>
                <strong class="add-option-title text-success">
                    Новая экскурсия
                </strong>
            </td>
        </tr>
        <tr class="add-option" style="display: none;">
            <td colspan="4">
                <label style="margin-right: 30px;">
                    Выберите день:&nbsp;
                    <select name="new_excursion[date]" class="new-option" disabled>
                        <?php foreach($this->excursions as $date => $excursion) { if($this->model->excursionExists($date)) continue;?>
                        <option value="<?=$date?>">
                            <?=$excursion['dayName'].' '.$excursion['dateStr'].' ('.$excursion['price'].')'?>
                        </option>
                        <?php }?>
                    </select>
                </label>
                <a class="btn btn-info" onclick="booking.addOption('excursion')">
                    Готово
                </a>
                <a class="btn btn-warning cancel-btn" onclick="booking.hideAddOptionRow(this)">
                    Отмена
                </a>
            </td>
        </tr>
        <?php } else {?>
        <tr>
            <td colspan="4" class="text-warning">
                <b>Вы добавили все возможные экскурсии</b>
            </td>
        </tr>
        <?php }?>
    </table>
    <table class="table handbook table-bordered table-condensed">
        <caption>Трансферы</caption>
        <tr>
            <th>Название</th>
            <th>Дата</th>
            <th>Время</th>
            <th>Информация</th>
            <th>Город</th>
            <th>Стоимость</th>
            <th></th>
        </tr>
        <?php foreach($this->model->getAddedTransfers() as $type => $item) {?>
        <tr>
            <td>
                <?=$this->transfers[$item->id]['sys_name'].' - '.$this->transfers[$item->id]['type_name'];?>
                <input type="hidden" name="transfers[<?=$type;?>][transfer_id]" value="<?=$item->id?>">
            </td>
            <td>
                <input type="text" name="transfers[<?=$type;?>][date]" value="<?=$item->date;?>" class="date" style="width: 80px"/>
            </td>
            <td>
                <input type="text" name="transfers[<?=$type;?>][time]" value="<?=$item->time;?>" class="time" style="width: 50px"/>
            </td>
            <td>
                <?php if($this->transfers[$item->id]['transport_type'] == 1) { ?>
                Рейс: <?=$item->race ;?>
                <input type="hidden" name="transfers[<?=$type;?>][race]" value="<?=$item->race;?>"/>
                <?php }?>

                <?php if($this->transfers[$item->id]['transport_type'] == 2) { ?>
                Поезд: <?=$item->train ;?>
                <input type="hidden" name="transfers[<?=$type;?>][train]" value="<?=$item->train;?>"/>
                Вагон: <?=$item->wagon ;?>
                <input type="hidden" name="transfers[<?=$type;?>][wagon]" value="<?=$item->wagon;?>"/>
                <?php }?>
            </td>
            <td>
                <?=$item->location ;?>
                <input type="hidden" name="transfers[<?=$type;?>][location]" value="<?=$item->location;?>"/>
            </td>
            <td>
                <?=$item->displayCost();?>&nbsp;<?=$this->ccy;?>
                <input type="hidden" name="transfers[<?=$type;?>][cost]" value="<?=$item->getCost();?>"/>
            </td>
            <td>
                <a class="btn btn-danger" title="Удалить" onclick="booking.delOption(this)">X</a>
            </td>
        </tr>
        <?php }?>
        <?php if(count($this->model->getAddedTransfers()) < 2) {?>
        <tr>
            <td colspan="7">
                <a class="btn btn-success add-btn" onclick="booking.showAddOptionRow(this)">
                    Добавить
                </a>
                <strong class="add-option-title text-success">
                    Новый трансфер
                </strong>
            </td>
        </tr>
        <tr class="add-option" style="display: none;">
            <td colspan="7">
                <label>
                    Выберите:&nbsp;
                    <select id="addTransfer" name="new_transfer[transfer_id]" class="new-option"
                            onchange="booking.changeTransfer(this)" disabled style="width: 320px;">
                        <?php foreach($this->transfers as $id => $item) {
                        if($this->model->transferExists($item['type'])) continue;?>
                        <option value="<?=$id?>" type="<?=$item['type']?>"
                                transport-type="<?=$this->transfers[$id]['transport_type']?>" cost="<?=$item['price']?>">
                            <?=$item['sys_name'].' - '.$item['type_name'].' ('.$item['price'].')';?>
                        </option>
                        <?php }?>
                    </select>
                </label>
                <input type="hidden" name="new_transfer[type]" class="transfer-type new-option" disabled>
                <input type="hidden" name="new_transfer[cost]" class="transfer-cost new-option" disabled>
                <input type="text" name="new_transfer[date]" placeholder="Дата" class="transfer date new-option" disabled/>
                <input type="text" name="new_transfer[time]" placeholder="Время" class="transfer time new-option" disabled/>
                <span class="transport-type type-1">
                    <input type="text" name="new_transfer[race]" placeholder="Рейс" class="transfer new-option" disabled/>
                </span>
                <span class="transport-type type-2">
                    <input type="text" name="new_transfer[train]" placeholder="Поезд" class="transfer new-option" disabled/>
                    <input type="text" name="new_transfer[wagon]" placeholder="Вагон" class="transfer new-option" disabled/>
                </span>
                <input type="text" name="new_transfer[location]" placeholder="Город" class="transfer new-option" disabled style="width: 160px;"/>
                <a class="btn btn-info" onclick="booking.addOption('transfer')">
                    Готово
                </a>
                <a class="btn btn-warning cancel-btn" onclick="booking.hideAddOptionRow(this)">
                    Отмена
                </a>
            </td>
        </tr>
        <?php } else {?>
        <tr>
            <td colspan="7" class="text-warning">
                <b>
                    Трансферы (прибытие и отправление) уже установлены.
                    Для добавления других трансферов удалите существующие
                </b>
            </td>
        </tr>
        <?php }?>
    </table>
    <table class="table handbook table-bordered table-condensed">
        <caption>Дополнительные услуги</caption>
        <tr>
            <th style="width: 15%">Дата</th>
            <th>Описание</th>
            <th style="width: 15%">Стоимость</th>
            <th style="width: 5%"></th>
        </tr>
        <?php foreach($this->model->getExtraServices() as $i => $item) {?>
        <tr>
            <td>
                <?=$item->date;?>
                <input type="hidden" name="extra_services[<?=$i;?>][date]" value="<?=$item->date;?>"/>
            </td>
            <td>
                <?=$item->descr;?>
                <input type="hidden" name="extra_services[<?=$i;?>][descr]" value="<?=$item->descr;?>"/>
            </td>
            <td>
                <?=$item->displayCost();?>&nbsp;<?=$this->ccy;?>
                <input type="hidden" name="extra_services[<?=$i;?>][cost]" value="<?=$item->getCost();?>"/>
            </td>
            <td>
                <a class="btn btn-danger" title="Удалить" onclick="booking.delOption(this)">X</a>
            </td>
        </tr>
        <?php }?>
        <tr>
            <td colspan="4">
                <a class="btn btn-success add-btn" onclick="booking.showAddOptionRow(this)">
                    Добавить
                </a>
                <strong class="add-option-title text-success">
                    Новая специальная услуга
                </strong>
            </td>
        </tr>
        <tr class="add-option" style="display: none;">
            <td colspan="4">
                <label>
                    Дата:<br/>
                    <input type="text" name="new_extra_service[date]" class="date new-option" disabled/>
                </label>
                <label style="margin-right: 30px;">
                    Стоимость (<?=$this->ccy;?>):<br/>
                    <input type="text" name="new_extra_service[cost]" class="new-option" disabled/>
                </label>
                <label style="margin-right: 30px;">
                    Описание:<br/>
                    <textarea name="new_extra_service[descr]" class="new-option" disabled style="width: 350px;"></textarea>
                </label>
                <a class="btn btn-info" onclick="booking.addOption('extra_service')" style="margin-top: 20px">
                    Готово
                </a>
                <a class="btn btn-warning cancel-btn" onclick="booking.hideAddOptionRow(this)" style="margin-top: 20px">
                    Отмена
                </a>
            </td>
        </tr>
    </table>
    <table class="table handbook table-bordered table-condensed">
        <caption>Доп. информация</caption>
        <tr>
            <th style="width: 20%;">Комментарий</th>
            <td>
                <textarea style="width: 99%"><?=$this->model->comment;?></textarea>
            </td>
        </tr>
    </table>
    <table class="table handbook table-bordered table-condensed" style="float: left; width: 700px">
        <caption>Расчет стоимости</caption>
        <tr>
            <th></th>
            <th style="width: 25%">Проживание</th>
            <th style="width: 25%">Услуги</th>
            <th style="width: 25%">Итого</th>
        </tr>
        <tr>
            <th>Стоимость</th>
            <td>
                <?=$this->model->totalsData->dispResidenceCost();?>
            </td>
            <td>
                <?=$this->model->totalsData->dispOptionsCost();?>
            </td>
            <td>
                <?=$this->model->totalsData->dispTotalCost();?>
            </td>
        </tr>
        <tr>
            <th>Скидка</th>
            <td>
                <?=$this->model->totalsData->dispResidenceDiscount();?>
            </td>
            <td>
                <?=$this->model->totalsData->dispOptionsDiscount();?>
            </td>
            <td>
                <?=$this->model->totalsData->dispTotalDiscount();?>
            </td>
        </tr>
        <tr>
            <th>Оплачено</th>
            <td>
                <?=$this->model->totalsData->dispResidencePaid();?>
                <input id="residencePaid" name="residencePaid" type="hidden" value="<?=$this->model->totalsData->getResidencePaid();?>"/>
            </td>
            <td>
                <?=$this->model->totalsData->dispOptionsPaid();?>
                <input id="servicePaid" name="servicePaid" type="hidden" value="<?=$this->model->totalsData->getOptionsPaid();?>"/>
            </td>
            <td>
                <?=$this->model->totalsData->dispTotalPaid();?>
            </td>
        </tr>
        <tr>
            <th>К оплате</th>
            <th>
                <?=$this->model->totalsData->dispResidencePayable();?>
                <input id="residencePayable" type="hidden" value="<?=$this->model->totalsData->getResidencePayable();?>"/>
            </th>
            <th>
                <?=$this->model->totalsData->dispOptionsPayable();?>
                <input id="servicePayable" type="hidden" value="<?=$this->model->totalsData->getOptionsPayable();?>"/>
            </th>
            <th>
                <?=$this->model->totalsData->dispTotalPayable();?>
            </th>
        </tr>
    </table>
    <?php if($this->versionMode) { ?>
</form>
<script>
    booking.disableForm();
</script>
    <?php } else { ?>
    <table class="table handbook table-bordered table-condensed" style="float: left; margin-left: 10px; width: 470px;">
        <caption>Оплата</caption>
        <tr>
            <th style="width: 50%">
                Итоговая стоимость:
            </td>
            <th>
                Остаток к оплате:
            </th>
        </tr>
        <tr>
            <td>
                <?=$this->model->totalsData->dispTotalCost() - $this->model->totalsData->dispTotalDiscount();?>
            </td>
            <td>
                <?=$this->model->totalsData->dispTotalPayable();?>
            </td>
        </tr>
        <tr>
            <th colspan="2">
                <a class="btn btn-info" onclick="booking.drawPaymentForm(<?=$this->model->id?>, <?=PAYMENT_TYPE_INCOME;?>);">
                    Добавить оплату
                </a>
                <a class="btn btn-danger" onclick="booking.drawPaymentForm(<?=$this->model->id?>, <?=PAYMENT_TYPE_REFUND;?>);">
                    Возврат оплаты
                </a>
                <a class="btn btn-warning" onclick="booking.drawPaymentHistory(<?=$this->model->id?>);">
                    История платежей
                </a>
            </th>
        </tr>
    </table>
</form>
<?=$this->formButtons;?>
<div style="display: none">
    <div class="b-modal" id="secondModal">
        <div class="b-modal_close arcticmodal-close">X</div>
        <div class="modal-body"></div>
    </div>
</div>
<script>
    $('#modalWindow > .arcticmodal-close').remove();
    booking.saved = true;
    $('#addTransfer').prop('disabled', false).change().prop('disabled', true);
    $('.date').datepicker({dateFormat: 'dd/mm/yy', minDate: 0});
    $('.time').timepicker();
    $('#bookingEditForm').find('input, select, textarea').change(function(){
        booking.saved = false;

    });

    <?php if($this->model->status == BOOKING_STATUS_NEW || $this->model->status == BOOKING_STATUS_PROCESSED) {?>
        booking.initDates();
//    <?php } ?>
</script>
<?php } ?>