<table class="table handbook table-bordered table-hover table-condensed" id="depositHistoryTable">
    <caption>История платежей. Бронь #<?=$this->bookingId;?></caption>
    <tr>
        <th>ID</th>
        <th>Дата</th>
        <th>Пользователь</th>
        <th>Сумма (<?=$this->ccy;?>)</th>
        <th>Тип платежа</th>
        <th>Объект</th>
        <th>Способ оплаты</th>
        <th>Описание</th>
        <th>Статус</th>
        <th>Ссылка на платеж</th>
    </tr>
    <?php if(count($this->list) == 0) {?>
    <tr>
        <th colspan="10" class="text-error" style="text-align: center">
            Платежи не найдены
        </th>
    </tr>
    <?php }?>
    <?php foreach ($this->list as $model) { ?>
    <tr>
        <td>
            <?=$model->id; ?>
        </td>
        <td>
            <?=$model->date; ?>
        </td>
        <td>
            <?=$model->user_email; ?>
        </td>
        <td>
            <?=$model->amount; ?>
        </td>
        <td>
            <?=$model->type; ?>
        </td>
        <td>
            <?=$model->subject; ?>
        </td>
        <td>
            <?=$model->pay_way; ?>
        </td>
        <td>
            <?=$model->description; ?>
        </td>
        <td>
            <?=$model->status; ?>
        </td>
        <td>
            <?=$model->payment_id?>
        </td>
    </tr>
    <?php }?>
</table>