<form id="bookingPaymentForm">
    <input type="hidden" name="controller" value="villa.module.hotel.controller.manage.booking">
    <input type="hidden" name="action" value="createPayment">
    <input type="hidden" name="booking_id" value="<?=$this->bookingId;?>">
    <input type="hidden" name="type" value="<?=$this->type;?>">
    <table class="table handbook table-bordered table-condensed">
        <caption>
            <?=$this->tableCaption;?>
        </caption>
        <tr>
            <th style="width: 25%">
                Способ оплаты
            </th>
            <td>
                <select name="pay_way">
                    <?php foreach($this->payWays as $id => $name) {?>
                    <option value="<?=$id;?>">
                        <?=$name;?>
                    </option>
                    <?php }?>
                </select>
            </td>
        </tr>
        <tr>
            <th style="width: 25%">
                Объект
            </th>
            <td>
                <select id="paymentSubject" name="subject">
                    <?php foreach($this->subjects as $id => $name) {?>
                    <option value="<?=$id;?>">
                        <?=$name;?>
                    </option>
                    <?php }?>
                </select>
            </td>
        </tr>
        <tr>
            <th>
                Сумма (<?=$this->ccy;?>)
            </th>
            <td>
                <input id="paymentAmount" type="text" name="amount"/>
            </td>
        </tr>
        <tr>
            <th>
                Описание
            </th>
            <td>
                <textarea name="description"></textarea>
            </td>
        </tr>
        <tr>
            <td colspan="2">
                <a class="btn btn-info" onclick="booking.submitPayment()">
                    Подтвердить
                </a>
            </td>
        </tr>
    </table>
</form>
<script>
    booking.paymentResidenceMax = parseFloat('<?=$this->residenceMax;?>');
    booking.paymentServiceMax = parseFloat('<?=$this->serviceMax;?>');
</script>
