<form id="bookingScanForm" onsubmit="return false;">
    <input type="hidden" name="controller" value="villa.module.hotel.controller.manage.booking"/>
    <input type="hidden" name="action" value="scanUpload">
    <input type="hidden" name="booking_id" value="<?=$this->bookingId;?>">
    <input type="hidden" id="scanGuestNum" name="guest_num" value="<?=$this->guestNum;?>">
    <table class="table handbook table-bordered table-condensed">
        <caption>Скан паспорта</caption>
        <tr>
            <td style="width: 50%">
                <img id="preview" src="<?=$this->scanPath;?>"/>
            </td>
            <td>
                <span class="btn btn-success fileinput-button">
                    <i class="glyphicon glyphicon-plus"></i>
                    <span>Загрузить файл</span>
                    <input id="fileupload" type="file" name="file">
                </span>
                <a id="scanModalClose" class="btn btn-warning">
                    Закрыть окно
                </a>
                <br/><br/>
                <div id="progress" class="progress">
                    <div class="progress-bar progress-bar-success" style="width: 0%;"></div>
                </div><br/><br/>
            </td>
        </tr>
    </table>
</form>
<script>
    $('#scanModalClose').click(function(){
        $('#secondModal').arcticmodal('close');
    });
    
    $('#fileupload').fileupload({
        dataType: 'json',
        url: "/ajax.php",
        maxFileSize: 10000000,
        acceptFileTypes: /(\.|\/)(gif|jpe?g|png)$/i,
        start: function(e) 
        {
            $('#progress .progress-bar').css(
                'width',
                0 + '%'
            );
        },
        done: function (e, data) {
            if (data.result.result == 1)
            {
                var guestNum = $('#scanGuestNum').val();
                $('input#scan_'+guestNum).val(data.result.image);
                $('img#preview').attr('src', data.result.dir+data.result.image);
            }
            else
            {
                jAlert(data.result.message, 'Ошибка');
            }
        },
        progressall: function (e, data) 
        {
            var progress = parseInt(data.loaded / data.total * 100, 10);
            $('#progress .progress-bar').css(
                'width',
                progress + '%'
            );

        }
    });
</script>