<table class="table table-bordered table-hover table-condensed">
    <thead>
        <tr>
            <th style="width: 10%">№</th>
            <th style="width: 30%">Дата и время</th>
            <th style="width: 35%">Автор</th>
            <th>Функции</th>
        </tr>
        <?php if(count($this->list) == 0) {?>
        <tr>
            <th colspan="4" class="text-error">
                Предыдущие версии бронирования отсутствуют
            </th>
        </tr>
    </thead>
        <?php } else { foreach($this->list as $item) {?>
    </thead>
    <tr>
        <td><?=$item['version']?></td>
        <td><?=$item['time']?></td>
        <td><?=$item['user']?></td>
        <td>
            <a class="btn btn-mini btn-success" onclick="booking.showVersion(<?=$item['booking_id']?>, <?=$item['version']?>)">
                Показать
            </a>
            <a class="btn btn-mini btn-info" onclick="booking.restoreVersion(<?=$item['booking_id']?>, <?=$item['version']?>)">
                Восстановить
            </a>
            <a class="btn btn-mini btn-danger" onclick="booking.deleteVersion(this, <?=$item['booking_id']?>, <?=$item['version']?>)">
                Удалить
            </a>
        </td>
    </tr>
    <?php } } ?>
</table>
