<form onsubmit="auth.login(); return false;">
    <div id="auth">    
        <label for="auth_login">Логин</label><br/>
        <input type="text" id="auth_login" class="rounded" value="<?=$this->login;?>"/><br/>

        <label for="auth_password">Пароль:</label><br/> 
        <input type="password" id="auth_password" class="rounded"/><br/>

        <input type="submit" class="btn" onclick="auth.login();" id="auth_do" value="Войти">
        <a href="/registration/">Регистрация</a><br/>
        <a href="/passwordchange/">Забыли пароль?</a><br/>
        <span id="auth_message"></span>    
    </div>
</form>