<table id="priceForm" class="table handbook table-bordered table-condensed" style="margin: 0 auto; width: 500px;">
    <caption>Прайс</caption>
    <tr>
        <th style="width: 25%;">Текущий файл: </th>
        <td><?=$this->file;?></td>
    </tr>
    <tr>
        <td colspan="2" style="padding-top: 10px;">
            <div style="float:left; font-size: 16px; line-height: 34px; margin-right: 10px;">Загрузить файл:</div>
 
            <div style="float:left"><input id="price_upload" name="file_upload" type="file"></div>
            <div id="queue" style="float:left; margin-left: 30px;"></div>
        </td>
    </tr>
</table>

<script type="text/javascript">
<?php $timestamp = time();?>
$(function() 
{
    $('#price_upload').uploadify({
        formData: {
            'timestamp' : '<?=$timestamp;?>',
            'token'     : '<?=md5('unique_salt'.$timestamp);?>',
            controller: 'module.price.manage.controller',
            action: 'upload'
        },
        multi    : false,
        swf      : '<?=$this->swf_url;?>',
        uploader : '<?=$this->server_url;?>',
        'onQueueComplete' : function() {
            location.reload();
        },
        'fileTypeExts' : '*.doc; *.docx; *.xls; *.xlsx; *.rtf; *.pdf; *.vsd; *.cdr; *.jpg; *.jpeg; *.gif; *.db; *.dbf; *.zip; *.rar',
        'fileSizeLimit' : '100MB',
    });                
});        
</script>