<h2>Галерея</h2>
<?php if (count($this->items)==0) { ?>
    У вас пока ничего не загружено.
<?php } ?>
<ul id="gallery_items" class="lightbox">
    <?php foreach($this->items as $item) { ?>
        <li><a href="media/<?php echo $item['uid']; ?>/gallery/<?php echo $item['file_name']; ?>"><img src="media/<?php echo $item['uid']; ?>/gallery/<?php echo $item['file_name']; ?>" class="img-polaroid"/></a></li>
    <?php } ?>
</ul>


<script>
    $(document).ready(function() {
        $('.lightbox a').lightBox();
    });
</script>