<h2>Управление галерей</h2>
<ul id="gallery_items">
    <?php foreach($this->items as $item) { ?>
        <li id="gallery_item_<?php echo $item['id']; ?>">
            <img src="media/<?php echo $item['uid']; ?>/gallery/<?php echo $item['file_name']; ?>" class="img-polaroid"/><br/>
            <button class="btn btn-danger" onclick="javascript:gallery.remove(<?php echo $item['id']; ?>);">Удалить</button>
        </li>
    <?php } ?>
</ul>

Выберите картинку для загрузки: <div id="btnGalleryUpload">Загрузить картинку</div><br/>
Поддерживаемые форматы: jpg, png, gif.
<div class="warning">Размер картинки не должен превышать 8Mb</div>
<div id="profileUploadStatus"></div>


<script>
    $(document).ready(function() {
        gallery.init();
        /*$('#userProfileSave').click(function(){
            profile.save();
        });*/
    });
</script>