<form id="editBookTrans" onsubmit="return;">
    <input type="hidden" name="booking_id" value="<?=$this->model->booking_id?>"/>
    <input type="hidden" name="transfer_id" value="<?=$this->model->transfer_id?>"/>
    <input type="hidden" name="controller" value="villa.module.hotel.controller.manage.bookingtransfer"/>
    <input type="hidden" name="action" value="edit"/>
    <table class="table table-bordered">
        <tr>
            <th style="width: 30%">
                Дата
            </th>
            <td>
                <input type="text" name="date" value="<?=$this->model->dateToStr();?>"/>
            </td>
        </tr>
        <tr>
            <th>
                Время
            </th>
            <td>         
                <input type="text" name="time" value="<?=$this->model->timeToStr();?>"/>
            </td>
        </tr>
        <tr>
            <th>
                Статус
            </th>
            <td>         
                <select name="status">
                    <?php foreach($this->statusList as $id => $name) {?>
                    <option value="<?=$id?>" <?=$this->model->status == $id ? 'selected' : '';?>>
                        <?=$name?>
                    </option>
                    <?php }?>
                </select>
            </td>            
        </tr>
        <tr>
            <td colspan="4">
                <a class="btn btn-success button-submit" onclick="bookingtransfer.formSubmit()">
                    Сохранить
                </a>
            </td>
        </tr>
    </table>
</form>
<script>    
    $('input[name=date]').datepicker({dateFormat: 'dd/mm/yy', minDate: 0});
    $('input[name=time]').timepicker();
</script>

