<!-- Заголовок карточки бронирования -->
<div id="bookingCardTitle">
    <h4>
        <i class="icon-arrow-right" style="margin-right: 10px; margin-top: 2px;"></i>
        <span id="bookingNumberTitle"></span>
        <span id="bookingNumberTypeTitle" class="alert alert-info" style = "color: #1c94c4;">Добавить бронь</span><hr />
        <i class="icon-arrow-right" style="margin-right: 10px; margin-top: 2px;"></i>
        <span id="bookingTypeTitle" style = "color: #1c94c4;"></span>
    </h4>
</div>
<!-- Общая информация -->
<fieldset>
    <legend>Общая информация</legend>
<table border="0" cellpadding="0" cellspacing="0" style="width: 1100px;">
    <tr>
        <td style="width: 25%;">
            <label for="apartment">Номер</label>
            <select id="apartment" name="apartment"
                onchange="hotelBookings.onChangeApartmentSelect(this)">
            </select>
        </td>
        <td style="width: 25%;">
            <label for="id">№ брони</label>
            <input type="text" disabled="disabled" value="0" name="id" id="id">
        </td>
        <td style="width: 25%;">
            <label for="apartmentCost">Стоимость номера</label>
            <input type="text" disabled="disabled" value="" name="apartmentCost" id="apartmentCost">
        </td>
        <td style="width: 25%;">
            <label for="arrival">Дата заезда</label>
            <input type="text" value="" name="arrival" id="arrival">
        </td>
    </tr>

    <tr>
        <td style="width: 25%;">
            <label for="customer">Заказчик</label>
            <input type="text" value="" name="customer" id="customer">
        </td>
        <td style="width: 25%;">
            <label for="booking_date">Дата бронирования</label>
            <input type="text" value="" name="booking_date" id="booking_date" disabled="disabled">
        </td>
        <td style="width: 25%;">
            <label for="nights">Количество ночей</label>
            <input type="text" value="" name="nights" id="nights" disabled="disabled">
        </td>
        <td style="width: 25%;">
            <label for="departure">Дата отезда</label>
            <input type="text" value="" name="departure" id="departure">
        </td>
    </tr>
</table>
</fieldset>
<!-- Общая информация END -->
<br />

<!--Информация о проживающих -->
<fieldset>
    <legend>Информация о проживающих</legend>
<table border="0" cellpadding="0" cellspacing="0" style="width: 1100px; font-size: 10px;">
    <tr>
        <td style="width: 25%;">
            <label for="guest_1" style="display: block; float: left; width:25%">Гость 1</label>
            <input type="checkbox" value="" name="guest_1" id="guest_1" style="display: block; float: left; margin-left: 15px;" onclick="hotelBookings.changeColumnState('guest_1')">
        </td>
        <td style="width: 25%;">
            <label for="guest_2" style="display: block; float: left; width:25%">Гость 2</label>
            <input type="checkbox" value="" name="guest_2" id="guest_2" style="display: block; float: left; margin-left: 15px;" onclick="hotelBookings.changeColumnState('guest_2')">
        </td>
        <td style="width: 25%;">
            <label for="child_1" style="display: block; float: left; width:25%">Ребенок 1</label>
            <input type="checkbox" value="" name="child_1" id="child_1" style="display: block; float: left; margin-left: 15px;" onclick="hotelBookings.changeColumnState('child_1')">
        </td>
        <td style="width: 25%;">
            <label for="child_2" style="display: block; float: left; width:25%">Ребенок 2</label>
            <input type="checkbox" value="" name="child_2" id="child_2" style="display: block; float: left; margin-left: 15px;" onclick="hotelBookings.changeColumnState('child_2')">
        </td>
    </tr>
    <!-- guests firstName -->
    <tr>
        <td style="width: 25%;">
            <label for="guest_1[firstName]" style="display: block; float: left; width:25%">Имя</label>
            <input type="text" value="" name="guest_1[firstName]" id="guest_1[firstName]" style="display: block; float: left; margin-left: 15px; padding: 0px; width: 150px;">
        </td>
        <td style="width: 25%;">
            <label for="guest_2[firstName]" style="display: block; float: left; width:25%">Имя</label>
            <input type="text" value="" name="guest_2[firstName]" id="guest_2[firstName]" style="display: block; float: left; margin-left: 15px; padding: 0px; width: 150px;">
        </td>
        <td style="width: 25%;">
            <label for="child_1[firstName]" style="display: block; float: left; width:25%">Имя</label>
            <input type="text" value="" name="child_1[firstName]" id="child_1[firstName]" style="display: block; float: left; margin-left: 15px; padding: 0px; width: 150px;">
        </td>
        <td style="width: 25%;">
            <label for="child_2[firstName]" style="display: block; float: left; width:25%">Имя</label>
            <input type="text" value="" name="child_2[firstName]" id="child_2[firstName]" style="display: block; float: left; margin-left: 15px; padding: 0px; width: 150px;">
        </td>
    </tr>
    <!-- guests secondName -->
    <tr>
        <td style="width: 25%;">
            <label for="guest_1[secondName]" style="display: block; float: left; width:25%">Фамилия</label>
            <input type="text" value="" name="guest_1[secondName]" id="guest_1[secondName]" style="display: block; float: left; margin-left: 15px; padding: 0px; width: 150px;">
        </td>
        <td style="width: 25%;">
            <label for="guest_2[secondName]" style="display: block; float: left; width:25%">Фамилия</label>
            <input type="text" value="" name="guest_2[secondName]" id="guest_2[secondName]" style="display: block; float: left; margin-left: 15px; padding: 0px; width: 150px;">
        </td>
        <td style="width: 25%;">
            <label for="child_1[secondName]" style="display: block; float: left; width:25%">Фамилия</label>
            <input type="text" value="" name="child_1[secondName]" id="child_1[secondName]" style="display: block; float: left; margin-left: 15px; padding: 0px; width: 150px;">
        </td>
        <td style="width: 25%;">
            <label for="child_2[secondName]" style="display: block; float: left; width:25%">Фамилия</label>
            <input type="text" value="" name="child_2[secondName]" id="child_2[secondName]" style="display: block; float: left; margin-left: 15px; padding: 0px; width: 150px;">
        </td>
    </tr>
    <!-- guests scan passport -->
    <tr class="scanPassport">
        <td style="width: 25%;">
            <label for="guest_1[scan]" style="display: block; float: left; width:25%">Паспорт</label>
            <input type="button" value="Загрузить" name="guest_1[scan]" id="guest_1[scan]" style="display: block; float: left; margin-left: 15px; padding: 0px; width: 150px;">
        </td>
        <td style="width: 25%;">
            <label for="guest_2[scan]" style="display: block; float: left; width:25%">Паспорт</label>
            <input type="button" value="Загрузить" name="guest_2[scan]" id="guest_2[scan]" style="display: block; float: left; margin-left: 15px; padding: 0px; width: 150px;">
        </td>

    </tr>
    <!-- guests adress -->
    <tr>
        <td style="width: 25%;">
            <label for="guest_1[adress]" style="display: block; float: left; width:25%">Адрес</label>
            <input type="text" value="" name="guest_1[adress]" id="guest_1[adress]" style="display: block; float: left; margin-left: 15px; padding: 0px; width: 150px;">
        </td>
        <td style="width: 25%;">
            <label for="guest_2[adress]" style="display: block; float: left; width:25%">Адрес</label>
            <input type="text" value="" name="guest_2[adress]" id="guest_2[adress]" style="display: block; float: left; margin-left: 15px; padding: 0px; width: 150px;">
        </td>

    </tr>
    <!-- guests email -->
    <tr>
        <td style="width: 25%;">
            <label for="guest_1[email]" style="display: block; float: left; width:25%">email</label>
            <input type="text" value="" name="guest_1[email]" id="guest_1[email]" style="display: block; float: left; margin-left: 15px; padding: 0px; width: 150px;">
        </td>
        <td style="width: 25%;">
            <label for="guest_2[email]" style="display: block; float: left; width:25%">email</label>
            <input type="text" value="" name="guest_2[email]" id="guest_2[email]" style="display: block; float: left; margin-left: 15px; padding: 0px; width: 150px;">
        </td>

    </tr>
    <!-- guests phone -->
    <tr>
        <td style="width: 25%;">
            <label for="guest_1[phone]" style="display: block; float: left; width:25%">Телефон</label>
            <input type="text" value="" name="guest_1[phone]" id="guest_1[phone]" style="display: block; float: left; margin-left: 15px; padding: 0px; width: 150px;">
        </td>
        <td style="width: 25%;">
            <label for="guest_2[phone]" style="display: block; float: left; width:25%">Телефон</label>
            <input type="text" value="" name="guest_2[phone]" id="guest_2[phone]" style="display: block; float: left; margin-left: 15px; padding: 0px; width: 150px;">
        </td>

    </tr>
</table>
</fieldset>
<!--Информация о проживающих END -->
<br />

<!-- Сообщение о удачном проведении платежа -->
<div id="successPaymentMessage" class="alert alert-success" style="position: absolute; left: 40%; display: none;">
    <button type="button" class="close" onclick="jQuery('#successPaymentMessage').fadeOut('slow');">&times;</button>
    <strong>Поздравляем!</strong> Оплата произведена успешно.
</div>
<!-- ****************************************** -->

<!-- Сообщение о удачном проведении возврата -->
<div id="successReturnPaymentMessage" class="alert alert-success" style="position: absolute; left: 40%; display: none;">
    <button type="button" class="close" onclick="jQuery('#successReturnPaymentMessage').fadeOut('slow');">&times;</button>
    Возврат платежа произведен успешно.
</div>
<!-- ****************************************** -->

<fieldset>
    <legend>Услуги</legend>
<div id="additionalOptions">
</div>
</fieldset>


<!-- Дополнительная информация -->
<fieldset id="additionalInfo">
    <legend>Дополнительная информация</legend>
<table border="0" cellpadding="0" cellspacing="0" style="width: 1100px; font-size: 10px;">
    <!-- additional -->
    <tr>
        <td style="width: 75%;" colspan="3">
            <label for="additional" style="display: block; float: left; width:20%">Дополнительные услуги</label>
            <input type="text" value="" name="additional" id="additional" style="display: block; float: left; margin-left: 15px; padding: 0px; width: 611px;">
        </td>
        <td style="width: 25%;">
            <label for="additionalCost" style="display: block; float: left; width:26%">Стоимость</label>
            <input type="text" value="" name="additionalCost" id="additionalCost" style="display: block; float: left; margin-left: 15px; padding: 0px; width: 150px;">
        </td>
    </tr>
    <!-- comment -->
    <tr>
        <td style="width: 75%;" colspan="3">
            <label for="comment" style="display: block; float: left; width:20%">Комментарий</label>
            <input type="text" value="" name="comment" id="comment" style="display: block; float: left; margin-left: 15px; padding: 0px; width: 611px;">
        </td>
        <td style="width: 25%;">
            <input type="button" value="Добавить услугу" name="addOption" id="addOption" style="display: block;  margin-left: 87px; padding: 0px; width: 152px;" onclick="hotelBookings.addOption()">
        </td>
    </tr>
    <!-- commentW -->
    <tr>
        <td style="width: 75%;" colspan="3">
            <label for="commentW" style="display: block; float: left; width:20%; font-size: 10px;">Р коммент</label>
            <input type="text" value="" name="commentW" id="commentW" style="display: block; float: left; margin-left: 15px; padding: 0px; width: 611px;">
        </td>
        <td style="width: 25%;">
            <input type="button" value="Счет для оплаты" name="getBill" id="getBill" style="display: block;  margin-left: 87px; padding: 0px; width: 152px;">
        </td>
    </tr>
</table>
    </fieldset>
<!-- Дополнительная информация END -->
<br />


<!-- Расчет стоимости -->
<fieldset>
    <legend>Расчет стоимости</legend>
<table border="0" cellpadding="0" cellspacing="0" style="width: 1100px; font-size: 10px;">
    <!-- buttons1 -->
    <tr>
        <td style="width: 25%;">
            <label for="priceLiving" style="display: block; float: left; width:25%">Ст прож.</label>
            <input type="text" value="" disabled="disabled" name="priceLiving" id="priceLiving" style="display: block; float: left; margin-left: 15px; padding: 0px; width: 150px;">
        </td>
        <td style="width: 25%;">
            <label for="priceServices" style="display: block; float: left; width:25%">Ст услуг</label>
            <input type="text" value="" disabled="disabled" name="priceServices" id="priceServices" style="display: block; float: left; margin-left: 15px; padding: 0px; width: 150px;">
        </td>
        <td colspan="2" style="width: 50%;">
            <!--<input type="button" value="Добавить оплату" name="addPayment" id="addPayment" style="display: block; float: left; margin-left: 15px; padding: 0px; width: 200px;" onclick="hotelBookings.addPayment()">-->
            <input type="button" value="Добавить оплату" name="addPayment" id="addPayment" class="btn" onclick="hotelBookings.addPayment()" style="width: 32%;">
            <input type="button" value="Возврат оплаты" name="refund" id="refund" class="btn" onclick="hotelBookings.returnPayment()" style="width: 32%; margin-left: 8px;">
            <input type="button" value="История платежей" name="transactions" id="transactions" class="btn" onclick="hotelBookings.showDepositHistory()" style="width: 32%; margin-left: 8px;">
        </td>

    </tr>
    <!-- buttons2 -->
    <tr>
        <td style="width: 25%;">
            <label for="discountLiving" style="display: block; float: left; width:25%">Скидка %</label>
            <input type="text" value="" disabled="disabled" name="discountLiving" id="discountLiving" style="display: block; float: left; margin-left: 15px; padding: 0px; width: 150px;">
        </td>
        <td style="width: 25%;">
            <label for="discountServices" style="display: block; float: left; width:25%">Скидка %</label>
            <input type="text" value="" disabled="disabled" name="discountServices" id="discountServices" style="display: block; float: left; margin-left: 15px; padding: 0px; width: 150px;">
        </td>

    </tr>
    <!-- buttons3 -->
    <tr>
        <td style="width: 25%;">
            <label for="priceLivingFinal" style="display: block; float: left; width:25%">Ст прож.</label>
            <input type="text" value="" disabled="disabled" name="priceLivingFinal" id="priceLivingFinal" style="display: block; float: left; margin-left: 15px; padding: 0px; width: 150px;">
        </td>
        <td style="width: 25%;">
            <label for="priceServicesFinal" style="display: block; float: left; width:25%">Ст услуг</label>
            <input type="text" value="" disabled="disabled" name="priceServicesFinal" id="priceServicesFinal" style="display: block; float: left; margin-left: 15px; padding: 0px; width: 150px;">
        </td>
        <td style="width: 25%;">
            <label for="total" style="display: block; float: left; width:40%">Итого к оплате :</label>
            <input type="text" value="" disabled="disabled" name="total" id="total" style="display: block; float: left; margin-left: 15px; padding: 0px; width: 100px;">
        </td>
        <td style="width: 25%;">
            <label for="balance" style="display: block; float: left; width:25%">Остаток :</label>
            <input type="text" value="" disabled="disabled" name="balance" id="balance" style="display: block; float: left; margin-left: 15px; padding: 0px; width: 100px;">
        </td>
    </tr>
</table>
    </fieldset>
<!-- Расчет стоимости END -->
<br />

<div id="prepaymentSelect" style=" display: none; width: 400px; margin: 0 auto;">

</div>

<div style="width: 400px; margin: 0 auto;">
    <input type="button" value="Сохранить" onclick="hotelBookings.saveTextEditForm()" class="btn">
    <input type="button" value="Закрыть форму" onclick="hotelBookings.hideEditors()" class="btn">
</div>
<br />
<!-- HTML для добавляемых элементов -->

<!-- samples begin -->
<div id="samples" style="display: none;">
    <div id="sampleCounted">
        <table border="0" cellpadding="0" cellspacing="0" style="width: 1100px; font-size: 10px;" class="optionCounted">
            <tr>
                <td style="width: 25%;" class="o_guest_1">
                    <label for="o_guest_1[name1]" style="display: block; float: left; width: 35%">nameRus</label>
                    <input type="text" value="1" name="o_guest_1[name1]" id="o_guest_1[name1]" style="display: block; float: left; margin-left: 15px; padding: 0px; width: 30px;" onkeyup="hotelBookings.recalcPriceServices()">
                    <input type="text" value="" disabled="disabled" name="o_guest_1[name2]" id="o_guest_1[name2]" style="display: block; float: left; margin-left: 7px; padding: 0px; width: 50px;">
                    <input type="text" value="" disabled="disabled" name="o_guest_1[name3]" id="o_guest_1[name3]" style="display: block; float: left; margin-left: 7px; padding: 0px; width: 50px;">
                </td>
                <td style="width: 25%;" class="o_guest_2">
                    <label for="o_guest_2[name1]" style="display: block; float: left; width: 35%">nameRus</label>
                    <input type="text" value="1" name="o_guest_2[name1]" id="o_guest_2[name1]" style="display: block; float: left; margin-left: 15px; padding: 0px; width: 30px;" onkeyup="hotelBookings.recalcPriceServices()">
                    <input type="text" value="" disabled="disabled" name="o_guest_2[name2]" id="o_guest_2[name2]" style="display: block; float: left; margin-left: 7px; padding: 0px; width: 50px;">
                    <input type="text" value="" disabled="disabled" name="o_guest_2[name3]" id="o_guest_2[name3]" style="display: block; float: left; margin-left: 7px; padding: 0px; width: 50px;">
                </td>
                <td style="width: 25%;" class="o_child_1">
                    <label for="o_child_1[name1]" style="display: block; float: left; width: 35%">nameRus</label>
                    <input type="text" value="1" name="o_child_1[name1]" id="o_child_1[name1]" style="display: block; float: left; margin-left: 15px; padding: 0px; width: 30px;" onkeyup="hotelBookings.recalcPriceServices()">
                    <input type="text" value="" disabled="disabled" name="o_child_1[name2]" id="o_child_1[name2]" style="display: block; float: left; margin-left: 7px; padding: 0px; width: 50px;">
                    <input type="text" value="" disabled="disabled" name="o_child_1[name3]" id="o_child_1[name3]" style="display: block; float: left; margin-left: 7px; padding: 0px; width: 50px;">
                </td>
                <td style="width: 25%;" class="o_child_2">
                    <label for="o_child_2[name1]" style="display: block; float: left; width: 35%">nameRus</label>
                    <input type="text" value="1" name="o_child_2[name1]" id="o_child_2[name1]" style="display: block; float: left; margin-left: 15px; padding: 0px; width: 30px;" onkeyup="hotelBookings.recalcPriceServices()">
                    <input type="text" value="" disabled="disabled" name="o_child_2[name2]" id="o_child_2[name2]" style="display: block; float: left; margin-left: 7px; padding: 0px; width: 50px;">
                    <input type="text" value="" disabled="disabled" name="o_child_2[name3]" id="o_child_2[name3]" style="display: block; float: left; margin-left: 7px; padding: 0px; width: 50px;">
                </td>
            </tr>
        </table>
    </div>

    <div id="sampleExtended">
        <table border="0" cellpadding="0" cellspacing="0" style="width: 1100px; font-size: 10px;" class="optionExtended">
            <tr>
                <td style="width: 25%;" class="o_guest_1">
                    <label for="o_guest_1[name1]" style="display: block; float: left; width:58%">nameRus</label>
                    <input type="checkbox" value="" name="o_guest_1[name1]" id="o_guest_1[name1]" style="display: block; float: left; margin-left: 15px; padding: 0px;" onclick="hotelBookings.recalcPriceServices()">
                    <input type="text" value="" disabled="disabled" name="o_guest_1[name2]" id="o_guest_1[name2]" style="display: block; float: left; margin-left: 15px; padding: 0px; width: 45px;">
                </td>
                <td style="width: 25%;" class="o_guest_2">
                    <label for="o_guest_2[name1]" style="display: block; float: left; width:58%">nameRus</label>
                    <input type="checkbox" value="" name="o_guest_2[name1]" id="o_guest_2[name1]" style="display: block; float: left; margin-left: 15px; padding: 0px;" onclick="hotelBookings.recalcPriceServices()">
                    <input type="text" value="" disabled="disabled" name="o_guest_2[name2]" id="o_guest_2[name2]" style="display: block; float: left; margin-left: 15px; padding: 0px; width: 45px;">
                </td>
                <td style="width: 25%;" class="o_child_1">
                    <label for="o_child_1[name1]" style="display: block; float: left; width:58%">nameRus</label>
                    <input type="checkbox" value="" name="o_child_1[name1]" id="o_child_1[name1]" style="display: block; float: left; margin-left: 15px; padding: 0px;" onclick="hotelBookings.recalcPriceServices()">
                    <input type="text" value="" disabled="disabled" name="o_child_1[name2]" id="o_child_1[name2]" style="display: block; float: left; margin-left: 15px; padding: 0px; width: 45px;">
                </td>
                <td style="width: 25%;" class="o_child_2">
                    <label for="o_child_2[name1]" style="display: block; float: left; width:58%">nameRus</label>
                    <input type="checkbox" value="" name="o_child_2[name1]" id="o_child_2[name1]" style="display: block; float: left; margin-left: 15px; padding: 0px;" onclick="hotelBookings.recalcPriceServices()">
                    <input type="text" value="" disabled="disabled" name="o_child_2[name2]" id="o_child_2[name2]" style="display: block; float: left; margin-left: 15px; padding: 0px; width: 45px;">
                </td>
            </tr>
        </table>
    </div>

    <div id="sampleTransfer">
        <table border="0" cellpadding="0" cellspacing="0" style="width: 1100px; font-size: 10px;" class="optionTransfer">
            <tr>
                <td style="width: 100%;">
                    <label for="transferName[date]" style="display: block; float: left; width:7%">Трансфер : </label>
                    <input type="text" value="" name="transferName[date]" placeholder="Дата" id="transferName[date]" class="datepick" style="display: block; float: left; margin-left: 15px; padding: 0px; width: 100px;">
                    <input type="text" value="" name="transferName[time]" placeholder="Время" id="transferName[time]" class="timepick" style="display: block; float: left; margin-left: 15px; padding: 0px; width: 50px;">
                    <input type="text" value="" name="transferName[location]" placeholder="Пункт прибытия" id="transferName[location]" style="display: block; float: left; margin-left: 15px; padding: 0px; width: 250px;">
                    <input type="text" value="" name="transferName[add1]" id="transferName[add1]" style="display: block; float: left; margin-left: 15px; padding: 0px; width: 100px;">
                    <input type="text" value="" name="transferName[add2]" id="transferName[add2]" style="display: block; float: left; margin-left: 15px; padding: 0px; width: 100px;">
                    <input type="text" value="" name="transferName[from]" placeholder="Город отправления" id="transferName[from]" style="display: block; float: left; margin-left: 15px; padding: 0px; width: 150px;">

                    <input type="checkbox" value="" name="transferName[useFlag]" id="transferName[useFlag]" style="display: block; float: left; margin-left: 15px; padding: 0px;" onclick="hotelBookings.recalcPriceServices()">
                    <input type="text" value="" disabled="disabled" name="transferName[cost]" id="transferName[cost]" style="display: block; float: left; margin-left: 15px; padding: 0px; width: 110px;" onkeyup="hotelBookings.recalcPriceServices()">
                </td>
            </tr>
        </table>
    </div>
</div>

<!-- Модальные окна для выбора услуг -->
<div id="addOptionDiv" class="modal hide">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h4>Выбор услуги</h4>
    </div>
    <div class="modal-body">
        <input type="button" value="Простая" onclick="hotelBookings.selectOptionType(1)" class="btn btn-block">
        <input type="button" value="По дням" onclick="hotelBookings.selectOptionType(2)" class="btn btn-block">
        <input type="button" value="Трансфер" onclick="hotelBookings.selectOptionType(3)" class="btn btn-block">
    </div>
    <div class="modal-footer">
        <button class="btn" data-dismiss="modal">Отмена</button>
    </div>
</div>
<div id="addOptionDivType" class="modal fade bs-example-modal-sm" width="150"></div>
<!-- ******************************************************************************* -->

<!-- Modal для отображения истории платежей -->
<div id="depositHistory" class="modal fade" style="left: 28.5%; width: 98%; top: 2%; display: none;">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h4>История платежей</h4>
    </div>
    <div class="modal-body"></div>
    <div class="modal-footer">
        <button class="btn" data-dismiss="modal">Закрыть</button>
    </div>
</div>
<!-- ********************************************** -->

<!-- Модальное окно добавления платежа -->
<div id="addDepositForm" class="modal fade bs-example-modal-sm" style="width: 300px; left: 63%; display: none;">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h4>Добавить оплату</h4>
    </div>
    <div class="modal-body">
        <label for="addSummType">Тип платежа</label>
            <select style="width: 163px;" id="addSummType" name="addSummType">
                <option value="K">K</option>
                <option value="T">T</option>
                <option value="I">I</option>
                <option value="N">N</option>
                <option value="P">P</option>
            </select>
        <label for="addSumm">Сумма платежа</label>
        <input type="text" id="addSumm" name="addSumm" style="width:150px;"><br>
        <label for="addSummDesc">Описание платежа</label>
        <textarea id="addSummDesc" name= "addSummDesc" rows="3"></textarea>
    </div>


    <div class="modal-footer">

    <input type="button" id="okButton" value ="OK" onclick="hotelBookings.addDeposit();" class="btn">
        <button class="btn" data-dismiss="modal">Отмена</button>
        </div>
</div>
<!-- ************************************************************************** -->

<!-- Модальное окно возврата платежа -->
<div id="returnDepositForm" class="modal fade bs-example-modal-sm" style="width: 300px; left: 63%; display: none;">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h4>Возврат платежа</h4>
    </div>
    <div class="modal-body">

        <label for="returnSumm">Сумма Возврата</label>
        <input type="text" id="returnSumm" name="returnSumm" style="width:150px;"><br>
        <label for="returnDesc">Описание</label>
        <textarea id="returnDesc" name= "returnDesc" rows="3"></textarea>
    </div>
    <div class="modal-footer">
        <input type="button" id="okReturnButton" value ="OK" onclick="hotelBookings.returnDeposit();" class="btn">
        <button class="btn" data-dismiss="modal">Отмена</button>
    </div>
</div>
<!-- ************************************************************************** -->

<div id="loading" style="background: url(../villa.module.hotel/images/loading.gif);
     display: none;
    height: 19px;
    left: 450px;
    position: absolute;
    width: 220px;
    top: 600px;"></div>
<div id="loadingBG" style="background: #000;
     left: 0px;
     top: 0px;
    display: none;
    position: absolute;
    z-index: 5;

    width: 2000px;
    height: 1750px;

    opacity:0.5;
  filter:alpha(opacity=50);
  -moz-opacity:0.5;"></div>
<!-- samples end -->

<script>
    $(function(){

    });
</script>
