<form id="editEquipment" onsubmit="return;">
    <input type="hidden" id="id" name="id" value="<?=$this->model->id?>"/>
    <input type="hidden" name="controller" value="villa.module.hotel.controller.manage.equipment"/>
    <input type="hidden" name="action" value="edit"/>
    <table class="table table-bordered">
        <tr>
            <th colspan="2">
                Выберите язык:&emsp;
                <select name="lang_id" onchange="equipment.changeLang(this)" style="margin: 0">
                    <?php foreach($this->langList as $id => $lang){?>
                    <option value="<?=$id;?>" <?=$this->model->lang_id == $id?'selected':'';?>>
                        <?=$lang->name;?>
                    </option>
                    <?php }?>
                </select>
            </th>
        </tr>
        <tr>
            <th style="width: 30%">
                Системное название
            </th>
            <td>
                <input type="text" name="sys_name" value="<?=$this->model->sys_name;?>" style="width: 97%"/>
            </td>
        </tr>
        <tr>
            <th>
                Название
            </th>
            <td>
                <input type="text" name="name" value="<?=$this->model->name;?>" style="width: 97%"/>
            </td>
        </tr>
        <tr>
            <td colspan="2">
                <a class="btn btn-success button-submit" onclick="equipment.formSubmit()">
                    Сохранить
                </a>
            </td>
        </tr>
    </table>
</form>