<div id="loadingMain">
    <div id="loadingDatesDiv1"></div>
    <div id="loadingDatesDiv">
        <p class="text-info">Для просмотра детализации кликните левой кнопкой мышки по закрашенному сектору</p>
        Показать с&nbsp;
        <input type="text" class="datepick" id="dateFrom" value="<?=$this->dateFrom; ?>">

        &nbsp;по&nbsp;
        <input type="text" class="datepick" id="dateTo" value="<?=$this->dateTo; ?>">
            <select class="new-option" name="service" id="service" >
                <option value="0" <?=($this->selectedService == 0 ? "selected" : "")?>>Все услуги</option>

                <?php foreach($this->services as $id => $service) { ?>
                <option value="<?=$id?>"  <?=($this->selectedService == $id ? "selected" : "")?>>
                    <?=$service['sys_name']?>
                </option>
                <?php } ?>
            </select>


        &nbsp;<a class="btn btn-info" onclick="loading.filter()">Фильтровать</a>

    </div>
    <!--<?php var_dump($this->test); ?>-->
    <div class="totalService">
        <?php
            if ( $this->selectedService ) {
                foreach( $this->totalService as $key => $total ) {
                    echo '<div class="totalService_item">'. $key . ' - ' . $total['adults'] . '(' . $total['child'] . ')</div>';
                }
            }
         ?>
    </div>
    <div>
        <table id="roomNumbers" class="table table-bordered table-condensed">
            <tr>
                <th style="height: 28px">
                    №
                </th>
            </tr>
            <?php foreach($this->roomList as $num) {?>
            <tr>
                <th>
                    <?=$num?>
                </th>
            </tr>
            <?php }?>
        </table>
        <table id="dateList" class="table table-bordered table-condensed">
            <tr>
                <?php foreach($this->dates as $date) {?>
                <th>
                    <?=$date?>
                </th>
                <?php }?>
            </tr>
        </table>
        <table id="hotelLoadingTable" class="table table-bordered table-condensed">
            <tr>
                <?php foreach($this->dates as $date) {?>
                <th>
                    <?=$date?>
                </th>
                <?php }?>
            </tr>

            <?php foreach($this->roomList as $num) {?>
            <tr>
                <?php foreach($this->table[$num] as $cellItems) {?>
                <td>
                    <?php $i = 0; ?>
                    <?php $count = 0; ?>
                    <?php foreach($cellItems as $item) {?>

                    <?php
                        $bookingId = $item['info']['id'];
                        $selectedService = $this->selectedService;

                        if ( $count == 0 ) {

                            if ( isset($this->payRemain[$bookingId]) ) {
                                $count++;
                                echo '<div class="payment_remain">' . ($item['info']['cost'] - $this->payRemain[$bookingId]) . '</div>';
                            } else {
                                echo '<div class="payment_remain"   >' . $item['info']['cost'] . '</div>';
                                $count++;
                            }

                        }
                           if ( $this->selectedService > 0  ) {
                            if ( $i == 0 ) {
                                $i++;


                    ?>
                    <div class="engaged <?=$item['class'];?>" onclick="booking.editFromOutside(<?=$item['info']['id'];?>, loading.filter)">
                        <!--<?=$this->selectedService > 0 ? "(".$item['info']['service_count'].")" : ""?>-->

                        (<?php

                            echo $this->serviceCount[$bookingId][$selectedService];
                        ?>)

                        <?php
                            if ( isset($this->serviceChild[$bookingId][$selectedService]) ) {
                               echo '(' . $this->serviceChild[$bookingId][$selectedService] . ')';
                            }

                        ?>
                        <?php  ?>
                        <?php if($item['transfer']) {?>
                        <span class="transfer">T</span>
                        <?php }?>
                        <div class="cell-info table table-bordered table-condensed">
                            <p class="status"><?=$item['info']['status_name'];?></p>
                            <b>Бронь #</b><?=$item['info']['id'];?><br/>
                            <b>Номер: </b><?=$item['info']['room'];?><br/>
                            <b>Прибытие: </b><?=Dante_Helper_Date::converToDateType($item['info']['arrival'], 0);?><br/>
                            <b>Отправление: </b><?=Dante_Helper_Date::converToDateType($item['info']['departure'], 0);?><br/>
                            <b>Гостей: </b><?=$item['info']['adults'] + $item['info']['children'];?><br/>
                            <b>Стоимость: </b><?=$item['info']['cost'];?><br/>
                            <?php if($item['transfer']) {?>
                            <span class="transfer">ТРАНСФЕР</span>
                            <b>Пункт: </b><?=$item['transfer']['sys_name'];?><br/>
                            <b>Время: </b><?=Dante_Helper_Date::converToDateType($item['transfer']['time'], 10);?><br/>
                            <?=$item['transfer']['info'];?>
                            <b>Откуда: </b><?=$item['transfer']['location'];?><br/>
                            <?php }?>
                        </div>
                    </div>
                    <?php }
                     } else { ?>
                    <div class="engaged <?=$item['class'];?>" onclick="booking.editFromOutside(<?=$item['info']['id'];?>, loading.filter)">


                        <?php  ?>
                        <?php if($item['transfer']) {?>
                        <span class="transfer">T</span>
                        <?php }?>
                        <div class="cell-info table table-bordered table-condensed">
                            <p class="status"><?=$item['info']['status_name'];?></p>
                            <b>Бронь #</b><?=$item['info']['id'];?><br/>
                            <b>Номер: </b><?=$item['info']['room'];?><br/>
                            <b>Прибытие: </b><?=Dante_Helper_Date::converToDateType($item['info']['arrival'], 0);?><br/>
                            <b>Отправление: </b><?=Dante_Helper_Date::converToDateType($item['info']['departure'], 0);?><br/>
                            <b>Гостей: </b><?=$item['info']['adults'] + $item['info']['children'];?><br/>
                            <b>Стоимость: </b><?=$item['info']['cost'];?><br/>
                            <?php if($item['transfer']) {?>
                            <span class="transfer">ТРАНСФЕР</span>
                            <b>Пункт: </b><?=$item['transfer']['sys_name'];?><br/>
                            <b>Время: </b><?=Dante_Helper_Date::converToDateType($item['transfer']['time'], 10);?><br/>
                            <?=$item['transfer']['info'];?>
                            <b>Откуда: </b><?=$item['transfer']['location'];?><br/>
                            <?php }?>
                        </div>
                    </div>
                    <?php }?>
                    <?php }?>
                </td>
                <?php }?>
            </tr>
            <?php }?>
        </table>
    </div>
    <script>
        $(function(){
            loading.init();
        });
    </script>
    <div style="display: none">
        <div class="b-modal" id="modalWindow" style="width: 1210px !important;">
            <div class="b-modal_close arcticmodal-close">X</div>
            <div class="modal-body"></div>
        </div>
    </div>
</div>

