<table id="pricesDates" class="table handbook table-bordered">
    <caption>Цены в указанные даты</caption>
    <tr>
        <td colspan="4">
            <p class="text-info"><strong><?=$this->model->title;?></strong></p>
            <strong>Стандартаная цена: </strong><?=$this->model->standardPrice;?><br/>
            <strong>Отображаемая цена: </strong><?=$this->model->displayedPrice;?><br/>
            <input type="hidden" id="priceId" value="<?=$this->model->id;?>">
        </td>
    </tr>
    <tr>
        <th style="width: 22%">С даты</th>
        <th style="width: 22%">По дату</th>
        <th style="width: 22%">Цена</th>
        <th>Недоступно</th>
        <th>Функции</th>
    </tr>
    <?php foreach($this->dates as $id => $item) {?>
    <tr>
        <td>
            <input class="date-from" type="text" disabled value="<?=$item->dateFrom; ?>"/>
        </td>
        <td>
            <input class="date-to" type="text" disabled value="<?=$item->dateTo; ?>"/>
        </td>
        <td>
            <input class="price" type="text" disabled value="<?=$item->price; ?>"/>
        </td>
        <td>
            <input class="is_disabled" type="checkbox" disabled value="1" <?=$item->disabled ? 'checked' : ''?>/>
        </td>
        <td>                    
            <a class="btn btn-success edit-btn" onclick="prices.editDate(this)">
                Изменить
            </a>                        
<!--            <a class="btn btn-danger" onclick="prices.delDate(<?=$id; ?>)">
                Удалить
            </a>-->
            <a class="btn btn-info save-btn" style="display: none;" onclick="prices.dateSave(<?=$id; ?>, this)">
                Сохранить
            </a>         
            <a class="btn btn-warning cancel-btn" style="display: none;" onclick="prices.dateCancel()">
                Отмена
            </a>
        </td>
    </tr>
    <?php }?>
    <tr class="new" style="display: none;">        
        <td><input class="date-from" type="text"/></td>
        <td><input class="date-to" type="text"/></td>
        <td><input class="price" type="text"/></td>
        <td><input class="is_disabled" type="checkbox"/></td>
        <td>          
            <a class="btn btn-info save-btn" onclick="prices.dateSave(0, this)">
                Сохранить
            </a>         
            <a class="btn btn-warning cancel-btn" onclick="prices.dateCancel()">
                Отмена
            </a>
        </td>
    </tr>
    <tr>
        <td colspan="5">
            <a class="btn btn-success" onclick="prices.addDate()">
                Добавить
            </a>
        </td>
    </tr>
</table>
<script>
    $('.date-from, .date-to').datepicker({
        dateFormat:'dd/mm/yy',
        firstDay: 1,
        changeMonth: true,
        changeYear: true      
    });
</script>