<div id="pricesManageMain">
<style>
    table.prices
    {
        margin: 20px auto;
        width: 80% !important;
    }
    input[type='text']
    {
        margin: 0;
        width: 90% !important;
    }
    input[type='text'].displayed-price
    {
        text-decoration: line-through;
    }
</style>
<?php foreach($this->list as $block) {?>
<table class="table handbook table-bordered prices">
    <caption><?=$block['caption']; ?></caption>
    <tr>
        <th style="width: 40%"></th>
        <th style="width: 15%">Отобр. цена</th>
        <th style="width: 15%">Стандарт. цена</th>
        <th>Функции</th>
    </tr>
    <?php foreach($block['items'] as $typeId => $item) {?>
    <tr>
        <td><?=$item->title; ?></td>
        <td>
            <input type="text" class="displayed-price" value="<?=$item->displayedPrice; ?>" disabled/>
        </td>
        <td>
            <input type="text" class="standard-price" value="<?=$item->standardPrice; ?>" disabled/>
        </td>
        <td>
            <a class="btn btn-success edit-btn" onclick="prices.edit(this)">
                Изменить
            </a>            
            <a class="btn btn-info save-btn" style="display: none;" onclick="prices.save(<?=$item->id;?>, this)">
                Сохранить
            </a>         
            <a class="btn btn-danger cancel-btn" style="display: none;" onclick="prices.cancel()">
                Отмена
            </a>
            <?php if($item->id) {?>
            <a class="btn btn-warning" onclick="prices.openDates(<?=$item->id;?>)">
                Цены по датам
            </a>
<!--            <a class="btn btn-danger" onclick="prices.del(<?=$item->id?>)">
                Удалить
            </a>-->
            <?php } ?>
            <input type="hidden" class="entity-type" value="<?=$item->entity_type_id;?>"/>
            <input type="hidden" class="entity-id" value="<?=$item->entity_id;?>"/>
            <input type="hidden" class="prep-type" value="<?=$item->prep_type;?>"/>
        </td>
    </tr>
    <?php }?>
</table>
<?php }?>
<div style="display: none;">
    <div class="b-modal" id="modalWindow">
        <div class="b-modal_close arcticmodal-close">X</div>
        <div class="modal-title"></div>
        <div class="modal-body"></div>
    </div>
</div>
</div>
