<table class="table table-bordered table-condensed">
    <tr>
        <th>Порядок</th>
        <th>Оборудование</th>
        <th>Жирный</th>
        <th>Размер шрифта</th>
    </tr>
    <?php $i=1; foreach($this->aptEquip as $val) { ?>
    <tr id="aptEquipment_<?=$val['draw_order'] ?>" class="tr-apt-eq">
        <td>
            <img src="../villa/module/hotel/images/uparrow.png" width="20" height="20" onclick="roomtypes.changeSortOrderEquipment(<?=$val['draw_order'] ?>, -1)" style="float:left;cursor:pointer;">
            <img src="../villa/module/hotel/images/downarrow.png" width="20" height="20" onclick="roomtypes.changeSortOrderEquipment(<?=$val['draw_order'] ?>, 1)" style="float:left;cursor:pointer;">
        </td>
        <td>
            <label class="checkbox" id="aptEquipmentLabel_<?=$val['draw_order'] ?>" style="float:left; width:300px;">                        
                <input name="equipment[]" id="equipment_<?=$val['eq_id']?>" type="checkbox" value="<?=$val['eq_id']?>" checked>
                <?=$val['sys_name'] ?>
            </label>
        </td>
        <td>
            <input id="equipmentBold_<?=$val['eq_id']?>" type="checkbox" value="1" <?=$val['bold']?'checked':''?>>
        </td>
        <td>
            <input id="equipmentFontsize_<?=$val['eq_id']?>" type="text" value="<?=$val['font_size']?>" style="width:30px" maxlength="2">
        </td>
    </tr>
    <?php $i++; } ?>
    
    <?php foreach($this->defEquip as $val) {?>    
    <tr id="aptEquipment_<?=$i ?>">
        <td>
            <img src="../villa/module/hotel/images/uparrow.png" width="20" height="20" onclick="roomtypes.changeSortOrderEquipment(<?=$i ?>, -1)" style="float:left;cursor:pointer;">
            <img src="../villa/module/hotel/images/downarrow.png" width="20" height="20" onclick="roomtypes.changeSortOrderEquipment(<?=$i ?>, 1)" style="float:left;cursor:pointer;">
        </td>
        <td>
            <label class="checkbox" id="aptEquipmentLabel_<?=$i ?>" style="float:left; width:300px;">                        
                <input name="equipment[]" id="equipment_<?=$val['id']?>" type="checkbox" value="<?=$val['id']?>">
                <?=$val['sys_name'] ?>
            </label>
        </td>
        <td>
            <input id="equipmentBold_<?=$val['id']?>" type="checkbox" value="1">
        </td>
        <td>
            <input id="equipmentFontsize_<?=$val['id']?>" type="text" style="width:30px" maxlength="2">
        </td>
    </tr>
    <?php $i++; }?>
    <tr>
        <td colspan="4">
            <a class="btn btn-success" onclick="roomtypes.saveEquipment()">Сохранить</a>
        </td>
    </tr>
</table>
