<div id="editApartTypeImages">
    <table class="table handbook table-bordered" style="width: auto; margin: 0 auto;">
        <tr>
            <th style="width: 450px;">Изображение</th>
            <th style="width: 300px;">Порядок</th>
            <th style="width: 90px;">Функции</th>
        </tr>
        <?php foreach($this->images as $img){ ?>
        <tr>
            <td>
                <image src="<?=Villa_Module_Hotel_Helper_Media::getApartmentTypesDir().$img['image'];?>" style="height:200px; max-width:400px;">
            </td>
            <td>                
                <input type="button" value="вверх" onclick="roomtypes.changeImageOrder(<?=$img['type_id'].', '.$img['draw_order']?>, -1)">
                <input type="button" value="вниз" onclick="roomtypes.changeImageOrder(<?=$img['type_id'].', '.$img['draw_order']?>, 1)">
            </td>
            <td>
                <button class="btn btn-danger btn-mini" style="width: 70px;" onclick="roomtypes.delImage(this, <?=$img['type_id'].', \''.$img['image'].'\'';?>)">
                    Удалить
                </button>
            </td>
        </tr>
        <?php }?>
        <tr>
            <th>Загрузить</th>   
            <td colspan="2">           
                <span class="btn btn-success fileinput-button">
                    <i class="glyphicon glyphicon-plus"></i>
                    <span>Выбрать файл</span>
                    <input id="fileupload" type="file" name="file">
                </span><br/><br/>
                <div id="progress" class="progress">
                    <div class="progress-bar progress-bar-success" style="width: 0%;"></div>
                </div>  
            </td>
        </tr>
        <tr>
            <td colspan="3">                
                <button class="btn btn-success" onclick="villa_infoblock.editEnd();" style="margin: 5px;">
                    Закрыть окно
                </button>
            </td>
        </tr>
    </table>  
</div>
<script>
    $('#fileupload').fileupload({
        dataType: 'json',
        url: "/ajax.php?controller=villa.module.hotel.controller.manage.roomtypes&action=imageUpload&typeId=<?=$this->typeId?>",
        maxFileSize: 10000000,
        acceptFileTypes: /(\.|\/)(gif|jpe?g|png)$/i,
        start: function(e) 
        {
            $('#progress .progress-bar').css(
                'width',
                0 + '%'
            );
        },
        done: function (e, data) {
            if (data.result.result == 1)
            {
                $('.tab-pane.active').html(data.result.html);
            }
            else
            {
                jAlert(data.result.message, 'Ошибка');
            }
        },
        progressall: function (e, data) 
        {
            var progress = parseInt(data.loaded / data.total * 100, 10);
            $('#progress .progress-bar').css(
                'width',
                progress + '%'
            );

        }
    });
</script>