<form id="editRoom" onsubmit="return;">
    <input type="hidden" name="prev_id" value="<?=$this->model->id?>"/>
    <input type="hidden" name="controller" value="villa.module.hotel.controller.manage.rooms"/>
    <input type="hidden" name="action" value="edit"/>
    <table class="table table-bordered">
        <tr>
            <th style="width: 30%">
                Номер комнаты
            </th>
            <td>
                <input type="text" name="id" value="<?=$this->model->id;?>"/>
            </td>
        </tr>
        <tr>
            <th>
                Тип номера
            </th>
            <td>                
                <select name="type" style="width: 70%">
                    <option value="0">-- Выберите --</option>
                <?php foreach($this->typesList as $id => $name){?>
                    <option value="<?=$id;?>" <?=$this->model->type == $id?'selected':'';?>>
                        <?=$name;?>
                    </option>
                <?php }?>
                </select>
            </td>
        </tr>
        <tr>
            <th>
                Приоритет
            </th>
            <td>
                <input type="text" name="priority" value="<?=$this->model->priority;?>"/>
            </td>
        </tr>
        <tr>
            <td colspan="4">
                <a class="btn btn-success button-submit" onclick="rooms.formSubmit()">
                    Сохранить
                </a>
            </td>
        </tr>

    </table>
</form>
