<input type="hidden" id="typeId" value="<?=$this->model->id?>"/>
<ul class="nav nav-tabs" id="editTabs">
    <li class="active editonly"><a href="#edit" id="tab_edit">Редактирование</a></li>
    <?php if($this->model->id) {?>
    <li class="editonly"><a href="#images" id="tab_images">Изображения</a></li>
    <li class="editonly"><a href="#equipment" id="tab_equipment">Оборудование</a></li>
    <?php }?>
</ul>

<div class="tab-content">
    <div class="tab-pane" id="images">
        Изображения
    </div>
    <div class="tab-pane" id="equipment">
        Оборудование
    </div>

    <div class="tab-pane active" id="edit">
        <form id="apTypeForm" onsubmit="return;">
            <input type="hidden" name="id" value="<?=$this->model->id?>"/>
            <input type="hidden" name="controller" value="villa.module.hotel.controller.manage.roomtypes"/>
            <input type="hidden" name="action" value="edit"/>

            <table class="table table-bordered">
                <tr>
                    <th colspan="4">
                        Выберите язык:&emsp;
                        <select name="lang_id" onchange="roomtypes.changeLang(this)" style="margin: 0">
                            <?php foreach($this->langList as $id => $lang){?>
                            <option value="<?=$id;?>" <?=$this->model->lang_id == $id?'selected':'';?>>
                            <?=$lang->name;?>
                            </option>
                            <?php }?>
                        </select>
                    </th>
                </tr>

                <tr>
                    <th>
                        Название
                    </th>
                    <td>
                        <input type="text"  name="title" value="<?=$this->model->title;?>" style="width: 97%"/>
                    </td>
                    <th>
                        Ссылка
                    </th>
                    <td>
                        <input type="text"  name="link" value="<?=$this->model->link;?>"/>
                    </td>
                </tr>

                <tr>
                    <th>
                        Кол-во взрослых
                    </th>
                    <td>
                        <input type="text"  name="max_adults" value="<?=$this->model->max_adults;?>"/>
                    </td>
                    <th>
                        Кол-во детей
                    </th>
                    <td>
                        <input type="text"  name="max_children" value="<?=$this->model->max_children;?>"/>
                    </td>
                </tr>
                <tr>
                    <th>
                        Описание
                    </th>
                    <td colspan="3">
                        <textarea class="medium" name="description" ><?=$this->model->description;?></textarea>
                    </td>
                </tr>
                <tr>
                    <td colspan="4">
                        <a class="btn btn-success button-submit" onclick="roomtypes.formSubmit()">
                            Сохранить
                        </a>
                    </td>
                </tr>

            </table>
        </form>
    </div>

</div>

<script>
    $(function()
    {
        $('#editTabs a').click(function(e) {
            e.preventDefault();
            $(this).tab('show');
            roomtypes.loadContent(this);
        });


        $("textarea[name=description]").elrte({
            lang         : 'ru',
            styleWithCSS : false,
            height       : 200,
            toolbar      : 'maxi',
            fmOpen : function(callback) {
                $('<div id="myelfinder"></div>').dialogelfinder({
                    url: 'ajax.php?controller=lib.elfinder.controller',
                    commandsOptions: {
                        getfile: {
                            oncomplete: 'destroy' // destroy elFinder after file selection
                        }
                    },
                    getFileCallback: callback // pass callback to file manager
                });
            }
        });
    });
</script>