<input type="hidden" id="serviceId" value="<?=$this->model->id?>"/>

<ul class="nav nav-tabs" id="editTabs">
    <li class="active editonly"><a href="#edit" id="tab_edit">Редактирование</a></li>
    <?php if($this->model->id): ?>
        <li class="editonly"><a href="#images" id="tab_images">Изображения</a></li>
    <?php endif; ?>
</ul>

<div class="tab-content">
    <div class="tab-pane" id="images">
        Изображения
    </div>
    <div class="tab-pane active" id="edit">
        <form id="editBookingoption">
            <input type="hidden" name="controller" value="villa.module.hotel.controller.manage.services">
            <input type="hidden" name="action" value="edit">
            <input type="hidden" name="id" value="<?=$this->model->id?>"/>
            <table class="table table-bordered table-condensed">
                <tr>
                    <th colspan="3" style="vertical-align: middle">
                        Выберите язык:
                        <select id="lang_id" name="lang_id" style="margin: 10px" onchange="services.changeLang(this)">
                            <?php foreach($this->langList as $id => $lang) {?>
                            <option value="<?=$id?>" <?=($this->model->lang_id == $id)?'selected':''?>>
                            <?=$lang->name;?>
                            </option>
                            <?php }?>
                        </select>
                    </th>
                </tr>
                <tr>
                    <th style="width: 20%">Системное название</th>
                    <td colspan="2">
                        <input type="text" name="sys_name" value="<?=$this->model->sys_name;?>" style="width: 98%">
                    </td>
                </tr>
                <tr>
                    <th>Название</th>
                    <td colspan="2">
                        <input type="text" name="name" value="<?=$this->model->name;?>" style="width: 98%">
                    </td>
                </tr>
                <tr>
                    <th>Описание</th>
                    <td colspan="2">
                        <textarea id="serviceDescr" class="editor" name="description" style="width: 98%"><?=$this->model->description;?></textarea>
                    </td>
                </tr>
                <tr>
                    <th>Полное описание</th>
                    <td colspan="2">
                        <textarea id="serviceFullDescr" class="editor" name="full_descr" style="width: 98%"><?=$this->model->full_descr;?></textarea>
                    </td>
                </tr>
                <tr>                    
                    <th>Внешний ID</th>
                    <td colspan="2">
                        <input type="text" name="outer_id" value="<?=$this->model->outer_id?>"/>
                    </td>
                </tr>
                <tr>
                    <td colspan="3">
                        <a class="btn btn-success" onclick="services.editSubmit(this);">Сохранить</a>
                    </td>
                </tr>
            </table>
        </form>
    </div>
</div>

<script type="text/javascript">
    jQuery(function()
    {
        services.langName = "<?=$this->langList[$this->model->lang_id]->sys_name; ?>";
        services.formInit();
    });
</script>