<input type="hidden" id="transfer_id" value="<?=$this->model->id?>"/>
<ul class="nav nav-tabs" id="editTabs">
    <li class="active editonly"><a href="#edit" id="tab_edit">Редактирование</a></li>
<!--    <?php if($this->model->id): ?>
    <li class="editonly"><a href="#images" id="tab_images">Изображения</a></li>
    <?php endif; ?>-->
</ul>

<div class="tab-content">
<!--    <div class="tab-pane" id="images">
        Изображения
    </div>-->

    <div class="tab-pane active" id="edit">
        <form id="editBookingTransfer">
            <input type="hidden" name="controller" value="villa.module.hotel.controller.manage.transfer">
            <input type="hidden" name="action" value="edit">
            <input type="hidden" name="transferId" id="transferId" value="<?=$this->model->id?>"/>

            <table class="table table-bordered table-condensed">
                <tr>
                    <th colspan="4" style="vertical-align: middle">
                        Выберите язык:
                        <select id="lang" name="lang" style="margin: 0 5px" onchange="transfer.changeLang();">
                            <?php foreach($this->langList as $id=>$lang) {?>
                            <option value="<?=$id;?>" <?=$id==$this->model->lang_id?'selected':'';?>>
                            <?=$lang->name;?>
                            </option>
                            <?php }?>
                        </select>
                    </th>
                </tr>
                <tr>
                    <th>Вид транспорта</th>
                    <td colspan="3">
                        <select name="transport_type">
                            <?php foreach($this->transport as $id => $name) {?>
                            <option value="<?=$id;?>" <?=$id==$this->model->transport_type?'selected':'';?>>
                            <?=$name;?>
                            </option>
                            <?php }?>
                        </select>
                    </td>
                </tr>
                <tr>
                    <th>Системное название</th>
                    <td><input type="text" name="sys_name" value="<?=$this->model->sys_name;?>"></td>
                    <th>Тип</th>
                    <td>
                        <select name="type">
                            <?php foreach($this->types as $id => $type) {?>
                            <option value="<?=$id;?>" <?=$id==$this->model->type?'selected':'';?>>
                            <?=$type;?>
                            </option>
                            <?php }?>
                        </select>
                    </td>
                </tr>
                <tr>
                    <th>Название</th>
                    <td><input type="text" name="name" value="<?=$this->model->name;?>"></td>
                    <th>Название типа</th>
                    <td><input type="text" name="type_name" value="<?=$this->model->type_name;?>"></td>
                </tr>

                <tr>
                    <th>Описание</th>
                    <td colspan="3">
                        <textarea name="description" style="width: 98%"><?=$this->model->description;?></textarea>
                    </td>
                </tr>
                <tr>
                    <th>Внешний ID</th>
                    <td colspan="3">
                        <input type="text" name="outer_id" value="<?=$this->model->outer_id;?>">
                    </td>                    
                </tr>

                <tr>
                    <td colspan="4">
                        <a class="btn btn-success" onclick="transfer.editSubmit(this)">Сохранить</a>
                    </td>
                </tr>
            </table>
        </form>
    </div>
</div>

<script type="text/javascript">
    jQuery(function()
    {
        $('#editTabs a').click(function(e) {
            e.preventDefault()
            $(this).tab('show');
            transfer.loadContent(this);
        });
    });
</script>