<div id="editTransferImages">
    <table class="table handbook table-bordered" style="width: auto; margin: 0 auto;">
        <tr>
            <th style="width: 450px;">Изображение</th>
            <th style="width: 300px;">Порядок</th>
            <th style="width: 90px;">Функции</th>
        </tr>
        <?php foreach($this->images as $img): ?>
            <tr>
                <td>
                    <image
                            src="<?=Villa_Module_Hotel_Helper_Media::getTransfersDir().$img['image'];?>"
                            style="height:200px; max-width:400px;" />
                </td>

                <td>
                    <a class="btnUp btn btn-mini btn-info"
                       href="#"
                       data-toggle="tooltip"
                       data-original-title="Переместить на одну строку вверх"
                       onclick="transfer.changeImageOrder(<?=$img['transfer_id'].', '.$img['draw_order']?>, -1);
                       return false;">
                        <i class="icon-arrow-up "></i>
                        <i class="icon-arrow-up icon-white"></i>
                    </a>
                    <a class="btnDown btn btn-mini btn-info"
                       href="#"
                       data-toggle="tooltip"
                       data-original-title="Переместить на одну строку вниз"
                       onclick="transfer.changeImageOrder(<?=$img['transfer_id'].', '.$img['draw_order']?>, 1);
                       return false;">
                        <i class="icon-arrow-down "></i>
                        <i class="icon-arrow-down icon-white"></i>
                    </a>
                </td>

                <td>
                    <button class="btn btn-danger btn-mini" style="width: 70px;"
                            onclick="transfer.delImage(this, <?=$img['transfer_id'].', \''.$img['image'].'\'';?>)">
                        Удалить
                    </button>
                </td>
            </tr>
        <?php endforeach; ?>

        <tr>
            <th>Загрузить</th>
            <td colspan="2">
                <span class="btn btn-success fileinput-button">
                    <i class="glyphicon glyphicon-plus"></i>
                    <span>Выбрать файл</span>
                    <input id="fileupload" type="file" name="file">
                </span><br/><br/>
                <div id="progress" class="progress">
                    <div class="progress-bar progress-bar-success" style="width: 0%;"></div>
                </div>
            </td>
        </tr>

        <tr>
            <td colspan="3">
                <button class="btn btn-success" onclick="villa_infoblock.editEnd();" style="margin: 5px;">
                    Закрыть окно
                </button>
            </td>
        </tr>
    </table>
</div>


<script type="text/javascript">
    jQuery('#fileupload').fileupload({
        dataType: 'json',
        url: "/ajax.php?controller=villa.module.hotel.controller.manage.transfer&action=imageUpload&transferId=<?=$this->transferId; ?>",
        maxFileSize: 10000000,
        acceptFileTypes: /(\.|\/)(gif|jpe?g|png)$/i,
        start: function(e)
        {
            $('#progress .progress-bar').css(
                    'width',
                    0 + '%'
            );
        },
        progressall: function (e, data)
        {
            var progress = parseInt(data.loaded / data.total * 100, 10);
            $('#progress .progress-bar').css(
                    'width',
                    progress + '%'
            );

        },
        done: function (e, data)
        {
            if (data.result.result == 1)
            {
                $('.tab-pane.active').html(data.result.html);
            }
            else
            {
                jAlert(data.result.message, 'Ошибка');
            }
        }

    });
</script>