<form action="https://www.liqpay.com/?do=clickNbuy" method="POST" name="liqpay_<?php echo $this->orderId; ?>" id="liqpay_<?php echo $this->orderId; ?>"/>
    <input type="hidden" name="operation_xml" value="<?php echo $this->operationXml; ?>" />
    <input type="hidden" name="signature" value="<?php echo $this->signature; ?>" />
</form>