<h3><?=$this->translate('generalInfo')?></h3>
<div class="descript infoblock"><?=$this->text;?></div>
<ul class="img-list <?=count($this->gallery) > 5 ? 'scrollable' : ''?>">
    <?php foreach($this->gallery as $img) {?>
    <li onclick="roomtypes.viewImages(event);">
        <img src="<?=Villa_Module_Infoblock_Helper::getFolder().$img['file_name']?>"/>
    </li>
    <?php }?>
</ul>
