<div id="aboutHotel">
    <h2><?php echo $this->publication->page_title;?></h2>
    <ul class="scrollable">
        <?php foreach($this->gallery as $img) {?>
        <li onclick="viewHotelImages(event);">
            <img src="<?php echo Dante_Lib_Config::get('publication.imgDir').$img['file_name'];?>" alt="<?php echo $img['comment'];?>" itemprop="photo"/>
        </li>
        <?php }?>
    </ul>

    <div id="hotelInfo">
        <span itemprop="description"><?php echo $this->publication->page_content;?></span>
    </div>
    <div id="hotelServices">
        <h3>Услуги в "Космополит отель"</h3>
        <dl>
            <dt>Общие</dt>
            <dd>
                Номер люкс причисляют к высшей категории гостиничных
                номеров. К этой же категории относятся сьюты,
                апартаменты и студии.
            </dd>
            <dt>Сервисы</dt>
            <dd>
                Номер укомплектован современным мебельным набором из
                двуспальной кровати размера 180x200 (king-size), двух
                прикроватных тумбочек, письменного стола со стульями и
                зеркального шкафа-купе. Одна практически зеркальная стена
                прекрасно сочетается с интерьером номера и придает ему
                ощущения легкости и безграничности. Также в номере:
                LCD телевизор с 42ʺ диагональю, бесплатный высокоскоростной
                Wi-Fi доступ в интернет, телефон, электронный сейф, с
                возможностью хранения в нем ноутбука, холодильник/мини-бар
                а так же всё необходимое для комфортного отдыха.
            </dd>
            <dt>Сервисы</dt>
            <dd>
                Номер укомплектован современным мебельным набором из
                двуспальной кровати размера 180x200 (king-size), двух
                прикроватных тумбочек, письменного стола со стульями и
                зеркального шкафа-купе. Одна практически зеркальная стена
                прекрасно сочетается с интерьером номера и придает ему
                ощущения легкости и безграничности. Также в номере:
                LCD телевизор с 42ʺ диагональю, бесплатный высокоскоростной
                Wi-Fi доступ в интернет, телефон, электронный сейф, с
                возможностью хранения в нем ноутбука, холодильник/мини-бар
                а так же всё необходимое для комфортного отдыха.
            </dd>
        </dl>
        <h3>Мы гарантируем</h3>
        <p>
            Номер укомплектован современным мебельным набором из
            двуспальной кровати размера 180x200 (king-size), двух
            прикроватных тумбочек, письменного стола со стульями и
            зеркального шкафа-купе. Одна практически зеркальная стена
            прекрасно сочетается с интерьером номера и придает ему
            ощущения легкости и безграничности. Также в номере:
            LCD телевизор с 42ʺ диагональю, бесплатный высокоскоростной
            Wi-Fi доступ в интернет, телефон, электронный сейф, с
            возможностью хранения в нем ноутбука, холодильник/мини-бар
            а так же всё необходимое для комфортного отдыха.
        </p>
    </div>
</div>