<!-- Section Rooms -->

<div class="section">
    <div class="widget-rooms-carousel top-over">
        <div class="wrapper-inner">
            <!-- Rooms Title -->
            <div class="widget-title">
                <h5>OUR ROOMS</h5>
                <h2>Experience The Freedom</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque eget commodo orci. Integer varius nibh eu mattis porta. Pellentesque dictum sem eget cursus semper. Nullam quis blandit lorem.</p>
            </div>
            <!-- Rooms Title End -->
            <!-- Rooms Carousel -->
            <div class="widget-carousel owl-carousel owl-theme">

                <!--TODO check empty images array-->
                <?php
                $i = 0;
                $session = new Dante_Lib_Session();
                $current_currency = $session->get('currency');
                if ( $current_currency == NULL ) {
                    $orm = $table = new Dante_Lib_Orm_Table('tst_currency');
                    $current_currency = $orm->select(array('is_default'=>1))->getFields();
                }

                foreach( $this->items as $item ) {

                $unique_class_name = 'home_single_popup' . $i;
                $single_images = $item->images;
                if ( isset($this->room_prices[$i]) ) {
                    $current_price = $this->room_prices[$i];
                }


                ?>

                <div class="rooms-item">
                    <div class="item-inner">
                        <div class="item-photo">
                            <?php if ( isset( $item->images[0] ) ) { ?>
                                <a href="#<?php echo $unique_class_name ?>" class="open-popup-link" data-background="<?php echo $item->images[0]; ?>"></a>
                            <?php } ?>
                        </div>
                        <div class="item-desc">
                            <h2><a href="#<?php echo $unique_class_name ?>" class="open-popup-link"><?php echo $item->title ?></a></h2>
                            <?php if ( isset($this->room_prices[$i]) ) { ?>
                                <h3><?php echo round($current_price * $current_currency['factor'], 2); echo ' ' . $current_currency['reduction']; ?></h3>
                            <?php } ?>
                            <!--<h3><?php var_dump($current_currency['reduction']); ?></h3>-->
                            <!--<p><?php echo $item->description ?></p>-->
                            <!--<i class="fa fa-star"></i>-->

                        </div>

                    </div>
                    <!--pupup content-->
                    <div id="<?php echo $unique_class_name ?>" class="home_single_popup mfp-hide">
                        <div class="wrapper-inner">
                            <div class="widget-rooms-detail">
                                <div class="widget-inner">
                                    <div class="row">
                                        <div class="col-md-8">
                                            <!-- Room Slider -->
                                            <div class="room-slider">
                                                <!--<div class="room-price">$ 160.00 <small>PER NIGHT</small></div>-->
                                                <div class="owl-carousel owl-theme owl-type1">
                                                    <?php
                                                            foreach( $item->images as $img ) {
                                                    echo '<a data-background="' . $img . '" title="Single Room"></a>';
                                                    }
                                                    ?>

                                                </div>
                                            </div>
                                            <!-- Room Slider End -->
                                            <!-- Room Thumbnails -->
                                            <div class="room-thumbnails">
                                                <div class="owl-carousel">
                                                    <?php
                                                            foreach( $item->images as $img ) {
                                                    echo '<a href="#" data-background="' . $img . '" title="Single Room"></a>';
                                                    }
                                                    ?>
                                                </div>
                                            </div>
                                            <!-- Room Thumbnails End -->
                                            <!-- Room Description -->
                                            <div class="room-desc">
                                                <h5>ROOM DESCRIPTION</h5>
                                                <?php echo $item->description ?>
                                            </div>
                                            <!-- Room Description End -->
                                        </div>
                                        <div class="col-md-4">
                                            <!-- Room Features -->
                                            <div class="room-features room_features_eq">

                                            </div>
                                            <!-- Room Features End -->
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--end popup content-->

                    <script>
                        var typeId = <?=$item->id?>;
//                        var typeId = <?=$item->id?>;
                        $.ajax({
                            url: 'ajax.php',
                            data: {
                                controller: 'villa.module.hotel.controller.roomtypes',
                                action: 'getEquipment',
                                type_id: typeId
                            },
                            success: function(response) {
                                $('.home_single_popup .room_features_eq').eq(<?=$i?>).html(response.html);
                                console.log(response);

                            }
                        });
                    </script>
                </div>
                <?php $i++; } ?>
            </div>
            <!-- Rooms Carousel End -->
        </div>
    </div>
</div>

<!-- Section Rooms End -->
<?php






?>
<table class="tourExtraService" id="homePageItems">

    <!-- Раздел Стартовой страницы отеля "Villa La Scala" -->
    <!-- Заголовок -->

    <!-- Раздел экскурсий -->

    <div class="section">
        <div class="widget-features-grid">
            <div class="wrapper-inner" style="max-width: 100%;">
                <!-- Features Title -->
                <div class="widget-title">
                    <h5>
                        <?=$this->homePageData['ex_total_title'];?>
                    </h5>
                    <!--<h2>Explore The Grandium</h2>-->
                    <?=$this->homePageData['ex_total_desc'];?>
                </div>
                <!-- Features Title End -->
                <div class="widget-blog-carousel owl-carousel owl-theme">

                    <?php
                    $i = 0;
                    foreach($this->days as $dayId => $dayName) {
                        $ex_show = 0;
                        $unique_excurse_name = 'home_excurse_popup' . $i;
                        $i++;
                        if ( isset($this->excursData['info_list'][$dayId]['ex_show']) ) {
                            if ( $this->excursData['info_list'][$dayId]['ex_show'] != 0 ) {
                                 $ex_show = 1;
                            }
                        }
                        if ( $ex_show == 1 ) {


                    ?>

                            <div class="blog-item">
                                <div class="item-media">
                                    <div class="item-date"> <?php echo $dayName ?> </div>
                                    <?php if ( isset($this->excursGallery[$dayId]) ) {  ?>
                                    <div class="media-photo" data-background="<?php echo $this->excursGallery[$dayId][0] ?>">
                                        <a href="#<?php echo $unique_excurse_name ?>" class="open-popup-link" ></a>
                                    </div>
                                </div>
                                <div class="item-desc">
                                    <?php if ( isset($this->excursData['info_list'][$dayId]) ) {  ?>
                                    <h3><a href="#<?php echo $unique_excurse_name ?>" class="open-popup-link"><?=$this->excursData['info_list'][$dayId]['title'] ?></a></h3>
                                    <?php } ?>
                                    <!--<h5>EVENTS</h5>-->
                                    <?php  if ( isset($this->excursData['info_list'][$dayId]) ) { ?>
                                    <p><?=$this->excursData['info_list'][$dayId]['html']; ?></p>
                                    <?php } ?>
                                    <a href="#<?php echo $unique_excurse_name ?>" class="btn-link open-popup-link">READ MORE</a>
                                </div>
                                <?php } ?>
                            </div>



                    <?php
                        }

                    }
                    ?>
                </div>

                <?php
                    $i = 0;
                    foreach($this->days as $dayId => $dayName) {
                    $unique_excurse_name = 'home_excurse_popup' . $i;
                    $i++;
                ?>

                <!--pupup content-->

                <div id="<?php echo $unique_excurse_name ?>" class="home_excursion_popup mfp-hide">
                    <div class="wrapper-inner">
                        <div class="widget-rooms-detail">
                            <div class="widget-inner">
                                <div class="row">
                                    <div class="col-md-12">
                                        <!-- Room Slider -->
                                        <div class="room-slider">
                                            <!--<div class="room-price">$ 160.00 <small>PER NIGHT</small></div>-->
                                            <div class="owl-carousel owl-theme owl-type1">

                                                <?php
                                                            foreach( $this->excursGallery[$dayId] as $image ) {
                                                echo '<a data-background="' . $image . '" title="Single Room"></a>';
                                                }
                                                ?>

                                            </div>
                                        </div>
                                        <!-- Room Slider End -->
                                        <!-- Room Thumbnails -->
                                        <div class="room-thumbnails">
                                            <div class="owl-carousel">
                                                <?php
                                                            foreach( $this->excursGallery[$dayId] as $image ) {
                                                echo '<a data-background="' . $image . '" title="Single Room"></a>';
                                                }
                                                ?>
                                            </div>
                                        </div>
                                        <!-- Room Thumbnails End -->
                                        <!-- Room Description -->
                                        <div class="room-desc">
                                            <?php if(isset($this->excursData['info_list'][$dayId])) { ?>
                                            <?=$this->excursData['info_list'][$dayId]['full_descr']?>
                                            <?php } ?>
                                        </div>
                                        <!-- Room Description End -->
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!--end popup content-->

                <?php } ?>
                <!-- Features Content -->

                <!-- Features Content End -->
            </div>
        </div>
    </div>
    <!-- Раздел экскурсий END -->

    <!-- Section Gallery -->
    <div class="section">
        <div class="widget-gallery-carousel">
            <div class="wrapper-full-inner">
                <!-- Gallery Title -->
                <div class="widget-title">
                    <h5><?php echo $this->homePageData['html'];  ?></h5>
                    <h2><?=$this->homePageData['title']; ?></h2>
                    <!--<?php var_dump( $this->homePageData  )?>-->
                    <p> <?php echo $this->homePageData['full_descr'];  ?></p>
                </div>
                <!-- Gallery Title End -->
                <!-- Gallery Carousel -->
                <div class="widget-carousel owl-carousel owl-theme">
                    <?php foreach($this->homePageGallery as $image): ?>
                    <div class="gallery-item">
                        <a href="<?=$image; ?>" data-background="<?=$image; ?>" title="Photo Name" class="popup-gallery">
                            <!--<span class="item-text">Swimming Pool</span>-->
                        </a>
                    </div>
                    <?php endforeach; ?>

                </div>
                <!-- Gallery Carousel End -->
            </div>
        </div>
    </div>
    <!-- Section Gallery End -->







    <!-- Раздел дополнительных опций бронирования -->
    <div class="section">
        <div class="widget-features-grid">
            <div class="wrapper-inner">
                <!-- Features Title -->
                <div class="widget-title">
                    <h5>ADDITIONAL OPTION</h5>
                    <h2>Explore The Grandium</h2>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque eget commodo orci. Integer varius nibh eu mattis porta. Pellentesque dictum sem eget cursus semper. Nullam quis blandit lorem.</p>
                </div>
                <!-- Features Title End -->
                <!-- Features Content -->
                <div class="widget-inner">
                    <div class="row">
                        <?php $i = 0; ?>
                        <?php foreach($this->servicesData as $id => $service)  {

                        $unique_class_name_option = 'option_popup' . $i;
                        $i++;

                        ?>
                        <div class="col-lg-4 col-sm-6">
                            <?php if ( isset( $this->servicesGallery[$id] ) ) {  ?>

                            <div class="features-item" data-background="<?php echo $this->servicesGallery[$id][0] ?>">
                                <a href="#<?php echo $unique_class_name_option ?>" class="open-popup-link">

                                    <h3 class="option_name"><?=$service['name']; ?></h3>
                                    <p class="option_desc"><?=$service['description']; ?></p>


                                </a>
                            </div>

                            <?php } ?>
                        </div>
                        <!--pupup content-->

                        <div id="<?php echo $unique_class_name_option ?>" class="additional_option_popup mfp-hide">
                            <div class="wrapper-inner">
                                <div class="widget-rooms-detail">
                                    <div class="widget-inner">
                                        <div class="row">
                                            <div class="col-md-12">
                                                <!-- Room Slider -->
                                                <div class="room-slider">
                                                    <!--<div class="room-price">$ 160.00 <small>PER NIGHT</small></div>-->
                                                    <div class="owl-carousel owl-theme owl-type1">

                                                        <?php if(isset($this->servicesGallery[$id])) {
                                                        foreach($this->servicesGallery[$id] as $image) {
                                                        echo '<a data-background="' . $image . '" title="Single Room"></a>';
                                                        }
                                                        }
                                                        ?>

                                                    </div>
                                                </div>
                                                <!-- Room Slider End -->
                                                <!-- Room Thumbnails -->
                                                <div class="room-thumbnails">
                                                    <div class="owl-carousel">
                                                        <?php if(isset($this->servicesGallery[$id])) {
                                                        foreach($this->servicesGallery[$id] as $image) {
                                                        echo '<a data-background="' . $image . '" title="Single Room"></a>';
                                                        }
                                                        }
                                                        ?>
                                                    </div>
                                                </div>
                                                <!-- Room Thumbnails End -->
                                                <!-- Room Description -->
                                                <div class="room-desc">
                                                    <?=$service['full_descr']?>
                                                </div>
                                                <!-- Room Description End -->
                                            </div>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!--end popup content-->
                        <?php } ?>
                    </div>
                </div>
                <!-- Features Content End -->
            </div>
        </div>
    </div>
    <!-- Раздел дополнительных опций бронирования END -->

    <?php if($this->airCountries): ?>
    <tr>
        <th>
            <h3>
                <?=$this->translate('airlineSearch')?>
            </h3>
        </th>
            <td class="airlineSearch_block">
                <div  class="margin_right">
            <label for="countrySelect" id="countryLabel"><?=$this->translate('country')?> :</label>
            <select id="countrySelect" name="countrySelect" class="selectpicker"
                    onchange="airlines.searchTownsByCountry(this);">
                <option value="0">-- Выберите --</option>
                <?php foreach($this->airCountries as $id => $val): ?>
                <option value="<?=$id; ?>" <?=$id == $this->countryId?'selected':'';?>>
                <?=$val; ?>
                </option>
                <?php endforeach; ?>
            </select>
                </div>
                <div>
            <label for="citySelect" id="cityLabel"><?=$this->translate('town')?> :</label>
            <select id="citySelect" name="citySelect" onchange="airlines.searchAirlines(this)">
                <?php if($this->airTowns): ?>
                <option value="0">-- Выберите --</option>
                <?php foreach($this->airTowns as $id => $val): ?>
                <option value="<?=$id; ?>">
                    <?=$val; ?>
                </option>
                <?php endforeach; ?>
                <?php endif; ?>
                <?php if(!$this->airTowns): ?>
                <option selected disabled>Города не найдены</option>
                <?php endif; ?>
            </select>
                </div>
            </td>
    </tr>
    <tr><td colspan="3" class="line"></td></tr>
    <tr id="searchResult"><td></td></tr>
    <?php endif; ?>
    <!-- Форма поиска END-->
    <!-- Каталог авиакомпаний, прибывающих в г. Киев END-->
</table>
<!--<input type="hidden" id="inputSeoTitle" name="inputSeoTitle" value="<?=$this->homePageData['seoTitle'];?>" >-->
<!--<input type="hidden" id="inputSeoDescription" name="inputSeoDescription" value="<?=$this->homePageData['seoDescription'];?>" >-->
<!--<input type="hidden" id="inputSeoKeywords" name="inputSeoKeywords" value="<?=$this->homePageData['seoKeywords'];?>" >-->
<script>
    $('.open-popup-link').magnificPopup({
        type: 'inline'
    });
</script>
<script>
    $(document).ready(function(){
        var owl = jQuery('.owl-carousel');
            owl.owlCarousel({
                items: 4,
        })
    });

    $('.widget-blog-carousel').owlCarousel({
        loop:true,
        margin:10,
        autoplay: true,
        autoplayTimeout:5000,
        autoplayHoverPause:true,
        responsiveClass:true,
        responsive:{
            0:{
                items: 1,
                nav:false,
                loop: true
            },
            600:{
                items: 3,
                nav: false,
                loop: true
            },
            1000:{
                items: 4,
                nav:false,
                loop:true
            },
            1200:{
                items: 4,
                nav:false,
                loop:true
            },
            1400:{
                items: 6,
                nav:false,
                loop:false
            }
        }
    })
</script>
<script type="text/javascript">
    jQuery(document).ready(function()
    {
//        homepage.setMetaSeo(
//                jQuery('#inputSeoTitle').val(),
//                jQuery('#inputSeoDescription').val(),
//                jQuery('#inputSeoKeywords').val()
//        );

        $('tr.galleryImages ul img').click(function(event){
            viewHomepageImages(event);
        });
    });
</script>