<div id="newsBlock">
    <?php foreach($this->news as $item) { ?>
    <h2><a href="<?php echo $item->url; ?>"><?php echo $item->page_title; ?></a></h2>
    <p><?php echo $item->page_content; ?><a href="<?php echo $item->url; ?>">...</a></p>
    <?php } ?>
</div>