<div class="poll_block" id="poll_block_<?=$this->poll['poll_id'];?>">
    <div class="poll_title">Опрос</div>
    <div class='poll_query'><?=$this->poll['query'];?></div>
    <div class='poll_answers'><?=$this->answers;?></div>
    <div class="poll_footer"></div>
</div>