<form method="POST" action="https://www.liqpay.com/api/checkout" accept-charset="utf-8">
    <input type="hidden" name="data" value="<?=$this->params->data?>"/>
    <input type="hidden" name="signature" value="<?=$this->params->signature;?>"/>
    <input type="image" src="//static.liqpay.com/buttons/p1ru.radius.png"/>
</form>