<style>
    #editUserForm .text-info{text-align: center !important; font-size: 16px}
    #editUserForm .progress{float: left; width: 100%; margin: 10px 0}
</style>
<form id="editUserForm">
    <input type="hidden" name="id" value="<?=$this->model->id;?>">
    <table class="table handbook table-bordered table-condensed">
        <caption>Данные пользователя</caption>
        <tbody>
            <tr>
                <th style="width: 22%">
                    Email
                </th>
                <td style="width: 28%">
                    <input type="text" name="email" value="<?=$this->model->email;?>">
                </td>
                <th style="width: 22%">
                    Пароль
                </th>
                <td style="width: 28%">
                    <input type="password" name="password"  placeholder="********">
                </td>
            </tr>
            <tr>
                <th class="text-info" colspan="4">Личные данные</th>
            </tr>
            <tr>
                <th>
                    Фамилия
                </th>
                <td>
                    <input type="text" name="last_name" value="<?=$this->model->last_name;?>">
                </td>
                <th>
                    Имя
                </th>
                <td>
                    <input type="text" name="first_name" value="<?=$this->model->first_name;?>">
                </td>
            </tr>
            <tr>
                <th>
                    Телефон
                </th>
                <td>
                    <input type="text" name="phone" value="<?=$this->model->phone;?>">
                </td>
                <th>
                    Компания (место работы)
                </th>
                <td>
                    <input type="text" name="company" value="<?=$this->model->company;?>">
                </td>
            </tr>
            <tr>
                <th>
                    Почтовый индекс
                </th>
                <td>
                    <input type="text" name="index" value="<?=$this->model->index;?>">
                </td>
                <th>
                    Страна
                </th>
                <td>
                    <input type="text" name="country" value="<?=$this->model->country;?>">
                </td>
            </tr>
            <tr>
                <th>
                    Город
                </th>
                <td>
                    <input type="text" name="town" value="<?=$this->model->town;?>">
                </td>
                <th>
                    Адрес
                </th>
                <td>
                    <input type="text" name="address" value="<?=$this->model->address;?>">
                </td>
            </tr>
            <tr>
                <th>
                    Скан паспорта
                </th>
                <td colspan="3">
                    <?php if($this->model->id) {?>
                    <img id="scanPreview" src="<?=$this->scanPath;?>" style="float: left; width: 60%"/>
                    <input type="hidden" id="scan" name="scan" value="<?=$this->model->scan;?>">
                    <span id="scanUploadBtn" class="btn btn-success fileinput-button" style="float: left; margin-left: 5px">
                        <i class="glyphicon glyphicon-plus"></i>
                        <span>Загрузить файл</span>
                        <input id="scanUpload" type="file" name="file">
                    </span>
                    <a class="btn btn-danger" style="float: left; margin-left: 5px" onclick="profile.delScan()">
                        <span>Удалить текущий</span>
                    </a>
                    <div id="scanProgress" class="progress">
                        <div class="progress-bar progress-bar-success" style="width: 0%;"></div>
                    </div>
                    <?php } else {?>
                    Загрузка скана будет доступна после сохранения пользователя
                    <?php }?>
                </td>
            </tr>
            <tr>
                <th class="text-info" colspan="4">Скидки</th>
            </tr>
            <tr>
                <th>
                    Проживание
                </th>
                <td>
                    <input type="text" name="discount_residence" value="<?=$this->model->discount_residence;?>">
                </td>
                <th>
                    Услуги
                </th>
                <td>
                    <input type="text" name="discount_services" value="<?=$this->model->discount_services;?>">
                </td>
            </tr>
            <tr>
                <th class="text-info" colspan="4">Прочее</th>
            </tr>
            <?php if(Dante_Lib_Config::get('user.displayRating')) {?>
            <tr>
                <th>
                    Рейтинг
                </th>
                <td colspan="3">
                    <input type="text" name="rating" value="<?=$this->model->rating;?>">
                    <span class="help-block">Поставьте значение 100 если вы хотите чтобы пользователь работал в админской панели</span>
                </td>
            </tr>
            <?php }?>
<!--            <tr>
                <th>
                    Группа
                </th>
                <td colspan="3">
                    <select name="group_id" id="groupId">
                        <?php foreach($this->groupList as $k => $v){ ?>
                        <option value="<?=$k;?>" <?=($this->model->group_id == $k ? 'selected':'');?>><?=$v;?></option>
                        <? }?>
                    </select>
                </td>
            </tr>  -->
            <tr class="tour-agent-only">
                <th class="text-info" colspan="4">Данные турагента</th>
            </tr>
            <tr class="tour-agent-only">
                <th>
                    Платежные реквизиты
                </th>
                <td colspan="3">
                    <input type="text" name="requisites" value="<?=$this->model->requisites;?>" style="width: 90%">
                </td>
            </tr>
            <tr class="tour-agent-only">
                <th>
                    Логотип
                </th>
                <td colspan="3">
                    <?php if($this->model->id) {?>
                    <img id="logoPreview" src="<?=$this->logoPath;?>" style="float: left; width: 60%"/>
                    <input type="hidden" id="logo" name="logo" value="<?=$this->model->logo;?>">
                    <span id="logoUploadBtn" class="btn btn-success fileinput-button" style="float: left; margin-left: 5px">
                        <i class="glyphicon glyphicon-plus"></i>
                        <span>Загрузить файл</span>
                        <input id="logoUpload" type="file" name="file">
                    </span>
                    <a class="btn btn-danger" style="float: left; margin-left: 5px" onclick="profile.delLogo()">
                        <span>Удалить текущий</span>
                    </a>
                    <div id="logoProgress" class="progress">
                        <div class="progress-bar progress-bar-success" style="width: 0%;"></div>
                    </div>
                    <?php } else {?>
                    Загрузка логотипа будет доступна после сохранения турагента
                    <?php }?>
                </td>
            </tr>
            <tr>                
                <td colspan="4" class="right">
                    <button type="button" class="btn btn-success" onclick="villauser.formSubmit(this)">Сохранить</button>
                </td>
            </tr>
        </tbody>
    </table>
</form>
<script>
    $('#scanUpload').fileupload({
        dataType: 'json',
        url: "/ajax.php?controller=villa.module.user.manage.controller&action=scanUpload",
        maxFileSize: 10000000,
        acceptFileTypes: /(\.|\/)(gif|jpe?g|png)$/i,
        start: function(e) 
        {
            $('#scanProgress .progress-bar').css(
                'width',
                0 + '%'
            );
        },
        done: function (e, data) {
            if (data.result.result == 1)
            {
                $('img#scanPreview').attr('src', data.result.dir+data.result.image);
                $('input#scan').val(data.result.image);
            }
            else
            {
                jAlert(data.result.message, 'Ошибка');
            }
        },
        progressall: function (e, data) 
        {
            var progress = parseInt(data.loaded / data.total * 100, 10);
            $('#scanProgress .progress-bar').css(
                'width',
                progress + '%'
            );
        }
    });
    
    
    $('#logoUpload').fileupload({
        dataType: 'json',
        url: "/ajax.php?controller=villa.module.user.manage.controller&action=logoUpload",
        maxFileSize: 10000000,
        acceptFileTypes: /(\.|\/)(gif|jpe?g|png)$/i,
        start: function(e) 
        {
            $('#logoProgress .progress-bar').css(
                'width',
                0 + '%'
            );
        },
        done: function (e, data) {
            if (data.result.result == 1)
            {
                $('img#logoPreview').attr('src', data.result.dir+data.result.image);
                $('input#logo').val(data.result.image);
            }
            else
            {
                jAlert(data.result.message, 'Ошибка');
            }
        },
        progressall: function (e, data) 
        {
            var progress = parseInt(data.loaded / data.total * 100, 10);
            $('#logoProgress .progress-bar').css(
                'width',
                progress + '%'
            );
        }
    });
    
    var tourAgentId = <?=$this->tourAgentId;?>;
    
    $('select#groupId').change(function(){
        if($(this).val() == tourAgentId)
            $('tr.tour-agent-only').show();
        else
            $('tr.tour-agent-only').hide();
    });
    
    $('select#groupId').change();
</script>