<style>
    input, select{margin: 5px 0 !important;}
    th, td{vertical-align: middle !important;}
</style>
<form id="settingsForm" onsubmit="return false;">    
    <input type="hidden" name="controller" value="villa.module.settings.manage.controller"/>
    <input type="hidden" name="action" value="save"/>
    <table class="table handbook table-bordered table-condensed" style="width: 500px; margin: 0 auto 20px auto;">
        <caption>Общие настройки</caption>
        <tr>
            <th>
                Скидка для детей
            </th>
            <td>
                <input type="text" name="discount_child" value="<?=$this->model->discount_child;?>"/>&nbsp;%
            </td>
        </tr>
        <tr>
            <td colspan="2">
                <a class="btn btn-info" onclick="villa_settings.save(this)">Сохранить</a>
            </td>
        </tr>
    </table>
</form>
