<p>
    <?=$this->model->date;?> Вы задали вопрос на сайте <a href="<?=$this->domain;?>"><?=$this->domain;?></a></p>
<p>
    Текст вопроса:<br/>
    <strong><?=$this->model->message;?></strong>
</p>
<p>
    Ответ на Ваш вопрос:<br/>
    <strong><?=$this->answer?></strong>
</p>