<div id="questions">        
    <h2><?php echo $this->translate('addQuestion'); ?></h2>
    <input type="email" id="questions_email" placeholder="<?php echo $this->translate('enterEmail'); ?>" value="<?=$this->email;?>"/>
    <!--<input type="password" id="questions_password" placeholder="<?php echo $this->translate('enterPassword'); ?>"/>-->
    <textarea id="questions_message" maxlength="200" placeholder="<?php echo $this->translate('enterQuestion'); ?>"></textarea>
    <button onclick="history.back();" id="feedbackReturnBtn"><span><?=$this->translate('back')?></span></button>
    <button id="send" onclick="sendQuestion();"><span><?=$this->translate('sendYourQuestion')?></span></button>
    <div id="prevQuestions"></div>
</div>
<script>
    questionClient.answerLabel = "<?=$this->translate('answer');?>";
</script>
